﻿@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System;
@using System.Collections.Generic;
@using System.Drawing;
@using System.Web.Mvc;
@using DotNet.Highcharts;
@using DotNet.Highcharts.Enums;
@using DotNet.Highcharts.Helpers;
@using DotNet.Highcharts.Options;
@using Point = DotNet.Highcharts.Options.Point;
@using System.Data;
@using System.Data.SqlClient;


<script type="text/javascript">
    var chart;
    $(document).ready(function () {
        var options = {
            chart: {
                renderTo: 'container',
                zoomType: 'y',
                defaultSeriesType: 'column',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Visitor Count',
                x: -20 //center
            },
            xAxis: {
                categories: ['IP Address']
            },
            yAxis: {
                title: {
                    text: 'Number of Visits'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' + 'Count: ' + this.y;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
  
                borderWidth: 0
            },
            series: []
        };

        //Calls the JSON            
        jQuery.getJSON("GetLineData", null, function (items) {
            var series = [];
            jQuery.each(items, function (itemNo, item) {
                             
                series.push({
                    name: item.Key,
                    data: item.Value
                })
            });
            options.series = series;

            //Create the chart
            chart = new Highcharts.Chart(options);
            chart.render();
        });



    });

        </script>


        <div id="container" class="container"></div>
        </div>