﻿@model AgentPortal.Models.AgentViewModel
@{ 
    Layout = null;
}
<div class="lblAgentInfo">
    <dl class="dl-horizontal">
        <dd class="agentInfodd">
           @Html.DisplayFor(model => model.PrimaryFirstName) @Html.DisplayFor(model => model.PrimaryLastName),
        </dd>
        <dd class="agentInfodd">
            @Html.DisplayFor(model => model.PhysicalAddress), @Html.DisplayFor(model => model.PhysicalCity),
            @Html.DisplayFor(model => model.PhysicalState), @Html.DisplayFor(model => model.PhysicalZIP)
        </dd>

        <dd class="agentInfodd">
            @Html.DisplayFor(model => model.Phone) 
        </dd>
        <dd class="agentInfodd">
            @Html.DisplayFor(model => model.EmailAddress) 
        </dd>
</div>
<style>
    .agentInfodd{
        margin-top:6px;
    }
</style>
