﻿@model AgentPortal.Models.ClientLoginModel
@{
    ViewBag.Title = " - Client Login";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <div class="slogan">
        <h3>Welcome to Palm Insure, Inc. A full-service Managing General Agency for Auto Insurance</h3>				
    </div>
    <div class="spacer" style="height:30px;"></div>



    <div class="col_50">
    @using (Html.BeginForm())
    {
        Html.HiddenFor(m => m.EmailAddress);
    <table class="login-table tbl100">
        <tr>
            <th colspan="2">
                Client Login
            </th>
        </tr>
        <tr>
            <td width="100">
                <b>@Html.LabelFor(m => m.EmailAddress)</b> 
            </td>
            <td width="150">
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "textEdit" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </td>
        </tr>
        
        <tr>
            <td>
                <b>@Html.LabelFor(m => m.Password)</b> 
            </td>
            <td>
                @Html.PasswordFor(m => m.Password, new { @class = "textEdit" })
                @Html.ValidationMessageFor(m => m.Password)
                <br/><br/>
                @Html.ActionLink("Forgot Password", "ForgotPassword", null, new { style = "color: #1a73e8;margin-top:15px;" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Log On" class="btnSubmit right" />
                
            </td>
        </tr>
    </table>
    //@Html.ActionLink("Need to reset your password?", "ResetPassword");
}
</div>
@Html.Partial("_MGANews");