﻿@model AgentPortal.Models.ClientRegisterModel

@{
    ViewBag.Title = "Registration Successful!";
}
<div class="col_50">
<h2>Registration Successful!</h2>
<p>You're almost done. We've sent an email to <b>@Model.EmailAddress</b> with a link to activate web access to your DIC Company account.
This is also how you set your password.</p>
</div>
@Html.Partial("_MGANews");