﻿@model AgentPortal.Models.ClientRegisterModel

@{
    ViewBag.Title = "Client Registration";
    
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/palm/AtLeastOneRequired.js")" type="text/javascript"></script>

<style>
.textEdit { display:block; }
</style>

<div class="slogan">
    <h3>Welcome to Palm Insure. A full-service Managing General Agency for Auto Insurance</h3>
</div>

<div class="spacer" style="height:30px;"></div>

<div class="col_50">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        <table class="login-table tbl100">
        <tr>
            <th colspan="2">
                Register to access your policy.
            </th>
        </tr>
        <tr>
            <td width="100"><b>@Html.LabelFor(m => m.PolicyNumber)</b></td>
            <td width="150">
                @Html.TextBoxFor(model => model.PolicyNumber, new { @class = "textEdit" })
                @Html.ValidationMessageFor(model => model.PolicyNumber)
            </td>
        </tr>
        <tr>
            <td><b>@Html.LabelFor(m => m.Firstname)</b></td>
            <td>
                @Html.TextBoxFor(model => model.Firstname, new { @class = "textEdit" })
                @Html.ValidationMessageFor(model => model.Firstname)
            </td>
        </tr>
        <tr>
            <td><b>@Html.LabelFor(m => m.Lastname)</b></td>
            <td>
                @Html.TextBoxFor(model => model.Lastname, new { @class = "textEdit" })
                @Html.ValidationMessageFor(model => model.Lastname)
            </td>
        </tr>
        <tr>
            <td><b>@Html.LabelFor(model => model.DateOfBirth)</b></td>
            <td>
                @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "textEdit" })
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </td>
        </tr>
        <tr id="tblSeparatorRec">
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td><b>@Html.LabelFor(model => model.SecurityQuestion)</b></td>
            <td>
                @Html.DropDownListFor(m => m.SecurityQuestion, new[] {
                    new SelectListItem { Text = "Your mothers maiden name?" },
                    new SelectListItem { Text = "The name of your highschool?" },
                    new SelectListItem { Text = "Your father's middle name?" },
                    new SelectListItem { Text = "Your favorite color?" }
                }, new { @class = "textEdit" })
                @Html.ValidationMessageFor(model => model.SecurityQuestion)
            </td>
        </tr>
        <tr>
            <td><b>@Html.LabelFor(model => model.SecurityAnswer)</b></td>
            <td>
                @Html.TextBoxFor(model => model.SecurityAnswer, new { @class = "textEdit" })
                @Html.ValidationMessageFor(model => model.SecurityAnswer)
            </td>
        </tr>
        <tr>
            <td><b>@Html.LabelFor(model => model.EmailAddress)</b></td>
            <td>
                @Html.TextBoxFor(model => model.EmailAddress, new { @class = "textEdit" })
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                 <input type="submit" value="Register" class="btnSubmit right" />
            </td>
        </tr>

        </table>
}
</div>

@Html.Partial("_MGANews");