﻿@model AgentPortal.Models.ClientEmailAddress
@{
    ViewBag.Title = "Reset Email Sent!";
}
<div class="col_50">
<h2>Reset Email Sent!</h2>
<p>To reset your password, click the link in the email we've sent to <b>@Model.EmailAddress</b> and follow the instructions provided.</p>
</div>
@Html.Partial("_MGANews");