﻿@model AgentPortal.Models.PasswordResetModel
           
@{
    ViewBag.Title = "Reset your password";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="col_50">

    @using (Html.BeginForm("ResetPassword", "Client", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IsForgotPassword);
        @Html.HiddenFor(m => m.IsResetPassword);
        if (Model.IsResetPassword || (Model.IsForgotPassword & !Model.IsPasswordEmailSent))
        {
            <table class="login-table tbl100">
                <tr>
                    <th colspan="2">
                        Reset password
                    </th>
                </tr>
                <tr>
                    <td width="100">
                        <b>@Html.LabelFor(m => m.EmailAddress)</b>
                    </td>
                    <td width="250">
                        @if (Model.IsForgotPassword)
                        {
                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "textEdit" });
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "textEdit", @readonly = true });
                        }
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </td>
                </tr>
                @if (Model.IsResetPassword)
                {
                    <tr>
                        <td width="100">
                            <b>@Html.LabelFor(m => m.OldPassword)</b>
                        </td>
                        <td width="300">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "textEdit", @autocomplete = "Off" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                            @*@Html.ActionLink("Forgot Password", "ForgotPassword", null, new { style = "color: #1a73e8;margin-top:15px;" })*@
                        </td>
                    </tr>
                    <tr>
                        <td width="100">
                            <b>@Html.LabelFor(m => m.NewPassword)</b>
                        </td>
                        <td width="250">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "textEdit", @autocomplete = "Off" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </td>
                    </tr>
                    <tr>
                        <td width="100">
                            <b>@Html.LabelFor(m => m.ConfirmPassword)</b>
                        </td>
                        <td width="250">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textEdit", @autocomplete = "Off" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Reset Password" name="PasswordResetType" class="btnSubmit right" />
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Send Email" name="PasswordResetType" class="btnSubmit right" />
                        </td>
                    </tr>
                }
            </table>
        }
        if (Model.IsForgotPassword & Model.IsPasswordEmailSent)
        {
            <div style="margin-left:50px;font-size:14px;">
                <div style="color:#207320;">Email sent on <b>@Model.EmailAddress</b> to reset your password for client login. <br/> Please check your inbox and use the link available in the email!</div><br />
                <div>Click @Html.ActionLink("here", "Login", null, new { @style = "color:blue;" }) to Login</div>
            </div>
        }
    }

</div>
@Html.Partial("_MGANews")