﻿@model AgentPortal.Models.ClientSetPasswordModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Set Password";
}
<style>
.textEdit { display:block; }
</style>
<h2>Set your Password.</h2>

<div class="col_50">
@using (Html.BeginForm("SetPassword", "Client", new { emailAddress = Model.EmailAddress}, FormMethod.Post))
{
    @Html.HiddenFor(m => m.ValidationCode);
    @Html.HiddenFor(m => m.EmailAddress);
    @Html.HiddenFor(m => m.IsResetPassword);
    <table class="login-table tbl100">
        <tr>
            <th colspan="2">
                Client Login
            </th>
        </tr>
        
        <tr>
            <td>
                <b>@Html.LabelFor(m => m.EmailAddress)</b> 
            </td>
            <td width="386">
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "textEdit", @autocomplete = "Off", @disabled="disabled" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.LabelFor(m => m.NewPassword)</b> 
            </td>
            <td>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "textEdit", @autocomplete = "Off" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.LabelFor(m => m.ConfirmPassword)</b> 
            </td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textEdit", @autocomplete = "Off" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Set Password" class="btnSubmit right" />
            </td>
        </tr>
    </table>
}
</div>
@Html.Partial("_MGANews");