﻿<form method="post" action="/Company/IISLogs">            
    <table class="tblSearchPolicy">
                <tbody><tr>
                    <td width="100">

                        <label for="StartDate"><b>Start Date</b></label> 
                    </td>
                    <td width="150">
                        <input type="text" value="@DateTime.Now.AddDays(-1).ToString("MM/dd/yyyy")" name="StartDate" id="StartDate" class="textEdit">
                        <span data-valmsg-replace="true" data-valmsg-for="StartDate" class="field-validation-valid"></span>
                    </td>
                    <td>
                        <label for="EndDate"><b>End Date</b></label>
                    </td>
                    <td>
                        <input type="text" value="@DateTime.Now.AddDays(-1).ToString("MM/dd/yyyy")" name="EndDate" id="EndDate"  class="textEdit" >
                        <span data-valmsg-replace="true" data-valmsg-for="EndDate" class="field-validation-valid"></span>
                    </td>
                    <td>
                       <input type="submit" class="btnSubmit width100" value="Search Logs"> 
                    </td>
                </tr>
            </tbody></table>
</form>