﻿@model IEnumerable<AgentPortal.Models.IISLogDataModel>
           
@{
    ViewBag.Title = "IISLogs";
}

<h2>IISLogs</h2>

@Html.Partial("_IISLogDates")

@if (Model != null)
{
<table> 
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    IP Address
                </th>
                <th>
                    Count
                </th>
            </tr>
        </thead>
        <tbody>
            
        @foreach (var item in Model)
        {
                    <tr>
                        <td>
                            @item.Date.ToShortDateString()
                        </td>
                        <td>
                            @item.IPAddress
                        </td>
                        <td>
                            @item.NumOfHits
                        </td>
                    </tr>
        }

                </tbody>

            </table>
}