﻿@using System.Web.UI.HtmlControls;
@using System.Web.UI.WebControls;
@using System.Web.UI;
@using System.Drawing;
@using AgentPortal.Support.Utilities

@{
    ViewBag.Title = " - Company Dashboard";
}

<h3>Welcome @Sessions.Instance.Username.ToUpper()</h3>


<!--table -->


<!--table end-->

    <table  align="center" width="100%">
    <tr align="center">
        <th align="center">Links</th>
    </tr>
    <tr>
        <td>
            <a href="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1007183000000006744&STANDALONE=true&ZDB_THEME_NAME=grey&REMTOOLBAR=true
" target="_blank">Dashboard</a>
        </td>
        <tr>
        <td>
            @Html.ActionLink("Manage VINs", "VinLookup", "Company")</td></tr>
    <tr><td>@Html.ActionLink("Marketing Map", "Maps", "Company")</td></tr>
        @{
            if (ConfigSettings.ReadSetting("CompanyID") == "1")
            {
                @*<tr><td><a href="http://71.180.163.165:1050/Claims/Account/Login.aspx">Claims Portal</a></td></tr>*@
                <tr><td><a href="">Claims Portal</a></td></tr>

            }
            else
            {
                <tr><td><a href="https://palminsure.com:8443/Claims/Account/Login.aspx">Claims Portal</a></td></tr>

            }
        }
     <tr><td>@Html.ActionLink("Diagnostics", "Index", "Diagnostics")</td></tr>
        </table>
   <div class="clear"></div>

