﻿@using AgentPortal.Support.Utilities
@model AgentPortal.Models.CompanyLoginModel
@{
    ViewBag.Title = " - Company Login";
}

@if (!String.IsNullOrEmpty(Sessions.Instance.Username)) 
{ 
    <text>Username : @Sessions.Instance.Username</text>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <div class="slogan">
        <h3>Welcome to Palm Insure, Inc. A full-service Managing General Agency for Auto Insurance</h3>				
    </div>
    <div class="spacer" style="height:30px;"></div>

    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

    <div class="col_50">
@using (Html.BeginForm())
{
    <table class="login-table tbl100">
        <tr>
            <th colspan="2">
                Company Login
            </th>
        </tr>
        <tr>
            <td width="100">
                <b>@Html.LabelFor(m => m.UserName)</b> 
            </td>
            <td width="150">
                @Html.TextBoxFor(m => m.UserName, new { @class = "textEdit" })
                @Html.ValidationMessageFor(m => m.UserName)
            </td>
        </tr>
        
        <tr>
            <td>
                <b>@Html.LabelFor(m => m.Password)</b> 
            </td>
            <td>
                @Html.PasswordFor(m => m.Password, new { @class = "textEdit" })
                @Html.ValidationMessageFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                 <input type="submit" value="Log On" class="btnSubmit right" />
            </td>
        </tr>
    </table>
    

}
</div>

    @Html.Partial("_MGANews")


             