﻿@using PalmInsure.Palms.Utilities;
@using PalmInsure.Utilities;

@{
	ViewBag.Title = "Maps";
	Layout = "~/Views/Shared/_MapsLayout.cshtml";

}

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
	HomeControl.prototype.home_ = null;
	//-------------------------------------------------------------------
	function HomeControl(controlDiv, map, home) {

		var control = this;

		control.home_ = home;

		controlDiv.style.padding = '5px';

		var goHomeUI = document.createElement('div');
		goHomeUI.style.backgroundColor = 'white';
		goHomeUI.style.borderStyle = 'solid';
		goHomeUI.style.borderWidth = '1px';
		goHomeUI.style.padding = '2px';
		goHomeUI.style.cursor = 'pointer';
		goHomeUI.style.textAlign = 'center';
		goHomeUI.title = 'Click to set the map to Home';
		controlDiv.appendChild(goHomeUI);

		var goHomeText = document.createElement('div');
		goHomeText.style.fontFamily = 'Arial,sans-serif';
		goHomeText.style.fontSize = '12px';
		goHomeText.style.paddingLeft = '4px';
		goHomeText.style.paddingRight = '4px';
		goHomeText.innerHTML = '<b>Home</b>';
		goHomeUI.appendChild(goHomeText);

		google.maps.event.addDomListener(goHomeUI, 'click', function () {
		    window.location = "/Company"
		});

	}

	//-------------------------------------------------------------------
    function placeInfoWindow(marker, thisWindow, map) {
        google.maps.event.addListener(marker, 'click', function()
        {
            thisWindow.open(map,marker);
        });
    }
    //-------------------------------------------------------------------

	function initialize() {
		//-------------------------------------------------------------------
		// Init Back Button
		//-------------------------------------------------------------------
		geocoder = new google.maps.Geocoder();
		var myOptions = {
			zoom: 9,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		//-----------------------------------------------------------
		//[PALM INSURE] Starting 
        var palmLatLong = new google.maps.LatLng(27.3020629,-82.530577);
		//var myOptions = {
		//	zoom: 4,
		//	center: palmLatLong,
		//	mapTypeId: google.maps.MapTypeId.ROADMAP
		//}
		map.setCenter(palmLatLong);
		var image = '@Url.Content("~/Content/images/palms.png")';
		var marker = new google.maps.Marker({
			map: map, 
			position: palmLatLong,
			icon: image
		});

		//-----------------------------------------------------------
        // Show Seminole Agents
        @*@{
            foreach (var seminole in Model.SeminoleAgents)
            { 
               <text> 
               var seminoleLatLong = new google.maps.LatLng(@seminole.Latitude, @seminole.Longitude);

				        map.setCenter(seminoleLatLong);
				      
				        var infowindow = new google.maps.InfoWindow({
					        content: '<div id="content">'
						        + '<div style="font-size: 12px;" id="siteNotice">Code: @seminole.AgentCode'
						        + '</div>'
						        + '<p style="font-size: 15px;" id="firstHeading" class="firstHeading">@seminole.Name</p>'
						        + '<div id="bodyContent">'
						        + '<p>'
						        + '<span style="font-size: 13px; font-weight: bold;">Address:</span> <span style="font-size: 13px;">@seminole.Street1</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Phone:</span> <span style="font-size: 13px;">@seminole.Phone</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Registered Agent:</span> <span style="font-size: 13px;">@seminole.RegisteredAgent</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Written:</span> <span style="font-size: 13px;">@seminole.Written</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Earned:</span> <span style="font-size: 13px;">@seminole.Earned</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">NoClaims:</span> <span style="font-size: 13px;">@seminole.NoClaims</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Incurred:</span> <span style="font-size: 13px;">@seminole.Incurred</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">LossFreq:</span> <span style="font-size: 13px;">@seminole.LossFreq</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">LossRatio:</span> <span style="font-size: 13px;">@seminole.LossRatio</span>'
                                + '<br/>'
                                + '<span style="font-size: 13px; font-weight: bold;">Comparative Rater:</span> <span style="font-size: 13px;">@seminole.ComparativeRater</span>'
						        + '</p>'
						        + '</div>'
						        + '</div>'
				        });
                        var image = '@Url.Content("~/Content/images/information.png")';
				        var marker = new google.maps.Marker({
					        position: seminoleLatLong,
					        map: map,
					        title: '@seminole.Name',
                            icon: image
				        });

                        placeInfoWindow(marker, infowindow, map);
				     
                </text>

            }        
            
        }*@
        //-----------------------------------------------------------

        //-----------------------------------------------------------
        // Show IBGreen Agents
        @{
            foreach (var ibgreen in Model.IbGreenAgents)
            { 
               <text> 
               var ibGreenLatLong = new google.maps.LatLng(@ibgreen.Latitude,@ibgreen.Longitude);

				        map.setCenter(ibGreenLatLong);
				      
				        var infowindow = new google.maps.InfoWindow({
					        content: '<div id="content">'
						        + '<div style="font-size: 12px;" id="siteNotice">Code: @ibgreen.AgentCode'
						        + '</div>'
						        + '<p style="font-size: 15px;" id="firstHeading" class="firstHeading">@ibgreen.Name</p>'
						        + '<div id="bodyContent">'
						        + '<p>'
						        + '<span style="font-size: 13px; font-weight: bold;">Address:</span> <span style="font-size: 13px;">@ibgreen.Street1</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Phone:</span> <span style="font-size: 13px;">@ibgreen.Phone</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Registered Agent:</span> <span style="font-size: 13px;">@ibgreen.RegisteredAgent</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Written:</span> <span style="font-size: 13px;">@ibgreen.Written</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Earned:</span> <span style="font-size: 13px;">@ibgreen.Earned</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">NoClaims:</span> <span style="font-size: 13px;">@ibgreen.NoClaims</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Incurred:</span> <span style="font-size: 13px;">@ibgreen.Incurred</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">LossFreq:</span> <span style="font-size: 13px;">@ibgreen.LossFreq</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">LossRatio:</span> <span style="font-size: 13px;">@ibgreen.LossRatio</span>'
                                + '<br/>'
                                + '<span style="font-size: 13px; font-weight: bold;">Comparative Rater:</span> <span style="font-size: 13px;">@ibgreen.ComparativeRater</span>'
						        + '</p>'
						        + '</div>'
						        + '</div>'
				        });
                        var image = '@Url.Content("~/Content/images/cross-circle.png")';
				        var marker = new google.maps.Marker({
					        position: ibGreenLatLong,
					        map: map,
					        title: '@ibgreen.Name',
                            icon: image
				        });

                        placeInfoWindow(marker, infowindow, map);
				     
                </text>

            }        
            
        }

        //-----------------------------------------------------------
        // Show Fraud Clinics Agents
        @{
            foreach (var fraud in Model.FraudClinics)
            { 
               <text> 
               var ibGreenLatLong = new google.maps.LatLng(@fraud.Latitude,@fraud.Longitude);

				        map.setCenter(ibGreenLatLong);
				      
				        var infowindow = new google.maps.InfoWindow({
					        content: '<div id="content">'

						        + '<p style="font-size: 15px;" id="firstHeading" class="firstHeading">@fraud.Name</p>'
						        + '<div id="bodyContent">'
						        + '<p>'
						        + '<span style="font-size: 13px; font-weight: bold;">Address:</span> <span style="font-size: 13px;">@fraud.Street1</span>'

						        + '<br/>'
						        + '</p>'
						        + '</div>'
						        + '</div>'
				        });
                        var image = '@Url.Content("~/Content/images/warning.png")';
				        var marker = new google.maps.Marker({
					        position: ibGreenLatLong,
					        map: map,
					        title: '@fraud.Name',
                            icon: image
				        });

                        placeInfoWindow(marker, infowindow, map);
				     
                </text>

            }        
            
        }
            
        //-----------------------------------------------------------
        // Show Seminole Agents
        @{
            foreach (var accuauto in Model.AccuAutoAgents)
            { 
               <text> 
               var seminoleLatLong = new google.maps.LatLng(@accuauto.Latitude,@accuauto.Longitude);

				        map.setCenter(seminoleLatLong);
				      
				        var infowindow = new google.maps.InfoWindow({
					        content: '<div id="content">'
						        + '<div style="font-size: 12px;" id="siteNotice">Code: @accuauto.AgentCode'
						        + '</div>'
						        + '<p style="font-size: 15px;" id="firstHeading" class="firstHeading">@accuauto.Name</p>'
						        + '<div id="bodyContent">'
						        + '<p>'
						        + '<span style="font-size: 13px; font-weight: bold;">Address:</span> <span style="font-size: 13px;">@accuauto.Street1</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Phone:</span> <span style="font-size: 13px;">@accuauto.Phone</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Registered Agent:</span> <span style="font-size: 13px;">@accuauto.RegisteredAgent</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Written:</span> <span style="font-size: 13px;">@accuauto.Written</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Earned:</span> <span style="font-size: 13px;">@accuauto.Earned</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">NoClaims:</span> <span style="font-size: 13px;">@accuauto.NoClaims</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Incurred:</span> <span style="font-size: 13px;">@accuauto.Incurred</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">LossFreq:</span> <span style="font-size: 13px;">@accuauto.LossFreq</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">LossRatio:</span> <span style="font-size: 13px;">@accuauto.LossRatio</span>'
                                + '<br/>'
                                + '<span style="font-size: 13px; font-weight: bold;">Comparative Rater:</span> <span style="font-size: 13px;">@accuauto.ComparativeRater</span>'
						        + '</p>'
						        + '</div>'
						        + '</div>'
				        });
                        var image = '@Url.Content("~/Content/images/accuauto.png")';
				        var marker = new google.maps.Marker({
					        position: seminoleLatLong,
					        map: map,
					        title: '@accuauto.Name',
                            icon: image
				        });

                        placeInfoWindow(marker, infowindow, map);
				     
                </text>

            }        
            
        }
        //-----------------------------------------------------------

        //-----------------------------------------------------------
        // Show Palms Agents
        @{
            foreach (var palms in Model.Agents)
            { 
               <text> 
               var ibGreenLatLong = new google.maps.LatLng(@palms.Latitude,@palms.Longitude);

				        map.setCenter(ibGreenLatLong);
				      //DateOpened
				        var infowindow = new google.maps.InfoWindow({
					        content: '<div id="content">'
						        + '<div style="font-size: 12px;" id="siteNotice">Code: @palms.AgentCode'
						        + '</div>'
						        + '<p style="font-size: 15px;" id="firstHeading" class="firstHeading">@palms.AgencyName</p>'
						        + '<div id="bodyContent">'
						        + '<p>'
						        + '<span style="font-size: 13px; font-weight: bold;">Address:</span> <span style="font-size: 13px;">@palms.PhysicalAddress @palms.PhysicalCity @palms.PhysicalState @palms.PhysicalZIP</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Phone:</span> <span style="font-size: 13px;">@palms.Phone</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Registered Agent:</span> <span style="font-size: 13px;">@palms.PrimaryFirstName @palms.PrimaryLastName</span>'
						        + '<br/>'
						        + '<span style="font-size: 13px; font-weight: bold;">Date Opened:</span> <span style="font-size: 13px;">@palms.DateOpened</span>'
                                + '<br/>'
                                + '<span style="font-size: 13px; font-weight: bold;">Comparative Rater:</span> <span style="font-size: 13px;">@palms.ComparativeRater</span>'
                                + '</p>'
						        + '</div>'
						        + '</div>'
				        });
                        var image = '@Url.Content("~/Content/images/palms.png")';
				        var marker = new google.maps.Marker({
					        position: ibGreenLatLong,
					        map: map,
					        title: '@palms.AgencyName',
                            icon: image
				        });

                        placeInfoWindow(marker, infowindow, map);
				     
                </text>

            }        
            
        }


		//-----------------------------------------------------------
		// Set/Init Back Control
		var homeControlDiv = document.createElement('div');
		var homeControl = new HomeControl(homeControlDiv, map);
		homeControlDiv.index = 1;
		map.controls[google.maps.ControlPosition.TOP_LEFT].push(homeControlDiv);
        //-----------------------------------------------------------
        // Set Legend
        var legend = document.createElement('div');
        legend.id = 'legend';
        legend.style.backgroundColor = 'white';
        legend.style.paddingLeft = '20px';
		legend.style.paddingRight = '4px';
        legend.style.width = "155px";
        legend.style.fontSize = '13px';
        legend.style.borderStyle = 'solid';
		legend.style.borderWidth = '1px';
        var content = [];
        content.push('<h3>Map Legend</h3>');
        content.push('<p><img src=@Url.Content("~/Content/images/palms.png")> Palms Agent</p>');
        //content.push('<p><img src=@Url.Content("~/Content/images/information.png")> Seminole Agent</p>');
        content.push('<p><img src=@Url.Content("~/Content/images/cross-circle.png")> IB Green Agent</p>');
        content.push('<p><img src=@Url.Content("~/Content/images/warning.png")> Fraudulent Clinics</p>');
        content.push('<p><img src=@Url.Content("~/Content/images/accuauto.png")> AccuAuto</p>');
        legend.innerHTML = content.join('');
        legend.index = 1;
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
	}

</script>
<body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>
  </body>