﻿@using AgentPortal.Support
@using PalmInsure

@model AgentPortal.Models.DriverModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";

    SelectListItem[] states = StaticData.USAStates
        .Select(m => new SelectListItem()
        {
            Text = m.Value,
            Value = m.Key,
            Selected = m.Key == "FL"
        }).ToArray();


    SelectListItem[] GenderList = new[] {
        new SelectListItem() { Text = "SELECT" },
        new SelectListItem() { Text="MALE" },
        new SelectListItem() { Text="FEMALE" }
    };


    SelectListItem[] RelationList = new[] {
        new SelectListItem() { Text = "INSURED" },
        new SelectListItem() { Text="CHILD" },
        new SelectListItem() { Text="BROTHER/SISTER" },
        new SelectListItem() { Text="PARENT" },
        new SelectListItem() { Text="SELF" },
        new SelectListItem() { Text="SPOUSE" },
        new SelectListItem() { Text="SON" },
        new SelectListItem() { Text="DAUGHTER" },
        new SelectListItem() { Text="OTHER" },
        new SelectListItem() { Text="NONRELATIVE" }
    };
}

@Html.HiddenFor(m => m.QuoteId)
@Html.HiddenFor(m => m.DriverId)

@using (Html.BeginForm("DriverAdd", "Quote", new AjaxOptions()
{
    OnSuccess = "onDriverAddSuccess",
    OnFailure = "onDriverAddFailure",
    UpdateTargetId = "DriversTable"
}))
{
@Html.HiddenFor(m => m.IsEdit)    
@Html.HiddenFor(m => m.DriverIndex)
@Html.HiddenFor(m => m.OldDlNum)
 <script type="text/javascript">
     if ($("#Relation").length > 0) {

         $("#Relation").trigger("change");
         $("#Relation").live('change', function () 
         {
             if ($("#Relation option:selected").text() == "INSURED") 
            {
                $("#IsExcluded").attr("checked", null);
                $("#IsExcluded").attr("disabled", "disabled");
            }
            else 
            {
                 $("#IsExcluded").attr("disabled", null);
             }
         });
    }
     ///////////////////////////////////////////////////////
     $("#DateOfBirth").live("blur", function () {
        $.getJSON("@Url.Action("ValidateDate", "AjaxHelpers")", {
			date: $("#DateOfBirth").val()
		}, function (data) {
			if(data.returnMsg == "SUCCESS")
			{
                $("#DateOfBirth").val(data.returnDate);
			}
		});
    });

    $(document).ready(function(){
        @**************************************************@
        $("#OldDlNum").val($("#DriversLicense").val());
        @**************************************************@
        $("#IsExcluded").live("click", function() {
            if ($(this).attr("checked")) {
                $("#DriversLicense").val("UNLICENSED");
                $('#DateLicensed').attr('disabled', 'disabled');
            } else {
                $("#DriversLicense").val("");
                $('#DateLicensed').attr('disabled', null);
            }
        });
        @**************************************************@
    });
</script>  
    <div id="driverErrMsg"></div>
<table class="tbl100">
    <tr>
        <th colspan="5">Personal Information</th>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.FirstName)</td>
        <td>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "textEdit", @tabindex = "1" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </td>


        <td>@Html.LabelFor(m => m.DateOfBirth)</td>
        <td>
            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "textEdit", @tabindex = "5" })
            @Html.ValidationMessageFor(m => m.DateOfBirth)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.MiddleInitial)</td>
        <td>
            @Html.TextBoxFor(m => m.MiddleInitial, new { @size = "1", @class = "textEdit", @maxlength = "1", @tabindex = "2" })
            @Html.ValidationMessageFor(m => m.MiddleInitial)
        </td>
        <td>@Html.LabelFor(m => m.Gender)</td>
        <td>
           @* @Html.DropDownListForEnum(m => m.Gender)    
           *@
            @Html.DropDownListFor(m => m.Gender, GenderList, new { @class = "textEdit", @tabindex = "6" })
            @Html.ValidationMessageFor(m => m.Gender)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.LastName)</td>
        <td>
            @Html.TextBoxFor(m => m.LastName, new { @class = "textEdit", @tabindex = "3" })
            @Html.ValidationMessageFor(m => m.LastName)
        </td>

        <td>    @Html.LabelFor(m => m.IsMarried)</td>
        <td>
            @Html.CheckBoxFor(m => m.IsMarried, new { @tabindex = "7" })
            @Html.ValidationMessageFor(m => m.IsMarried)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Suffix)</td>
        <td>
            @Html.TextBoxFor(m => m.Suffix, new { @class = "textEdit", @tabindex = "4" })
            @Html.ValidationMessageFor(m => m.Suffix)
        </td>

        <td>@Html.LabelFor(m => m.Relation)</td>
        <td>
                @*@Html.DropDownListForEnum(m => m.Relation)*@
            @Html.DropDownListFor(m => m.Relation, RelationList, new { @class = "textEdit", @tabindex = "8" })
            @Html.ValidationMessageFor(m => m.Relation)
        </td>
    </tr>
    <tr>
        <td colspan="2">
        
        </td>
        <td>
            @Html.LabelFor(m => m.IsExcluded)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.IsExcluded, new { disabled = "disabled", @tabindex = "9" })
        </td>
    </tr>
</table>
<table class="tbl100" style="float:left;">
    <tr>
        <th colspan="4">License Information</th>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.IsInternationalLicense)</td>
        <td>@Html.CheckBoxFor(m => m.IsInternationalLicense, new { @tabindex = "10" })</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.HasSeniorDefDrvDisc)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.HasSeniorDefDrvDisc, new { @tabindex = "11" })
        </td>
        <td>
            @Html.LabelFor(m => m.SeniorDefDrvDate)
        </td>
        <td>
            @Html.TextBoxFor(m => m.SeniorDefDrvDate, new { @class = "textEdit", @tabindex = "12", @disabled = "disabled" })
            @Html.ValidationMessageFor(m => m.SeniorDefDrvDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.HasSR22)
        </td>
        <td>
            @Html.CheckBoxFor(m => m.HasSR22, new { @tabindex = "13" })
        </td>
         <td>
            @Html.LabelFor(m => m.SR22CaseNo)
        </td>
        <td>
            @Html.TextBoxFor(m => m.SR22CaseNo, new { @class = "textEdit", @tabindex = "14", @disabled = "disabled" })
            @Html.ValidationMessageFor(m => m.SR22CaseNo)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.DriversLicense)</td>
        <td>
            @Html.TextBoxFor(m => m.DriversLicense, new { @class = "textEdit", @tabindex = "15", @maxlength="20" })
        </td>
        <td>@Html.LabelFor(m => m.LicenseState)</td>
        <td>
            @Html.DropDownListFor(m => m.LicenseState, states, new { @class = "textEdit", @tabindex = "16" })
        </td>
    </tr>
    <tr class="validationRow">
        <td colspan="4">
            @Html.ValidationMessageFor(m => m.DriversLicense)
            @Html.ValidationMessageFor(m => m.LicenseState)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Unverifiable)</td>
        <td>@Html.CheckBoxFor(m => m.Unverifiable, new { @tabindex = "10", @disabled = "disabled" })</td>
        <td>@Html.LabelFor(m => m.DateLicensed)</td>
        <td>
            @Html.TextBoxFor(m => m.DateLicensed, new { @class = "date textEdit validateDate", @tabindex = "17" })
            @Html.ValidationMessageFor(m => m.DateLicensed)
        </td>
    </tr>
</table>
    
<table class="tbl49" style="float:left;">
    <tr>
        <th colspan="2">Employer Information</th>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.EmployerName)</td>
        <td>
            @Html.TextBoxFor(m => m.EmployerName, new { @class = "textEdit", @tabindex = "18" })
            @Html.ValidationMessageFor(m => m.EmployerName)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Occupation)</td>
        <td>
            @Html.TextBoxFor(m => m.Occupation, new { @class = "textEdit", @tabindex = "19" })
        </td>
    </tr>
</table>
<div class="clear"></div>

@Html.DisplayFor(m => m.Violations)
 
<div class="clear"></div>
<input class="btnSubmit" type="submit" tabindex="20" value="@(Model == null ? "Save Driver" : "Save Driver")" id="btnAddDriver" />
    
}


