﻿@using PalmInsure;
@model AgentPortal.Models.EndorsementLienHolderAddModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";
}
@Html.HiddenFor(l => l.VehicleId)
@Html.HiddenFor(l => l.CarIndex)
@Html.HiddenFor(l => l.PolicyNo)
@Html.HiddenFor(l => l.VIN)
<table class="tbl100">
        <tbody>
            <tr>
                <th colspan="2">Lienholder Information</th>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(l => l.Name)
                </td>
                <td>
                    @Html.TextBoxFor(l => l.Name, new { @class = "textEdit" })
                    @Html.ValidationMessageFor(l => l.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(l => l.StreetAddress)
                </td>
                <td>
                    @Html.TextBoxFor(l => l.StreetAddress, new { @class = "textEdit" })
                    @Html.ValidationMessageFor(l => l.StreetAddress)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(l => l.City)
                </td>
                <td>
                    @Html.TextBoxFor(l => l.City, new { @class = "textEdit" })
                    @Html.ValidationMessageFor(l => l.City)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(l => l.State)
                </td>
                <td>
                    @Html.TextBoxFor(l => l.State, new { size = 2 })
                    @Html.ValidationMessageFor(l => l.State)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(l => l.ZIP)
                </td>
                <td>
                    @Html.TextBoxFor(l => l.ZIP, new { size = 6, @class = "txtEdit27 leinHolderZipLookup" })
                    @Html.ValidationMessageFor(l => l.ZIP)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(l => l.Phone)
                </td>
                <td>
                    @Html.TextBoxFor(l => l.Phone, new { @class = "textEdit" })
                    @Html.ValidationMessageFor(l => l.Phone)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(l => l.isAddInterest)
                </td>
                <td>
                    @Html.CheckBoxFor(l => l.isAddInterest)
                </td>
            </tr>
        <tr>
            <td>
                @Html.LabelFor(l => l.IsNonInstitutional)
            </td>
            <td>
                @Html.CheckBoxFor(l => l.IsNonInstitutional)
            </td>
        </tr>  
        </tbody>
    </table> 
<input type="button" value="Add" class="btnSubmit" id="btnAddLienHolder" />

@*
    string carindex, string name, string address, string city, string state, string zip, string phone, string isAdditionalInterest)
*@
<script type="text/javascript">
    function generateUUID() {
        var d = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = (d + Math.random() * 16) % 16 | 0;
            d = Math.floor(d / 16);
            return (c == 'x' ? r : (r & 0x7 | 0x8)).toString(16);
        });
        return uuid.toUpperCase();
    }
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
    function SetVehLienholderChangeMsg() {
        var displayStyle = 'none';
        if (($("#LienHolders_DeletedLienHoldersIds").val() || "").length > 0) {
            displayStyle = "inline";
        }
        else if ($(".newVehicleLienholder").length>0) {
            displayStyle = "inline";
        }
        $("#VehLienholderChangeMsg").css('display', displayStyle);
    }

    $("#LienHoldersTable").on("click", "a.btnDelVehLH", function (event) {
        event.preventDefault();
        var lhId = $(this).attr('dataLHId');
        if (lhId != undefined && lhId != "" && parseInt(lhId) > 0) {
            if (($("#LienHolders_DeletedLienHoldersIds").val() || "").length > 0)
                $("#LienHolders_DeletedLienHoldersIds").val($("#LienHolders_DeletedLienHoldersIds").val() + "," + lhId);
            else
                $("#LienHolders_DeletedLienHoldersIds").val(lhId);
        }
        SetVehLienholderChangeMsg();
        $(this).closest('tr').remove();
    });

    $("#btnAddLienHolder").click(function () {
        console.log("Saving LienHolders! SaveLienHolders");

        var vehLienHolderAddForm = $('#VehicleLienholderAddForm');

        var validation = vehLienHolderAddForm.validate();
        if (vehLienHolderAddForm.valid() == false) {
            vehLienHolderAddForm.submit();
            return false;
        }
        var newVehLH = getFormData(vehLienHolderAddForm);
        if (newVehLH != null && newVehLH != undefined && newVehLH["Name"] != "") {

            var newVehLhId = generateUUID();

            if (newVehLH.CarIndex != undefined)
                delete newVehLH.CarIndex;
            if (newVehLH.VehicleId != undefined)
                delete newVehLH.VehicleId;

            var newVehLhData = encodeURIComponent(JSON.stringify(newVehLH));

            if (newVehLH != undefined) {

                if (newVehLH.Name != undefined)
                    newVehLH.Name = newVehLH.Name.toUpperCase();
                if (newVehLH.StreetAddress != undefined)
                    newVehLH.StreetAddress = newVehLH.StreetAddress.toUpperCase();
                if (newVehLH.City != undefined)
                    newVehLH.City = newVehLH.City.toUpperCase();
                if (newVehLH.State != undefined)
                    newVehLH.State = newVehLH.State.toUpperCase();
                $("#addVehLienholderTr").before(
                    '<tr class="' + newVehLhId + '"><td>' + newVehLH["Name"] + '</td><td>' + newVehLH["StreetAddress"] + '</td><td>'
                    + newVehLH["City"] + '</td><td>' + newVehLH["State"] + '</td><td>' + newVehLH["ZIP"] + '</td><td>' + newVehLH["Phone"] +
                    '</td><td><a  class="btnDelVehLH" href="#" dataNewLHObj="' + newVehLhData + '">Delete</a><span><input class="newVehicleLienholder" type="hidden" value="' +
                    newVehLhData + '" name="newvehLienholder-' + newVehLhId + '"></span></td>');

                if ($("." + newVehLhId).length > 1)
                    $("." + newVehLhId + " :last-child").remove();
            }
            vehLienHolderAddForm.trigger('reset');
            SetVehLienholderChangeMsg();

            $('#addLienHolderForm').dialog('close');
        }
    }); 

    $(document).ready(function () {
        SetVehLienholderChangeMsg();
    });
          

//        $.getJSON("@Url.Action("SaveLienHolders", "AjaxHelpers")", {
//					carindex: $("#LienHolderModel_CarIndex").val(),
//                    name: $("#LienHolderModel_Name").val(),
//                    address: $("#LienHolderModel_StreetAddress").val(),
//                    city: $("#LienHolderModel_City").val(),
//                    state: $("#LienHolderModel_State").val(),
//                    zip: $("#LienHolderModel_ZIP").val(),
//                    phone: $("#LienHolderModel_Phone").val(),
//                    isAdditionalInterest: $("#LienHolderAddModel_isAddInterest").val()
//				}, function (data) {
//		});

    //});
</script>
