﻿/*

    ROUND CORNERS
-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;

*/
.tblSearchPolicy
{
    width: 100%;
}

.tblSearchPolResult
{
    width: 100%;
}

.tbl100
{
    width: 100%;
}
.tbl50
{
    width: 50%;
}

.tbl49
{
    width: 49%;
}

.txt98
{
    width: 98%;
}

/*.listCancelPolicies p
{
    background: #6d9900;
    color: #ffffff;
    padding: 5px;
    margin: 0px 5px 0px 5px;
    font-weight: bold;
    text-shadow: 0 1px 0 #414141;
}

.listExpiringPolicies p
{
   background: #6d9900;
   color: #ffffff;
   padding: 5px;
   margin: 0px 5px 0px 5px;
   font-weight: bold;
   text-shadow: 0 1px 0 #414141;
}

.listAgentForms p
{
    background: #6d9900;
    color: #ffffff;
    padding: 5px;
    margin: 0px 5px 0px 5px;
    font-weight: bold;
    text-shadow: 0 1px 0 #414141;
}*/

.listCancelPolicies, .listExpiringPolicies,.listAgentForms
{
    width: 24%;
}

#AgentForms
{
    margin: 10px 0px 0px 5px;
}
#AgentForms li 
{
    margin: 10px 0px 10px 0px;
}
#AgentForms li a:hover
{
    color: #6d9900;
    text-decoration: underline;
}
#agforms-content
{
    height: 70px;
    margin: 0px 5px 0px 5px;
    width: 96%;
}

.lblAgencyName
{
    margin:0px 0px 0px 5px;
}

.lblAgentName
{
    margin: 0px 14px 0px 0px;
}


.agentinfobubble
{
    text-align: left;
    color: #ffffff;
    line-height: 20px;
}

#agntInfo:hover
{
    cursor: pointer;
}

.agentinfotxt
{
    color:#FDF4D7;
}

#cboxContent
{
    border: 1px solid #000000;
}

#CompanyNews
{
    margin: 10px 0px 0px 5px;
}
#CompanyNews li 
{
    margin: 10px 0px 10px 0px;
}
#CompanyNews li a:hover
{
    color: #6d9900;
    text-decoration: underline;
}

#AgentReports
{
    margin: 10px 0px 0px 5px;
}
#AgentReports li 
{
    margin: 10px 0px 10px 0px;
}
#AgentReports li a:hover
{
    color: #6d9900;
    text-decoration: underline;
}

.AgentHeaders > p {
    background: #6d9900;
    color: #ffffff;
    padding: 5px;
    margin: 0px 5px 0px 5px;
    font-weight: bold;
    text-shadow: 0 1px 0 #414141;
}
.AgentHeaders {
    /*border: 1px solid #6d9900;*/
}