﻿tbody tr td{
  font-weight: normal;
  background-color: #fafafa;
color: #000000;
}

tr {
  background-color: #fafafa;  
color: #000000;
}
tbody tr td:nth-child(even) { 
  background-color: #f0f0f0; 
color: #000000;
}



tbody tr.tblHeaderRec td {
    background-color: #fafafa;  
color: #000000;
}

tr.tblHeaderRec {
    background: none repeat scroll 0 0 #6d9900;
    color: #ffffff;
    font-weight: bold;
    color: #000000;
}


table tbody tr.tblHeaderRec
{
	background: none repeat scroll 0 0 #6d9900;
	color: #ffffff;
	font-weight: bold;
color: #000000;
}