﻿.company-boxes
{
    width: 33%;
}


.company-boxes p
{
    background: #AAAAAA;
    color: #ffffff;
    padding: 5px;
    margin: 0px 5px 0px 5px;
    font-weight: bold;
    /* text-shadow: 0 1px 0 #414141; */
}

#CompanyLinks
{
    margin: 10px 0px 0px 5px;
}
#CompanyLinks li 
{
    margin: 10px 0px 10px 0px;
}
#CompanyLinks li a:hover
{
    color: #4db8ff;
    text-decoration: underline;
}
#companylinks-content
{
    height: 70px;
    margin: 0px 5px 0px 5px;
    width: 97%;
}