﻿.ui-dialog 
{
    border:4px solid #4db8ff;
    background-color:#f5f5f5;
}

.ui-dialog-titlebar
{
    background-color:#AAA;
    font-weight:normal;
    font-size:15px;
    padding:0 10px;
    color:#FFF;
    text-shadow: #414141 0 1px 0px;
    line-height:40px;
    
}

.ui-icon-closethick
{
    float:right;
    padding:3px;
}

.ui-dialog-content
{
    margin:1em;
}