﻿
.textEdit
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 90%;
	text-transform: uppercase;  
}

.textEditLowerCase {
    border: 1px solid #CECECE;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    outline: medium none;
    padding: 5px;
    width: 90%;
    text-transform: lowercase;
}

.txtEditAlt
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 99%;
	text-transform: uppercase;  
}

.txtEdit27
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 27%;
	text-transform: uppercase;  
}

.txtEdit65
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 65%;
	text-transform: uppercase;
}

.txtEdit80
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 80%;
	text-transform: uppercase;  
}

.txtEdit35
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 35%;
	text-transform: uppercase;  
}

.txtEdit95, #Description
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 95%;
	text-transform: uppercase;  
}

.txtEdit100
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 100%;
	text-transform: uppercase;  
}

.txtEdit99
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 99%;
	text-transform: uppercase;  
}

.datepicker
{
	border: 1px solid #CECECE;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	outline: medium none;
	padding: 5px;
	width: 95%;
}

.textEdit:focus, .txtEdit27:focus, txtEditAlt:focus, .datepicker:focus, .txtEdit95:focus, .txtEdit80:focus, .txtEdit65:focus, #Description:focus , .textEdit35:focus, .txtEdit100:focus,
.txtEdit99:focus
{
	border: 1px solid #077429;
	box-shadow: 0 2px 3px rgba(161, 202, 226, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

.txtReadOnly
{
	border: 0px none;
	background: transparent;
}

.btnSubmit
{
	background-color: #EEEEEE;
	background-image: -moz-linear-gradient(center top , #FEFEFE, #EEEEEE);
	border-color: #AAAAAA;
	box-shadow: 0 1px 0 #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.15);
	color: #111111;
	/* text-shadow: 0 1px 0 #ffffff; */
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	display: inline-block;
	font-family: Arial,sans-serif;
	font-size: 13px;
	line-height: 16px;
	padding: 4px 10px;
	-moz-box-sizing: border-box;
	background-clip: padding-box;
	border: 1px solid #000;
}

.btnSubmit:hover
{
	background-color: #F2F2F2;
	background-image: -moz-linear-gradient(center top , #ffffff, #F2F2F2);
	border-color: #888888;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.btnSubmit:active
{
	background-color: #EAEAEA;
	background-image: -moz-linear-gradient(center top , #FAFAFA, #EAEAEA);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

.right
{
	float: right;
}

.width100
{
	width: 100%
}

.wrapperMain {
    width: 80%;
    align-content: center;
}
.leftMain {
    float: left;
    margin-left: 30px;
    margin-top: 6px;
    width: 200px;
}
.rightMain {
    float: right;
    margin-top: 3px;
    width: 200px;
}
.centerMain {
    display: inline-block;
    margin-left: 118px;
    width: 200px;
}

/*.error {
	background-color: #EFCEC9;
	border: 1px solid #C1776B;
	color: #AF5A4C;
	margin: 10px 0 0;
	padding: 20px 0;
}
*/

.login-error
{
	background-color: #EFCEC9;
	border: 1px solid #C1776B;
	color: #AF5A4C;
	font-weight: bold;
	margin: 20px;
	padding: 7px 25px;
	width: 50%;
}

.login-error ul
{
	font-weight: normal;
	margin: 10px 0 0;
	list-style: disc;
}

.login-error ul li
{
	font-weight: normal;
}

.field-validation-error
{
	color: #BC3D29;
	padding: 0 0 0 10px;
}

#pymntCV:hover, .help-tooltip
{
	cursor: pointer;
}

.creditcard-help
{
	width: 189px;
}

.check-info
{
	width: 332px;
}

.tblHeaderRec
{
	background: none repeat scroll 0 0 #4db8ff;
	color: #ffffff;
	font-weight: bold;
}

/**********************************************************************/
/**
/** Date Picker Styles
/**
/**********************************************************************/


.ui-datepicker-prev span, .ui-datepicker-next span
{
	background-color: #EEEEEE;
	background-image: -moz-linear-gradient(center top , #FEFEFE, #EEEEEE);
	border-color: #AAAAAA;
	box-shadow: 0 1px 0 #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.15);
	color: #111111;
	/* text-shadow: 0 1px 0 #ffffff; */
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	display: inline-block;
	font-family: Arial,sans-serif;
	font-size: 13px;
	line-height: 16px;
	padding: 4px 10px;
	-moz-box-sizing: border-box;
	background-clip: padding-box;
	border: 1px solid #000;
	margin: 3px;
}

.ui-datepicker-prev span:hover, .ui-datepicker-next span:hover
{
	background-color: #F2F2F2;
	background-image: -moz-linear-gradient(center top , #ffffff, #F2F2F2);
	border-color: #888888;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.ui-datepicker-prev span:active, .ui-datepicker-next span:active
{
	background-color: #EAEAEA;
	background-image: -moz-linear-gradient(center top , #FAFAFA, #EAEAEA);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

.ui-datepicker-next span
{
	float: right;
}

.ui-datepicker-header
{
	margin: 5px 0px 0px 0px;
	background-color: #aaaaaa;
	border-top: 2px solid #157924;
	border-left: 2px solid #157924;
	border-right: 2px solid #157924;
}

.ui-datepicker-title
{
  background-color: #aaaaaa;
  font-weight: normal;
  font-size: 15px;
  padding: 0 10px;
  color: #fff;
  text-shadow:#414141 0 1px 0px;
  line-height: 40px;
}

.ui-datepicker-calendar thead tr
{
	border-left: 2px solid #157924;
  border-right: 2px solid #157924;
  border-bottom: 2px solid #157924;
}

.ui-datepicker-calendar tbody
{
	border-left: 2px solid #157924;
  border-right: 2px solid #157924;
  border-bottom: 2px solid #157924;
}



.error span
{
	font-weight: bold;
}

.error ul li
{
	margin: 7px 0px 0px 0px;
	font-size: 14px;
}


.align-right
{
	text-align: right;
}



.infoMsg
{
	background: none repeat scroll 0 0 #FDF4D7;
	font-size: 13px;
	text-align: center;
	color: Black;
}


.errMsg
{
	background: none repeat scroll 0 0 #FAE1E1;
	font-size: 13px;
	text-align: center;
	color: #C92036;
}



.disabled {
	background: #D1D1D1;
	border: 1px solid #9A9A9A;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
	color:#8C8C8C;
	cursor: default;
}

.disabled:hover
{
	background: #D1D1D1;
	border: 1px solid #9A9A9A;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
	color:#8C8C8C;
	cursor: default;
}



.mvr-warning {
	background: #FDF4D7;
	border: 1px solid #E8C779;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 6px #AAAAAA;
	color: #E08820;
	font-size: 14px;
	margin: 15px 0;
	padding: 15px 12px 15px 47px;
}



.mvrDriver
{
	margin: 5px 0;
}

#MvrDiv h4
{
	color: #E08820;
	font-weight: bold;
}


.textAlignRight 
{
	text-align: right;
}

.textAlignCenter
{
	text-align: center;
}

.phydamChkbx
{
	font-size: 15px;
	font-weight: bold;
}

#tblSeparatorRec
{
	background: none repeat scroll 0 0 #AAAAAA;
	color: #ffffff;
	font-weight: bold;
}

.insuredValidationRow 
{
	padding:0 !important;
}

.validationRow td
{
    padding:0 !important;
}

#existingQuotes  a 
{
    line-height: 18px;
}
#existingQuotes a:hover
{
    text-decoration: underline;
    color:#246EA7;
}