.ddsmoothmenu{
  float: right;
  z-index:102;
  position: relative;
}

.ddsmoothmenu ul{
  z-index:102;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Top level list items*/
  .ddsmoothmenu ul li{
  position: relative;
  display: inline;
  float: left;
  z-index:100;
}
/*Top level menu link items style*/
.ddsmoothmenu ul li a{
  display: block;
  padding: 45px 25px 20px 25px;
  color: #555555;
  text-decoration: none;
  font-size: 14px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link {
color: #474343;
}
.ddsmoothmenu ul li:hover a {
  background: #6d9900; /*tab link background during hover state*/
  color: #ffffff;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:active
,.ddsmoothmenu ul li.current_page_item a, .ddsmoothmenu ul li.current_page_parent a,.ddsmoothmenu ul li.current_page_ancestor a{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
  background: #6d9900; /*tab link background during hover state*/
  color: #ffffff;
}

.ddsmoothmenu ul li a:hover{
  background: #6d9900; /*tab link background during hover state*/
  color: #ffffff;
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul{
  position: absolute;
  left: 0;
  display: none; /*collapse all sub menus to begin with*/
  visibility: hidden;
    z-index: 102;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a,
.ddsmoothmenu ul li ul li a:link {
  padding: 8px 10px 8px 25px;
  margin-right: -2px;
  background: #6d9900;
  display: block;
  z-index: 999999;
  font-size: 14px;
  color: #ffffff;
  height: 100%;
  line-height: 18px;
  width: 160px;
  border-bottom: 1px solid #e3d0af;
}
.ddsmoothmenu ul li ul li a:hover{
  background: #e3d0af;
  color: #000000; 
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
  position: absolute;
  top: 12px;
  right: 7px;
  display: none;
}

.rightarrowclass{
  position: absolute;
  top: 6px;
  right: 5px;
  display: none;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}
