﻿@using AgentPortal.Support.DataObjects
@using AgentPortal.Support.Utilities
@using PalmInsure.Palms.Utilities;
@using DevExpress.Xpo;
@using DevExpress.Xpo.DB;
@using DevExpress.Data.Filtering;

@{
    
    ViewBag.Title = "Documents";
    Sessions.Instance.SweepBtnHitCount = 0;
}

<h2 style="text-align: center;">Thank You For Your Business. Your Policy Number Is @Sessions.Instance.PolicyNo</h2>


<table class="tbl100">
    <thead>
        <tr>
            <th>
                Policy Documents
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Policy Declarations Page
            </td>
        </tr>
        <tr>
            <td>
                ID Cards
            </td>
        </tr>
        <tr>
            <td>
                Payment Schedule
            </td>
        </tr>
        <tr>
            <td>
                Payment Receipt
            </td>
        </tr>

        @{
            if (File.Exists(ConfigSettings.ReadSetting("ContentFilesPath") + Sessions.Instance.PolicyNo + "_RenewalDocuments.pdf"))
            {
                <tr style="background:#FDF4D7; text-align:center; font-size: 15px;">
                    <td>
                        <a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"policydocs/" + @Sessions.Instance.PolicyNo + "_RenewalDocuments.pdf")">Click Here To Print Your Documents</a>
                    </td>
                </tr>    
            }
        }
        <tr>
            <td>
                <a href="http://get.adobe.com/reader/" target="_blank">Download Adobe Reader</a>
            </td>
        </tr>
    </tbody>
</table>


