﻿@using AgentPortal.Support
@using AgentPortal.Support.Utilities
@using PalmInsure

@model AgentPortal.Models.DriverModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";


    SelectListItem[] states = StaticData.USAStates
        .Select(m => new SelectListItem()
        {
            Text = m.Value,
            Value = m.Key,
            Selected = m.Key == "FL"
        }).ToArray();


    SelectListItem[] GenderList = new[] {
new SelectListItem() { Text = "SELECT" },
new SelectListItem() { Text="MALE" },
new SelectListItem() { Text="FEMALE" }
};


    SelectListItem[] RelationList = new[] {
new SelectListItem() { Text = "INSURED" },
new SelectListItem() { Text="CHILD" },
new SelectListItem() { Text="BROTHER/SISTER" },
new SelectListItem() { Text="PARENT" },
new SelectListItem() { Text="SELF" },
new SelectListItem() { Text="SPOUSE" },
new SelectListItem() { Text="SON" },
new SelectListItem() { Text="DAUGHTER" },
new SelectListItem() { Text="OTHER" },
new SelectListItem() { Text="NONRELATIVE" }
};
}

@Html.HiddenFor(m => m.QuoteId)
@Html.HiddenFor(m => m.DriverId)

@Html.ValidationSummary(true, "There were errors in the provided information.", new { @class = "error" })
@foreach (ModelState modelState in ViewData.ModelState.Values)
{
    foreach (ModelError error in modelState.Errors.Where(e => !e.ErrorMessage.Contains("Invalid model state")))
    {
        <p class="error">
            @error.ErrorMessage
        </p>
    }
}
@using (Html.BeginForm("DriverAdd", "Quote", new AjaxOptions()
{
    OnSuccess = "onDriverAddSuccess",
    OnFailure = "onDriverAddFailure",
    UpdateTargetId = "DriversTable"
}))
{
    @Html.HiddenFor(m => m.IsEdit)
    @Html.HiddenFor(m => m.DriverIndex)
    @Html.HiddenFor(m => m.OldDlNum)
    <div id="driverErrMsg"></div>
    <table class="tbl100">
        <tr>
            <th colspan="5">Personal Information</th>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.FirstName)</td>
            <td>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "textEdit", @tabindex = "1", @id = "FirstName" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </td>


            <td>@Html.LabelFor(m => m.DateOfBirth)</td>
            <td>
                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "textEdit", @tabindex = "5", @id = "DateOfBirth" })
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.MiddleInitial)</td>
            <td>
                @Html.TextBoxFor(m => m.MiddleInitial, new { @size = "1", @class = "textEdit", @maxlength = "1", @tabindex = "2", @id = "MiddleInitial" })
                @Html.ValidationMessageFor(m => m.MiddleInitial)
            </td>
            <td>@Html.LabelFor(m => m.Gender)</td>
            <td>
                @* @Html.DropDownListForEnum(m => m.Gender)
                *@
                @Html.DropDownListFor(m => m.Gender, GenderList, new { @class = "textEdit", @tabindex = "6", @id = "Gender" })
                @Html.ValidationMessageFor(m => m.Gender)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.LastName)</td>
            <td>
                @Html.TextBoxFor(m => m.LastName, new { @class = "textEdit", @tabindex = "3", @id = "LastName" })
                @Html.ValidationMessageFor(m => m.LastName)
            </td>

            <td>    @Html.LabelFor(m => m.IsMarried)</td>
            <td>
                @Html.CheckBoxFor(m => m.IsMarried, new { @tabindex = "7" })
                @Html.ValidationMessageFor(m => m.IsMarried)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Suffix)</td>
            <td>
                @Html.TextBoxFor(m => m.Suffix, new { @class = "textEdit", @tabindex = "4" })
                @Html.ValidationMessageFor(m => m.Suffix)
            </td>

            <td>@Html.LabelFor(m => m.Relation)</td>
            <td>
                @*@Html.DropDownListForEnum(m => m.Relation)*@
                @Html.DropDownListFor(m => m.Relation, RelationList, new { @class = "textEdit", @tabindex = "8" })
                @Html.ValidationMessageFor(m => m.Relation)
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>
                @Html.LabelFor(m => m.IsExcluded)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsExcluded, new { @tabindex = "9" })
            </td>
        </tr>
    </table>
    <table class="tbl100" style="float:left;">
        <tr>
            <th colspan="4">License Information</th>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.IsInternationalLicense)</td>
            <td>@Html.CheckBoxFor(m => m.IsInternationalLicense, new { @tabindex = "10" })</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.HasSeniorDefDrvDisc)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.HasSeniorDefDrvDisc, new { @tabindex = "11" })
            </td>
            <td>
                @Html.LabelFor(m => m.SeniorDefDrvDate)
            </td>
            <td>
                @Html.TextBoxFor(m => m.SeniorDefDrvDate, new { @class = "textEdit", @tabindex = "12", @disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.SeniorDefDrvDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.HasSR22)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.HasSR22, new { @tabindex = "13", @class="disabled", @disabled="disabled" })
            </td>
            <td>
                @Html.LabelFor(m => m.SR22CaseNo)
            </td>
            <td>
                @Html.TextBoxFor(m => m.SR22CaseNo, new { @class = "textEdit disabled", @tabindex = "14", @disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.SR22CaseNo)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.LicenseState)</td>
            <td>
                @Html.DropDownListFor(m => m.LicenseState, states, new { @class = "textEdit", @tabindex = "16" })
            </td>
            <td>@Html.LabelFor(m => m.DriversLicense)</td>
            <td>
                @Html.TextBoxFor(m => m.DriversLicense, new { @class = "textEdit", @tabindex = "15", @maxlength = "20", @id = "DriversLicenseNumber" })
            </td>
        </tr>
        <tr class="validationRow">
            <td colspan="4">
                @Html.ValidationMessageFor(m => m.DriversLicense)
                @Html.ValidationMessageFor(m => m.LicenseState)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Unverifiable)</td>
            <td>@Html.CheckBoxFor(m => m.Unverifiable, new { @tabindex = "10", @disabled = "disabled" })</td>
            <td>@Html.LabelFor(m => m.DateLicensed)</td>
            <td>
                @Html.TextBoxFor(m => m.DateLicensed, new { @class = "date textEdit validateDate", @tabindex = "17" })
                @Html.ValidationMessageFor(m => m.DateLicensed)
            </td>
        </tr>
    </table>

    <table class="tbl49" style="float:left;">
        <tr>
            <th colspan="2">Employer Information</th>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.EmployerName)</td>
            <td>
                @Html.TextBoxFor(m => m.EmployerName, new { @class = "textEdit", @tabindex = "18" })
                @Html.ValidationMessageFor(m => m.EmployerName)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Occupation)</td>
            <td>
                @Html.TextBoxFor(m => m.Occupation, new { @class = "textEdit", @tabindex = "19" })
            </td>
        </tr>
    </table>
    <div class="clear"></div>

    @Html.DisplayFor(m => m.Violations)
    @Html.Hidden("NewDriverViolationsJson");
    @*<div class="clear"></div>*@
    <input class="btnSubmit" type="submit" tabindex="20" value="@(Model == null ? "Save Driver" : "Save Driver")" id="btnAddDriver" />
    <input class="btnSubmit" type="button" tabindex="20" value="Go Back" id="btnGoBack" />

}
<div id="addViolationForm" style="display:none;" title="Add a Violation">
    @if (!string.IsNullOrEmpty(Model.DriverId))
    {
        using (Ajax.BeginForm("ViolationAdd", "Quote", FormMethod.Post, new AjaxOptions()
        {
            OnSuccess = "onViolationAddSuccess",
            OnFailure = "onViolationAddFailure",
            UpdateTargetId = "ViolationsTable"
        }))
        {
            @Html.Editor("ViolationAddModel", "ViolationAddModel")
        }
    }
    else
    {
        @Html.Editor("ViolationAddModel", "ViolationAddModel")

    }
</div>
<script type="text/javascript">
    jQuery.fn.extend({
        scrollToMe: function () {
            var x = jQuery(this).offset().top - 100;
            jQuery('html,body').animate({ scrollTop: x }, 500);
        }
    });
    function GenereateDLNumber() {
        var firstName = $("#FirstName").val();
        var lastName = $("#LastName").val();
        var middleInitial = $("#MiddleInitial").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GenerateDriversLicense", "AjaxHelpers")",
            datatype: "JSON",
            data: { fname: firstName, lname: lastName, mInitial: middleInitial, gender: $("#Gender").val(), dob: $("#DateOfBirth").val() },
            success: function (result) {
                $("#DriversLicenseNumber").val(result.dlnumber);
            },
            error: function (result) {

            }
        });
    }

    function ValidateDriverDl(dlNum) {
        $.getJSON("@Url.Action("ValidateDriversLicense", "AjaxHelpers")", {
            value: dlNum
        }, function (data) {
            if (data.returnMsg == "TRUE" || data.returnMsg == "UNLICENSED") {
                $("#btnAddDriver").attr("disabled", null);
                $("#btnAddDriver").removeClass("disabled");
                $("#driverErrMsg").removeClass("error");
                $("#driverErrMsg").html("");
            }

            if (data.returnMsg == "AUTO-GENERATED") {
                $("#btnAddDriver").attr("disabled", "disabled");
                $("#btnAddDriver").addClass("disabled");
                $("#driverErrMsg").addClass("error");
                $("#driverErrMsg").html("The drivers license number has been generated for you. Please add the last dash and digit to the drivers license number");
            }

            if (data.returnMsg == "NOT VALID") {
                $("#btnAddDriver").attr("disabled", "disabled");
                $("#btnAddDriver").addClass("disabled");
                $("#driverErrMsg").addClass("error");
                $("#driverErrMsg").html("The license entered is not valid");
            }
        });
    }

    $('#btnGoBack').live('click',
        function (e) {
            var iisServerName = '@ConfigSettings.ReadSetting("IIS_SERVER")';
            var policyNo = '@Sessions.Instance.PolicyNo';
            var server = 'https://www.palminsure.com/';
            if (iisServerName === 'IIS-AAINS-DEV') {
                server = "https://dev.palminsure.com/";
                //server = 'http://localhost:64428/';
            }
            var url = server + 'quote/edit?id=' + policyNo;
            window.location.href = url;
        });
    $('#addViolation').live('click', function (e) {
        e.preventDefault();
        var driverIndex;

        data = $.getJSON("@Url.Action("GetQuoteDriversCount", "AjaxHelpers")", {
            id: "@Sessions.Instance.PolicyNo"
        }, function (data) {
            driverIndex = data.driverCount;
            if ($('#addDriverForm input[name=DriverIndex][type=hidden]').val() == "") {
                $('#addViolationForm input[name=DriverIndex][type=hidden]').val(parseInt(driverIndex) + 1);
            }
            else {
                $('#addViolationForm input[name=DriverIndex][type=hidden]').val($('#addDriverForm input[name=DriverIndex][type=hidden]').val());
            }
        });
        $('#addViolationForm').dialog('open');
    });
    $(function () {

        $('#addViolationForm').dialog({ modal: true, width: 700, autoOpen: false });

        var realId = $('#mainQuoteId').val();
        $('input[name=QuoteId][type=hidden]').val(realId);
        SaveAsOriginal('ViolationsTable');
        if ('@string.IsNullOrEmpty(Model.DriverId)' == 'True') {
            $("#addDriverViolationBtnSubmit").click(AddViolationToNewDriver);
        }
        else {
            $("#addDriverViolationBtnSubmit").click(function () { return IsValidAddViolationForm() });
        }
        $("#addViolationForm #Date").change(function () {
            IsValidAddViolationForm();
        });
        $("#addViolationForm #Date").css('margin-bottom', '5px')
    });
    $('#CompDed').change(function () {
        $('#CollDed').val($(this).val());
    });
    $('#CollDed').change(function () {
        $('#CompDed').val($(this).val());
    });
    $('#LicenseState').change(function () {
        var selectedVal = $('#LicenseState').val();
        if (selectedVal === "I1") {
            $('input[name=IsInternationalLicense]').attr('checked', true);
        } else {
            $('input[name=IsInternationalLicense]').attr('checked', false);
        }
    });
    var IsValidAddViolationForm = function ($date, $violationForm) {
        if (!$violationForm)
            $violationForm = $("#addViolationForm");
        if (!$date)
            $date = $violationForm.find($("#Date"));
        var $dateValidationSpan = $violationForm.find("span.date-field-custom-validation");
        if (!IsValidDate($date.val())) {
            $dateValidationSpan.html("Date must be entered in the format of m/d/yyyy");
            $dateValidationSpan.css('color', 'red');
            return false;
        }
        else {
            var dateNow = Date.parse('@DateTime.Now.ToString("MM/dd/yyyy")');
            var dateStringThreeYearsBack = '@DateTime.Now.AddMonths(-36).ToString("MM/dd/yyyy")';
            var dateThreeYearsBack = Date.parse(dateStringThreeYearsBack);
            var violationDate = Date.parse($date.val());
            if (dateNow < violationDate) {

                $dateValidationSpan.html("Violation Date can not be a future date.");
                $dateValidationSpan.css('color', 'red');
                return false;
            }
            else if (dateThreeYearsBack > violationDate) {
                $dateValidationSpan.html(" Violation Date can not be before " + dateStringThreeYearsBack + "(Should be with in last 36 months).");
                $dateValidationSpan.css('color', 'red');
                return false;
            }
            else {
                $dateValidationSpan.html('');
                return true;
            }
        }
    }

    var AddViolationToNewDriver = function () {
        var violationForm = $("#addViolationForm");
        var $date = violationForm.find($("#Date"));
        if (!IsValidAddViolationForm($date,violationForm)) {
            return;
        }
        var $description = violationForm.find($("#Description"));
        if ($description.val() == "SELECT") {
            return;
        }
        $('#ViolationsTable > tbody:last-child').prepend('<tr class="driverViolationTr"><td>' + $description.val() + '</td><td >' + $date.val() +'</td><td></td><td><a  href="#" class="deleteNewDriverViolation">Delete</a></td></tr>');
        updateNewViolations();
        $date.val('');
        $description.val(0);
        $("#addViolationForm").dialog('close');
        $(".deleteNewDriverViolation").click(function (e) {
            e.preventDefault();
            $(this).closest("tr").remove();
            updateNewViolations();
        });
    }
    var updateNewViolations = function () {
        var trs = $('#ViolationsTable tr');
        var violations = [];
        $.each(trs, function (index, item) {
          
            if (index > 1 && index != trs.length - 1) {
                var violation = {
                    Description : $(item).find('td:eq(0)').text(),
                    Date : $(item).find('td:eq(1)').text()
                };
                violations.push(violation);
            }
        });
        $("#NewDriverViolationsJson").val(JSON.stringify(violations));
    }

    var onViolationAddSuccess = function () {
        $("#addViolationForm").dialog('close');
        $("#addViolationForm").children('form')[0].reset();
        $("#addViolationForm #addDriverViolationBtnSubmit").removeAttr('disabled').removeClass('disabled');
    };
    var onViolationAddFailure = function () {
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    };
    $(document).ready(function(){
        var lookupUrl = "@Url.Action("ViolationAutocomplete", "AjaxHelpers", new { id = "__Zip__" })";
        data = $.getJSON(lookupUrl, function (data) {

            if (data == null) {
                return;
            }
            var html = "";
            $.each(data, function (i, e) {
                html += "<option>" + e + "</option>";
            });
            $("#Description").html(html);
        });
        @if(Model != null && !string.IsNullOrEmpty(Model.TempFirstName))
        {
            <text>
                $("#FirstName").val("@Model.TempFirstName");
            </text>
        }
        @if(Model != null && !string.IsNullOrEmpty(Model.TempLastName))
        {
            <text>
                 $("#LastName").val("@Model.TempLastName");
            </text>
        }
        @if(Model != null && !string.IsNullOrEmpty(Model.TempMI))
        {
            <text>
                 $("#MiddleInitial").val("@Model.TempMI");
            </text>
        }
        function IsValidToGenerateDLNum() {
            var isValid = false;
            var currDLNum = $("#DriversLicenseNumber").val();
            var currFirstName = $("#FirstName").val();
            var currLastName = $("#LastName").val();
            var currDOB = $("#DateOfBirth").val();
            var currMI = $("#MiddleInitial").val();
            var currGender = $("#Gender").val();
            if (currDOB != "" & currMI != "" & currGender != "SELECT" & currFirstName != "" & currLastName != "" & currDLNum === "") {
                isValid = true;
            }
            return isValid;
        }
       
        $("#DriversLicenseNumber").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        });
        $("#FirstName").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        }); $("#LastName").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        }); $("#Gender").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        }); $("#MiddleInitial").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        }); $("#DateOfBirth").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        });
        $(document).on('submit', 'form', function () {
            var button = $(this).find('input[type="submit"]');
            setTimeout(function () {
                button.attr('disabled', 'disabled');
                button.addClass('disabled');
            }, 0);
        });
    });
    function IsValidDate(txtDate) {
        var currVal = txtDate;
        if (currVal == '')
            return false;
        var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
        var dtArray = currVal.match(rxDatePattern);

        if (dtArray == null)
            return false;

        dtMonth = dtArray[1];
        dtDay = dtArray[3];
        dtYear = dtArray[5];

        if (dtMonth < 1 || dtMonth > 12 || dtDay < 1 || dtDay > 31)
            return false;
        else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)
            return false;
        else if (dtMonth == 2) {
            var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
            if (dtDay > 29 || (dtDay == 29 && !isleap))
                return false;
        }
        return true;
    }
</script>
