﻿@using AgentPortal.Models
@using AgentPortal.Support.Utilities
@using PalmInsure

@model AgentPortal.Models.LienHolderAddModel


@using (Html.BeginForm("LienHolderAdd", "Quote", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(m => m.CarIndex)
    @Html.HiddenFor(m => m.PolicyNo)
    @Html.HiddenFor(m => m.VIN)
    <table class="tbl100">
        <tr>
            <th colspan="4">Lien Holder Information</th>
            <th colspan="4"></th>
        </tr>
        <tr>
            <td colspan="4">

                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })

            </td>
            <td colspan="4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </td>

        </tr>

        <tr>
            <td colspan="4">
                @Html.LabelFor(model => model.StreetAddress, htmlAttributes: new { @class = "control-label col-md-2" })

            </td>
            <td colspan="4">
                @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="4">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td colspan="4">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="4">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td colspan="4">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="4">
                @Html.LabelFor(model => model.ZIP, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td colspan="4">
                @Html.EditorFor(model => model.ZIP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZIP, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="4">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td colspan="4">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="4">
                @Html.LabelFor(model => model.isAddInterest, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td colspan="4">
                @Html.EditorFor(model => model.isAddInterest)
                @Html.ValidationMessageFor(model => model.isAddInterest, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="4">
                @Html.LabelFor(model => model.IsNonInstitutional, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td colspan="4">
                @Html.EditorFor(model => model.IsNonInstitutional)
                @Html.ValidationMessageFor(model => model.IsNonInstitutional, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <input type="submit" value="Save" class="btn btnSubmit" />
            </td>
        </tr>
    </table>
}
<br />
<div>
    @{
        VehicleModel vehModel = TempData["VehicleModel"] as VehicleModel;
        TempData["VehicleModel"] = vehModel;
        TempData["VehicleID"] = vehModel.VehicleId;
    }
    @Html.ActionLink("Back to List", "AddVehicle")
</div>