﻿@using AgentPortal.Support.DataObjects
@using AgentPortal.Support.Utilities
@using PalmInsure.Palms.Utilities;
@using DevExpress.Xpo;
@using DevExpress.Xpo.DB;
@using DevExpress.Data.Filtering;

@{
    ViewBag.Title = "Documents";
    Sessions.Instance.SweepBtnHitCount = 0;
}
@* Test mode when true *@
@model AgentPortal.Models.DocumentsModel

<h2>Thank You For Your Business. Your Policy Number Is @Model.PolicyNo</h2>
@if (Model.ShowEftProfileMissingMsg)
{
    <div class="error" style="color: red; font-weight: bold;">An automatic EFT payment profile was not correctly generated for this policy using the supplied payment information. Please verify the information is entered correctly and resubmit. If you still receive an error, please contact UW at 800 ext. 2.</div>
}
<table class="tbl100">
    <thead>
        <tr>
            <th>
                Policy Documents
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Policy Declarations
            </td>
            <td id="policyDecDownload" style="text-align: center;">
                <p>
                    Generating...
                </p>
            </td>
        </tr>
        <tr>
            <td>
                ID Cards
            </td>
            <td id="idCardsDownload" style="text-align: center;">
                <p>
                    Generating...
                </p>
            </td>
        </tr>
        <tr id="eftRow">
            <td>
                EFT Document
            </td>
            <td id="eftDownload" style="text-align: center;">
                <p>
                    Generating...
                </p>
            </td>
        </tr>
        <tr>
            <td>
                Application Cover
            </td>
            <td id="appCoverDownload" style="text-align: center;">
                <p>
                    Generating...
                </p>
            </td>
        </tr>
        <tr>
            <td>
                Insurance Application
            </td>
            <td id="applicationDownload" style="text-align: center;">
                <p>
                    Generating...
                </p>
            </td>
        </tr>
        <tr>
            <td>
                Payment Schedule
            </td>
            <td id="payScheduleDownload" style="text-align: center;">
                <p>
                    Generating...
                </p>
            </td>
        </tr>
        <tr>
            <td>
                Payment Receipt
            </td>
            <td id="payReceiptDecDownload" style="text-align: center;">
                <p>
                    Generating...
                </p>
            </td>
        </tr>

        @{
            string filePath = string.Format(@"\\" + ConfigSettings.ReadSetting("IIS_Server") + @"\pdfs\{0}_NewPolicyDocs.pdf", Model.PolicyNo);
            string FileLink = string.Format(ConfigSettings.ReadSetting("PolicyDocsBaseUrl") + @"/Files/{0}_NewPolicyDocs.pdf", Model.PolicyNo);
            if (Model.IsTest)
            {
                filePath = string.Format(@"\\" + ConfigSettings.ReadSetting("IIS_Server") + @"\testpdfs\{0}_NewPolicyDocs.pdf", Model.PolicyNo);
                FileLink = string.Format(ConfigSettings.ReadSetting("PolicyDocsBaseUrl") + @"/TestPDFs/{0}_NewPolicyDocs.pdf", Model.PolicyNo);
            }

        }
        @if (File.Exists(filePath))
        {
            <tr style="background: #FDF4D7; text-align: center; font-size: 15px;">
                <td id="newPolicyDocumentsDownload">
                    <p style="font-weight: bold; margin-top: 12px;">
                        <a target="_blank" href="@FileLink">Click Here To Download ALL of Your New Policy Documents</a>
                    </p>
                </td>
                <td></td>
            </tr>
        }
        else
        {
            <tr style="background: #FDF4D7; text-align: center; font-size: 15px;">
                <td id="newPolicyDocumentsDownload">
                    <p>New Policy Documents are still generating. This page will automatically be refreshed. </p>
                </td>
                <td></td>
            </tr>
        }
        <tr>
            <td>
                <a href="http://get.adobe.com/reader/" target="_blank">Download Adobe Reader</a>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        function CheckDocumentGenerationStatus() {
            $.getJSON("@Url.Action("CheckNewPolicyDocDownloads", "AjaxHelpers")",
                {
                    policyNo: "@Model.PolicyNo"
                },
                function (data) {
                    if (data.PolicyDeclarationsFile && data.PolicyDeclarationsFile !== null && data.PolicyDeclarationsFile !== "") {
                        $("#policyDecDownload").html("<p><a target=_blank href='" + data.PolicyDeclarationsFile + "'>Download</a></p>");
                    }
                    if (data.IDCardsFile && data.IDCardsFile !== null && data.IDCardsFile !== "") {
                        $("#idCardsDownload").html("<p><a target=_blank href='" + data.IDCardsFile + "'>Download</a></p>");
                    }
                    if (data.IsEftPolicy && data.EFTFile && data.EFTFile !== null && data.EFTFile !== "") {
                        $("#eftDownload").html("<p><a target=_blank href='" + data.EFTFile + "'>Download</a></p>");
                        $("#eftRow").show();
                    } else {
                        $("#eftRow").hide();
                    }
                    if (data.ApplicationCoverFile && data.ApplicationCoverFile !== null && data.ApplicationCoverFile !== "") {
                        $("#appCoverDownload").html("<p><a target=_blank href='" + data.ApplicationCoverFile + "'>Download</a></p>");
                    }
                    if (data.ApplicationForInsuranceFile && data.ApplicationForInsuranceFile !== null && data.ApplicationForInsuranceFile !== "") {
                        $("#applicationDownload").html("<p><a target=_blank href='" + data.ApplicationForInsuranceFile + "'>Download</a></p>");
                    }
                    if (data.PaymentScheduleFile && data.PaymentScheduleFile !== null && data.PaymentScheduleFile !== "") {
                        $("#payScheduleDownload").html("<p><a target=_blank href='" + data.PaymentScheduleFile + "'>Download</a></p>");
                    }
                    if (data.PaymentReceiptFile && data.PaymentReceiptFile !== null && data.PaymentReceiptFile !== "") {
                        $("#payReceiptDecDownload").html("<p><a target=_blank href='" + data.PaymentReceiptFile + "'>Download</a></p>");
                    }
                    if (data.NewPolicyDocumentsFile && data.NewPolicyDocumentsFile !== null && data.NewPolicyDocumentsFile !== "") {
                        $("#newPolicyDocumentsDownload").html("<p style='font-weight: bold; margin-top: 12px;'><a target=_blank href='" + data.NewPolicyDocumentsFile + "'>Click Here To Download ALL of Your New Policy Documents</a></p>");
                    }
                    if (!data.IsAllDocumentsGenerated) {
                        setTimeout(CheckDocumentGenerationStatus(), 6000);
                    }
                });
        };

        setTimeout(CheckDocumentGenerationStatus(), 6000);
    });
</script>