﻿@model AgentPortal.Models.QuoteModel
@using AgentPortal.Support
@using AgentPortal.Support.Utilities
@using PalmInsure;
@using DevExpress.Xpo;
@using DevExpress.Xpo.DB;
@using DevExpress.Data.Filtering;
@using FLAUTO;


@{
    ViewBag.Title = "Policy Quote - " + Sessions.Instance.PolicyNo;
}

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";

    SelectListItem[] states = StaticData.USAStates.Select(m => new SelectListItem()
    {
        Text = m.Value,
        Value = m.Key,
        Selected = m.Key == "FL"
    }).ToArray();

    // Limit to just Florida for now
    states = new[] {
        new SelectListItem() {
            Selected = true,
            Text = "Florida",
            Value = "FL"
        }
    };

    SelectListItem[] languages = new[]
    {
        new SelectListItem() { Text = "ENGLISH", Selected = true},
        new SelectListItem() { Text = "SPANISH"}, 
        new SelectListItem() { Text = "OTHER"},
    };
        
    SelectListItem[] PipDeductibles = new[] {
        //new SelectListItem() { Text= "NONE" },
        new SelectListItem() { Text = "0"},
        new SelectListItem() { Text = "250"},
        new SelectListItem() { Text = "500"},
        new SelectListItem() { Text = "1000", Selected = true},
    };

    SelectListItem[] BiLimits = new[] {
        new SelectListItem() { Text = "None" },
        new SelectListItem() { Text="10/20" }
    };

    SelectListItem[] TransferDiscountOptions = new[] {
        new SelectListItem() { Text = "None", Value = "0" },
        new SelectListItem() { Text = "Not all drivers > 3 years experience", Value = "1" },
        new SelectListItem() { Text = "All drivers > 3 years experience", Value = "2" },
    };

    SelectListItem[] PriorBiLimits = new[] {
        new SelectListItem() { Text = "None" },
new SelectListItem() { Text="10/20" },
new SelectListItem() { Text="12.5/25" },
new SelectListItem() { Text="15/30" },
new SelectListItem() { Text="20/40" },
new SelectListItem() { Text="25/50" },
new SelectListItem() { Text="30/60" },
new SelectListItem() { Text="50/100" },
new SelectListItem() { Text="100/300" },
new SelectListItem() { Text="500/500" }
    };

    SelectListItem[] UmLimits = new[] {
      new SelectListItem() { Text = "None" },
      new SelectListItem() { Text="10/20" }
    };

    SelectListItem[] MedPayLimits = new[] {
        new SelectListItem() { Text = "NONE", Value = "0" },
        new SelectListItem() { Text = "500" },
        new SelectListItem() { Text = "1000" },
        new SelectListItem() { Text = "2000" }
    };

    SelectListItem[] PhydamDeductibles = new[] {
        new SelectListItem() { Text = "NONE", Value = "0" },
        new SelectListItem() { Text = "250" },
        new SelectListItem() { Text = "500" },
        new SelectListItem() { Text = "1000" }
    };

    SelectListItem[] AdndLimits = new[] {
        new SelectListItem() { Text = "0" },
        new SelectListItem() { Text = "1000" },
        new SelectListItem() { Text = "2000" },
        new SelectListItem() { Text = "3000" },
        new SelectListItem() { Text = "4000" },
        new SelectListItem() { Text = "5000" },
        new SelectListItem() { Text = "6000" },
        new SelectListItem() { Text = "7000" },
        new SelectListItem() { Text = "8000" },
        new SelectListItem() { Text = "9000" },
        new SelectListItem() { Text = "10000" },
    };

    SelectListItem[] PdLimits = new[] {
      //new SelectListItem() { Text = "None" },
      new SelectListItem() { Text="10000" }
    };
}

@Html.ValidationSummary(true, "There were errors in the provided information.", new { @class = "error" })
<h2>
    Policy Quote - @Sessions.Instance.PolicyNo @Model.RaterType
    @*@using (Html.BeginForm("DeleteQuote", "Quote", FormMethod.Post, new { @class="right" }))
        {
            <input type="hidden" id="PolicyNo" name="PolicyNo" value="@Sessions.Instance.PolicyNo"/>
            <input type='submit' id='btnDeleteQuote' value='Delete Quote' style='float: right;' class='btnSubmit right' />
        }*@
</h2>

<style>
    .input-validation-error {
        border: 1px solid red;
    }

    .field-validation-error {
        display: block;
    }

    .validation-summary-valid {
        display: none;
    }

    .termwrap {
        padding-top: 0px;
    }

    abbr {
        border-bottom: 1px dotted #000;
    }

    .insuredValidationRow {
        padding: 0 !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.QuoteId, new { id = "mainQuoteId" })
    <div class="col_29">
        <div id="msg"></div>
        <table id="GeneralPolicyInfo" class="tbl100">
            <thead>
                <tr>
                    <th colspan="8">
                        Policy Information
                    </th>
                </tr>
                <tr class="tblHeaderRec">
                    <td colspan="2">General Policy Information</td>
                    <td></td>
                    <td colspan="6">Prior Coverage</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(m => m.RatingState)</td>
                    <td>@Html.DropDownListFor(m => m.RatingState, states, new { @class = "textEdit" })</td>
                    <td>
                        <div class="textAlignRight">
                            @Html.LabelFor(m => m.PriorCoverage)
                            @Html.EditorFor(m => m.PriorCoverage, new { id = "priorCoverage" })
                            @Html.ValidationMessageFor(m => m.PriorCoverage)
                        </div>
                    </td>
                    <td>
                        @Html.LabelFor(m => m.PriorCompany
                            )
                    </td>
                    <td colspan="3">
                        @Html.TextBoxFor(m => m.PriorCompany, new { @class = "textEdit", disabled = "disabled", id = "priorCompany" })
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.EffectiveDate)</td>
                    <td>@Html.EditorFor(m => m.EffectiveDate, new { @class = "textEdit" })</td>
                    <td>
                        <div class="textAlignRight">
                            @Html.LabelFor(m => m.PreviousBI)
                            @Html.CheckBoxFor(m => m.PreviousBI, new { disabled = "disabled", id = "previousBI" })
                            @Html.ValidationMessageFor(m => m.PreviousBI)
                        </div>
                    </td>
                    <td>
                        @Html.LabelFor(m => m.PriorPolicyNo)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.PriorPolicyNo, new { @class = "textEdit", disabled = "disabled", id = "priorPolicyNo" })
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="termwrap">
                            @Html.RadioButtonFor(m => m.PolicyTermMonths,
                            6,
                            new { @class = "termradio", id = "PolicyTermMonths_" + 6.ToString() })
                            @Html.Label("PolicyTermMonths_" + 6.ToString(), 6.ToString() + " Months")
                            @*
                                @Html.RadioButtonFor(m => m.PolicyTermMonths,
                                12,
                                new { @class = "termradio", id = "PolicyTermMonths_" + 12.ToString() })
                                @Html.Label("PolicyTermMonths_" + 12.ToString(), 12.ToString() + " Months") *@
                        </div>
                    </td>
                    <td>
                        <div style="text-align: right;">
                            @Html.LabelFor(m => m.IsCurrentCustomer)
                            @Html.CheckBoxFor(m => m.IsCurrentCustomer, new { disabled = "disabled", id = "isCurrentCustomer" })
                        </div>
                    </td>
                    <td>@Html.LabelFor(m => m.PreviousExpDate)</td>
                    <td>@Html.TextBoxFor(m => m.PreviousExpDate, new { id = "previousExpDate", disabled = "disabled", @class = "textEdit", @value = Model.PreviousExpDate.GetValueOrDefault().ToShortDateString() == "1/1/0001" ? DateTime.Now.ToShortDateString() : Model.PreviousExpDate.GetValueOrDefault().ToShortDateString() })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ExpirationDate)</td>
                    <td>@Html.EditorFor(m => m.ExpirationDate, new { @class = "textEdit" })</td>
                    <td></td>
                    <td>
                        @Html.Label("Prior Policy Term")
                    </td>
                    <td>
                        <div style="text-align: left;">
                            <p>
                                <label>6 Month</label>
                                @if (!string.IsNullOrEmpty(Model.PriorPolicyTerm) && Model.PriorPolicyTerm.Equals("6"))
                                {
                                    @Html.RadioButton("PriorTerm", "6", new {id = "isSixMonthTerm", @checked="checked"});
                                }
                                else
                                {
                                    @Html.RadioButton("PriorTerm", "6", new {id = "isSixMonthTerm"});
                                }

                                <label>12 Month</label>
                                @if (!string.IsNullOrEmpty(Model.PriorPolicyTerm) &&  Model.PriorPolicyTerm.Equals("12"))
                                {
                                    @Html.RadioButton("PriorTerm", "12", new {id = "is12MonthTerm", @checked="checked"});
                                }
                                else
                                {
                                    @Html.RadioButton("PriorTerm", "12", new {id = "is12MonthTerm"});
                                }
                            </p>
                        </div>
                    </td>
                </tr>
                @if (PortalUtils.EnableCreditScore())
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <p>
                                <label for="amount">Credit Score:</label>
                                <input type="text" id="amount" readonly style="border:0; background-color:transparent; color:black; font-weight:bold;">
                            </p>
                        </td>
                        <td>
                            <div id="slider-range-max"></div>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="6" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.EffectiveDate)
                        @Html.ValidationMessageFor(m => m.ExpirationDate)
                        @Html.ValidationMessageFor(m => m.PreviousExpDate)
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="InsuredInfo" class="tbl49" style="float:left; padding: 0px 10px 0px 0px;">
            <thead>
                <tr>
                    <th colspan="5">Insured Information</th>
                </tr>
                <tr class="tblHeaderRec">
                    <td>&nbsp;</td>
                    <td>First</td>
                    <td>MI</td>
                    <td>Last</td>
                    <td>Suffix</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><abbr title="First insured">1st</abbr></td>
                    <td>@Html.TextBoxFor(m => m.FirstName1, new { size = "5", @class = "textEdit" })</td>
                    <td>@Html.TextBoxFor(m => m.MiddleInitial1, new { size = "1", @class = "txtEdit65" })</td>
                    <td>@Html.TextBoxFor(m => m.LastName1, new { @class = "textEdit" })</td>
                    <td>@Html.TextBoxFor(m => m.Suffix1, new { size = "6", @class = "txtEdit80" })</td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.FirstName1)
                        @Html.ValidationMessageFor(m => m.LastName1)
                        @Html.ValidationMessageFor(m => m.MiddleInitial1)
                        @Html.ValidationMessageFor(m => m.Suffix1)
                    </td>
                </tr>
                <tr>
                    <td><abbr title="Second insured">2nd</abbr></td>
                    <td>@Html.TextBoxFor(m => m.FirstName2, new { size = "5", @class = "textEdit" })</td>
                    <td>@Html.TextBoxFor(m => m.MiddleInitial2, new { size = "1", @class = "txtEdit65" })</td>
                    <td>@Html.TextBoxFor(m => m.LastName2, new { @class = "textEdit" })</td>
                    <td>@Html.TextBoxFor(m => m.Suffix2, new { size = "6", @class = "txtEdit80" })</td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.FirstName2)
                        @Html.ValidationMessageFor(m => m.LastName2)
                        @Html.ValidationMessageFor(m => m.MiddleInitial2)
                        @Html.ValidationMessageFor(m => m.Suffix2)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.HomePhone)</td>
                    <td>@Html.TextBoxFor(m => m.HomePhone, new { @class = "textEdit" })</td>
                    <td>@Html.LabelFor(m => m.WorkPhone)</td>
                    <td colspan="2">@Html.TextBoxFor(m => m.WorkPhone, new { @class = "textEdit" })</td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.WorkPhone)
                        @Html.ValidationMessageFor(m => m.HomePhone)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        @Html.LabelFor(m => m.EmailAddress)
                    </td>
                    <td colspan="3">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "textEditLowerCase" })
                    </td>
            </tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        Preferred Contact Language
                    </td>
                    <td colspan="3">
                        @Html.DropDownListFor(m => m.InsuredPreferredLanguage, languages, new { @class = "textEdit" })
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="MailGarageAddr" class="tbl49" style="float:right;">
            <thead>
                <tr>
                    <th colspan="2">Address</th>
                </tr>
                <tr class="tblHeaderRec">
                    <td colspan="2">Garage Address</td>
                </tr>
            </thead>
            <tr>
                <td>Street</td>
                <td>
                    @Html.TextBoxFor(m => m.GarageStreetAddress, new { @class = "textEdit SameAsGarage", @id = "GarageStreetAddress" })
                    @Html.ValidationMessageFor(m => m.GarageStreetAddress)
                </td>
            </tr>
            <tr>
                <td>ZIP/City/State</td>
                <td>
                    @Html.TextBoxFor(m => m.GarageZIPCode, new { size = 6, @class = "txtEdit27 SameAsGarage garageZipCode" })

                    @Html.DropDownListFor(m => m.GarageCity, new[] {
                    new SelectListItem() { Text = "Find by Zip" }
                }, new { @readonly = "readonly", @class = "textEdit" })
                    @*@Html.TextBoxFor(m => m.City, new { @class = "txtEdit27", disabled = "disabled" })*@
                    @Html.TextBoxFor(m => m.GarageState, new { size = 2, @class = "txtEdit27", @readonly = "" })
                    @Html.ValidationMessageFor(m => m.GarageCity)
                    @Html.ValidationMessageFor(m => m.GarageState)
                    @Html.ValidationMessageFor(m => m.GarageZIPCode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.GarageCounty)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.GarageCounty, new[] {
                    new SelectListItem() { Text = "Find by Zip" }
                }, new { @class = "textEdit" })
                </td>
            </tr>

            <tr style="background: @Sessions.Instance.CompanyPrimaryColor; color: #ffffff; font-weight: bold;" class="tblHeaderRec">
                <td colspan="2">
                    <label>Mailing Address</label>
                    <div style='float:right'>
                        @Html.CheckBoxFor(m => m.SameAsGarage, new { @id = "SameAsGarage", name = "SameAsGarage" })
                        @Html.LabelFor(m => m.SameAsGarage)
                    </div>
                </td>
            </tr>

            @*<tr>
                    <th colspan="2">
                        <label>Mailing Address</label>
                            <div style='float:right'>
                            @Html.CheckBoxFor(m => m.SameAsGarage)
                            @Html.LabelFor(m => m.SameAsGarage)
                            </div>
                    </th>
                </tr>*@

            <tr>
                <td>Street</td>
                <td>
                    @Html.TextBoxFor(m => m.MailingStreetAddress, new { @class = "textEdit" })
                    @Html.ValidationMessageFor(m => m.MailingStreetAddress)
                </td>
            </tr>
            <tr>
                <td>ZIP/City/State</td>
                <td>
                    @Html.TextBoxFor(m => m.MailingZIPCode, new { size = 6, @class = "txtEdit27 garageZipCode SameAsGarage" })


                    @Html.DropDownListFor(m => m.MailingCity, new[] {
                    new SelectListItem() { Text = "Find by Zip" }
                }, new { @readonly = "readonly", @class = "textEdit" })
                    @*@Html.TextBoxFor(m => m.City, new { @class = "txtEdit27", disabled = "disabled" })*@
                    @Html.TextBoxFor(m => m.MailingState, new { size = 2, @class = "txtEdit27" })
                    @Html.ValidationMessageFor(m => m.MailingCity)
                    @Html.ValidationMessageFor(m => m.MailingState)
                    @Html.ValidationMessageFor(m => m.MailingZIPCode)
                </td>
            </tr>
        </table>

        <div class="clear"></div>


        @Html.DisplayFor(m => m.Drivers)
        @Html.DisplayFor(m => m.Vehicles)

        <table id="coverages" class="tbl100">
            <thead>
                <tr>
                    <th colspan="8">
                        Coverages
                    </th>
                </tr>
                <tr class="tblHeaderRec">
                    <td colspan="2">
                        PIP
                    </td>
                    <td colspan="2">
                        Liability
                    </td>
                    @*<td colspan="2">
                        Physical Damage
                    </td>
                    <td colspan="2"></td>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.PipDeductible)
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.PipDeductible, PipDeductibles, new { @class = "textEdit", @id = "pipDeductibleDropDown" })
                    </td>
                    @* <td> *@
                    @*     $1$ @Html.LabelFor(model => model.BiLimit) #1# *@
                    @* </td> *@
                    @* <td> *@
                    @*     $1$ @Html.DropDownListFor(m => m.BiLimit, BiLimits, new { @class = "textEdit" }) #1# *@
                    @* </td> *@
                    <td>
                        @Html.LabelFor(model => model.PdLimit)
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.PdLimit, PdLimits, new { @class = "textEdit" })
                        @Html.HiddenFor(m => m.BiLimit)
                    </td>
                    @*<td>
                        @Html.LabelFor(m => m.CompDed)
                    </td>
                    <td>*@
                        @*  @Html.DropDownListFor(m => m.CompDed, PhydamDeductibles, new { @class = "textEdit" })
                            @Html.ValidationMessageFor(m => m.CompDed)  *@
                        @*@Model.CompDed
                    </td>
                    <td colspan="2"></td>*@
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Workloss)
                    </td>
                    <td>

                        Yes
                        @if (Model.Workloss.GetValueOrDefault())
                        {
                            @Html.RadioButtonFor(m => m.Workloss, true, new { @class = "worklossradio", @id = "worklossradioyes", @checked="checked" })
                            @Html.RadioButtonFor(m => m.Workloss, false, new { @class = "worklossradio", @id = "worklossradiono" })

                        }
                        else
                        {
                            @Html.RadioButtonFor(m => m.Workloss, false, new { @class = "worklossradio", @id = "worklossradioyes" })
                            @Html.RadioButtonFor(m => m.Workloss, true, new { @class = "worklossradio", @id = "worklossradiono", @checked="checked" })
                        }
                        No

                        @Html.ValidationMessageFor(m => m.Workloss)
                    </td>

                    <td></td>
                    <td></td>
                    @* <td> *@
                    @*     @Html.LabelFor(model => model.PdLimit) *@
                    @* </td> *@
                    @* <td> *@
                    @*     @Html.DropDownListFor(m => m.PdLimit, PdLimits, new { @class = "textEdit" }) *@
                    @* </td> *@
                    @*<td>
                        @Html.LabelFor(m => m.CollDed)
                    </td>
                    <td>*@
                        @*  @Html.DropDownListFor(m => m.CollDed, PhydamDeductibles, new { @class = "textEdit" })
                            @Html.ValidationMessageFor(m => m.CollDed) *@
                        @*@Model.CollDed
                    </td>
                    <td colspan="2"></td>*@
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.NIO)
                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.WorkLossGroup, 1, new { @id = "NIO", @class = "workloss" })
                    </td>
                    <td>
                        @* @Html.LabelFor(model => model.UmLimit) *@
                    </td>
                    <td>
                        @* @Html.DropDownListFor(m => m.UmLimit, UmLimits, new { @class = "textEdit" }) *@
                        @Html.HiddenFor(m => m.UmLimit)
                    </td>
                    @*<td colspan="4"></td>*@
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.NIRR)
                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.WorkLossGroup, 2, new { @id = "NIRR", @class = "workloss" })
                    </td>
                    <td colspan="5"></td>
                    @*<td></td>*@
                </tr>
                <tr>
                    <td>
                        @Html.Label("No Cost Optional PPO Endorsement")
                    </td>
                    <td colspan="7">
                        <div style="text-align: left;">
                            @Html.CheckBoxFor(m => m.HasPPO, new { @id = "hasPPO" })
                            @Html.ValidationMessageFor(m => m.HasPPO)
                        </div>
                    </td>
                </tr>
                @*		<tr>
                        <td>
                            @Html.LabelFor(model => model.None)
                        </td>
                        <td>
                            @Html.RadioButtonFor(model => model.WorkLossGroup, 3, new { @id = "None", @class = "workloss" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.UMstacked)
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => model.UMstacked)


                        </td>
                        <td colspan="2"></td>

                        <td colspan="2"></td>
                    </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    @Html.LabelFor(model => model.AdndLimit)
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.AdndLimit, AdndLimits, new { @class = "textEdit" })
                                </td>
                                <td colspan="2"></td>

                                <td colspan="2"></td>
                            </tr>
                *@
            </tbody>
        </table>
        <table id="discounts" class="tbl100">
            <thead>
                <tr>
                    <th colspan="8">
                        Discounts
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Experience Driver Credit
                    </td>
                    <td>
                        <div style="text-align: left; width: 350px;">
                            @Html.DropDownListFor(m => m.TransDisc, TransferDiscountOptions, new { @id = "transDisc" })
                            @Html.ValidationMessageFor(m => m.TransDisc)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.HasHomeownersDisc)
                    </td>
                    <td>
                        <div style="text-align: left;">
                            @Html.CheckBoxFor(model => model.HasHomeownersDisc, new { @class = "checkbox", @id = "homeOwnersDiscountCheckBox" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Paperless)
                    </td>
                    <td>
                        <div style="text-align: left;">
                            @Html.CheckBoxFor(model => model.Paperless, new { @class = "checkbox", @id = "paperlessDiscountCheckBox" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Advanced Quote")
                    </td>
                    <td>
                        <div style="text-align: left;">
                            @Html.CheckBoxFor(model => model.AdvancedQuote, new { @class = "checkbox", @id = "advancedQuoteDiscountCheckBox" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="palms-getquote-wrapper"></div>

        <div style='display:none'><div id="palms-relativities-wrapper"></div></div>

        <div id="RelativitiesDiv" title="Infinity Rating Relativities" style="width:100%">
        </div>

        @{

            <a class="btnSubmit" style="float: left; margin:3px;" id="btnGetQuote">Display Quick Quote</a>
            <button class="btnSubmit disabled" style="float: left; margin:3px;" id="btnEmailQuote" disabled="disabled">Email Quick Quote</button>
            @Html.ActionLink("Show Relativities", "DownloadInfinityRatingReport", null, new { @class = "btnSubmit", style = "float:left;margin:3px;", target = "_blank" })



            @*if (Sessions.Instance.AgentCode == "A00000003")
                {
                    <a class="btnSubmit" style="float: left;" id="btnShowRelativities" href="#palms-relativities-wrapper">Show Relativities</a>
                }*@

            if (Sessions.Instance.AgentCode.Contains("A00") && PortalRightsUtils.HasRights("QUOTE EDIT", Sessions.Instance.AgentCode, true) && PortalRightsUtils.HasRights("ALLOW BINDING", Sessions.Instance.AgentCode, true))
            {
                <input class="btnSubmit" style="float: right;" type="submit" value="Continue To Quote" id="btnContinueQuote" />
            }
        }

    </div>
}

<script type="text/javascript">
    //var InfinityDialog = $("#RelativitiesDiv").dialog({
    //    autoOpen: false,
    //    height: 800,
    //    width: 1200,
    //    modal: true,
    //    buttons: {
    //        //            "Create an account": addUser,
    //        Close: function () {
    //            InfinityDialog.dialog("close");
    //        }
    //    }
    //});
    jQuery.fn.extend({
        scrollToMe: function () {
            var x = jQuery(this).offset().top - 100;
            jQuery('html,body').animate({ scrollTop: x }, 500);
        }
    });
    function ValidateDriverDl(dlNum) {
        $.getJSON("@Url.Action("ValidateDriversLicense", "AjaxHelpers")", {
            value: dlNum
        }, function (data) {
            if (data.returnMsg == "TRUE" || data.returnMsg == "UNLICENSED") {
                $("#addDriverForm .btnSubmit").attr("disabled", null);
                $("#addDriverForm .btnSubmit").removeClass("disabled");
                $("#driverErrMsg").removeClass("error");
                $("#driverErrMsg").html("");
            }

            if (data.returnMsg == "AUTO-GENERATED") {
                $("#addDriverForm .btnSubmit").attr("disabled", "disabled");
                $("#addDriverForm .btnSubmit").addClass("disabled");
                $("#driverErrMsg").addClass("error");
                $("#driverErrMsg").html("The drivers license number has been generated for you. Please add the last dash and digit to the drivers license number");
            }

            if (data.returnMsg == "NOT VALID") {
                $("#addDriverForm .btnSubmit").attr("disabled", "disabled");
                $("#addDriverForm .btnSubmit").addClass("disabled");
                $("#driverErrMsg").addClass("error");
                $("#driverErrMsg").html("The license entered is not valid");
            }
        });
    }

    $(document).ready(function () {
        function UpdatePolicyQuoteField(type, fieldName, fieldValue) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdatePolicyQuoteField", "AjaxHelpers")",
                dataType: 'json',
                data: { quoteNo: "@Sessions.Instance.PolicyNo", fieldName, fieldValue},
                success: function (result) {
                }
            });
        }
        if ($("#PriorCoverage").is(":checked")) {
            $("#priorCompany").attr("disabled", null);
            $("#previousBI").attr("disabled", null);
            $("#priorPolicyNo").attr("disabled", null);
            $("#isCurrentCustomer").attr("disabled", null);
            $("#previousExpDate").attr("disabled", null);
            $("#priorCompany").removeClass("disabled");
            $("#previousBI").removeClass("disabled");
            $("#priorPolicyNo").removeClass("disabled");
            $("#isCurrentCustomer").removeClass("disabled");
            $("#previousExpDate").removeClass("disabled");
        } else {
            $("#priorCompany").attr("disabled", "disabled");
            $("#previousBI").attr("disabled", "disabled");
            $("#priorPolicyNo").attr("disabled", "disabled");
            $("#isCurrentCustomer").attr("disabled", "disabled");
            $("#previousExpDate").attr("disabled", "disabled");
            $("#priorCompany").addClass("disabled");
            $("#previousBI").addClass("disabled");
            $("#priorPolicyNo").addClass("disabled");
            $("#isCurrentCustomer").addClass("disabled");
            $("#previousExpDate").addClass("disabled");

        }
        $("#ExpirationDate").attr("disabled", "disabled");
        @if (PortalUtils.EnableCreditScore())
		{
			if(Model != null)
			{
				<text>$(".noUiSlider").val(@Model.EstimatedCreditScore);</text>
				if (Model.CreditScore != 0)
				{
					<text>$(".noUiSlider").noUiSlider("disabled", true);</text>
				}
			}
		}
            $("#FirstName1").live("change", function(){
            UpdatePolicyQuoteField("NAME", "FirstName1", $("#FirstName1").val())
        });
        $("#MiddleInitial1").live("change", function(){
            UpdatePolicyQuoteField("NAME", "MiddleInitial1", $("#MiddleInitial1").val())
        });
        $("#LastName1").live("change", function(){
           UpdatePolicyQuoteField("NAME", "LastName1", $("#LastName1").val())
        });
        $("#Suffix1").live("change", function(){
            UpdatePolicyQuoteField("NAME", "Suffix1", $("#Suffix1").val())
        });
        $("#FirstName2").live("change", function(){
            UpdatePolicyQuoteField("NAME", "FirstName2", $("#FirstName2").val())
        });
        $("#MiddleInitial2").live("change", function(){
            UpdatePolicyQuoteField("NAME", "MiddleInitial2", $("#MiddleInitial2").val())
        });
        $("#LastName2").live("change", function(){
            UpdatePolicyQuoteField("NAME", "LastName2", $("#LastName2").val())
        });
        $("#Suffix2").live("change", function(){
            UpdatePolicyQuoteField("NAME", "Suffix2", $("#Suffix2").val())
        });

        $("#HomePhone").live("change", function() {
            UpdatePolicyQuoteField("HOME_PHONE", "HomePhone", $("#HomePhone").val());
        });
        $("#WorkPhone").live("change", function() {
            UpdatePolicyQuoteField("WORK_PHONE", "WorkPhone", $("#WorkPhone").val());
        });

        $("#GarageStreetAddress").live("change", function() {
            UpdatePolicyQuoteField("ADDRESS", "GarageStreetAddress", $("#GarageStreetAddress").val());
        });
        $("#GarageCity").live("change", function() {
            UpdatePolicyQuoteField("ADDRESS", "GarageCity", $("#GarageCity").val());
        });
        $("#GarageState").live("change", function() {
            UpdatePolicyQuoteField("ADDRESS", "GarageState", $("#GarageState").val());
        });
        $("#GarageZIPCode").live("change", function(){
            UpdatePolicyQuoteField("ADDRESS", "GarageZIPCode", $("#GarageZIPCode").val())
        });

        $("#MailingStreetAddress").live("change", function(){
            UpdatePolicyQuoteField("ADDRESS", "MailingStreetAddress", $("#MailingStreetAddress").val())
        });
        $("#MailingCity").live("change", function(){
            UpdatePolicyQuoteField("ADDRESS", "MailingCity", $("#MailingCity").val())
        });
        $("#MailingState").live("change", function(){
            UpdatePolicyQuoteField("ADDRESS", "MailingState", $("#MailingState").val())
        });
        $("#MailingZIPCode").live("change", function(){
            UpdatePolicyQuoteField("ADDRESS", "MailingZIPCode", $("#MailingZIPCode").val())
        });

        $("#pipDeductibleDropDown").live("change", function(){
            UpdatePolicyQuoteField("PIP_DEDUCTIBLE", "PipDeductible", $("#pipDeductibleDropDown").val())
        });

        $("#EmailAddress").live("change", function(){
            UpdatePolicyQuoteField("EMAIL", "EmailAddress", $("#EmailAddress").val())
        });

        $("#InsuredPreferredLanguage").live("change", function(){
            UpdatePolicyQuoteField("LANGUAGE_PREFERENCE", "Language_Preference", $("#InsuredPreferredLanguage").val())
        });

        $('input:radio[name=Workloss]').live("change", function () {
            var isWorkLossYes = false;
            if ($("#worklossradioyes").is(":checked")) {
                isWorkLossYes = true;
            }
            UpdatePolicyQuoteField("WORKLOSS", "WorkLoss", isWorkLossYes)
        });

        $('input:radio[name=WorkLossGroup]').live("change", function () {
            var wlgSelected = $('input:radio[name=WorkLossGroup]:checked').val(); 
            var nio = wlgSelected == 1;
            UpdatePolicyQuoteField("WORKLOSS_GROUP", "WorkLossGroup", nio)
        });

        $("#transDisc").live("change", function(){
            UpdatePolicyQuoteField("TRANSFER_DISCOUNT", "Transfer_Discount", $("#transDisc").val())
        });
        
        $("#homeOwnersDiscountCheckBox").live("change", function(){
            UpdatePolicyQuoteField("HOMEOWNERS_DISCOUNT", "Homeowners_Discount", $("#homeOwnersDiscountCheckBox").is(':checked'))
        });

        $("#paperlessDiscountCheckBox").live("change", function(){
            UpdatePolicyQuoteField("PAPERLESS_DISCOUNT", "Paperless_Discount", $("#paperlessDiscountCheckBox").is(':checked'))
        });
        
        $("#advancedQuoteDiscountCheckBox").live("change", function(){
            UpdatePolicyQuoteField("ADVANCED_QUOTE_DISCOUNT", "Advanced_Quote_Discount", $("#advancedQuoteDiscountCheckBox").is(':checked'))
        });
        $("#paymentPlansDropDown").live("change", function(){
            UpdatePolicyQuoteField("PAYMENT_PLAN", "Payment_Plan", $("#paymentPlansDropDown").val())
        });

        $("#PriorCoverage").live("click", function () {
            if ($("#PriorCoverage").is(":checked")) {
                $("#priorCompany").attr("disabled", null);
                $("#previousBI").attr("disabled", null);
                $("#priorPolicyNo").attr("disabled", null);
                $("#isCurrentCustomer").attr("disabled", null);
                $("#previousExpDate").attr("disabled", null);
                $("#priorCompany").removeClass("disabled");
                $("#previousBI").removeClass("disabled");
                $("#priorPolicyNo").removeClass("disabled");
                $("#isCurrentCustomer").removeClass("disabled");
                $("#previousExpDate").removeClass("disabled");
                $("#isSixMonthTerm").removeClass("disabled");
                $("#isSixMonthTerm").attr("disabled", null);
                $("#is12MonthTerm").removeClass("disabled");
                $("#is12MonthTerm").attr("disabled", null);
                var isSixMonthChecked = $("#isSixMonthTerm").is(":checked");
                var isTwelveMonthChecked = $("#is12MonthTerm").is(":checked");
                if (!isSixMonthChecked && !isTwelveMonthChecked) {
                    $("#isSixMonthTerm").attr("checked", "checked");

                }
            } else {
                $("#priorCompany").attr("disabled", "disabled");
                $("#previousBI").attr("disabled", "disabled");
                $("#priorPolicyNo").attr("disabled", "disabled");
                $("#isCurrentCustomer").attr("disabled", "disabled");
                $("#previousExpDate").attr("disabled", "disabled");
                $("#priorCompany").addClass("disabled");
                $("#previousBI").addClass("disabled");
                $("#priorPolicyNo").addClass("disabled");
                $("#isCurrentCustomer").addClass("disabled");
                $("#previousExpDate").addClass("disabled");
                $("#isSixMonthTerm").addClass("disabled");
                $("#isSixMonthTerm").attr("disabled", "disabled");
                $("#is12MonthTerm").addClass("disabled");
                $("#is12MonthTerm").attr("disabled", "disabled");
            }
           
        });

    });
    $("#btnShowInfinityRelativities").live("click", function() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetInfinityRatingRelativities", "AjaxHelpers")",
                datatype: "json",
                data: { policyno: "@Sessions.Instance.PolicyNo" },
            success: function(result) {
                var TmpInfinityDialog = $("#RelativitiesDiv").dialog({
                    autoOpen: false,
                    height: 800,
                    width: 1200,
                    modal: true,
                    buttons: {
                        //            "Create an account": addUser,
                        Close: function () {
                            TmpInfinityDialog.dialog("close");
                        }
                    }
                });
                    $("#RelativitiesDiv").html(result.returnHtml);
                    TmpInfinityDialog.dialog("open");
            },
            error: function (result) {

            }
        });
    });
    @*function SaveMISCQuoteFields() {
        $.ajax( {
            type: post,
            url: "@Url.Action("SaveMISCQuoteFields", "AjaxHelpers")",
            dataType: "json",
            data: { quoteID: '@Sessions.Instance.PolicyNo', garageCity: $("#GarageCity option:selected").text() , garageState: $("#GarageState").val() , priorBILimit: }

        });
    }*@
    function UpdateCreditScore() {
	@*		$.ajax({
				type: "POST",
				url: "@Url.Action("UpdateCs", "AjaxHelpers")",
            dataType: 'json',
            data: { policyno: "@Sessions.Instance.PolicyNo", creditscore: $("#slider-range-max").slider("value") },
            success: function (result) {

            }
        }); *@
    }
    //string agentcode, string firstname, string lastname
    $("#LastName1").live("blur", function () {
        $.getJSON("@Url.Action("CheckForExistingQuote", "AjaxHelpers")", {
            agentcode: "@Sessions.Instance.AgentCode",
            firstname: $("#FirstName1").val(),
            lastname: $("#LastName1").val()
        }, function (data) {
            $("#msg").html(data.returnQuotes);
            $("#msg").scrollToMe();
        });
    });
    @*////////////////////////////////////////////////////////////////////////////////////////////////////////*@
    $("#DriversLicense").live("blur",
        function() {
            ValidateDriverDl($("#DriversLicense").val());

            if ($("#DriversLicense").val().toLowerCase() == "unlicensed" ||
                $("#DriversLicense").val().toLowerCase() == "permit") {
                $('#DateLicensed').attr('disabled', 'disabled');
            } else {
                $('#DateLicensed').attr('disabled', null);
            }
        });
    $("#btnGetQuote").live("click",
        function() {
            if (!$(this).hasClass('disabled')) {
                $("#btnGetQuote").attr('disabled', 'disabled');
                $("#btnGetQuote").addClass('disabled');
                $("#btnContinueQuote")
                    .after(
                        "<div class='palms-processingmsg'><img src='/Content/images/update.gif' /> Calculating Rates</div>");
                var pipDeductible = $("#pipDeductibleDropDown").val();
                var hasWorkLossYesSelected = false;
                if ($("#worklossradioyes").is(":checked")) {
                    hasWorkLossYesSelected = true;
                }
                var hasNamedInsuredOnlyChecked = false;
                if ($("#NIO").is(":checked")) {
                    hasNamedInsuredOnlyChecked = true;
                }
                var hasHomeOwnersDiscount = false;
                if ($("#homeOwnersDiscountCheckBox").is(":checked")) {
                    hasHomeOwnersDiscount = true;
                }
                var hasPaperlessDiscount = false;
                if ($("#paperlessDiscountCheckBox").is(":checked")) {
                    hasPaperlessDiscount = true;
                }
                var hasadvancedQuoteDiscount = false;
                if ($("#advancedQuoteDiscountCheckBox").is(":checked")) {
                    hasadvancedQuoteDiscount = true;
                }
                var hasPPO = false;
                if ($("#hasPPO").is(":checked")) {
                    hasPPO = true;
                }

                var city = $("#GarageCity").val();
                var state = $("#GarageState").val();
                var county = $("#GarageCounty").val();
                var transferDiscountValue = $("#transDisc").val();
                var iscurrentCustomerChecked = false;
                if ($("#isCurrentCustomer").is(":checked")) {
                    iscurrentCustomerChecked = true;
                }

                var priorCoverageTerm = "";
                if ($("#isSixMonthTerm").is(":checked")) {
                    priorCoverageTerm = "6";
                } else if ($("#is12MonthTerm").is(":checked")) {
                    priorCoverageTerm = "12";
                }

                var mailSameAsGarage = $("#SameAsGarage").is(":checked");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RateQuote", "AjaxHelpers")",
                    dataType: 'json',
                    data: {
                        quoteno: "@Sessions.Instance.PolicyNo",
                        pipDeductible,
                        hasWorkLossYesSelected,
                        hasNamedInsuredOnlyChecked,
                        transferDiscountValue,
                        hasHomeOwnersDiscount,
                        hasPPO,
                        hasPaperlessDiscount,
                        hasadvancedQuoteDiscount,
                        emailQuote: false,
                        city,
                        state,
                        county,
                        iscurrentCustomerChecked,
                        priorCoverageTerm,
                        mailSameAsGarage
                    },
            success: function (result) {
                $("#btnGetQuote").attr('disabled', false);
                $("#btnGetQuote").removeClass('disabled');
                $("#btnEmailQuote").attr('disabled', false);
                $("#btnEmailQuote").removeClass('disabled');
                $("#palms-getquote-wrapper").html(result.returnHtml);
                $(".palms-processingmsg").remove();
            }
        });
        }
        });
        $("#btnEmailQuote").live("click",
        function() {
            if (!$(this).hasClass('disabled')) {
                $("#btnEmailQuote").attr('disabled', 'disabled');
                $("#btnEmailQuote").addClass('disabled');
                $("#btnContinueQuote")
                    .after(
                        "<div class='palms-processingmsg'><img src='/Content/images/update.gif' /> Calculating Rates</div>");
                var pipDeductible = $("#pipDeductibleDropDown").val();
                var hasWorkLossYesSelected = false;
                if ($("#worklossradioyes").is(":checked")) {
                    hasWorkLossYesSelected = true;
                }
                var hasNamedInsuredOnlyChecked = false;
                if ($("#NIO").is(":checked")) {
                    hasNamedInsuredOnlyChecked = true;
                }
                var hasHomeOwnersDiscount = false;
                if ($("#homeOwnersDiscountCheckBox").is(":checked")) {
                    hasHomeOwnersDiscount = true;
                }
                var hasPPO = false;
                if ($("#hasPPO").is(":checked")) {
                    hasPPO = true;
                }
                var transferDiscountValue = $("#transDisc").val();
                var city = $("#GarageCity").val();
                var state = $("#GarageState").val();
                var county = $("#GarageCounty").val();
                var transferDiscountValue = $("#transDisc").val();
                var iscurrentCustomerChecked = false;
                if ($("#isCurrentCustomer").is(":checked")) {
                    iscurrentCustomerChecked = true;
                }
                var hasPaperlessDiscount = false;
                if ($("#paperlessDiscountCheckBox").is(":checked")) {
                    hasPaperlessDiscount = true;
                }
                var hasadvancedQuoteDiscount = false;
                if ($("#advancedQuoteDiscountCheckBox").is(":checked")) {
                    hasadvancedQuoteDiscount = true;
                }
                var priorCoverageTerm = "";
                if ($("#isSixMonthTerm").is(":checked")) {
                    priorCoverageTerm = "6";
                } else if ($("#is12MonthTerm").is(":checked")) {
                    priorCoverageTerm = "12";
                }

                var mailSameAsGarage = $("#SameAsGarage").is(":checked");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RateQuote", "AjaxHelpers")",
                    dataType: 'json',
                    data: {
                        quoteno: "@Sessions.Instance.PolicyNo",
                        pipDeductible,
                        hasWorkLossYesSelected,
                        hasNamedInsuredOnlyChecked,
                        transferDiscountValue,
                        hasHomeOwnersDiscount,
                        hasPPO,
                        hasPaperlessDiscount,
                        hasadvancedQuoteDiscount,
                        city,
                        state,
                        county,
                        iscurrentCustomerChecked,
                        priorCoverageTerm,
                        mailSameAsGarage,
                        emailQuote: true
                    },
            success: function (result) {
                $("#btnEmailQuote").attr('disabled', false);
                $("#btnEmailQuote").removeClass('disabled');
                $("#palms-getquote-wrapper").html(result.returnHtml);
                $(".palms-processingmsg").remove();
            }
        });
        }
    });
    $(function () {
        $("#slider-range-max").slider({
            range: "max",
            min: 499,
            max: 1000,
            value: @Model.CreditScore,
            change: UpdateSliderBGColor,
            slide: function (event, ui) {
                $("#amount").val(ui.value);
                UpdateCreditScore();
            }
        });
        UpdateCreditScore();
        UpdateSliderBGColor();
        $("#amount").val($("#slider-range-max").slider("value"));
    });
    function UpdateSliderBGColor() {
        var currentVal = $("#slider-range-max").slider("value");
        if (currentVal < 600) {
            $("#slider-range-max").css("background", "#ff0000");
        }
        else if (currentVal <= 700) {
            $("#slider-range-max").css("background", "#ffff00");
        }
        else {
            $("#slider-range-max").css("background", "#008000");
        }
    };
    if ($("#GarageZIPCode").length > 0) {
        if ($("#GarageZIPCode").val() > "") {
            var gcity = $('#GarageCity');
            var gcounty = $('#GarageCounty');
            var gstate = $('#GarageState');
            var gzip = $("#GarageZIPCode");
            var gzipval = $("#GarageZIPCode").val();

            data = $.getJSON("@Url.Action("GarageZipLookup", "AjaxHelpers")", {
                id: gzipval
            }, function (data) {
                if (data == null) {

                    return;
                }
                var html = "";
                $.each(data.cities, function (i, e) {
                    html += "<option value='" + e + "'>" + e + "</option>";
                });
                gcity.html(html);
                gcity.attr('readonly', null);
                @{
						if (Model != null)
						{
							<text>
                var savedCity = '@Model.GarageCity';
                $("#GarageCity option").filter(function () {
                    return $(this).text() == savedCity;
                }).attr('selected', true);
                </text>
						}
					}
                var garageHtml = "";
                $.each(data.counties, function (i, e) {
                    garageHtml += "<option value='" + e + "'>" + e + "</option>";
                });
                gcounty.html(garageHtml);
                gcounty.attr('readonly', null);
                gstate.val(data.state);
                if ($("#SameAsGarage").is("input:checked")) {
                    $("#MailingCity option:selected").text($("#GarageCity option:selected").text());
                    $("#MailingState").val($("#GarageState").val());
                }
            });
        }
    }
    if ($("#MailingZIPCode").length > 0) {
        if (!$("#SameAsGarage").attr("checked")) {
            var mcity = $('#MailingCity');
            var mstate = $('#MailingState');
            var mzipval = $("#MailingZIPCode").val();

            data = $.getJSON("@Url.Action("ZipLookup", "AjaxHelpers")", {
                id: mzipval
            }, function (data) {

                var html = "";
                $.each(data.cities, function (i, e) {
                    html += "<option>" + e + "</option>";
                });
                mcity.html(html);
                mcity.attr('readonly', null);
                @{
						if (Model != null)
						{
							<text>
                var savedMailCity = '@Model.MailingCity';
                $("#MailingCity option").filter(function () {
                    return $(this).text() == savedMailCity;
                }).attr('selected', true);
                </text>
						}
					}
                mstate.val(data.state);
            });
        }
    }
    //Year Of Vehicle Drop Down.
    $('#addVehicleForm #Year').live('change', function () {
        $('#addVehicleForm #Make').attr('disabled', 'disabled');
        $('#addVehicleForm #VehModel').attr('disabled', 'disabled');
        $('#addVehicleForm #Style').attr('disabled', 'disabled');

        if (!$(this).valid()) {
            return;
        }

        $.getJSON("@Url.Action("VinMakes", "AjaxHelpers")", {
            year: $(this).val()
        }, function (data) {
            var html = "";
            $.each(data, function (i, e) {
                html += "<option>" + e + "</option>"
            });

            $('#addVehicleForm #Make')
                .html(html)
                .attr('disabled', null);
        });
    });//END Year Of Vehicle Drop Down.
    //######################################################################

    //Vehicle Make Drop Down
    $('#addVehicleForm #Make').live('change', function () {
        $('#addVehicleForm #VehModel').attr('disabled', 'disabled');
        $('#addVehicleForm #Style').attr('disabled', 'disabled');

        if (!$(this).valid()) {
            return;
        }

        $.getJSON("@Url.Action("VinModels", "AjaxHelpers")", {
            year: $('#addVehicleForm #Year').val(),
            make: $(this).val()
        }, function (data) {
            var html = "";
            $.each(data, function (i, e) {
                html += "<option>" + e + "</option>"
            });

            $('#addVehicleForm #VehModel')
                .html(html)
                .attr('disabled', null);
        });
    });
    //######################################################################

    //Vehicle Model Drop Down
    $('#addVehicleForm #VehModel').live('change', function () {
        $('#addVehicleForm #Style').attr('disabled', 'disabled');

        if (!$(this).valid()) {
            return;
        }

        $.getJSON("@Url.Action("VinBodyStyles", "AjaxHelpers")", {
            year: $('#addVehicleForm #Year').val(),
            make: $('#addVehicleForm #Make').val(),
            model: $(this).val()
        }, function (data) {
            var html = "<option>Pick</option>";
            $.each(data, function (i, e) {
                html += "<option>" + e + "</option>"
            });

            $('#addVehicleForm #Style')
                .html(html)
                .attr('disabled', null);
        });
    });
    //######################################################################

    //Vehicle Style Drop Down
    $('#addVehicleForm #Style').live('change', function () {
        if (!$(this).valid())
            return;

        $.getJSON("@Url.Action("VinPartials", "AjaxHelpers")", {
            year: $('#addVehicleForm #Year').val(),
            make: $('#addVehicleForm #Make').val(),
            model: $('#addVehicleForm #VehModel').val(),
            bodyStyle: $(this).val()
        }, function (data) {
            var html = "";
            $.each(data, function (i, e) {
                html = e;
            });
            $('#addVehicleForm #VIN').val(html);
        });
    });
    //######################################################################

    $("#MilesToWork").live("blur", function () {
        var hasExistingErr;

        if ($('#vinErrorMsg').hasClass('error')) {
            hasExistingErr = true;
        }

        if ($(this).val() != "") {
            if (parseFloat($(this).val()) > 50) {
                $("#addVehicleForm .btnSubmit").attr("disabled", "disabled");
                $("#addVehicleForm .btnSubmit").addClass("disabled");
                $("#vinErrorMsg").addClass("error");
                $("#vinErrorMsg").html("Miles to Work Exceed 50 Miles Per Day.");
            }
            else {

                if (hasExistingErr) {
                    $("#VIN").trigger("blur");
                }
                else {
                    $("#addVehicleForm .btnSubmit").attr("disabled", null);
                    $("#addVehicleForm .btnSubmit").removeClass("disabled");
                    $("#vinErrorMsg").removeClass("error");
                    $("#vinErrorMsg").html("");
                }
            }
        }
    });

    $('#HomePhone').live("blur", function (i, text) {
        var val = $('#HomePhone').val();
        var replacedVal = val.replace(/(\d{3})?(\d{3})(\d{4})$/, '$1-$2-$3');
        $('#HomePhone').val(replacedVal);
    });

    $('#WorkPhone').live("blur", function(i, text) {
        var val = $('#WorkPhone').val();
        var replacedVal = val.replace(/(\d{3})?(\d{3})(\d{4})$/, '$1-$2-$3');
        $('#WorkPhone').val(replacedVal);
    });
    // Get VIN Data on blur
    $("#VIN").live("blur", function () {
        if (!$(this).valid()) {
            return;
        }
        $.getJSON("@Url.Action("GetVehicleInfoByVin", "AjaxHelpers")", {
            vin: $('#VIN').val()
        }, function (data) {
            if (data.returnVal == "Vin Not In Our Records" || data.returnVal == "VIN Not valid") {
                $("#addVehicleForm .btnSubmit").attr("disabled", "disabled");
                $("#addVehicleForm .btnSubmit").addClass("disabled");
                $("#vinErrorMsg").addClass("error");
                $("#vinErrorMsg").html("This vehicle's VIN is not in our records, cannot add this vehicle.");
                return;
            }

            $("#addVehicleForm .btnSubmit").attr("disabled", null);
            $("#addVehicleForm .btnSubmit").removeClass("disabled");
            $("#vinErrorMsg").removeClass("error");
            $("#vinErrorMsg").html("");
            $("#Make").attr('disabled', null);
            $("#VehModel").attr('disabled', null);
            $("#Style").attr('disabled', null);
            $("#Year").val(data.year);
            $("#Make").html('<option>' + data.make + '</option>');
            $("#VehModel").html('<option>' + data.model + '</option>');
            $("#Style").html('<option>' + data.bodystyle + '</option>');
            $("#CompSymbol").val(data.compsymb);
            if (data.abs == "S" || data.abs == "s") {
                $("#HasAntiLockBrakes").attr("checked", true);
            }

            if (data.ars == "True") {
                $("#HasAirbag").attr("checked", true);
            }

            if (data.atd == "True") {
                $("#HasAntiTheftDevice").attr("checked", true);
            }
        });

    });//END VIN Lookup
    //######################################################################

    // COMP and COLL must match. If one changes, update the other.
    $('#CompDed').change(function () {
        $('#CollDed').val($(this).val());
    });
    //######################################################################

    // COMP and COLL must match. If one changes, update the other.
    $('#CollDed').change(function () {
        $('#CompDed').val($(this).val());
    });
    //######################################################################

    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    //------------------------------------------------------------
    // [DRIVERS] Driver Related Javascript

    //Refresh Drivers Table when deleting a driver
    $("deleteDriver").live("click", function () {
        $(this).parent().parent().remove();
    });
    //######################################################################

    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    //------------------------------------------------------------
    // [LIENHOLDERS] Lienholder Javascript




    $(function () {

        $('#addDriverForm').dialog({ modal: true, width: 800, autoOpen: false });
        $('#addVehicleForm').dialog({ modal: true, width: 850, autoOpen: false });
        $('#addViolationForm').dialog({ modal: true, width: 700, autoOpen: false });
        $('#addLienHolderForm').dialog({ modal: true, width: 400, autoOpen: false });

        var realId = $('#mainQuoteId').val();
        $('input[name=QuoteId][type=hidden]').val(realId);

        SaveAsOriginal('DriversTable');
        SaveAsOriginal('ViolationsTable');
        SaveAsOriginal('VehiclesTable');
        SaveAsOriginal('LienHoldersTable');

        SaveAsOriginal('addDriverForm');
        SaveAsOriginal('addVehicleForm');

    });


    // ##################### Add Success Handlers #######################

    var onDriverAddSuccess = function () {
        $("#addDriverForm").dialog('close');
        $("#addDriverForm").children('form')[0].reset();
    }


    var onVehicleAddSuccess = function () {
        $("#addVehicleForm").dialog('close');
        $("#addVehicleForm").children('form')[0].reset();
    }


    var onViolationAddSuccess = function () {
        $("#addViolationForm").dialog('close');
        $("#addViolationForm").children('form')[0].reset();
    }

    var onLienHolderAddSuccess = function () {
        $("#addLienHolderForm").dialog('close');
        $("#addLienHolderForm").children('form')[0].reset();
    };

    // ##################### Add Error Handlers #######################


    var onVehicleAddFailure = function () {
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    }


    var onDriverAddFailure = function () {
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    }
    var onViolationAddFailure = function () {
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    }
    var onLienHolderAddFailure = function () {
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    };

    var onVehicleLoadSuccess = function () {
        $('#addViolationForm input[name=DriverIndex][type=hidden]').val(
            $('#addDriverForm input[name=DriverIndex]').val());

        $('#addVehicleForm').dialog('open');
    };
    var onDriverLoadSuccess = function () {
        $('#addViolationForm input[name=DriverIndex][type=hidden]').val(
            $('#addDriverForm input[name=DriverIndex]').val());

        $('#addDriverForm').dialog('open');
    };
</script>

<script type="text/javascript">
    function stopBack() { window.history.forward(); }
    setTimeout("stopBack()", 0);
    window.onunload = function () { null };
</script>
