﻿@using AgentPortal.Support.Utilities
@model  AgentPortal.Models.PaymentReceiptModel
    <div>
        <h2>Thank you for your payment</h2>
        <br />
        <h4><span style="font-weight: bold;">Policy:</span> @Model.PolicyNo</h4>
        <br />
        <br />
        <a style="font-weight: bold;" href="@Model.Link" target="_blank">Download Payment Receipt</a>
        <br />
    <br />
    
        @{
            string link = "/Agent/Policy?id=" + Model.PolicyNo;
            if (Model.IsClientReceipt)
            {
                link = "/Client/ShowPolicyById?policyNo=" + Model.PolicyNo;
            }
    }
    <a style="font-weight: bold;" href="@link">Click Here to Go Back to the Policy</a>
    </div>