﻿@using DevExpress.Xpo.DB;
@using FLAUTO;
@using System.Data;
@using DevExpress.Xpo;
@using DevExpress.Data.Filtering;
@using System;
@using System.Text;
@using AgentPortal.Support.Utilities
@model AgentPortal.Models.QuestionnaireNewModel

@{ ViewBag.Title = "Pre-Quote Questionnaire"; @*             <div id='DebugBar'>  *@ @*                 <a id="btnFillQuestionaire" href='javascript:void(0)' class='btnSubmit' style="color: #000000;">Fill Questionaire</a>  *@ @*             </div>  *@ }


@Html.ValidationSummary(true, "There were errors in the provided information.", new { @class = "error" })

@using (Html.BeginForm())
{
@Html.HiddenFor(m => m.QuoteId);
@Html.Hidden("QuoteNo", Sessions.Instance.PolicyNo);
<h2>Pre-Quote Questionnaire</h2>

    <table id="Questionnaire" class="tbl100">
        <thead>
            <tr class="tblHeaderRec">
                <td>
                    Drivers
                </td>
                <td>
                    Yes
                </td>
                <td>
                    No
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasDependent)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasDependent, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasDependent, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasDependent)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasFloridaResident)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasFloridaResident, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasFloridaResident, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasFloridaResident)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasDrivingImpairments)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasDrivingImpairments, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasDrivingImpairments, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasDrivingImpairments)
                </td>
            </tr>
            <tr style="background-color:#4db8ff">
                <td colspan="5">
                    Vehicles
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasVehicleOwned)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasVehicleOwned, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasVehicleOwned, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasVehicleOwned)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.hasVehicleOwnedRemarkOne)
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(m => m.hasVehicleOwnedRemarkOne, new { @class = "textEdit", @style = "margin: 2px; width:99%; height: 56px;" })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasVehicleOwnedRemarkOne)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.hasCoownerResident)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasCoownerResident, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasCoownerResident, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasCoownerResident)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.hasCoownerResidentRemarkOne)
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(m => m.hasCoownerResidentRemarkOne, new { @class = "textEdit", @style = "margin: 2px; width:99%; height: 56px;" })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasCoownerResidentRemarkOne)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasVehicleNotGaraged)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasVehicleNotGaraged, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasVehicleNotGaraged, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasVehicleNotGaraged)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasExistingDamage)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasExistingDamage, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasExistingDamage, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasExistingDamage)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.hasExistingDamageRemarkOne)
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(m => m.hasExistingDamageRemarkOne, new { @class = "textEdit", @style = "margin: 2px; width:99%; height: 56px;" })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasExistingDamageRemarkOne)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.hasGrayMarketVehicle)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasGrayMarketVehicle, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasGrayMarketVehicle, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasGrayMarketVehicle)
                </td>
            </tr>
            <tr style="background-color:#4db8ff">
                <td colspan="5">
                    Claims History
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasAutoInsuranceCancelledorPIPClaim)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasAutoInsuranceCancelledorPIPClaim, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasAutoInsuranceCancelledorPIPClaim, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasAutoInsuranceCancelledorPIPClaim)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasCriminalActivity)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasCriminalActivity, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasCriminalActivity, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasCriminalActivity)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasCriminalActivityRemarkOne)
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(m => m.hasCriminalActivityRemarkOne, new { @class = "textEdit", @style = "margin: 2px; width:99%; height: 56px;" })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasCriminalActivityRemarkOne)
                </td>
            </tr>
            <tr style="background-color:#4db8ff">
                <td colspan="5">
                    Commercial Use
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasVehicleForBusinessPurpose)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasVehicleForBusinessPurpose, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasVehicleForBusinessPurpose, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasVehicleForBusinessPurpose)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.hasReportedBusinessUse)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasReportedBusinessUse, true)
                </td>
                <td>
                    @Html.RadioButtonFor(m => m.hasReportedBusinessUse, false)
                </td>
            </tr>
            <tr>
                <td colspan="5" class="insuredValidationRow">
                    @Html.ValidationMessageFor(m => m.hasReportedBusinessUse)
                </td>
            </tr>

            @*<tr style="background-color:#4db8ff">
                    <td colspan="5">
                        For questions 18 thru 25, explain all 'YES' answers, in the Remarks box below.
                    </td>
                </tr>
                <tr style="background-color:#4db8ff">
                    <td colspan="5">
                        For questions 18, 19, & 20, Have any drivers and / or residents listed on this application:
                    </td>
                </tr>*@
            @*<tr>
                    <td>
                        @Html.LabelFor(m => m.hasCriminalActivity)
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.hasCriminalActivity, true)
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.hasCriminalActivity, false)
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.hasCriminalActivity)
                    </td>
                </tr>*@


            @*<tr>
                    <td>
                        @Html.LabelFor(m => m.explainOne)
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextAreaFor(m => m.explainOne, new { @class = "textEdit", @style = "margin: 2px; width:99%; height: 112px;" })
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.explainOne)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.AgencyRep)
                    </td>
                    <td colspan="2">
                        @Html.TextBoxFor(m => m.AgencyRep, new { @class = "textEdit" })
                    </td>
                </tr>*@
        </tbody>
    </table>
    <input type="button" class="btnSubmit left" value="Back" id="QuestionnaireGoBack" />
    <input type="submit" class="btnSubmit right" value="Accept Answers" />
}


<script type="text/javascript">
    $("#btnFillQuestionaire").live("click", function () {
        $("#Questionnaire input:radio").each(function () {
            if ($(this).val() == "True") {
                $(this).attr('checked', true);
            }
        });
    });
    $("#onePipClaim").live("click", function () {
        $("#twoPipClaims").attr('checked', false);
    });
    $("#twoPipClaims").live("click", function () {
        $("#onePipClaim").attr('checked', false);
    });
</script>