﻿@model AgentPortal.Models.QuoteIntegrationsViewModel
@using System
@using System.Globalization
@using System.Linq
@using AgentPortal.Models
@using AgentPortal.Support.DataObjects
@using AgentPortal.Support.Utilities
@using PalmInsure.Palms.Xpo
@{
    ViewBag.Title = "Policy Quote - " + Sessions.Instance.PolicyNo;
    var phoneNumber = PalmInsure.Palms.Utilities.DbHelperUtils.getScalarValue("SystemParameters", "CompanyPhoneTollFree ", "CompanyID", "PALMINSURE");
}

<div style="display: none;" id="alertMsg" class="warning">
    An @(Model.RiskCheckOrdered ? " MVR" : "RC POS") order can take up to 30 seconds seconds to process. On rare occasions it can take longer, in which case, please contact Underwriting at 800-xxx-xxxx ext. 2.
</div>

<div style="margin-bottom:15px;">
    <h2>Integrations</h2>
    @if (!Model.RiskCheckOrdered)
    {
        <a id="orderButton" class="btnSubmit" href="@Url.Action("OrderIntegrations", "AjaxHelpers", new {quoteNo = @Sessions.Instance.PolicyNo, isRiskCheck = true, orderCoverageVerifierOnly = false})">Order RC POS</a>
    }
    else if (Model.IsRiskCheckProcessed() && !Model.CoverageVerifierOrdered())
    {
        <a id="orderButton" class="btnSubmit" href="@Url.Action("OrderIntegrations", "AjaxHelpers", new {quoteNo = @Sessions.Instance.PolicyNo, isRiskCheck = false, orderCoverageVerifierOnly = true})">Order Coverage Verifier</a>

    }
    else if (Model.IsRiskCheckProcessed())
    {
        if (Model.PolicyScoreValidForBinding && (!Model.APlusOrdered() || !Model.MVROrdered()))
        {
            <a id="orderButton" class="btnSubmit" href="@Url.Action("OrderIntegrations", "AjaxHelpers", new {quoteNo = @Sessions.Instance.PolicyNo, isRiskCheck = false, orderCoverageVerifierOnly = false})">Order APlus & MVR</a>
        }
        else if(!Model.PolicyScoreValidForBinding)
        {
            <div class="warning">The policy was found to be not eligible for binding. Please contact the underwriting department for further assistance.</div>
        }
    }
</div>
@if (Model.UnOwnedVehicles.Any())
{
    if (Model.UnOwnedVehicles.Count > 1)
    {
        <div class="warning">Non-owned vehicles @string.Join(", ", Model.UnOwnedVehicles.Select(x => x.VIN.ToUpper()).ToList()) are not acceptable.</div>
    }
    else
    {
        <div class="warning">Non-owned vehicle @Model.UnOwnedVehicles.First().VIN.ToUpper() is not acceptable.</div>
    }
}
@using (Html.BeginForm(((Model.RiskCheckOrdered && !Model.IsRiskCheckProcessed()) ? "RiskCheckIntegration" : "RateAndShow"), "Quote", new {id = @Sessions.Instance.PolicyNo}))
{
    @Html.HiddenFor(x => x.RiskCheckOrdered)


    <div class="col_29" style="min-height: 450px;">
    @if (Model.BrandedTitleVehicles.Any())
    {
        <div id="alertMsg" class="warning">
            The below listed vehicles are not acceptable for coverage/new business.
        </div>

        <table id="RiskCheckReport" class="tbl100">
            <thead>
            <tr>
                <th colspan="16">
                    Branded Titles Vehicles
                </th>
            </tr>
            <tr class="tblHeaderRec">
                <td colspan="3">VIN</td>
                <td colspan="3">Make</td>
                <td colspan="3">Model</td>
                <td colspan="3">Year</td>
                <td colspan="3">Date Created</td>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (BrandedTitleVehiclesViewModel brandedTitleVehicle in Model.BrandedTitleVehicles)
                {
                    <tr>
                        <td colspan="3">@brandedTitleVehicle.VIN</td>
                        <td colspan="3">@brandedTitleVehicle.Make</td>
                        <td colspan="3">@brandedTitleVehicle.Model</td>
                        <td colspan="3">@brandedTitleVehicle.VehYear</td>
                        <td colspan="3">@brandedTitleVehicle.DateCreated.ToShortDateString()</td>
                    </tr>
                }
            }
            </tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    }

    <table id="RiskCheckReport" class="tbl100">
        <thead>
        <tr>
            <th colspan="16">
                RC POS Report
            </th>
        </tr>
        <tr class="tblHeaderRec">
            <td colspan="3">Driver Name</td>
            <td colspan="3">Violation/Action message</td>
            <td colspan="3">Driver DOB</td>
            <td colspan="6">Add as Excluded Driver OR Affirm Not Associated</td>
        </tr>
        </thead>
        <tbody>
        @if (!Model.IsValidToProceeed())
        {
            <tr>
                <td colspan="6">
                    <p>Not ordered.</p>
                </td>
            </tr>

        }
        else
        {
            string notAssociatedDriverIds = string.Empty;
            foreach (RiskCheckViolationsModel violationModel in Model.RiskCheckDriverViolationsModels)
            {
                foreach (RiskCheckDriverViolationsModel violation in violationModel.DriversViolations)
                {
                    TextInfo ti = new CultureInfo("en-US", false).TextInfo;
                    notAssociatedDriverIds += violationModel.NotAssociatedDriverIndex + ",";
                    //var chkBoxControlId = "NA-DI-" + violationModel.NotAssociatedDriverIndex;

                    <tr>
                        <td colspan="3">@ti.ToTitleCase(violationModel.DriverName.ToLower())</td>
                        <td colspan="3">@ti.ToTitleCase(violation.ViolationDesc.ToLower())</td>
                        <td colspan="3">@violationModel.DOB.ToShortDateString()</td>
                        <td colspan="3">
                            @Html.DropDownList("ddlNotAssociatedDriver-" + violationModel.NotAssociatedDriverIndex, new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Rate or Exclude", Value = "Rate or Exclude"},
                                new SelectListItem {Text = "Do not know this person", Value = "Do not know this person"},
                                new SelectListItem {Text = "No longer lives with insured & doesn't drive vehicles", Value = "No longer lives with insured & doesn't drive vehicles"},
                                new SelectListItem {Text = "Deceased", Value = "Deceased"},
                                new SelectListItem {Text = "Duplicate driver", Value = "Duplicate driver"},
                                new SelectListItem {Text = "Deployed military", Value = "Deployed military"}
                            }, "Select", new {@class = "ddlNotAssociatedDriver"})
                        </td>
                        @*<td colspan="3">
                                    <input class="chkbox-exclude chkbox-exclude-notAssociated" type="checkbox" id="chkbox-exclude-@chkBoxControlId" name="chkbox-exclude-@chkBoxControlId" />
                                    <label for="chkbox-Exclude-@chkBoxControlId">Exclude</label>
                                </td>
                                <td>
                                    <input class="chkbox-notAssociated chkbox-exclude-notAssociated" type="checkbox" id="chkbox-notAssociated-@chkBoxControlId" name="chkbox-notAssociated-@chkBoxControlId" />
                                    <label for="chkbox-notAssociated-@chkBoxControlId">Not Associated</label>
                                </td>*@
                    </tr>
                }
            }

            @Html.Hidden("RcPosDNotAssociatedDriverIds", notAssociatedDriverIds.Substring(0, notAssociatedDriverIds.Length - (notAssociatedDriverIds.Length > 0 ? 1 : 0)))
            ;
        }
        </tbody>
    </table>

    <div style="float: right; margin-top: 10px; margin-bottom: 10px;">
        @if (Model.RiskCheckOrdered && Model.RiskCheckDriverViolationsModels.Any())
        {
            <button id="ConfirmExcludeOrNotAssociated" class="btnSubmit" type="submit" style="cursor: pointer;">Confirm Selected Actions</button>
        }
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <table id="CoverageVerifierReport" class="tbl100">
        <thead>
        <tr>
            <th colspan="12">
                Coverage Verifier Report
            </th>
        </tr>
        <tr class="tblHeaderRec">
            <td colspan="3">Driver Name</td>
            <td colspan="6">Carrier</td>
            <td colspan="6">Policy Expiration</td>
        </tr>
        </thead>
        <tbody>
        @if (Model.RiskCheckOrdered && !Model.CoverageVerifierOrdered())
        {
            <tr>
                <td colspan="6">
                    <p>Not ordered.</p>
                </td>
            </tr>

        }
        else
        {
            foreach (CoverageVerifierReportModel cvReport in Model.CoverageVerifierReportModels)
            {
                TextInfo ti = new CultureInfo("en-US", false).TextInfo;
                <tr>
                    <td colspan="3">@ti.ToTitleCase(cvReport.DriverName.ToLower())</td>
                    <td colspan="6">@ti.ToTitleCase(cvReport.CarrierName)</td>
                    @if (!Model.CVIsNoHit && !string.IsNullOrEmpty(cvReport.PolicyExpiration) && !DateTime.ParseExact(cvReport.PolicyExpiration, "yyyyMMdd", CultureInfo.InvariantCulture).Equals(DateTime.MinValue))
                    {
                        <td colspan="6">@DateTime.ParseExact(cvReport.PolicyExpiration, "yyyyMMdd", CultureInfo.InvariantCulture).ToShortDateString()</td>
                    }
                    else
                    {
                        <td colspan="6"></td>
                    }
                </tr>
            }
        }
        </tbody>
    </table>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <table id="APlusReport" class="tbl100">
        <thead>
        <tr>
            <th colspan="12">
                A-Plus Report
            </th>
            @if (Model.APlusIsNoHit)
            {
                <th colspan="12">
                    Total Claims: 0
                </th>
            }
            else
            {
                <th colspan="12">
                    Total Claims: @Model.TotalNumberOfClaims
                </th>
            }

        </tr>
        <tr class="tblHeaderRec">
            <td colspan="3">Driver Name</td>
            <td colspan="6">Description</td>
            <td colspan="6">AF Indicator</td>
            <td colspan="6">Date</td>
            <td colspan="6">AA Points</td>
        </tr>
        </thead>
        <tbody>
        @foreach (APlusClaimModel claim in Model.APlusClaimModels)
        {
            TextInfo ti = new CultureInfo("en-US", false).TextInfo;
            string atFaultIndicator = "N";
            if (claim.InsuredAtFault)
            {
                atFaultIndicator = "Y";
            }
            <tr>
                <td colspan="3">@ti.ToTitleCase(claim.DriverName.ToLower())</td>
                <td colspan="6">@ti.ToTitleCase(claim.ClaimDescription)</td>
                <td colspan="6">@atFaultIndicator</td>
                @if (!string.IsNullOrEmpty(claim.ClaimDateOfLoss))
                {
                    <td colspan="6">@DateTime.ParseExact(claim.ClaimDateOfLoss, "yyyyMMdd", CultureInfo.InvariantCulture).ToShortDateString()</td>
                }
                else
                {
                    <td colspan="6"></td>
                }
                <td>@claim.AAPoints</td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <table id="MotorVehicleReport" class="tbl100">
        <thead>
        <tr>
            <th colspan="16">
                Motor Vehicle Report
            </th>
        </tr>
        <tr class="tblHeaderRec">
            <td colspan="3">Driver Name</td>
            <td colspan="3">Violation</td>
            <td colspan="3">MVR Points</td>
            <td colspan="3">Date</td>
            <td colspan="3">AA Points</td>
        </tr>
        </thead>
        <tbody>
        @if (!Model.IsValidToProceeed() && (Model.MvrDriverViolationsModels == null || !Model.MvrDriverViolationsModels.Any()))
        {
            <tr>
                <td colspan="6">
                    <p>Not ordered.</p>
                </td>
            </tr>

        }
        else
        {
            foreach (MvrViolationsModel violationModel in Model.MvrDriverViolationsModels)
            {
                foreach (PolicyQuoteDriversViolations violation in violationModel.DriversViolations.OrderByDescending(dv => dv.ViolationDate))
                {
                    TextInfo ti = new CultureInfo("en-US", false).TextInfo;
                    <tr>
                        <td colspan="3">@ti.ToTitleCase(violationModel.DriverName.ToLower())</td>
                        <td colspan="3">@ti.ToTitleCase(violation.ViolationDesc.ToLower())</td>
                        <td colspan="3">@violation.ViolationPoints</td>
                        @if (!violation.ViolationDate.Equals(DateTime.MinValue))
                        {
                            <td colspan="3">@violation.ViolationDate.ToShortDateString()</td>
                        }
                        else
                        {
                            <td colspan="3"></td>
                        }
                        <td colspan="3">@violation.AAPoints</td>
                    </tr>
                }
            }
        }
        </tbody>
    </table>


    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    @if (Model.IsRiskCheckProcessed() && Model.AllIntegrationsOrdered() && Model.IsValidToProceeed() && Model.PolicyScoreValidForBinding)
    {
        if (Model.IsValidToProceeed() && Model.PolicyScoreValidForBinding)
        {
            <div style="float: right; margin-top: 20px;">
                <button id="btnNext" class="btnSubmit" type="submit">Next</button>
            </div>
        }
        else
        {
            <br/>
            var link = "/Quote/Edit?id=" + Model.QuoteNo;
            <a style="font-weight: bold; float: right;" class="btnSubmit" href="@link">Back to Quote</a>
        }
    }
    else if (Model.RiskCheckOrdered && (Model.BrandedTitleVehicles.Any() || Model.UnOwnedVehicles.Any()))
    {
        <br/>
        var link = "/Quote/Edit?id=" + Model.QuoteNo;
        <a style="font-weight: bold; float: right;" class="btnSubmit" href="@link">Back to Quote</a>
    }
    else if(!Model.PolicyScoreValidForBinding)
    {
        <br/>
        var link = "/Quote/Edit?id=" + Model.QuoteNo;
        <a style="font-weight: bold; float: right;" class="btnSubmit" href="@link">Back to Quote</a>
    }
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        changeSubmitBtnVisibility();
        var path = 'QuoteIntegrations.cshtml';
        history.pushState(null, null, path + window.location.search);
        window.addEventListener('popstate', function (event) {
            history.pushState(null, null, path + window.location.search);
        });
        $("#orderButton").click(function (e) {
            $("#orderButton").addClass('disabled');
            $('#orderButton').css('pointer-events', 'none');
            $(this).after("<div class='palms-processingmsg'><img src='/Content/images/update.gif' /> Ordering Reports...</div>");
            $('#alertMsg').show();
        });

    });

    $('.ddlNotAssociatedDriver').change(function () {
        changeSubmitBtnVisibility();
    });

    function changeSubmitBtnVisibility() {
        var makeVisible = true;
        var allDropdowns = $(".ddlNotAssociatedDriver");
        for (i = 0; i < allDropdowns.length; i++) {
            var ddlNAD = $(allDropdowns[i]);
            if ((ddlNAD.val() || "") == "" || ddlNAD.val() == "Select") {
                makeVisible = false;
                break;
            }
        }

        if (makeVisible) {
            $("#ConfirmExcludeOrNotAssociated").removeAttr("disabled");
            $('#ConfirmExcludeOrNotAssociated').css('cursor', 'pointer');
            $('#ConfirmExcludeOrNotAssociated').attr('title', 'Confirm Selected Actions');
        }
        else {
            $("#ConfirmExcludeOrNotAssociated").attr("disabled", true);
            $('#ConfirmExcludeOrNotAssociated').css('cursor', 'not-allowed');
            //$('#ConfirmExcludeOrNotAssociated').attr('title', 'Please select either Exclude OR Not Associated for all violated Drivers');
            $('#ConfirmExcludeOrNotAssociated').attr('title', 'Please select the action to continue. ');
        }
    }
</script>
