﻿@using AgentPortal.Support.Utilities
@model  AgentPortal.Models.ReinstatementModel
<div>
    <h2>Thank you for the reinstatement payment.</h2>
    <br />
    <h4><span style="font-weight: bold;">Policy:</span> @Model.PolicyNo</h4>
    <br />
    <br />
    <a style="font-weight: bold;" href="@Model.PayLink" target="_blank">Download Payment Receipt</a><br />
    <br />
    <a style="font-weight: bold;" href="@Model.ReinstatementLink" target="_blank">Download Reinstatement Document</a>
    <br />
    <br />

    @{
        string link = "/Agent/Policy?id=" + Model.PolicyNo;
    }
    <a style="font-weight: bold;" href="@link">Click Here to Go Back to the Policy</a><br />

    <script>
        window.open("@Model.ConcatPdfFileLink", '_blank');
    </script>
</div>
