﻿@using System.Data;
@using DevExpress.Xpo;
@using DevExpress.Data.Filtering;
@using System;
@using System.Collections.Generic
@using System.Linq
@using System.Text;
@using System.Web
@using System.Web.UI.WebControls
@using AgentPortal.Models
@using AgentPortal.Support
@using AgentPortal.Support.DataObjects
@using AgentPortal.Support.Utilities

@model Tuple<AgentPortal.Models.QuoteModel, DataSet, System.Collections.Generic.List<AgentPortal.Support.DataObjects.XpoAARatePayPlans>, System.Collections.Generic.List<AgentPortal.Support.DataObjects.RatingInstallmentsDO>>
<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    /* */

    /* #dropSection { */

    /*     height: 300px; */

    /*     width: 600px; */

    /*     background-color: skyblue; */

    /* } */

    #btnUpload {
        display: none;
    }

    .active {
        border-width: medium !important;
        border-color: yellow !important;
        border-style: double !important;
    }
</style>
<script src="~/Scripts/jquery.filedrop.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#drop_zone").filedrop({
            fallback_id: 'btnUpload',
            fallback_dropzoneClick: true,
            url: '@Url.Action("UploadPhysicalDamageImages")',
            //allowedfiletypes: ['image/jpeg', 'image/png', 'image/gif', 'application/pdf', 'application/doc'],
            allowedfileextensions: [
                '.jpg', '.jpeg', '.png', '.gif', '.tif', '.JPG', '.JPEG', '.PNG', '.GIF', '.TIF'
            ],
            paramname: 'files',
            maxfiles: 10, //Maximum Number of Files allowed at a time.
            maxfilesize: 50, //Maximum File Size in MB.
            error: function(error) {
                var words = error;
                if (words === "TooManyFiles") {
                    words = "You cannot drop more than 10 files at a time.";
                }
                words = words.replace(/([A-Z])/g, ' $1').trim();
                $('#uploadingMsgDiv').hide();
                $('#errorMessage').text(words);
                $('#errorMessageDiv').show();
                setTimeout(function() { $('#errorMessageDiv').hide(); }, 4000);
            },
            dragOver: function() {
                if (!$('#drop_zone').hasClass('active')) {
                    $('#drop_zone').addClass('active');
                }
            },
            dragLeave: function() {
                if ($('#drop_zone').hasClass('active')) {
                    $('#drop_zone').removeClass('active');
                }
            },
            drop: function () {
                $("#btnUploadDocument").attr('disabled', 'disabled');
                $("#btnUploadDocument").addClass("disabled");
                $('#uploadingMsgDiv').show();
                $('#drop_zone').removeClass('active');
            },
            uploadFinished: function(i, file, response, time) {
            },
            afterAll: function(e) {
                $('#uploadingMsgDiv').hide();
                location.reload();
            }
        });
        var control = $("#PortalUploads");
        var uploadCount = 0;
        $("#btnAddDocument").live("click",
            function() {
                if (uploadCount < 4) {
                    $("#palms-upload-body").append("<tr><td colspan='3'><input type='file' name='files' /></span>");
                }
                uploadCount += 1;
            });


        $('#btnUploadDocument').click(function () {
            if (!$('input[type="file"]').val()) {
                $("#noFilesUploadedErrorMessageDiv").show().delay(5000).queue(function(n) {
                    $(this).hide(); n();
                });

            } else {
                $("#btnUploadDocument").attr('disabled', 'disabled');
                $("#btnUploadDocument").addClass("disabled");
                $('#uploadingMsgDiv').show();
                $('#NewPhysicalDamageUploads').submit();
            }
        });

        $('input:radio[name="Item1.ByPassESignature"]').change(
            function() {
                if ($(this).is(':checked')) {
                    $("#btnAcceptPolicy").attr("disabled", null);
                    $("#btnAcceptPolicy").removeClass("disabled");
                    $("#btnAcceptPolicy").show();
                }
            });


        $("#requestESignature").live("change",
            function() {
                var isChecked = $("#requestESignature").is(':checked')
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdatePolicyQuoteField", "AjaxHelpers")",
                    dataType: 'json',
                    data: { quoteNo: "@Sessions.Instance.PolicyNo", fieldName: "ESignature", fieldValue: isChecked },
                    success: function(result) {
                    }
                });
            });
        $("#agentESignEmailAddress").live("change",
            function() {
                var emailAddress = $("#agentESignEmailAddress").val();
                if (emailAddress) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("UpdatePolicyQuoteField", "AjaxHelpers")",
                        dataType: 'json',
                        data: { quoteNo: "@Sessions.Instance.PolicyNo", fieldName: "AgentESignEmailAddress", fieldValue: emailAddress },
                    success: function(result) {
                    }
                });
                    }
            });

    });
//    $("#main_PayPlan").live("change", function () {
//        $.ajax({
//            type: "POST",
//            url: "@Url.Action("UpdatePayPlan", "AjaxHelpers")",
//            dataType: 'json',
//            data: { payplan: $('#main_PayPlan option:selected').val(), quoteNo: "@Sessions.Instance.PolicyNo" },
//            success: function (result) {
//
//            }
//        });
//    });
    @***********************************************************@
    $("#BankName").focus(function() {
        $(this).trigger('keydown.autocomplete');
    });
    @*Get Bank Info AutoComplete *@
    @if (PortalUtils.GetSysVars("LYONSABA") == "true")
    {<text>
         $("#ABA").live("blur",
             function() {
                 $.ajax({
                     type: "POST",
                     url: "@Url.Action("GetBankName", "AjaxHelpers")",
                     dataType: 'json',
                     data: { aba: $('#ABA').val() },
                     cache: false,
                     success: function(jsondata) {
                         $("#BankName").autocomplete(jsondata,
                             {
                                 minChars: 0,
                                 formatItem: function(data, i, n) {
                                     return data[0];
                                 }
                             });
                     }
                 });
                 @*********************@
                 $.ajax({
                     type: "POST",
                     url: "@Url.Action("VerifyAba", "AjaxHelpers")",
                     dataType: 'json',
                     data: { aba: $('#ABA').val() },
                     cache: false,
                     success: function(jsondata) {
                         if (jsondata.returnMsg == "yes") {
                             $("#btnAcceptPolicy").show();
                             $("#EftInfoMessage").html("Please complete the eft information to proceed ");
                             $("#EftInfoMessage").removeClass("errMsg");
                             $("#EftInfoMessage").addClass("infoMsg");
                         } else {
                             $("#btnAcceptPolicy").hide();
                             $("#EftInfoMessage").html("INVALID ABA/ROUTING NUMBER");
                             $("#EftInfoMessage").removeClass("infoMsg");
                             $("#EftInfoMessage").addClass("errMsg");
                         }
                     }
                 });
                 @*********************@

             });


     </text>
    }
    @***********************************************************@
    @if (PortalUtils.GetSysVars("LYONSATM") == "true")
    {<text>

         $("#AccountNum").live("blur",
             function() {
                 $.ajax({
                     type: "POST",
                     url: "@Url.Action("CheckAcctNum", "AjaxHelpers")",
                     dataType: 'json',
                     data: { aba: $('#ABA').val(), acctno: $("#AccountNum").val() },
                     cache: false,
                     success: function(jsondata) {
                         if (jsondata.actionType == "PASS") {
                             $("#btnAcceptPolicy").show();
                             $("#EftInfoMessage").html("Please complete the eft information to proceed ");
                             $("#EftInfoMessage").removeClass("errMsg");
                             $("#EftInfoMessage").addClass("infoMsg");
                         } else {
                             $("#btnAcceptPolicy").hide();
                             $("#EftInfoMessage").html(jsondata.reasondesc);
                             $("#EftInfoMessage").removeClass("infoMsg");
                             $("#EftInfoMessage").addClass("errMsg");
                         }
                     }
                 });
             });
         @***********************************************************@
         $.getJSON("@Url.Action("GetEftInfo", "AjaxHelpers")",
             {
                 policyNo: "@Sessions.Instance.PolicyNo"
             },
             function(data) {
                 if (data.returnMsg == "GOOD") {
                     $("#AccountType").attr("disabled", null);
                     $("#BankAcctType").attr("disabled", null);
                     $("#BankName").attr("disabled", null);
                     $("#ABA").attr("disabled", null);
                     $("#AccountNum").attr("disabled", null);

                     $("#BankName").val(data.acctBankName);
                     $("#ABA").val(data.acctAba);
                     $("#AccountNum").val(data.acctNumber);

                     $("#AccountType  option").each(function() {
                         if ($(this).text() == data.acctType) {
                             $(this).attr('selected', 'selected');
                         }
                     });

                     $("#BankAcctType option").each(function() {
                         if ($(this).text() == data.acctBankType) {
                             $(this).attr('selected', 'selected');
                         }
                     });

                     if ($("#BankName").val() != "" &&
                         $("#ABA").val() != "" &&
                         $("#ABA").val().length > 8 &&
                         $("#AccountNum").val() != "") {
                         //$("#btnAcceptPolicy").attr("disabled", null);
                         //$("#btnAcceptPolicy").removeClass("disabled");
                     }

                     $("#AccountNum").trigger("blur");
                 }
             });
         @***********************************************************@



     </text>
    }


    $(function() {
        @if (Model.Item1.CreditMsg != null)
        {
            if (Model.Item1.CreditMsg.Length > 0)
            {
                <text>
                    $("#crMsg").html("<span style=\"font-weight: bold;\">" +
                        "Credit score was 651, now is 651." +
                        "</span>");
                    $("#BtnOrderCreditReport").attr("disabled", "disabled");
                    $("#BtnOrderCreditReport").addClass("disabled");
                </text>
            }
            else
            {
                <text>

                    //   $("#btnOrderMvr").attr("disabled", "disabled");
                    //  $("#btnOrderMvr").addClass("disabled");
                </text>
            }
        }
        else
        {
            <text>

                // $("#btnOrderMvr").attr("disabled", "disabled");
                //$("#btnOrderMvr").addClass("disabled");
            </text>
        }

        @if (Model.Item1.Drivers[0].DriverMsg != null)
        {
            if (Model.Item1.Drivers[0].DriverMsg.Length > 0)
            {
                <text>

                    $("#mvrMsg").html("<span style=\"font-weight: bold;\">" +
                        "@Model.Item1.Drivers[0].DriverMsg" +
                        "</span>");
                    //  $("#btnOrderMvr").attr("disabled", "disabled");
                    // $("#btnOrderMvr").addClass("disabled");
                </text>
            }
            else
            {
                <text>

                    //  $("#btnAcceptPolicy").attr("disabled", "disabled");
                    //  $("#btnAcceptPolicy").addClass("disabled");
                </text>
            }
        }
        else
        {
            <text>

                //  $("#btnAcceptPolicy").attr("disabled", "disabled");
                //   $("#btnAcceptPolicy").addClass("disabled");
            </text>
        }


        @*$("#BtnOrderCreditReport").live("click", function () {
						$.ajax({
						type: "POST",
						url: "@Url.Action("GetLexisCs", "AjaxHelpers")",
						dataType: 'json',
						data: { policyno: "@Sessions.Instance.PolicyNo" },
						cache: false,
						success: function (jsondata) {
						if (jsondata.returnMsg == "SUCCESS") {
						$("#mvrMsg").html(" Please Order An MVR Before Proceeding");
						$("#main_PayPlan").attr("disabled", null);
						$("#btnOrderMvr").attr("disabled", null);
						$("#btnUpdatePayPlan").attr("disabled", null);
						$("#btnUpdatePayPlan").removeClass("disabled");
						$("#btnOrderMvr").removeClass("disabled");
						$("#main_PayPlan").removeClass("disabled");
						location.reload();
						}
						}
						});
						});*@
//        $("#BtnOrderCreditReport").on("click", function () {
//            $("#crMsg").html("<span style=\"font-weight: bold;\">" + "Credit score was 651, now is 651." + "</span>");
//            $.ajax({
//                type: "POST",
//                url: "@Url.Action("UpdateCreditMsg", "AjaxHelpers")",
//                dataType: 'json',
//                data: { msg: $('#crMsg').text(), quoteNo: "@Sessions.Instance.PolicyNo" },
//                success: function (result) {
//                    $("#btnOrderMvr").attr("disabled", null);
//                    $("#btnOrderMvr").removeClass("disabled");
//                }
//            });
//        });  $("#BtnOrderCreditReport").on("click", function () {
//            $("#crMsg").html("<span style=\"font-weight: bold;\">" + "Credit score was 651, now is 651." + "</span>");
//            $.ajax({
//                type: "POST",
//                url: "@Url.Action("UpdateCreditMsg", "AjaxHelpers")",
//                dataType: 'json',
//                data: { msg: $('#crMsg').text(), quoteNo: "@Sessions.Instance.PolicyNo" },
//                success: function (result) {
//                    $("#btnOrderMvr").attr("disabled", null);
//                    $("#btnOrderMvr").removeClass("disabled");
//                }
//            });
//        });
        $("#btnOrderMvr").on("click",
            function() {
                $("#mvrMsg").html("<span style=\"font-weight: bold;\">" +
                    "Driver " +
                    "@Model.Item1.Drivers[0].FirstName" +
                    " had 0 points, now has 0 points." +
                    "</span>");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateDriverMsg", "AjaxHelpers")",
                    dataType: 'json',
                    data: { msg: $('#mvrMsg').text(), quoteNo: "@Sessions.Instance.PolicyNo" },
                    success: function(result) {
                        $("#btnAcceptPolicy").attr("disabled", null);
                        $("#btnAcceptPolicy").removeClass("disabled");
                    }
                });

            });
        $("#btnUpdatePayPlan").on("click",
            function() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdatePayPlan", "AjaxHelpers")",
                    dataType: 'json',
                    data: { payplan: $('#main_PayPlan option:selected').val(), quoteNo: "@Sessions.Instance.PolicyNo" },
                    success: function(result) {
                        location.reload();
                    }
                });

            });
        @*function SaveDriverMessage() {
            var jsonData = { quoteNo: "@Sessions.Instance.PolicyNo", msg: "none" };
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateQuoteDriverMessage", "AjaxHelpers")",
                dataType: "json",
                data: JSON.stringify(jsonData),
                success: function (result) {
                }
            });
        };
        function SaveCreditMessage() {
            debugger;
            var quote = "@Sessions.Instance.PolicyNo"
            var msg = $("#crMsg").val()
            $.getJSON("@Url.Action("UpdateQuoteCreditMessage", "AjaxHelpers")", {
               quoteNo: quote, message: msg

            }, function (data) {

            });
        };*@
    });

</script>
@{
    ViewBag.Title = "Rated Quote";
    ///////////////////////////////////
    QuoteModel main = Model.Item1;
    DataSet coverages = Model.Item2;
    List<XpoAARatePayPlans> listPayPlans = Model.Item3;
    List<RatingInstallmentsDO> installments = Model.Item4;
    ///////////////////////////////////
    var payPlansDict = new Dictionary<int, string>();
    ///////////////////////////////////
    for (int i = 0; i < listPayPlans.Count; i++)
    {
        double payPlanDownPayment = listPayPlans[i].DP_AsPerc * 100;
        int installmentCount = (int)listPayPlans[i].Installments;
        bool EFT = listPayPlans[i].EFT == 1;
        string payPlanInstallments = installmentCount == 1 ? string.Format("{0} installment", installmentCount) : string.Format("{0} installments", installmentCount);
        string payPlanEnglish = EFT ? String.Format("{0}% down with {1} (EFT)", payPlanDownPayment, payPlanInstallments) : String.Format("{0}% down with {1}", payPlanDownPayment, payPlanInstallments);

        if (!payPlansDict.ContainsKey(listPayPlans[i].IndexID))
        {
            payPlansDict.Add(listPayPlans[i].IndexID, payPlanEnglish);
        }
    }
    ///////////////////////////////////
    SelectListItem[] payPlansDropDown = payPlansDict.Select(m => new SelectListItem()
    {
        Text = m.Value,
        Value = m.Key.ToString(),
        Selected = m.Key == main.PayPlan
    }).ToArray();
    ///////////////////////////////////
    foreach (DataRow dr in coverages.Tables["QuoteCoverageTable"].Rows)
    {
        if (!dr["LimitDesc"].ToString().Contains("Vehicle"))
        {
            ViewBag.SR22fee = dr["SR22fee"];
            ViewBag.MaintenanceFee = dr["MaintenanceFee"];
            ViewBag.mvrfee = dr["mvrfee"];
            ViewBag.PolicyFee = dr["PolicyFee"];
            ViewBag.PIPPDOnlyFee = dr["PIPPDOnlyFee"];
            ViewBag.TotalPremium = dr["PolicyWritten"];
        }
    } //END Coverages Tables
      ///////////////////////////////////
    bool hasMvRs = false;
    string mvrMsg = null;
    string mvrBtnDisable = "";
    string mvrDisableClass = "";
    string mvrShowBox = "display: none;";
    string mvrDisableAccept = "disabled=disabled";
    string mvrDisableAcceptClass = "disabled";
    string mvrNoticeRow = "";
    bool hasSuspLic = false;
    bool isLearners = false;
    bool hasDUI = false;

    using (UnitOfWork uow = XpoHelper.GetNewUnitOfWork())
    {
        XPCollection<PolicyQuoteDrivers> DriverMvr = new XPCollection<PolicyQuoteDrivers>(uow, true);
        DriverMvr.Criteria = CriteriaOperator.Parse("PolicyNo = ?", Sessions.Instance.PolicyNo);
        DriverMvr.Reload();
        DriverMvr.LoadingEnabled = true;
        DriverMvr.Load();


        XPCollection<PolicyQuoteDriversViolations> Violations = new XPCollection<PolicyQuoteDriversViolations>
            (uow, true);
        Violations.Criteria = CriteriaOperator.Parse("PolicyNo = ?", Sessions.Instance.PolicyNo);
        Violations.Reload();
        Violations.LoadingEnabled = true;
        Violations.Load();

        foreach (PolicyQuoteDriversViolations violations in Violations)
        {
            var octDate = new DateTime(2007, 10, 1, 0, 0, 0);
            var dateCompRes = DateTime.Compare(octDate, violations.ViolationDate);

            if (dateCompRes < 0)
            {
                if (violations.ViolationGroup != null)
                {
                    if (violations.ViolationGroup.ToUpper() == "DUI")
                    {
                        hasDUI = true;
                    }
                }
            }
        }

        foreach (PolicyQuoteDrivers driver in DriverMvr)
        {
            if (!string.IsNullOrEmpty(driver.DriverMsg) && !driver.Exclude)
            {
                hasMvRs = true;
                mvrMsg += "<div class='mvrDriver'>" + driver.DriverMsg + "</div>";
            }
            else if (string.IsNullOrEmpty(driver.DriverMsg) && !driver.Exclude && driver.LicenseSt != "I1")
            {
                hasMvRs = false;
            }

            if (driver.SuspLic)
            {
                hasSuspLic = true;
                mvrMsg += string.Format("<div class='mvrDriver'>{0} {1}'s license has been suspended.</div>", driver.FirstName, driver.LastName);
            }

            if (driver.DriverIndex == 1 && driver.IsLearners)
            {
                isLearners = true;
                mvrMsg += string.Format("<div class='mvrDriver'>Named insured cannot have a learners permit.</div>", driver.FirstName, driver.LastName);
            }
        }

        //if (hasMvRs)
        //{
        //    mvrBtnDisable = "disabled=disabled";
        //    mvrDisableClass = "disabled";
        //    mvrShowBox = "";
        //    mvrDisableAcceptClass = "";
        //    mvrDisableAccept = "";
        //    mvrNoticeRow = "display: none;";
        //}

        if (hasDUI)
        {
            mvrDisableAccept = "disabled=disabled";
            mvrDisableAcceptClass = "disabled";
            mvrBtnDisable = "disabled=disabled";
            mvrDisableClass = "disabled";
        }
    }
}

@{
    if (!string.IsNullOrEmpty(Sessions.Instance.RatingErrMsg))
    {
        Blowfish Blowfish = new Blowfish(Constants.blowfishKey);

        <div class='error'>
            @Sessions.Instance.RatingErrMsg
            <br /><br />
            @Html.ActionLink("Retry", "RateAndShow", "Quote", new { id = Blowfish.Encrypt_CBC(Sessions.Instance.PolicyNo) })
        </div>
    }
}

@{
    if (hasSuspLic)
    {
        <div class='error'>
            A driver on this policy has a suspeneded License. Unable to bind this quote.
        </div>
    }

    if (isLearners)
    {
        <div class='error'>
            A driver on this policy has a Learners Permit. Unable to bind this quote.
        </div>
    }

    if (hasDUI)
    {
        <div class='error'>
            A driver on this policy has DUI violation. You may return to the quote screen to view the violations.
        </div>
    }
}
@{
    if (PortalRightsUtils.HasRights("FAKE CYBERSOURCE PAYMENT", Sessions.Instance.AgentCode, true))
    {
        <div id="FakePayment">
            <table id="tblFakePayment" class="tbl50">

                <tbody>

                    <tr id="rowFakePayBtn">
                        <td>
                            Fake The Payment
                        </td>
                        <td>
                            <input type="submit" class="btnSubmit " value="Fake Payment" id="btnFakePayment" />
                        </td>
                    </tr>
                    <tr id="rowFakeDocsLink">
                        <td>
                            Documents
                        </td>
                        <td>
                            <div id="FakedDocumentsLink"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}

<h3>Coverage Information - @Sessions.Instance.PolicyNo - @main.FirstName1 @main.LastName1</h3>
<table class="viewPolicyTable">
    <tr>
        <th>
            Coverages
        </th>
        <th>
            Limits and Deductibles
        </th>
        <th colspan="11" align="center">
            Premiums
        </th>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td colspan="2">
            Vehicle 1
        </td>
        <td colspan="2">
            Vehicle 2
        </td>
        <td colspan="2">
            Vehicle 3
        </td>
        <td colspan="2">
            Vehicle 4
        </td>
        <td colspan="2">
            Vehicle 5
        </td>
    </tr>
    @{
        foreach (DataRow dr in coverages.Tables["QuoteCoverageTable"].Rows)
        {
            if (@dr["LimitDesc"].ToString().Contains("Vehicle Totals"))
            {
                <tr>
                    <td colspan="3">
                        <b>@dr["LimitDesc"]</b>
                    </td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 1"]).ToString("C")</td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 2"]).ToString("C")</td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 3"]).ToString("C")</td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 4"]).ToString("C")</td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 5"]).ToString("C")</td>

                </tr>
            }
            else
            {
                <tr>
                    <td colspan="">@dr["Coverage"]</td>
                    <td colspan="2">@dr["LimitDesc"]</td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 1"]).ToString("C")</td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 2"]).ToString("C")</td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 3"]).ToString("C")</td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 4"]).ToString("C")</td>
                    <td class="align-right" colspan="2">@Convert.ToDouble(@dr["Vehicle 5"]).ToString("C")</td>

                </tr>
            }
        }
    }
    <tr>
        <td colspan="3"></td>
        <td class="align-right" colspan="3">
            <b>SR22 FEE</b>
        </td>
        <td class="align-right" colspan="1">
            $@ViewBag.SR22fee
        </td>
        <td class="align-right" colspan="4">
            <b>Installment Set-up Fee</b>
        </td>
        <td class="align-right" colspan="2">
            $@ViewBag.MaintenanceFee
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td class="align-right" colspan="3">
            <b>MVR FEE</b>
        </td>
        <td class="align-right">
            $@ViewBag.mvrfee
        </td>
        <td colspan="2"></td>
        <td class="align-right" colspan="3">
            <b>Policy Fee</b>
        </td>
        <td class="align-right" colspan="1">
            $@ViewBag.PolicyFee
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td class="align-right" colspan="3">
            <b>PIP/PD Only Fee</b>
        </td>
        <td class="align-right">
            $@ViewBag.PIPPDOnlyFee
        </td>
        <td colspan="2"></td>
        <td class="align-right" colspan="3">
            <b>Total Policy:</b>
        </td>
        <td class="align-right" colspan="1">
            $@ViewBag.TotalPremium
        </td>
    </tr>

    <tr>
        <td align="center" colspan="13">
            <strong>This policy does not provide any coverage for which a specific premium charge is not shown.</strong>
        </td>
    </tr>
</table>

<div style="margin-top: 30px;">
    <h3 style="margin-top: 5px;">Please complete these final steps</h3>
    @if (Model.Item1.TotalVehiclesWithPhysicalDamage > 0)
    {
        <table style="margin-top: 30px;" id="CarsWithPhysicalDamageTable" class="tbl100">
            <thead>
                <tr>
                    <th style="font-weight: bold;" colspan="5">Images For Vehicles With Comp/Coll Coverage</th>
                </tr>
                <tr>
                    <th colspan="3">
                        <p style="color: red; font-weight: bold;">*** Vehicles with comp/coll coverage require at least two photos each before binding can proceed.</p>
                    </th>
                </tr>
                <tr class="tblHeaderRec">
                    <td>
                        Total Vehicles
                    </td>
                    <td>
                        Total Uploads Required
                    </td>
                    <td>
                        Total Images Uploaded
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Item1.TotalVehiclesWithPhysicalDamage
                    </td>
                    <td>
                        @(Model.Item1.TotalVehiclesWithPhysicalDamage * 2)
                    </td>
                    <td>
                        @Model.Item1.TotalPhysicalDamageImageUploads
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
        if (Model.Item1.PhysicalDamageImages != null && Model.Item1.PhysicalDamageImages.Any())
        {
            <table style="margin-top: 30px;" id="PhysicalDamageUploads" class="tbl100">
                <thead>
                    <tr>
                        <th style="font-weight: bold;" colspan="5">Uploaded Images</th>
                    </tr>
                    <tr class="tblHeaderRec">
                        <td>
                            Filename
                        </td>
                        <td>
                            Date
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AuditImageIndex physicalDamageImage in Model.Item1.PhysicalDamageImages)
                    {
                        <tr>
                            <td>
                                @physicalDamageImage.FileName
                            </td>
                            <td>
                                @physicalDamageImage.DateCreated.ToShortDateString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

            <div style="width: 100%;">
               
                <form action="/Quote/UploadPhysicalDamageImages" method="post" id="NewPhysicalDamageUploads" enctype="multipart/form-data">
                    <div id="drop_zone">
                        <input type="hidden" id="PolicyNo" name="PolicyNo" value="@Model.Item1.QuoteId" />
                        <table id="palms-upload" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;">
                                        <h3>Upload Documents</h3>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td id="DragAndDropMsg" colspan="3">
                                    <b>Drag files here to automate the upload process.</b>
                                </td>
                            </tr>
                            <tbody id="palms-upload-body">
                                <tr>
                                    <td colspan="2">
                                        <a href="javascript:void(0);" id="btnAddDocument" class="btnSubmit">Add Additional Document</a>
                                    </td>
                                    <td>
                                        <input type="button" id="btnUploadDocument" value="Upload" class="btnSubmit" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <input type="file" id="PortalUploads" name="files" />
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <a href="http://get.adobe.com/reader/" target="_blank">Download Adobe Reader</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <iframe id="UploadTarget" name="UploadTarget" style="position: absolute; left: -999em; top: -999em;"></iframe>
                    <div id="UploadedFiles"></div>

                    <div id="uploadingMsgDiv" class="warning" style="display: none; text-align: left;">
                        <p>Uploading....</p>
                    </div>
                    <div id="noFilesUploadedErrorMessageDiv" class="error" style="display: none; text-align: left;">
                        <p id="errorMessage">No files have been selected upload. Please select a file to upload before submitting.</p>
                    </div>
                </form>
                
                <table id="palms-upload" style="width: 100%;">
                        <thead>
                            <tr>
                                <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;">
                                    <h3>Upload Documents using Mobile App</h3>
                                </th>
                            </tr>
                            <tr>
                                <td id="note" colspan="3">
                                    <b style="font-size: 12px; color: red">IMPORTANT </b>
                                    <br>
                                    <br>
                                    <span style="line-height: 12px;">
                                        Clicking on the below button will send the email to insured and agent's email address with the link to upload vehicle images.
                                    </span>
                                </td>
                            </tr>
                        </thead>
                        <tbody id="palms-upload-body">
                            <tr>
                                <td colspan="2">
                                </td>
                                <td>
                                    @{
                                        var btnSendDeepLinkEmailText = Convert.ToBoolean(ViewBag.UploadImagesDeepLinkSent) ? "Re-Send Link to upload images" : "Send Link to upload images";
                                    }
                                    <input type="button" id="btnSendDeepLinkEmail" value="@btnSendDeepLinkEmailText" class="btnSubmit" />
                                </td>
                            </tr>
                            <tr>
                                <td id="DeepLinkEmailSentMsg" colspan="3">
                                </td>
                            </tr>
                        </tbody>                        
                    </table>

            </div>
    }
    <table style="margin-top: 30px;" id="FinalStepsTable" class="tbl100">
        <tr>
            <td>
                <label for="PayPlan">Select Pay Plan</label>
            </td>
            <td>
                @Html.DropDownListFor(m => main.PayPlan, payPlansDropDown, new { @class = "txtEdit100" })
            </td>
            <td>
                <a id="btnUpdatePayPlan" class="btnSubmit">Update Pay Plan</a>
            </td>
        </tr>
    </table>

    @if (installments != null)
    {
        <table class="tbl100">
            <thead>
                <tr>
                    <th style="font-weight: bold;" colspan="5">Installments</th>
                </tr>
                <tr class="tblHeaderRec">
                    <td>
                        Description
                    </td>
                    <td>
                        Date Due
                    </td>
                    <td>
                        Premium Due
                    </td>
                    <td>
                        Installment Fee
                    </td>
                    <td>
                        Amount Due
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (RatingInstallmentsDO rating in installments)
                {
                    string premDue = "";
                    string amtDue = "";
                    string installFee = rating.InstallmentFee.ToString();
                    if (rating.Descr == "Deposit")
                    {
                        premDue = rating.DownPymtAmount.ToString();
                        amtDue = rating.DownPymtAmount.ToString();
                    }
                    else
                    {
                        premDue = (rating.InstallmentPymt - rating.InstallmentFee).ToString();
                        amtDue = rating.InstallmentPymt.ToString();
                    }

                    <tr>
                        <td>
                            @rating.Descr
                        </td>
                        <td>
                            @rating.DueDate.ToShortDateString()
                        </td>
                        <td class="align-right">
                            $@Convert.ToDecimal(@premDue).ToString("n2")
                        </td>
                        <td class="align-right">
                            $@Convert.ToDecimal(@installFee).ToString("n2")
                        </td>
                        <td class="align-right">
                            $@Convert.ToDecimal(@amtDue).ToString("n2")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@{
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string depositAmount = "";
    if (installments.Any())
    {
        var depositInstallment = installments.FirstOrDefault(i => i.Descr.Equals("Deposit"));
        if (depositInstallment != null)
        {
            depositAmount = depositInstallment.DownPymtAmount.ToString();
        }
    }
}

@using (Html.BeginForm("CardConnectPayment", "Quote", FormMethod.Get, new { id = "frmAcceptPolicy" }))
{
<table style="margin-top: 30px;" class="tbl100">


    <tr>

        <td style="text-align: right;">
            <label>Request E-Signatures</label>
            @Html.CheckBoxFor(m => m.Item1.RequestESignature, new { id = "requestESignature", name = "requestESignature" })

        </td>

    </tr>
    <tr>
        <td style="text-align: right; font-weight: bold;">
            <label>Alternate E-Sign Email Address to be used for any agent E-Signatures for this policy. (Not Required)</label>
        </td>
    </tr>
    <tr>

        <td style="text-align: right;">
            <label>Agent E-Sign Email Address</label>
            @Html.TextBoxFor(m => m.Item1.AgentESignEmailAddress, new { id = "agentESignEmailAddress", name = "agentESignEmailAddress" })
        </td>

    </tr>


</table>


    <input type="hidden" name="quoteNo" value="@Sessions.Instance.PolicyNo" />
    <input type="hidden" name="minimumPayAmt" value="@depositAmount" />
    <input type="hidden" id="PaymentAmt" name="PaymentAmt" value="@depositAmount" />
    <input type="hidden" name="PolicyType" value="QUOTE" />

    
    bool agentCanBind = PortalRightsUtils.HasRights("ALLOW BINDING", Sessions.Instance.AgentCode, true);
    if (agentCanBind)
    {
        if (Model.Item1.TotalVehiclesWithPhysicalDamage > 0)
        {
            int totalNumberOfImagesRequired = Model.Item1.TotalVehiclesWithPhysicalDamage * 2; // 2 per vechicle
            if (Model.Item1.TotalPhysicalDamageImageUploads < totalNumberOfImagesRequired)
            {
                <input id="btnAcceptPolicy" disabled="disabled" type="submit" class="btnSubmit right disabled" value="Accept Policy"/>
            }
            else
            {
                <input id="btnAcceptPolicy" type="submit" class="btnSubmit right" value="Accept Policy"/>
            }
        }
        else
        {
            <input id="btnAcceptPolicy" type="submit" class="btnSubmit right" value="Accept Policy"/>
        }
    }
}

@*@using(Html.BeginForm("Download", "Quote", FormMethod.Post))
    {
    <input type="submit" value="Print Application" style="margin: 0px 15px 0px 0px;" class="btnSubmit right " id="btnPrintApplication" />

    @Html.ActionLink("Print Application", "Download", "Quote", null, new { @id = "btnPrintApplication", @class= "btnSubmit right" })
    }*@
<input type="submit" class="btnSubmit left" value="Back" id="QuoteGoBack" />

@Html.ActionLink("Preview Application", "Download", "Quote", null, new { @id = "btnPrintApplication", @class = "btnSubmit left", @target = "_blank" })

@{
    if (PortalRightsUtils.HasRights("FAKE CYBERSOURCE PAYMENT", Sessions.Instance.AgentCode, true))
    {
        <script type="text/javascript">

            $("#txtFakePayPass").live("blur",
                function() {
                    $("#txtFakePayPass").trigger("keypress");
                });

            $("#btnFakePayment").live("click",
                function() {
                    var urlToPost = "@Url.Action("Success", "Agent")";
                    $.post(urlToPost,
                        {
                            'pymntPolicyNumber': '@Sessions.Instance.PolicyNo',
                            'reasonCode': '100',
                            'ccAuthReply_amount': $("#PaymentAmt").val(),
                            'decision': 'ACCEPT',
                            'requestID': '3505780533340178147363',
                            'portalController': 'QUOTE;'
                        },
                        function(response) {
                            var successPage = $(response);
                            $("#rowFakeDocsLink").show();
                            $("#dc-slick-3 #tblFakePayment #FakedDocumentsLink").html(
                                "<a id='GenerateDocs' href=http://@System.Web.HttpContext.Current.Request.Url.Authority" +
                                successPage.find("#GenerateDocs").attr("href") +
                                ">Policy Documents</a>");
                        });
                });
            $("#btnSendDeepLinkEmail").live("click", function () {
                $.getJSON("@Url.Action("SendDeepLinkEmail", "AjaxHelpers")", {
                    policyNumber: "@Sessions.Instance.PolicyNo",
                }, function (response) {
                    if (response.isSuccess || false) {
                        $("#DeepLinkEmailSentMsg").html("<b>Email sent successfully</b>");
                        $("#DeepLinkEmailSentMsg").removeClass("error").addClass("success");
                        $("#btnSendDeepLinkEmail").attr("value", "Re-Send Link to upload images");
                    }
                    else {
                        $("#DeepLinkEmailSentMsg").html("<b>Failed to send the link to upload images. " + response.errorMessage+"</b>");
                        $("#DeepLinkEmailSentMsg").removeClass("success").addClass("error");
                    }
                });
            });
        </script>
    }
    if (!string.IsNullOrEmpty(main.ReWrittenFromPolicyNo))
    {
        <div id="reWritePolicyReasons" style="display:none;" title="ReWrite Policy Reasons">
            <table id="reWritePolicyReasonsTable" class="tbl100">
                <thead><tr><th>Reasons</th></tr></thead>
                <tbody></tbody>
            </table>
            <div style="margin-top:10px;">
                <label>Enter Note:</label>
                <textArea id="rewritePolicyNote" cols="70" rows="6"></textArea>
            </div>
        </div>
        <style type="text/css">
            .ui-dialog-titlebar .ui-dialog-title {
                font-size: medium !important;
                font-weight: normal !important;
            }
            .ui-dialog-titlebar {
                background: #4db8ff !important;
                color: black !important;
                border: none !important;
            }
            
             .ui-widget-content {
                background: #ffffff !important;
            }
            .ui-dialog-buttonset .ui-button, .ui-dialog-buttonset .ui-button-text 
            {
                background-color: #EEEEEE !important;
                background-image: -moz-linear-gradient(center top, #FEFEFE, #EEEEEE) !important;
                border-color: #AAAAAA !important;
                box-shadow: 0 1px 0 #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.15) !important;
                color: #111111 !important;
                /* text-shadow: 0 1px 0 #ffffff; */
                border-radius: 2px 2px 2px 2px !important;
                cursor: pointer;
                display: inline-block;
                font-family: Arial,sans-serif;
                font-size: 13px;
                line-height: 16px;
                /*padding: 4px 10px;*/
                font-weight: 400;
                -moz-box-sizing: border-box;
                background-clip: padding-box;
                border: 1px solid #000;
            }

         .ui-dialog-buttonset .ui-button:hover, .ui-dialog-buttonset .ui-button-text:hover 
        {
            background-color: #F2F2F2 !important;
            background-image: -moz-linear-gradient(center top, #ffffff, #F2F2F2) !important;
            border-color: #888888 !important;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !important;
        }

        .ui-dialog-buttonset .ui-button:active, .ui-dialog-buttonset .ui-button-text:active 
        {
            background-color: #EAEAEA !important;
            background-image: -moz-linear-gradient(center top, #FAFAFA, #EAEAEA) !important;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.2) !important;
        }
        </style>
        <script type="text/javascript">
            $(function () {
                $('#reWritePolicyReasons').dialog({
                    modal: true,
                    width: 700,
                    autoOpen: false,
                    classes: {
                        "ui-button-text": "btnSubmit"
                    },
                    buttons: {
                        "Continue To Accept Policy": function () {
                            debugger;
                            var noteEntered = $("#rewritePolicyNote").val();
                            var isSaved = false;
                            if ((noteEntered || "") != "") {
                                $.getJSON("@Url.Action("SaveRewritePolicyNotes", "AjaxHelpers")", {
                                    policyNo: "@Sessions.Instance.PolicyNo",
                                    reasonNote: noteEntered
                                }, function (result) {
                                    if (result.returnMsg == "SUCCESS") {
                                        $('#reWritePolicyReasons').dialog("close");
                                        //$("#btnAcceptPolicy").unbind("click").click();
                                        $("#frmAcceptPolicy").submit();
                                    }
                                    else {
                                        alert("Unable to save the notes for change. Please try again!");
                                    }
                                    }).error(function () { alert("Unable to save the notes for change. Please try again!") });

                                    //
                            }
                            else {
                                alert('Please enter note for reason for change!')
                            }
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });

            $.getJSON("@Url.Action("GetRewritePolicyReasons", "AjaxHelpers")", {
                policyNo: "@Sessions.Instance.PolicyNo"
            }, function (result) {
                if (result.returnMsg == "SUCCESS" && result.reasonsList!= null && result.reasonsList!= undefined && result.reasonsList.length > 0) {
                    var table = $("#reWritePolicyReasonsTable tbody");
                    $.each(result.reasonsList, function (idx, elem) {
                        table.append("<tr><td>" + elem + "</td></tr>");
                    });
                }
            });

            });
            $("#btnAcceptPolicy").live("click", function (e) {
                if ($("#reWritePolicyReasonsTable tbody tr").length > 0) {
                    $("#reWritePolicyReasons").dialog('open');
                    e.preventDefault();
                }
            });
        </script>
    }
}
