﻿@using AgentPortal.Models
@model List<AgentPortal.Models.LienHolderModel>

@Html.Hidden("DeletedLienHoldersIds", string.Empty)

<table class="tbl100" id="LienHoldersTable">
<thead>
    <tr>
        <th colspan="9">Lienholders</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>Address</td>
        <td>City</td>
        <td>State</td>
        <td>Zip</td>
        <td>Phone Number</td>
        <td colspan="2"></td>
    </tr>
</thead>
<tbody>
@if (Model != null)
{ 
    foreach (LienHolderModel lienHolder in Model)
    {
        <tr>
            <td>@lienHolder.Name</td>
            <td>@lienHolder.StreetAddress</td>
            <td>@lienHolder.City</td>
            <td>@lienHolder.State</td>
            <td>@lienHolder.ZIP</td>
            <td>@lienHolder.Phone</td>
            @*<td>@lienHolder.CarIndex</td>*@
            @*<td>@Html.ActionLink("EDIT", "Edit")</td>*@
            <td>@Ajax.ActionLink("Delete", "LienHolderDelete",
                                 new { id = lienHolder.ID }, null,
                            new { @class = "btnDelVehLH", dataLHId = lienHolder.ID, href = "#" })</td>
        </tr>
    }
}
    <tr id="addVehLienholderTr">
        <td colspan="9">
            <a href="javascript: void(0)" id="addLienHolder">Add Lienholder</a>
            <span id="VehLienholderChangeMsg" style="color:green;font-weight:bold;margin-left:75px;display:none;">
                Please Click on the Save Vehicle to apply the changes made to the Lienholders
            </span>
        </td>
    </tr>
</tbody>
</table>

