﻿@using AgentPortal.Models
@model List<AgentPortal.Models.VehicleModel>

<table class="tbl100" id="VehiclesTable">
<thead>
    <tr>
        <th colspan="13">Vehicles</th>
    </tr>
    <tr  class="tblHeaderRec">
        <td>#</td>
        <td>Year</td>
        <td>Make</td>
        <td>Model</td>
        <td>Body</td>
        <td>TT/CONV</td>
        <td>VIN</td>
        <td>Airbag</td>
        <td>ABS</td>
        <td>ATD</td>
        <td style="min-width:60px;max-width:60px;">PHYDAM</td>
        <td colspan="2"></td>
    </tr>
</thead>
<tbody>

    @{
        int i = 1;
    }
    @foreach (VehicleModel vehicle in Model)
    {

    <tr>
        <td>@(i++)</td>
        <td>@vehicle.Year</td>
        <td>@vehicle.Make</td>
        <td style="line-height:16px;">@vehicle.VehModel</td>
        <td>@vehicle.Style</td>
        <td>@vehicle.HasConvOrTT</td>
        <td>@vehicle.VIN</td>
        <td>@(vehicle.HasAirbag ? "Yes" : "No")</td>
        <td>@(vehicle.HasAntiLockBrakes ? "Yes" : "No")</td>
        <td>@(vehicle.HasAntiTheftDevice ? "Yes" : "No")</td>
        <td  style="min-width:60px;max-width:60px;">@(vehicle.HasPhyDam ? "Yes ("+ vehicle.ComprehensiveDeductible +")" : "No")</td>
        <td>
            @*@Ajax.ActionLink("Edit", "VehicleLoad", new { id = vehicle.VehicleId },
                new AjaxOptions() {
                    UpdateTargetId = "addVehicleForm",
                    OnSuccess = "onVehicleLoadSuccess"
                })*@
            @Html.ActionLink("Edit", "VehicleLoad", new { id = vehicle.VehicleId }) 
        </td>
        <td>
            @Ajax.ActionLink("Delete", "VehicleDelete", new { id = vehicle.VehicleId }, new AjaxOptions() {
                UpdateTargetId = "VehiclesTable"
            })
        </td>
    </tr>
        
        
    }
    <tr>
        <td colspan="14">
            @if (Model.Count < 5)
            {
            @*<a href="#" id="addVehicle">Add Vehicle</a>*@
                @Html.ActionLink("Add Vehicle", "AddVehicle");
            }
            else
            {
            <p>One policy may only have up to 5 vehicles</p>
            }
        </td>
    </tr>
</tbody>
</table>