﻿@using AgentPortal.Models
@model List<AgentPortal.Models.ViolationModel>

@{
    
}
<table id="ViolationsTable" class="tbl100">
<thead>
    <tr>
        <th colspan="6">Violations</th>
    </tr>
    <tr>
        <td>Description</td>
        <td>Date</td>
        <td>Points</td>
        <td></td>
    </tr>
</thead>
<tbody>

    @if (Model != null)
    {
        foreach (ViolationModel violation in Model)
        {
            <tr>
                <td>@violation.Description</td>
                <td>@violation.Date.ToShortDateString()</td>
                <td>@violation.Points</td>
                @{
                    if (!violation.FromMvr && !violation.FromAPlus && !violation.FromCV)
                    { 
                        <td>
                            @Ajax.ActionLink("Delete", "ViolationDelete",
                                new { id = violation.ViolationId},
                                new AjaxOptions() {
                                    UpdateTargetId = "ViolationsTable",
                                    OnBegin = "DiableAllDeleteViolationButtons",
                                    OnSuccess = "EnableAllDeleteViolationButons",
                                    OnComplete= "EnableAllDeleteViolationButons",
                                    OnFailure= "EnableAllDeleteViolationButons"
                                },new { @class = "violationDeleteBtn" })
                        </td>
                        }
                    }
            </tr>
        }
    }

    <tr>
        <td colspan="6">
            <a id="addViolation" href="javascript: void(0)">Add a Violation (Within last 36 months)</a>
        </td>
    </tr>
</tbody>

</table>
<script>
    function DiableAllDeleteViolationButtons() {
        $(".violationDeleteBtn")
            .attr('disabled', 'disabled')
            .css('cursor', 'not-allowed')
            .attr('title', 'Processing Delete violation request...');
    }
    function EnableAllDeleteViolationButons() { 
        $(".violationDeleteBtn")
            .removeAttr('disabled')
            .css('cursor', 'pointer')
            .attr('title', '');
    }
</script>