﻿@model AgentPortal.Models.AddressModel

<tr>
    <td>Street</td>
    <td>
        @Html.TextBoxFor(m => m.StreetAddress, new { @class = "textEdit" })
        @Html.ValidationMessageFor(m => m.StreetAddress)
    </td>
</tr>
<tr>
    <td>City/State/ZIP</td>
    <td>
        @Html.DropDownListFor(m => m.City, new[] {
            new SelectListItem() { Text = "Find by Zip" }
        }, new { disabled = "disabled", @class="textEdit" })
        @*@Html.TextBoxFor(m => m.City, new { @class = "txtEdit27", disabled = "disabled" })*@
        @Html.TextBoxFor(m => m.State, new { size = 2, @class = "txtEdit27", disabled = "disabled" })
        @Html.TextBoxFor(m => m.ZIPCode, new { size = 6, @class = "txtEdit27 zipcode" })
        @Html.ValidationMessageFor(m => m.City)
        @Html.ValidationMessageFor(m => m.State)
        @Html.ValidationMessageFor(m => m.ZIPCode)
    </td>
</tr>