﻿@model AgentPortal.Models.InsuredModel

    <td>@Html.TextBoxFor(m => m.FirstName, new { size = "5", @class="textEdit" })</td>
    <td>@Html.TextBoxFor(m => m.MiddleInitial, new { size = "1", @class = "txtEdit65" })</td>
    <td>@Html.TextBoxFor(m => m.LastName, new { @class = "textEdit" })</td>
    <td>@Html.TextBoxFor(m => m.Suffix, new { size = "6", @class = "txtEdit80" })</td>
</tr>
<tr>
    <td colspan="5" class="insuredValidationRow">
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.MiddleInitial)
        @Html.ValidationMessageFor(m => m.Suffix)
    </td>
