﻿@using PalmInsure;

@model AgentPortal.Models.VehicleModel

@{
    SelectListItem[] makes = new [] {
        new SelectListItem() {
            Text = Model != null && Model.Make != null
                ? Model.Make
                : "Enter Year",
            Selected = true
        }
    };
    SelectListItem[] models = new[] {
        new SelectListItem() {
            Text = Model != null && Model.VehModel != null
                ? Model.VehModel
                : "Select Make",
            Selected = true
        }
    };
    SelectListItem[] bodyStyles = new[] {
        new SelectListItem() {
            Text = Model != null && Model.Style != null
                ? Model.Style
                : "Select Model",
            Selected = true
        }
    };
    
    
    ViewData.TemplateInfo.HtmlFieldPrefix = "";
}

@Html.HiddenFor(m => m.QuoteId)
@Html.HiddenFor(m => m.VehicleId)

@using (Html.BeginForm("VehicleAdd", "Quote", new AjaxOptions()
{
    OnSuccess = "onVehicleAddSuccess",
    OnFailure = "onVehicleAddFailure",
    UpdateTargetId = "VehiclesTable"
}))
{
@Html.HiddenFor(m => m.IsEdit)    
@Html.HiddenFor(m => m.CarIndex)
@Html.HiddenFor(m => m.CompSymbol)
<div id="vinErrorMsg"></div>
<table class="tbl100">
    <tr>
        <th colspan="8">Vehicle Information</th>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.Year)
        </td>
        <td style="width: 12%;">
            @Html.TextBoxFor(model => model.Year, new { @class = "textEdit", @tabindex = "2" })
            @Html.ValidationMessageFor(model => model.Year)
        </td>
        <td style="width: 15px;">
            @Html.LabelFor(model => model.Make)
        </td>
        <td>
            @Html.DropDownListFor(model => model.Make, makes, new { @class = "txtEditAlt", disabled = "disabled", @tabindex = "3" })
        </td>
        <td style="width: 75px;">
            @Html.LabelFor(model => model.VehModel)
        </td>
        <td>
            @Html.DropDownListFor(model => model.VehModel, models, new { @class = "txtEditAlt", disabled = "disabled", @tabindex = "4" })
        </td>
        <td>
            @Html.LabelFor(model => model.Style)
        </td>
        <td>
            @Html.DropDownListFor(model => model.Style, bodyStyles, new { @class = "txtEditAlt", disabled = "disabled", @tabindex = "5" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.VIN)
        </td>
        <td colspan="7">        
            @Html.TextBoxFor(model => model.VIN, new { @class = "txtEdit99", @tabindex = "1", @maxlength = "20" })
            @Html.ValidationMessageFor(model => model.VIN)
        </td>
    </tr>
    <tr>
        <td  colspan="9">
            <div class="phydamChkbx textAlignCenter">
                <span>@Html.LabelFor(model => model.HasPhyDam)?</span>
                <span><label>Yes</label></span>@Html.RadioButtonFor(m => m.HasPhyDam, true, new { @tabindex = "6" })
                <span><label>No</label></span>@Html.RadioButtonFor(m => m.HasPhyDam, false, new { @tabindex = "6" })
                @Html.ValidationMessageFor(model => model.HasPhyDam)
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            @Html.CheckBoxFor(model => model.HasAntiLockBrakes, new { @tabindex = "7" })
            @Html.LabelFor(model => model.HasAntiLockBrakes)     
        </td>
        <td>
            @Html.CheckBoxFor(model => model.IsPurchasedNew, new { @tabindex = "8" })
            @Html.LabelFor(model => model.IsPurchasedNew)
        </td>
        <td colspan="2">
        </td>
        <td colspan="2">
        </td>
    </tr>
        
    <tr>
        <td></td>
        <td colspan="2">
            @Html.CheckBoxFor(model => model.HasAirbag, new { @tabindex = "9" })
            @Html.LabelFor(model => model.HasAirbag)
        </td>
        <td>
            @Html.CheckBoxFor(model => model.IsBusinessUse, new { @tabindex = "10" })
            @Html.LabelFor(model => model.IsBusinessUse)
        </td>
         <td>
            @Html.LabelFor(model => model.MilesToWork)
        </td>
        <td>
            @Html.TextBoxFor(model => model.MilesToWork, new { @class = "textEdit", @tabindex = "11" })
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td></td>
        <td colspan="2">
            @Html.CheckBoxFor(model => model.HasAntiTheftDevice, new { @tabindex = "12" })
            @Html.LabelFor(model => model.HasAntiTheftDevice)
        </td>
        <td>
            @Html.CheckBoxFor(model => model.Artisan, new { @tabindex = "12" })
            @Html.LabelFor(model => model.Artisan)
        </td>
        <td>
            @Html.LabelFor(model => model.AmountCustom)
        </td>
        <td>
            @Html.TextBoxFor(model => model.AmountCustom, new { @class = "textEdit" })
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td></td>
        <td colspan="2">
            @Html.CheckBoxFor(model => model.HasConvOrTT, new { @tabindex = "13" })
            @Html.LabelFor(model => model.HasConvOrTT)  
        </td>
        <td>
            @Html.CheckBoxFor(model => model.MoreThan10MilesToWk, new { @tabindex = "14" })
            @Html.LabelFor(model => model.MoreThan10MilesToWk)
        </td>
        <td colspan="4"></td>
    </tr>

</table>

@Html.DisplayFor(m => m.LienHolders)
    
<input id="btnAddVehicle" class="btnSubmit" tabindex="15" type="submit" value="@(Model == null ? "Save Vehicle" : "Save Vehicle")" />
}

<script type="text/javascript">
    $(document).ready(function() {
        if ($("#VIN").val() != "") {
            if ($("#VIN").val().length != 17) {
                $("#VIN").trigger("blur");
            }
            else {
                $("#Make").attr('disabled', null);
                $("#VehModel").attr('disabled', null);
                $("#Style").attr('disabled', null);
            }
        }
    });
</script>
