﻿@using PalmInsure;

@model AgentPortal.Models.ViolationAddModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";
    
    SelectListItem[] ViolationsDropDown = new[] {
        new SelectListItem() { Text = "SELECT"}
    };
}

@Html.HiddenFor(m => m.DriverId)
@Html.HiddenFor(m => m.DriverIndex)
<table class="tbl100 ViolationTable">
    <tr>
        <td>@Html.LabelFor(m => m.Description)</td>
        <td>
            @Html.DropDownListFor(m => m.Description, ViolationsDropDown)
            @Html.ValidationMessageFor(m => m.Description)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Date)</td>
        <td>
            @Html.EditorFor(m => m.Date)
            <br />
            <span class="date-field-custom-validation" style="font-size:small;"></span>
        </td>
    </tr>

</table>

<input class="btnSubmit"  type="submit" id="addDriverViolationBtnSubmit" value="Add Driver Violation" />