﻿@using AgentPortal.Models
@using PalmInsure.Palms.Utilities;
@model List<AgentPortal.Models.EndorsementDriverModel>

@{ 
    var endorsementModel = ViewBag.EndorsementModel as EndorsementPolicyModel;
    if(endorsementModel == null || endorsementModel.SelectedReasons==null || !endorsementModel.SelectedReasons.Any())
    {
        List<AgentEndorseReasons> selectedReasons = selectedReasons = ViewBag.EndorsementSelectedReasons as List<AgentEndorseReasons>;
        endorsementModel = new EndorsementPolicyModel() {  SelectedReasons = selectedReasons };
    }
    var driverEditReasons = new List<string> { "DrivInfo", "DrivName", "DrivViol", "EmpInfo", "ExcDriv", "LicInfo" };
    ViewBag.HighlightAddDriver = endorsementModel.HighlightField("AddDriv");
}

<table class="tbl100" id="DriversTable">
    <thead>
        <tr>
            <th colspan="12">Drivers</th>
        </tr>
        <tr class="tblHeaderRec">
            <td>#</td>
            <td>First</td>
            <td>Last</td>
            <td>MI</td>
            <td>Gender</td>
            <td>Married</td>
            <td>DoB</td>
            <td>License</td>
            <td>Excluded</td>
            <td colspan="2"></td>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (EndorsementDriverModel driver in Model)
        {
            var driverReasons = endorsementModel.SelectedReasons.Where(x => !string.IsNullOrEmpty(x.LicenseNo) && driver.OID.ToString() == x.LicenseNo);
            var highlightEdit = driverReasons.Any(x => driverEditReasons.Contains(x.ReasonCode));
            var highlightDel = driverReasons.Any(x => x.ReasonCode == "DelDriv");

            <tr>
                <td>@(i++)</td>
                <td>@driver.FirstName</td>
                <td>@driver.LastName</td>
                <td>@driver.MiddleInitial</td>
                <td>@driver.Gender</td>
                <td>@(driver.IsMarried ? "Yes" : "No")</td>
                <td>@{ string dDOB = driver.DateOfBirth.Parse<DateTime>().ToShortDateString(); @dDOB; }</td>
                <td>@driver.DriversLicense</td>
                <td>@driver.IsExcluded</td>
                <td class="deleteDriverTd" style="@(highlightEdit?"background-color:yellow" : string.Empty)">
                    @*@Ajax.ActionLink("Edit", "DriverLoad", new { id = driver.DriverId },
                        new AjaxOptions()
                        {
                            UpdateTargetId = "addDriverForm",
                            OnSuccess = "onDriverLoadSuccess"
                        }, new { @class = "editDriver", @id = "driver" + driver.DriverId, @name = "driver" + driver.DriverId })*@
                    @Html.ActionLink("Edit", "DriverLoad",  new { id = driver.DriverId, model = @Model }, new { id = "editDriver" , @class = "editEndorsementDriver" })
                </td>
                <td class="deleteDriverTd" style="@(highlightDel ? "background-color:yellow" : string.Empty)">
                    @if (!highlightDel)
                    {
                        @Html.ActionLink("Delete", "DriverDelete", new { id = driver.DriverId },
                       new { @class = "deleteDriver", href="#",
                           onclick ="alert('You can not delete this driver. The endorsement Reason DELETE DRIVER is not selected for the driver ("+driver.FirstName +" "+ driver.LastName+")');return false;" })
                    }
                    else
                    {
                        @Ajax.ActionLink("Delete", "DriverDelete", new { id = driver.DriverId }, new AjaxOptions()
                        {
                            UpdateTargetId = "DriversTable",
                            OnBegin = "endorseDriverDeleteOnBegin",
                            OnComplete = "endorseDriverDeleteOnComplete",
                            OnFailure = "EnableAllDeleteDriverButons"
                        }, new { @class = "deleteDriver" })

                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="12" style="@ViewBag.HighlightAddDriver">
                @if (Model.Count < 10)
                {
                    @*<a href="#" id="addDriver">Add Driver</a>*@
                    @Html.ActionLink("Add Driver", "AddDriver", new { id = "addDriver", tmpfName = "TempFirstName", tmplName = "TempLastName", tmpMI = "TempMI", tmpfName2 = "TempFirstName2", tmplName2 = "TempLastName2", tmpMI2 = "TempMI2" }, new { id = "addDriver" });
                    <br /><br />
                    @Html.Raw(ViewBag.AddDriverMsg)
                }
                else
                {
                    <p>One policy may only have up to 10 drivers</p>
                }
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#addDriver").live("click", function () {
            var fName = $("#FirstName1").val();
            var lName = $("#LastName1").val();
            var mi = $('#MiddleInitial1').val();
            var url = $(this).attr("href");
            url = url.replace("TempFirstName", fName);
            url = url.replace("TempLastName", lName);
            url = url.replace("TempMI", mi);

            var fName2 = $("#FirstName2").val();
            var lName2 = $("#LastName2").val();
            var mi2 = $('#MiddleInitial2').val();
            url = url.replace("TempFirstName2", fName2);
            url = url.replace("TempLastName2", lName2);
            url = url.replace("TempMI2", mi2);
            $(this).attr("href", url);
        });
    });
    function DisableAllDeleteViolationButtons() {
        $("#DriversTable .deleteDriver")
            .attr('disabled', 'disabled')
            .css('pointer-events', 'none')
            .css('cursor', 'not-allowed')
            .attr('title', 'Processing Delete Driver request...');
        $("#DriversTable .deleteDriverTd").css('cursor', 'not-allowed')
            .attr('title', 'Processing Delete Driver request...');;
    }
    function EnableAllDeleteDriverButons() {
        $("#DriversTable .deleteDriver")
            .removeAttr('disabled')
            .css('cursor', 'pointer')
            .css('pointer-events', 'auto')
            .attr('title', '');
        $("#DriversTable .deleteDriverTd").css('cursor', 'default').attr('title', '');;
    }
</script>