﻿@using AgentPortal.Models
@{
    var endorsementModel = ViewBag.EndorsementModel as EndorsementPolicyModel;
    var vehicleEditReasons = new List<string> { "CompColl", "AddVehPhyDam", "DelVehPhyDam", "VehInfo", "VehLH", "VehDed" };
}

<table class="tbl100" id="VehiclesTable">
    <thead>
        <tr>
            <th colspan="13">Vehicles</th>
        </tr>
        <tr class="tblHeaderRec">
            <td>#</td>
            <td>Year</td>
            <td>Make</td>
            <td>Model</td>
            <td>Body</td>
            <td>TT/CONV</td>
            <td>VIN</td>
            <td>Airbag</td>
            <td>ABS</td>
            <td>ATD</td>
            <td style="min-width:60px;max-width:60px;">PHYDAM</td>
            @*<td>Comp/Coll</td>*@
            <td colspan="2"></td>
        </tr>
    </thead>
    <tbody>

        @{
            int i = 1;
        }
        @foreach (EndorsementVehicleModel vehicle in Model)
        {
            var driverReasons = endorsementModel.SelectedReasons.Where(x => !string.IsNullOrEmpty(x.Vin) && vehicle.VIN != null
               && x.Vin.ToLower() == vehicle.VIN.ToLower());
            var highlightEdit = driverReasons.Any(x => vehicleEditReasons.Contains(x.ReasonCode));
            var highlightDel = driverReasons.Any(x => x.ReasonCode == "DelVeh");

            <tr>
                <td>@(i++)</td>
                <td>@vehicle.Year</td>
                <td>@vehicle.Make</td>
                <td style="line-height:16px">@vehicle.VehModel</td>
                <td>@vehicle.Style</td>
                <td>@vehicle.HasConvOrTT</td>
                <td>@vehicle.VIN</td>
                <td>@(vehicle.HasAirbag ? "Yes" : "No")</td>
                <td>@(vehicle.HasAntiLockBrakes ? "Yes" : "No")</td>
                <td>@(vehicle.HasAntiTheftDevice ? "Yes" : "No")</td>
                <td style="min-width:60px;max-width:60px;">@(vehicle.HasPhyDam ? "Yes (" + vehicle.ComprehensiveDeductible + ")" : "No")</td>
                @*<td>@(vehicle.HasPhyDam ? vehicle.ComprehensiveDeductible : string.Empty)</td>*@
                <td class="vehicleActionsTd" style="@(highlightEdit?"background-color:yellow" : string.Empty)">
                    @*@Ajax.ActionLink("Edit", "VehicleLoad", new { id = vehicle.VehicleId },
                        new AjaxOptions() {
                            UpdateTargetId = "addVehicleForm",
                            OnSuccess = "onVehicleLoadSuccess"
                        })*@
                    @Html.ActionLink("Edit", "VehicleLoad", new { id = vehicle.VehicleId }, new { @class = "editEndorseVehicle" })
                </td>
                <td class="vehicleActionsTd" style="@(highlightDel?"background-color:yellow" : string.Empty)">
                    @Ajax.ActionLink("Delete", "VehicleDelete", new { id = vehicle.VehicleId }, new AjaxOptions()
               {
                   UpdateTargetId = "VehiclesTable",
                   OnBegin = "endoreVehicleDeleteOnBegin",
                   OnComplete = "endoreVehicleDeleteOnComplete",
                   OnFailure = "endoreVehicleDeleteOnFailure",
                   OnSuccess = "endoreVehicleDeleteOnSuccess",
               }, new { @class = "deleteEndorseVehicle" })
                </td>
            </tr>


        }
        <tr>
            <td colspan="14" >
                @if (Model.Count < 5)
                {
                    @*<a href="#" id="addVehicle">Add Vehicle</a>*@
                    @Html.ActionLink("Add Vehicle", "AddVehicle",null, new { style=@ViewBag.HighlightAddVehicle });
                }
                else
                {
                    <p>One policy may only have up to 5 vehicles</p>
                }
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
    function endoreVehicleDeleteOnComplete() {
        console.log("endoreVehicleDeleteOnComplete");

        $("#VehiclesTable .deleteEndorseVehicle")
            .css('cursor', 'pointer')
            .attr('title', '')
            .removeAttr('disabled')
            .css('pointer-events', 'auto')
            .removeClass('disabled');
        $("#VehiclesTable .editEndorseVehicle")
            .css('cursor', 'pointer')
            .attr('title', '')
            .removeAttr('disabled')
            .css('pointer-events', 'auto')
            .removeClass('disabled');
        $("#VehiclesTable .vehicleActionsTd").css('cursor', 'default').attr('title', '');;

        $.ajax({
                type: "GET",
                url: "@Url.Action("GetEndorsementChangeTypes", "AjaxHelpers")",
                dataType: 'json',
                data: { policyNo: "@AgentPortal.Support.Utilities.Sessions.Instance.PolicyNo" },
                success: function (result) {

                    if (result != undefined && result.isSucess == true) {

                        if (result.onlyNonPremBearingChanges || result.premBearingChanges != true) {
                            $('#btnUpdateRates')
                                .attr('disabled', 'disabled')
                                .addClass('disabled');
                            $('#issueEndorsementSubmit')
                                .attr('disabled', 'disabled')
                                .addClass('disabled');
                        }
                        if (result.onlyNonPremBearingChanges) {
                            $("#btnNonPremBearing").css('display', 'block');
                        }
                        else if (result.premBearingChanges) {
                            $("#btnNonPremBearing").css('display', 'none');
                            $('#btnUpdateRates')
                                .removeAttr('disabled')
                                .removeClass('disabled');
                            //$('#issueEndorsementSubmit')
                            //    .removeAttr('disabled')
                            //    .removeClass('disabled');
                        }
                    }

                    $(".endorse-fields-update-processing").remove();
                    $("#endorse-action-buttons-div").css('pointer-events', 'auto').attr('title', '');
             },
             error: function () {
                 $(".endorse-fields-update-processing").remove();
                 $("#endorse-action-buttons-div")
                     .css('pointer-events', 'auto')
                     .attr('title', '');
             }
            });
    }

    function endoreVehicleDeleteOnBegin() {
        console.log("endoreVehicleDeleteOnBegin");
        $("#endorse-action-buttons-div").css('pointer-events', 'none').attr('title', ' Please Wait... Verifying the changes...');
        $("#btnUpdateRates").after("<div class='endorse-fields-update-processing' style='float:right;'><img src='/Content/images/update.gif' /> Please Wait...Verifying the Changes...</div>");

        $("#VehiclesTable .vehicleActionsTd").css('cursor', 'not-allowed')
            .attr('title', 'Processing Delete Vehicle request...');;
        $("#VehiclesTable .deleteEndorseVehicle")
            //.css('pointer-events', 'none')
            .css('cursor', 'not-allowed')
            .attr('title', 'Processing Delete Vehicle request...')
            .attr('disabled', 'disabled')
            .css('pointer-events', 'none')
            .attr('class', 'disabled');
        $("#VehiclesTable .editEndorseVehicle")
            //.css('pointer-events', 'none')
            .css('cursor', 'not-allowed')
            .attr('title', 'Processing Delete Vehicle request...')
            .attr('disabled', 'disabled')
            .css('pointer-events', 'none')
            .attr('class', 'disabled');
    }
    function endoreVehicleDeleteOnFailure() {
        console.log("endoreVehicleDeleteOnFailure")

    }
    function endoreVehicleDeleteOnSuccess() {
        console.log("endoreVehicleDeleteOnSuccess")

    }
</script>