﻿@using AgentPortal.Models
@model List<AgentPortal.Models.EndorsementVehicleModel>
@{ 
    var endorsementModel = ViewBag.EndorsementModel as EndorsementPolicyModel;
    if (endorsementModel == null || endorsementModel.SelectedReasons == null || !endorsementModel.SelectedReasons.Any())
    {
        List<AgentEndorseReasons> selectedReasons = selectedReasons = ViewBag.EndorsementSelectedReasons as List<AgentEndorseReasons>;
        endorsementModel = new EndorsementPolicyModel() { SelectedReasons = selectedReasons };
    }
    var vehicleEditReasons = new List<string> { "CompColl", "DelVehPhyDam", "VehInfo", "VehLH" };

    ViewBag.HighlightAddVehicle = endorsementModel.HighlightField(null, null, "AddVehWithoutPhyDam", "AddVehWithPhyDam");

    var missingEndorseReasons = ViewBag.MissingReasonList as List<AgentEndorseReasons>;
}
<table class="tbl100" id="VehiclesTable">
    <thead>
        <tr>
            <th colspan="13">Vehicles</th>
        </tr>
        <tr class="tblHeaderRec">
            <td>#</td>
            <td>Year</td>
            <td>Make</td>
            <td>Model</td>
            <td>Body</td>
            <td>TT/CONV</td>
            <td>VIN</td>
            <td>Airbag</td>
            <td>ABS</td>
            <td>ATD</td>
            <td>PHYDAM</td>
            <td colspan="2"></td>
        </tr>
    </thead>
    <tbody>

        @{
            int i = 1;
        }
        @foreach (EndorsementVehicleModel vehicle in Model)
        {
            var driverReasons = endorsementModel.SelectedReasons.Where(x => !string.IsNullOrEmpty(x.Vin) && vehicle.VIN != null
                           && x.Vin.ToLower() == vehicle.VIN.ToLower());
            var highlightEdit = driverReasons.Any(x => vehicleEditReasons.Contains(x.ReasonCode));
            var highlightDel = driverReasons.Any(x => x.ReasonCode == "DelVeh");

            <tr>
                <td>@(i++)</td>
                <td>@vehicle.Year</td>
                <td>@vehicle.Make</td>
                <td>@vehicle.VehModel</td>
                <td>@vehicle.Style</td>
                <td>@vehicle.HasConvOrTT</td>
                <td>@vehicle.VIN</td>
                <td>@(vehicle.HasAirbag ? "Yes" : "No")</td>
                <td>@(vehicle.HasAntiLockBrakes ? "Yes" : "No")</td>
                <td>@(vehicle.HasAntiTheftDevice ? "Yes" : "No")</td>
                <td>@(vehicle.HasPhyDam ? "Yes" : "No")</td>
                <td class="vehicleActionsTd" style="@(highlightEdit?"background-color:yellow" : string.Empty)">
                    @*@Ajax.ActionLink("Edit", "VehicleLoad", new { id = vehicle.VehicleId },
                        new AjaxOptions() {
                            UpdateTargetId = "addVehicleForm",
                            OnSuccess = "onVehicleLoadSuccess"
                        })*@
                    @Html.ActionLink("Edit", "VehicleLoad", new { id = vehicle.VehicleId }, new { @class = "editEndorseVehicle" })
                </td>
                <td class="vehicleActionsTd" style="@(highlightDel?"background-color:yellow" : string.Empty)">
                    @Ajax.ActionLink("Delete", "VehicleDelete", new { id = vehicle.VehicleId }, new AjaxOptions()
               {
                   UpdateTargetId = "VehiclesTable",
                   OnBegin = "endoreVehicleDeleteOnBegin",
                   OnComplete = "endoreVehicleDeleteOnComplete",
                   OnFailure = "endoreVehicleDeleteOnFailure",
                   OnSuccess = "endoreVehicleDeleteOnSuccess",
               }, new { @class = "deleteEndorseVehicle" })
                </td>
            </tr>


        }
        <tr>
            <td colspan="14" style="@ViewBag.HighlightAddVehicle">
                @if (Model.Count < 5)
                {
                    @*<a href="#" id="addVehicle">Add Vehicle</a>*@
                    @Html.ActionLink("Add Vehicle", "AddVehicle");
                    <br /><br />
                    @Html.Raw(ViewBag.AddVehWithoutPhyDamMsg)
                    if (!string.IsNullOrEmpty(ViewBag.AddVehWithoutPhyDamMsg))
                    {
                        <br/>
                    }
                    @Html.Raw(ViewBag.AddVehWithPhyDamMsg)
                }
                else
                {
                    <p>One policy may only have up to 5 vehicles</p>
                }
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
    function vehicleDeleteOnComplete() {
        console.log("vehicleDeleteOnComplete")
    }
    function vehicleDeleteOnBegin() {
        console.log("vehicleDeleteOnBegin")

    }
    function vehicleDeleteOnFailure() {
        console.log("vehicleDeleteOnFailure")

    }
    function vehicleDeleteOnSuccess() {
        console.log("vehicleDeleteOnSuccess")

    }
</script>