﻿@using AgentPortal.Models
@model List<AgentPortal.Models.EndorsementViolationModel>

@{

}
<table id="ViolationsTable" class="tbl100">
<thead>
    <tr>
        <th colspan="6" style="@ViewBag.HighlightViolations">Violations</th>
    </tr>
    <tr>
        <td>Description</td>
        <td>Date</td>
        <td>Points</td>
        <td></td>
    </tr>
</thead>
<tbody>
    @if (Model != null)
    {
        foreach (EndorsementViolationModel violation in Model)
        {
            <tr>
                <td>@violation.Description</td>
                <td>@violation.Date.ToShortDateString()</td>
                <td>@violation.Points</td>
                @{
                    if (!violation.FromMvr && !violation.FromAplus && !violation.FromCV)
                    { 
                        <td>
                            @Ajax.ActionLink("Delete", "ViolationDelete",
                                new { id = violation.ViolationId },
                                new AjaxOptions() {
                                    UpdateTargetId = "ViolationsTable"
                                })
                        </td>
                        }
                    }
            </tr>
        }
    }

    <tr>
        <td colspan="6">
            <a id="addViolation" href="javascript: void(0)" style="">Add a Violation</a>
        </td>
    </tr>
    @if (!string.IsNullOrEmpty(ViewBag.ValidateViolations))
    {
        <tr><td colspan="6">@Html.Raw(ViewBag.ValidateViolations)</td></tr>
    }
</tbody>

</table>
