﻿@* <form method="post" action="/Agent/Search">             *@
@*     <table class="tblSearchPolicy"> *@
@*         <tbody> *@
@*             <tr> *@
@*                 <td> *@
@*                     <b>Search Within</b> *@
@*                 </td> *@
@*                 <td><input type="radio" value="10" name="NumDaysSearch" id="10Days"><label for="10Days">10 Days</label></td> *@
@*                 <td><input type="radio" value="30" name="NumDaysSearch" id="30Days" checked="checked"><label for="30Days">30 Days</label></td> *@
@*                 <td><input type="radio" value="90" name="NumDaysSearch" id="90Days"><label for="90Days">90 Days</label></td> *@
@*                 <td><input type="radio" value="36524" name="NumDaysSearch" id="AllDays"><label for="AllDays">All</label></td> *@
@*                 <td><input type="checkbox" name="IncludeCacelledPolicys"><label for="IncludeCacelledPolicys">Include Cancelled Policys</label></td> *@
@*                 <td></td> *@
@*             </tr> *@
@*             <tr> *@
@*                 <td width="100"> *@
@* *@
@*                     <label for="InsuredName"><b>Insured Name</b></label>  *@
@*                 </td> *@
@*                 <td width="150"> *@
@*                     <input type="text" value="" name="InsuredName" id="InsuredName" class="textEdit"> *@
@*                     <span data-valmsg-replace="true" data-valmsg-for="InsuredName" class="field-validation-valid"></span> *@
@*                 </td> *@
@*                 <td style="text-align: center;"> *@
@*                     or *@
@*                 </td> *@
@*                 <td> *@
@*                     <label for="PolicyNo"><b>Policy Number</b></label> *@
@*                 </td> *@
@*                 <td> *@
@*                     <input type="text" value="" name="PolicyNo" id="PolicyNo"  class="textEdit"> *@
@*                     <span data-valmsg-replace="true" data-valmsg-for="PolicyNo" class="field-validation-valid"></span> *@
@*                 </td> *@
@*                 <td> *@
@*                     <input type="submit" class="btnSubmit width100" value="Search For Clients">  *@
@*                 </td> *@
@*             </tr> *@
@*         </tbody> *@
@*     </table> *@
@* </form> *@