﻿@using AgentPortal.Support
@using AgentPortal.Support.Utilities
@using PalmInsure
@using AgentPortal.Models

@model AgentPortal.Models.EndorsementDriverModel

@{
    var allReasons = TempData["agentEndorsementAllReasons"] as AllAgentEndorseReasons; //TempData["EndorsementUnselectedReasons"] as List<AgentEndorseReasons>;

    var drivReasons = new List<AgentEndorseReasons>();//ViewBag.VehicleEndorsementReasons as List<AgentEndorseReasons>;
    var drivUnselectedReasons = new List<AgentEndorseReasons>();
    var drivMissingReasons = new List<AgentEndorseReasons>();

    if (allReasons != null)
    {
        if (allReasons.Selected != null)
        {
            drivReasons = allReasons.Selected.Where(x => x.LicenseNo != null && Model.OID.ToString() ==x.LicenseNo).ToList();
        }
        if (allReasons.UnSelected != null)
        {
            drivUnselectedReasons = allReasons.UnSelected.Where(x => x.LicenseNo != null && Model.OID.ToString() == x.LicenseNo).ToList();
        }
        if (allReasons.Missing != null)
        {
            drivMissingReasons = allReasons.Missing.Where(x => x.LicenseNo != null && Model.OID.ToString() == x.LicenseNo).ToList();
        }
    }
    ViewBag.HighlightViolations = AgentUtils.HighlightEndorseField(drivReasons, "DrivViol");

    ViewBag.ValidateViolations = AgentUtils.ValidateEndorseField(drivMissingReasons, drivUnselectedReasons, "Vioaltions", "DrivViol");

    ViewData.TemplateInfo.HtmlFieldPrefix = "";

    SelectListItem[] states = StaticData.USAStates
        .Select(m => new SelectListItem()
        {
            Text = m.Value,
            Value = m.Key,
            Selected = m.Key == "FL"
        }).ToArray();


    SelectListItem[] GenderList = new[] {
        new SelectListItem() { Text = "SELECT" },
        new SelectListItem() { Text="MALE" },
        new SelectListItem() { Text="FEMALE" }
    };


    SelectListItem[] RelationList = new[] {
        new SelectListItem() { Text = "INSURED" },
        new SelectListItem() { Text="CHILD" },
        new SelectListItem() { Text="BROTHER/SISTER" },
        new SelectListItem() { Text="PARENT" },
        new SelectListItem() { Text="SELF" },
        new SelectListItem() { Text="SPOUSE" },
        new SelectListItem() { Text="SON" },
        new SelectListItem() { Text="DAUGHTER" },
        new SelectListItem() { Text="OTHER" },
        new SelectListItem() { Text="NONRELATIVE" }
    };
}

@Html.HiddenFor(m => m.PolicyID)
@Html.HiddenFor(m => m.DriverId)

@using (Html.BeginForm("DriverAdd", "Agent", new AjaxOptions()
{
    OnSuccess = "onDriverAddSuccess",
    OnFailure = "onDriverAddFailure",
    UpdateTargetId = "DriversTable"
}))
{
    if (Model != null && Model.ValidationErrors != null)
    {
        foreach (ModelState modelState in Model.ValidationErrors.Values)
        {
            foreach (ModelError error in modelState.Errors.Where(e => !e.ErrorMessage.Contains("Invalid model state")))
            {
                <p class="error">
                    @error.ErrorMessage
                </p>
            }
        }
    }
    @Html.HiddenFor(m => m.IsEdit)
    @Html.HiddenFor(m => m.DriverIndex)
    @Html.HiddenFor(m => m.OldDlNum)
    <div id="driverErrMsg"></div>

    <table class="tbl100">
        <tr>
            <th colspan="5">Personal Information</th>
        </tr>
        <tr>
            <td style="@AgentUtils.HighlightEndorseField(drivReasons,"DrivName")">@Html.LabelFor(m => m.FirstName)</td>
            <td>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "textEdit", @tabindex = "1", @id = "FirstName" })
                @Html.ValidationMessageFor(m => m.FirstName)
                @Html.Raw(AgentUtils.ValidateEndorseField(drivMissingReasons, drivUnselectedReasons,null, "DrivName"))
            </td>


            <td style="@AgentUtils.HighlightEndorseField(drivReasons,"DrivInfo")">@Html.LabelFor(m => m.DateOfBirth)</td>
            <td>
                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "textEdit", @tabindex = "5", @id = "DateOfBirth" })
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </td>
        </tr>
        <tr>
            <td style="@AgentUtils.HighlightEndorseField(drivReasons,"DrivName")">@Html.LabelFor(m => m.MiddleInitial)</td>
            <td>
                @Html.TextBoxFor(m => m.MiddleInitial, new { @size = "1", @class = "textEdit", @maxlength = "1", @tabindex = "2", @id = "MiddleInitial" })
                @Html.ValidationMessageFor(m => m.MiddleInitial)
            </td>
            <td style="@AgentUtils.HighlightEndorseField(drivReasons,"DrivInfo")">@Html.LabelFor(m => m.Gender)</td>
            <td>
                @* @Html.DropDownListForEnum(m => m.Gender)
                *@
                @Html.DropDownListFor(m => m.Gender, GenderList, new { @class = "textEdit", @tabindex = "6", @id = "Gender" })
                @Html.ValidationMessageFor(m => m.Gender)
            </td>
        </tr>
        <tr>
            <td style="@AgentUtils.HighlightEndorseField(drivReasons,"DrivName")">@Html.LabelFor(m => m.LastName)</td>
            <td>
                @Html.TextBoxFor(m => m.LastName, new { @class = "textEdit", @tabindex = "3", @id = "LastName" })
                @Html.ValidationMessageFor(m => m.LastName)
            </td>

            <td style="@AgentUtils.HighlightEndorseField(drivReasons,"DrivInfo")">    @Html.LabelFor(m => m.IsMarried)</td>
            <td>
                @Html.CheckBoxFor(m => m.IsMarried, new { @tabindex = "7" })
                @Html.ValidationMessageFor(m => m.IsMarried)
                @Html.Raw(AgentUtils.ValidateEndorseField(drivMissingReasons, drivUnselectedReasons, "Driver Info (DOB/Gender/Married)", "DrivInfo"))
            </td>
        </tr>
        <tr>
            <td style="@AgentUtils.HighlightEndorseField(drivReasons,"DrivName")">@Html.LabelFor(m => m.Suffix)</td>
            <td>
                @Html.TextBoxFor(m => m.Suffix, new { @class = "textEdit", @tabindex = "4" })
                @Html.ValidationMessageFor(m => m.Suffix)
            </td>

            <td>@Html.LabelFor(m => m.Relation)</td>
            <td>
                @*@Html.DropDownListForEnum(m => m.Relation)*@
                @Html.DropDownListFor(m => m.Relation, RelationList, new { @class = "textEdit", @tabindex = "8" })
                @Html.ValidationMessageFor(m => m.Relation)
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td style="@AgentUtils.HighlightEndorseField(drivReasons,"ExcDriv")">
                @Html.LabelFor(m => m.IsExcluded)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsExcluded, new { @tabindex = "9" })
                @Html.Raw(AgentUtils.ValidateEndorseField(drivMissingReasons, drivUnselectedReasons, "Is Excluded", "ExcDriv"))
            </td>
        </tr>
    </table>
    <table class="tbl100" style="float:left;">
        <tr>
            <th colspan="4"  style="@AgentUtils.HighlightEndorseField(drivReasons,"LicInfo")">License Information</th>
        </tr>
       
        <tr>
            <td>@Html.LabelFor(m => m.IsInternationalLicense)</td>
            <td>@Html.CheckBoxFor(m => m.IsInternationalLicense, new { @tabindex = "10" })</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.HasSeniorDefDrvDisc)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.HasSeniorDefDrvDisc, new { @tabindex = "11" })
            </td>
            <td>
                @Html.LabelFor(m => m.SeniorDefDrvDate)
            </td>
            <td>
                @Html.TextBoxFor(m => m.SeniorDefDrvDate, new { @class = "textEdit", @tabindex = "12", @disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.SeniorDefDrvDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.HasSR22)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.HasSR22, new { @tabindex = "13", @disabled="disabled", @class="disabled" })
            </td>
            <td>
                @Html.LabelFor(m => m.SR22CaseNo)
            </td>
            <td>
                @Html.TextBoxFor(m => m.SR22CaseNo, new { @class = "textEdit disabled", @tabindex = "14", @disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.SR22CaseNo)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.LicenseState)</td>
            <td>
                @Html.DropDownListFor(m => m.LicenseState, states, new { @class = "textEdit", @tabindex = "16" })
            </td>
            <td>@Html.LabelFor(m => m.DriversLicense)</td>
            <td>
                @Html.TextBoxFor(m => m.DriversLicense, new { @class = "textEdit", @tabindex = "15", @maxlength = "20", @id = "DriversLicenseNumber" })
            </td>
        </tr>
        <tr class="validationRow">
            <td colspan="4">
                @Html.ValidationMessageFor(m => m.LicenseState)
                @Html.ValidationMessageFor(m => m.DriversLicense)
                @Html.Raw(AgentUtils.ValidateEndorseField(drivMissingReasons, drivUnselectedReasons, null, "LicInfo"))
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Unverifiable)</td>
            <td>@Html.CheckBoxFor(m => m.Unverifiable, new { @tabindex = "10", @disabled = "disabled" })</td>
            <td>@Html.LabelFor(m => m.DateLicensed)</td>
            <td>
                @Html.TextBoxFor(m => m.DateLicensed, new { @class = "date textEdit validateDate", @tabindex = "17" })
                @Html.ValidationMessageFor(m => m.DateLicensed)
            </td>
        </tr>
    </table>

    <table class="tbl49" style="float:left;">
        <tr>
            <th colspan="2" style="@AgentUtils.HighlightEndorseField(drivReasons,"EmpInfo")">Employer Information</th>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.EmployerName)</td>
            <td>
                @Html.TextBoxFor(m => m.EmployerName, new { @class = "textEdit", @tabindex = "18" })
                @Html.ValidationMessageFor(m => m.EmployerName)
                @Html.Raw(AgentUtils.ValidateEndorseField(drivMissingReasons, drivUnselectedReasons, null, "EmpInfo"))
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Occupation)</td>
            <td>
                @Html.TextBoxFor(m => m.Occupation, new { @class = "textEdit", @tabindex = "19" })
            </td>
        </tr>
    </table>
    <div class="clear"></div>

    <br />
    <br />

    <div>
        @if (Model.HasMVR)
        {
            <input type="button" name="orderMvrButton" id="orderMvrButton" value="Order MVR" disabled="disabled" class="disabled btnSubmit" />
        }
        else
        {
            <input type="button" name="orderMvrButton" id="orderMvrButton" value="Order MVR" class="btnSubmit" />
        }
    </div>
    <br />

    @Html.DisplayFor(m => m.Violations)
    <br />
    <br />

    @*<div class="clear"></div>*@
    if (Model.HasMVR)
    {
        <input class="btnSubmit" type="submit" tabindex="20" value="@(Model == null ? "Save Driver" : "Save Driver")" id="btnAddDriver" />

    }
    else
    {
        <input class="btnSubmit disabled" type="submit" disabled="disabled" tabindex="20" value="@(Model == null ? "Save Driver" : "Save Driver")" id="btnAddDriver" />
    }
    <input class="btnSubmit" type="button" tabindex="20" value="Go Back" id="btnGoBack" />
}
<div id="addViolationForm" style="display:none;" title="Add a Violation">
    @using (Ajax.BeginForm("ViolationAdd", "Agent", FormMethod.Post, new AjaxOptions()
    {
        OnSuccess = "onViolationAddSuccess",
        OnFailure = "onViolationAddFailure",
        UpdateTargetId = "ViolationsTable"
    }))
    {
        @Html.Editor("ViolationAddModel", "ViolationAddModel")
    }
</div>
<script type="text/javascript">
    jQuery.fn.extend({
        scrollToMe: function () {
            var x = jQuery(this).offset().top - 100;
            jQuery('html,body').animate({ scrollTop: x }, 500);
        }
    });
    function GenereateDLNumber() {
        var firstName = $("#FirstName").val();
        var lastName = $("#LastName").val();
        var middleInitial = $("#MiddleInitial").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GenerateDriversLicense", "AjaxHelpers")",
            datatype: "JSON",
            data: { fname: firstName, lname: lastName, mInitial: middleInitial, gender: $("#Gender").val(), dob: $("#DateOfBirth").val() },
            success: function (result) {
                $("#DriversLicenseNumber").val(result.dlnumber);
            },
            error: function (result) {

            }
        });
    }

    function ValidateDriverDl(dlNum) {
        $.getJSON("@Url.Action("ValidateDriversLicense", "AjaxHelpers")", {
            value: dlNum
        }, function (data) {
            if (data.returnMsg == "TRUE" || data.returnMsg == "UNLICENSED") {
                $("#btnAddDriver").attr("disabled", null);
                $("#btnAddDriver").removeClass("disabled");
                $("#driverErrMsg").removeClass("error");
                $("#driverErrMsg").html("");
            }

            if (data.returnMsg == "AUTO-GENERATED") {
                $("#btnAddDriver").attr("disabled", "disabled");
                $("#btnAddDriver").addClass("disabled");
                $("#driverErrMsg").addClass("error");
                $("#driverErrMsg").html("The drivers license number has been generated for you. Please add the last dash and digit to the drivers license number");
            }

            if (data.returnMsg == "NOT VALID") {
                $("#btnAddDriver").attr("disabled", "disabled");
                $("#btnAddDriver").addClass("disabled");
                $("#driverErrMsg").addClass("error");
                $("#driverErrMsg").html("The license entered is not valid");
            }
        });
    }

    $('#IsExcluded').live('change',
       function (e) {
            var hasMvr = ValidateIfDriverHasMvrForEndorsement();
            if ($("#IsExcluded").is(":checked")) {
                var disabledAttr = $("#btnAddDriver").attr("disabled");
                if (disabledAttr) {
                    $("#btnAddDriver").attr("disabled", null);
                    $("#btnAddDriver").removeClass("disabled");
                }
            } else if (!$("#IsExcluded").is(":checked") && hasMvr) {
                var disabledAttr = $("#btnAddDriver").attr("disabled");
                if (disabledAttr) {
                    $("#btnAddDriver").attr("disabled", null);
                    $("#btnAddDriver").removeClass("disabled");
                }
            } else if (!$("#IsExcluded").is(":checked") && !hasMvr) {
                $("#btnAddDriver").attr("disabled", "disabled");
                $("#btnAddDriver").addClass("disabled");
            }
        });
    $('#btnGoBack').live('click',
        function (e) {
            var iisServerName = '@ConfigSettings.ReadSetting("IIS_SERVER")';
            var policyNo = '@Sessions.Instance.PolicyNo';
            var server = 'https://www.palminsure.com/';
            if (iisServerName === 'IIS-AAINS-DEV') {
                server = "https://dev.palminsure.com/";
                //server = 'http://localhost:64428/';
            }
            var url = server + 'agent/endorsement?id=' + policyNo;
            window.location.href = url;
        });
    $('#addViolation').live('click', function (e) {
        e.preventDefault();
        var driverIndex;
        data = $.getJSON("@Url.Action("GetEndorseQuoteDriversCount", "AjaxHelpers")", {
            id: "@Sessions.Instance.PolicyNo"
            },
            function(data) {
                driverIndex = data.driverCount;
                if ($('#addDriverForm input[name=DriverIndex][type=hidden]').val() == "") {
                    $('#addViolationForm input[name=DriverIndex][type=hidden]').val(parseInt(driverIndex) + 1);
                } else {
                    $('#addViolationForm input[name=DriverIndex][type=hidden]')
                        .val($('#addDriverForm input[name=DriverIndex][type=hidden]').val());
                }
            });
        $('#addViolationForm').dialog('open');
    });
    $(function() {

        $('#addViolationForm').dialog({ modal: true, width: 700, autoOpen: false });

        SaveAsOriginal('ViolationsTable');
        
        $("#addDriverViolationBtnSubmit").click(function () { return IsValidAddViolationForm() });
        $("#addViolationForm #Date").change(function () {
            IsValidAddViolationForm();
        });
        $("#addViolationForm #Date").css('margin-bottom', '5px')
    });

        var IsValidAddViolationForm = function ($date, $violationForm) {
            $violationForm = $("#addViolationForm");
            $date = $violationForm.find($("#Date"));
            var $dateValidationSpan = $violationForm.find("span.date-field-custom-validation");
        if (!IsValidDate($date.val())) {
            $dateValidationSpan.html("Date must be entered in the format of m/d/yyyy");
            $dateValidationSpan.css('color', 'red');
            return false;
        }
        else {
            var dateNow = Date.parse('@DateTime.Now.ToString("MM/dd/yyyy")');
            var dateStringThreeYearsBack = '@DateTime.Now.AddMonths(-36).ToString("MM/dd/yyyy")';
            var dateThreeYearsBack = Date.parse(dateStringThreeYearsBack);
            var violationDate = Date.parse($date.val());
            if (dateNow < violationDate) {

                $dateValidationSpan.html("Violation Date can not be a future date.");
                $dateValidationSpan.css('color', 'red');
                return false;
            }
            else if (dateThreeYearsBack > violationDate) {
                $dateValidationSpan.html(" Violation Date can not be before " + dateStringThreeYearsBack + "(Should be with in last 36 months).");
                $dateValidationSpan.css('color', 'red');
                return false;
            }
            else {
                $dateValidationSpan.html('');
                return true;
            }
        }
    }

    $('#CompDed').change(function() {
        $('#CollDed').val($(this).val());
    });
    $('#CollDed').change(function() {
        $('#CompDed').val($(this).val());
    });
    $('#LicenseState').change(function () {
        var selectedVal = $('#LicenseState').val();
        if (selectedVal === "I1") {
            $('input[name=IsInternationalLicense]').attr('checked', true);
        } else {
            $('input[name=IsInternationalLicense]').attr('checked', false);
        }
    });
    var onViolationAddSuccess = function() {
        $("#addViolationForm").dialog('close');
        $("#addViolationForm").children('form')[0].reset();
        $("#addViolationForm #addDriverViolationBtnSubmit").removeAttr('disabled').removeClass('disabled');
    };
    var onViolationAddFailure = function() {
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    };

    function ValidateIfDriverHasMvrForEndorsement(method, onSuccessCallback) {
        var hasMvr = false;
        var driverIndex = @Model.DriverIndex;
        $.ajax({
            type: "POST",
            url: "@Url.Action("ValidateIfDriverHasMvrForEndorsement", "Agent")",
            datatype: "JSON",
            async: false,
            data: { driverIndex },
            success: function (result) {
                if (result.returnMsg === "Success" && result.hasMvr) {
                    hasMvr = true;
                }
            }
        });

        return hasMvr;
    }
    $(document).ready(function() {
        $('#orderMvrButton').live('click',
            function(e) {
                var firstName = $("#FirstName").val();
                var lastName = $("#LastName").val();
                var dob = $("#DateOfBirth").val();
                var licenseNo = $("#DriversLicenseNumber").val();
                var licenseNo = $("#DriversLicenseNumber").val();
                var licenseState = $("#LicenseState").val();
                var driverIndex = @Model.DriverIndex;
                $(this).after("<div class='palms-processingmsg'><img src='/Content/images/update.gif' /> Ordering Mvr...</div>");
                $("#orderMvrButton").attr("disabled", "disabled");
                $("#orderMvrButton").addClass("disabled");
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("OrderMvrForEndorsement", "Agent")",
                    datatype: "JSON",
                    data: { firstName, lastName, dob, licenseNo, licenseState, driverIndex },
                    success: function (result) {
                        if (result.mvrsMsg === "Successful") {
                            $("#btnAddDriver").attr("disabled", null);
                            $("#btnAddDriver").removeClass("disabled");
                            $(".warning").remove();
                            $(".palms-processingmsg").remove();
                            for (var i = 0; i < result.Violations.length; i++) {
                                var newRow = "<tr>" +
                                    "<td>" +
                                    result.Violations[i].Name +
                                    "</td> " +
                                    "<td>" +
                                    result.Violations[i].ViolationDate +
                                    "</td> " +
                                    "<td>" +
                                    result.Violations[i].ViolationPoints +
                                    "</td> " +
                                    "</tr>";
                                $("#ViolationsTable tbody tr:last").before(newRow)
                            }
                        } else {
                            $("#orderMvrButton").attr("disabled", null);
                            $("#orderMvrButton").removeClass("disabled");
                            $(".palms-processingmsg").remove();
                            $("#orderMvrButton").after("<div class='warning'><p>MVR order failed. Please ensure all entered information is valid.</p></div>");
                        }
                    }
                });
            });
        var lookupUrl = "@Url.Action("ViolationAutocomplete", "AjaxHelpers", new { id = "__Zip__" })";
        data = $.getJSON(lookupUrl, function (data) {

            if (data == null) {
                return;
            }
            var html = "";
            $.each(data, function (i, e) {
                html += "<option>" + e + "</option>";
            });
            $("#Description").html(html);
        });
        @if(!string.IsNullOrEmpty(Model.TempFirstName))
        {
            <text>
                $("#FirstName").val("@Model.TempFirstName");
            </text>
        }
        @if(!string.IsNullOrEmpty(Model.TempLastName))
        {
            <text>
                 $("#LastName").val("@Model.TempLastName");

            </text>
        }
        @if(!string.IsNullOrEmpty(Model.TempMI))
        {
            <text>
                 $("#MiddleInitial").val("@Model.TempMI");

            </text>
        }
        function IsValidToGenerateDLNum() {
            var isValid = false;
            var currDLNum = $("#DriversLicenseNumber").val();
            var currFirstName = $("#FirstName").val();
            var currLastName = $("#LastName").val();
            var currDOB = $("#DateOfBirth").val();
            var currMI = $("#MiddleInitial").val();
            var currGender = $("#Gender").val();
            if (currDOB != "" & currMI != "" & currGender != "SELECT" & currFirstName != "" & currLastName != "" & currDLNum === "") {
                isValid = true;
            }
            return isValid;
        }
        $("#DriversLicenseNumber").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        });
        $("#FirstName").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        }); $("#LastName").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        }); $("#Gender").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        }); $("#MiddleInitial").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        }); $("#DateOfBirth").live("blur", function () {
            if (IsValidToGenerateDLNum()) {
                GenereateDLNumber();
            }
        });
        $(document).on('submit', 'form', function () {
            var button = $(this).find('input[type="submit"]');
            setTimeout(function () {
                button.attr('disabled', 'disabled');
                button.addClass('disabled');
            }, 0);
        });
    });

    function IsValidDate(txtDate) {
        var currVal = txtDate;
        if (currVal == '')
            return false;
        var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
        var dtArray = currVal.match(rxDatePattern);

        if (dtArray == null)
            return false;

        dtMonth = dtArray[1];
        dtDay = dtArray[3];
        dtYear = dtArray[5];

        if (dtMonth < 1 || dtMonth > 12 || dtDay < 1 || dtDay > 31)
            return false;
        else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)
            return false;
        else if (dtMonth == 2) {
            var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
            if (dtDay > 29 || (dtDay == 29 && !isleap))
                return false;
        }
        return true;
    }
</script>
