﻿@using AgentPortal.Support.Utilities
@using AgentPortal.Models
@using PalmInsure

@model AgentPortal.Models.EndorsementVehicleModel

@{
    var allReasons = TempData["agentEndorsementAllReasons"] as AllAgentEndorseReasons; //TempData["EndorsementUnselectedReasons"] as List<AgentEndorseReasons>;

    var vehReasons = new List<AgentEndorseReasons>();//ViewBag.VehicleEndorsementReasons as List<AgentEndorseReasons>;
    var vehUnselectedReasons = new List<AgentEndorseReasons>();
    var vehMissingReasons = new List<AgentEndorseReasons>();

    if (allReasons != null)
    {
        if (allReasons.Selected != null)
        {
            vehReasons = allReasons.Selected.Where(x => x.Vin != null && Model.VIN != null && x.Vin.ToLower() == Model.VIN.ToLower()).ToList();
        }
        if (allReasons.UnSelected != null)
        {
            vehUnselectedReasons = allReasons.UnSelected.Where(x => x.Vin != null && Model.VIN != null && x.Vin.ToLower() == Model.VIN.ToLower()).ToList();
        }
        if (allReasons.Missing != null)
        {
            vehMissingReasons = allReasons.Missing.Where(x => x.Vin != null && Model.VIN != null && x.Vin.ToLower() == Model.VIN.ToLower()).ToList();
        }
    }
    ViewBag.HighlightLienholders = AgentUtils.HighlightEndorseField(vehReasons, "VehLH");




    //ViewBag.HighlightLienholders = AgentUtils.HighlightEndorseField(vehReasons, "VehLH");

    SelectListItem[] makes = new[] {
new SelectListItem() {
Text = Model != null && Model.Make != null
? Model.Make
: "Enter Year",
Selected = true
}
};
    SelectListItem[] models = new[] {
new SelectListItem() {
Text = Model != null && Model.VehModel != null
? Model.VehModel
: "Select Make",
Selected = true
}
};
    SelectListItem[] bodyStyles = new[] {
new SelectListItem() {
Text = Model != null && Model.Style != null
? Model.Style
: "Select Model",
Selected = true
}
};
    SelectListItem[] PhydamDeductibles = new[] {
new SelectListItem() { Text = "NONE"},
new SelectListItem() { Text = "250" },
new SelectListItem() { Text = "500" },
new SelectListItem() { Text = "1000" }
};

    ViewData.TemplateInfo.HtmlFieldPrefix = "";
}

@Html.HiddenFor(m => m.PolicyID)
@Html.HiddenFor(m => m.VehicleId)


@using (Html.BeginForm("VehicleAdd", "Agent", new AjaxOptions()
{
    OnSuccess = "onVehicleAddSuccess",
    OnFailure = "onVehicleAddFailure",
    UpdateTargetId = "VehiclesTable"
}))
{
    @Html.HiddenFor(m => m.IsEdit)
    @Html.HiddenFor(m => m.CarIndex)
    @Html.HiddenFor(m => m.CompSymbol)
    @Html.HiddenFor(m => m.CollSymbol)
    @Html.HiddenFor(m => m.BISymbol)
    @Html.HiddenFor(m => m.PDSymbol)
    @Html.HiddenFor(m => m.MPSymbol)
    @Html.HiddenFor(m => m.PIPSymbol)
    @Html.HiddenFor(m => m.EngineType)
    @Html.HiddenFor(m => m.CostNew)
    @Html.HiddenFor(m => m.ClassCode)
    @Html.HiddenFor(m => m.GrossVehicleWeight)
    @Html.HiddenFor(m => m.ARB)
    @Html.HiddenFor(m => m.ATD)

    @Html.ValidationSummary(true, "There were errors in the provided information.", new { @class = "error" })
    foreach (ModelState modelState in ViewData.ModelState.Values)
    {
        foreach (ModelError error in modelState.Errors.Where(e => !e.ErrorMessage.Contains("Invalid model state")))
        {
            <p class="error">
                @error.ErrorMessage
            </p>
        }
    }
    <div id="vinErrorMsg"></div>
    <table class="tbl100">
        <tr>
            <th colspan="8">Vehicle Information</th>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Year)
            </td>
            <td style="width: 12%;">
                @Html.TextBoxFor(model => model.Year, new { @class = "textEdit", @tabindex = "2", @id = "Year" })
                @Html.ValidationMessageFor(model => model.Year)
            </td>
            <td style="width: 15px;">
                @Html.LabelFor(model => model.Make)
            </td>
            <td>
                @Html.DropDownListFor(model => model.Make, makes, new { @class = "txtEditAlt", disabled = "disabled", @tabindex = "3", @id = "Make" })
            </td>
            <td style="width: 75px;">
                @Html.LabelFor(model => model.VehModel)
            </td>
            <td>
                @Html.DropDownListFor(model => model.VehModel, models, new { @class = "txtEditAlt", disabled = "disabled", @tabindex = "4", @id = "VehModel" })
            </td>
            <td>
                @Html.LabelFor(model => model.Style)
            </td>
            <td>
                @Html.DropDownListFor(model => model.Style, bodyStyles, new { @class = "txtEditAlt", disabled = "disabled", @tabindex = "5", @id = "Style" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.VIN)
            </td>
            <td colspan="6">
                @Html.TextBoxFor(model => model.VIN, new { @class = "txtEdit99", @tabindex = "1", @maxlength = "20", @id = "VIN" })
                @Html.ValidationMessageFor(model => model.VIN)
            </td>
            <td>
                @Html.ActionLink("Reset", "ResetVehicle")
            </td>
        </tr>
        <tr>
            <td colspan="4">
                @Html.LabelFor(model => model.HasPhyDam)?
                <label style="@AgentUtils.HighlightEndorseField(vehReasons, "AddVehPhyDam")">Yes</label>@Html.RadioButtonFor(m => m.HasPhyDam, true, new { @tabindex = "6" })
                <label style="@AgentUtils.HighlightEndorseField(vehReasons, "DelVehPhyDam")"> No</label>@Html.RadioButtonFor(m => m.HasPhyDam, false, new { @tabindex = "6" })
                @Html.ValidationMessageFor(model => model.HasPhyDam)
                @Html.Raw(AgentUtils.ValidateEndorseField(vehMissingReasons, vehUnselectedReasons,"Phy Dam", "AddVehPhyDam", "DelVehPhyDam"))
            </td>
            <td style="@AgentUtils.HighlightEndorseField(vehReasons, "CompColl")">
                @Html.LabelFor(model => model.ComprehensiveDeductible)
            </td>
            <td>
                @Html.DropDownListFor(m => m.ComprehensiveDeductible, PhydamDeductibles, new { @class = "textEdit" })
                @Html.ValidationMessageFor(model => model.ComprehensiveDeductible)
                @Html.Raw(AgentUtils.ValidateEndorseField(vehMissingReasons, vehUnselectedReasons, "Comp/Coll", "CompColl"))
            </td>
            <td style="@AgentUtils.HighlightEndorseField(vehReasons, "CompColl")">
                @Html.LabelFor(model => model.CollisionDeductible)
            </td>
            <td>
                @Html.DropDownListFor(m => m.CollisionDeductible, PhydamDeductibles, new { @class = "textEdit" })
            </td>
            @*<td colspan="9">
                    <div class="phydamChkbx textAlignCenter">
                        <span>@Html.LabelFor(model => model.HasPhyDam)?</span>
                        <span><label>Yes</label></span>@Html.RadioButtonFor(m => m.HasPhyDam, true, new { @tabindex = "6" })
                        <span><label>No</label></span>@Html.RadioButtonFor(m => m.HasPhyDam, false, new { @tabindex = "6" })
                        <span>@Html.LabelFor(model => model.ComprehensiveDeductible)</span>@Html.DropDownListFor(m => m.ComprehensiveDeductible, PhydamDeductibles, new { @class = "textEdit" })
                        <span>@Html.LabelFor(model => model.CollisionDeductible)</span>@Html.DropDownListFor(m => m.CollisionDeductible, PhydamDeductibles, new { @class = "textEdit" })
                        @Html.ValidationMessageFor(model => model.HasPhyDam)
                    </div>
                </td> *@
        </tr>
        <tr>
            <td style="font-weight: bold;@AgentUtils.HighlightEndorseField(vehReasons, "VehInfo")">Other</td>
            <td colspan="7">@Html.Raw(AgentUtils.ValidateEndorseField(vehMissingReasons, vehUnselectedReasons, "Vehicle Info", "VehInfo"))</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                @Html.CheckBoxFor(model => model.HasAntiLockBrakes, new { @tabindex = "7" })
                @Html.LabelFor(model => model.HasAntiLockBrakes)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.IsPurchasedNew, new { @tabindex = "8" })
                @Html.LabelFor(model => model.IsPurchasedNew)
            </td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>

        <tr>
            <td></td>
            <td colspan="2">
                @Html.CheckBoxFor(model => model.HasAirbag, new { @tabindex = "9" })
                @Html.LabelFor(model => model.HasAirbag)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.IsBusinessUse, new { @tabindex = "10" })
                @Html.LabelFor(model => model.IsBusinessUse)
            </td>
            <td>
                @Html.LabelFor(model => model.MilesToWork)
            </td>
            <td>
                @Html.TextBoxFor(model => model.MilesToWork, new { @class = "textEdit", @tabindex = "11" })
            </td>
            <td colspan="2"></td>
        </tr>

        <tr>
            <td></td>
            <td colspan="2">
                @Html.CheckBoxFor(model => model.HasAntiTheftDevice, new { @tabindex = "12" })
                @Html.LabelFor(model => model.HasAntiTheftDevice)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.Artisan, new { @tabindex = "12" })
                @Html.LabelFor(model => model.Artisan)
            </td>
            <td>
                @Html.LabelFor(model => model.AmountCustom)
            </td>
            <td>
                @Html.TextBoxFor(model => model.AmountCustom, new { @class = "textEdit" })
            </td>
            <td colspan="2"></td>
        </tr>

        <tr>
            <td></td>
            <td colspan="2">
                @Html.CheckBoxFor(model => model.HasConvOrTT, new { @tabindex = "13" })
                @Html.LabelFor(model => model.HasConvOrTT)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.MoreThan10MilesToWk, new { @tabindex = "14" })
                @Html.LabelFor(model => model.MoreThan10MilesToWk)
            </td>
            <td colspan="4"></td>
        </tr>

    </table>

    @Html.DisplayFor(m => m.LienHolders)

    <input id="btnAddVehicle" class="btnSubmit" tabindex="15" type="submit" value="@(Model == null ? "Save Vehicle" : "Save Vehicle")" />
    <input class="btnSubmit" type="button" tabindex="20" value="Go Back" id="btnGoBack" />
}

<div id="addLienHolderForm" style="display:none;" title="Add a Lienholder">
    @using (Ajax.BeginForm("LienHolderAdd", "Agent", FormMethod.Post, new AjaxOptions()
    {
        OnSuccess = "onLienHolderAddSuccess",
        OnFailure = "onLienHolderAddFailure",
        UpdateTargetId = "LienHoldersTable"
    },new { id="VehicleLienholderAddForm"}))
    {
        @Html.Editor("LienHolderAddModel", "LienHolderAddModel")
    }
</div>

<script type="text/javascript">
    jQuery.fn.extend({
        scrollToMe: function() {
            var x = jQuery(this).offset().top - 100;
            jQuery('html, body').animate({ scrollTop: x }, 500);
        }
    });
    $(document).ready(function () {
        function VinMakes() {
            var hasMake = '@Model.Make';
            if (!hasMake) {
                $.getJSON("@Url.Action("VinMakes", "AjaxHelpers")", {
                }, function (data) {
                    var html = "";
                    html += "<option>" + "SELECT MAKE" + "</option>";
                    $.each(data, function (i, e) {
                        html += "<option value=" + e.ISOCode + ">" + e.Make + "</option>"
                    });
                    $('#Make')
                        .html(html)
                        .attr('disabled', null);
                });
            }
        }


        VinMakes();

        $('#HasPhyDam').live('change', function () {
            if ($(this).val() == "True") {
                $('#ComprehensiveDeductible').prop('disabled', false);
                $('#CollisionDeductible').prop('disabled', false);
                $('#ComprehensiveDeductible').val(@ViewBag.CompDed);
                $('#CollisionDeductible').val(@ViewBag.CollDed);
            } else {
                $('#ComprehensiveDeductible').val('NONE');
                $('#CollisionDeductible').val('NONE');
                $('#ComprehensiveDeductible').prop('disabled', true);
                $('#CollisionDeductible').prop('disabled', true);
            }
        });

        $('#ComprehensiveDeductible').live('change', function () {
            var compded = $('#ComprehensiveDeductible').val();
            $('#CollisionDeductible').val(compded);
        });

        $('#CollisionDeductible').live('change', function () {
            var collded = $('#CollisionDeductible').val();
            $('#ComprehensiveDeductible').val(collded);
        });



        //Year Of Vehicle Drop Down.
        $('#Year').live('change', function () {
            $('#Make').attr('disabled', 'disabled');
            $('#VehModel').attr('disabled', 'disabled');
            $('#Style').attr('disabled', 'disabled');

            if (!$(this).valid()) {
                return;
            }

            $.getJSON("@Url.Action("VinMakes", "AjaxHelpers")", {
                year: $(this).val()
            }, function (data) {
                var html = "";
                html += "<option>" + "SELECT MAKE" + "</option>";
                $.each(data, function (i, e) {
                    html += "<option value=" + e.ISOCode + ">" + e.Make + "</option>"
                });
                $('#Make')
                    .html(html)
                    .attr('disabled', null);
            });
        });

        //Vehicle Make Drop Down
        $('#Make').live('change', function () {
            $('#VehModel').attr('disabled', 'disabled');
            $('#Style').attr('disabled', 'disabled');

            if (!$(this).valid()) {
                return;
            }

            $.getJSON("@Url.Action("SearchVehicles", "AjaxHelpers")", {
                year: $('#Year').val(),
                make: $(this).val()
            }, function (data) {
                if (data && data.FullModelName) {
                    var html = "";
                    html += "<option>" + "SELECT MODEL" + "</option>";

                    $.each(data.FullModelName, function (i, e) {
                        html += "<option>" + e + "</option>"
                    });

                    $('#VehModel')
                        .html(html)
                        .attr('disabled', null);
                }
            });
        });
        //######################################################################

        //Vehicle Model Drop Down
        $('#VehModel').live('change', function () {
            $('#Style').attr('disabled', 'disabled');

            if (!$(this).valid()) {
                return;
            }

            $.getJSON("@Url.Action("SearchVehicles", "AjaxHelpers")", {
                year: $('#Year').val(),
                make: $('#Make').val(),
                model: $(this).val()
            }, function (data) {
                if (data && data.BodyStyle) {
                    var html = "<option>Pick</option>";
                    $.each(data.BodyStyle, function (i, e) {
                        html += "<option>" + e + "</option>"
                    });

                    $('#Style')
                        .html(html)
                        .attr('disabled', null);
                }
            });
        });
        //######################################################################

        //Vehicle Style Drop Down
        $('#Style').live('change', function () {
            if (!$(this).valid())
                return;


            $.getJSON("@Url.Action("GetVehicleInfoByVin", "AjaxHelpers")", {
                year: $('#Year').val(),
                make: $('#Make').val(),
                model: $('#VehModel').val(),
                bodyStyle: $(this).val()
            }, function (data) {
                updateVehicleData(data.Vehicle, data.PhysicalDamage, data.Liability);
                $('#VIN').val(data.Vehicle.VIN);
            });
        });
        $("#ExpirationDate").attr("disabled", "disabled");

        //string agentcode, string firstname, string lastname
        $("#LastName1").live("blur", function() {
            $.getJSON("@Url.Action("CheckForExistingQuote", "AjaxHelpers")", {
                agentcode: "@Sessions.Instance.AgentCode",
                firstname: $("#FirstName1").val(),
                lastname: $("#LastName1").val()
            }, function(data) {
                $("#msg").html(data.returnQuotes);
                $("#msg").scrollToMe();
            });
        });
        $("#DriversLicense").live("blur", function () {
            ValidateDriverDl($("#DriversLicense").val());

            if ($("#DriversLicense").val().toLowerCase() == "unlicensed" || $("#DriversLicense").val().toLowerCase() == "permit") {
                $('#DateLicensed').attr('disabled', 'disabled');
            }
            else {
                $('#DateLicensed').attr('disabled', null);
            }
        });
        $("#MilesToWork").live("blur", function () {
            var hasExistingErr;

            if ($('#vinErrorMsg').hasClass('error')) {
                hasExistingErr = true;
            }

            if ($(this).val() != "") {
                if (parseFloat($(this).val()) > 50) {
                    $("#addVehicleForm .btnSubmit").attr("disabled", "disabled");
                    $("#addVehicleForm .btnSubmit").addClass("disabled");
                    $("#vinErrorMsg").addClass("error");
                    $("#vinErrorMsg").html("Miles to Work Exceed 50 Miles Per Day.");
                }
                else {

                    if (hasExistingErr) {
                        $("#VIN").trigger("blur");
                    }
                    else {
                        $("#addVehicleForm .btnSubmit").attr("disabled", null);
                        $("#addVehicleForm .btnSubmit").removeClass("disabled");
                        $("#vinErrorMsg").removeClass("error");
                        $("#vinErrorMsg").html("");
                    }
                }
            }
        });
        $("#VIN").live("blur", function(){
            if (!$(this).valid()) {
                return;
            }

            handleVinUpdate();

        });
        $('#btnGoBack').live('click',
            function (e) {
                var iisServerName = '@ConfigSettings.ReadSetting("IIS_SERVER")';
                var policyNo = '@Sessions.Instance.PolicyNo';
                var server = 'https://www.palminsure.com/';
                if (iisServerName === 'IIS-AAINS-DEV') {
                    server = "https://dev.palminsure.com/";
                    //server = 'http://localhost:64428/';
                }
                var url = server + 'agent/endorsement?id=' + policyNo;
                window.location.href = url;
            });
        $('#addLienHolder').live('click', function (e) {
            var vin = $('#VIN').val();
            if (vin.length == 17) {
                e.preventDefault();

                var carIndex;

                data = $.getJSON("@Url.Action("GetQuoteCarsCount", "AjaxHelpers")", {
                    id: "@Sessions.Instance.PolicyNo"
                }, function (data) {
                    carIndex = data.carCount;

                    if ($('#addVehicleForm input[name=CarIndex][type=hidden]').val() == "") {
                        $('#addLienHolderForm input[id=CarIndex][type=hidden]').val(parseInt(carIndex) + 1);

                    }
                    else {
                        $('#addLienHolderForm input[id=CarIndex][type=hidden]').val($('#addVehicleForm input[name=CarIndex][type=hidden]').val());
                    }
                });

                $('#VehicleLienholderAddForm').trigger('reset')
                $('#addLienHolderForm').dialog('open');
            }
            else {
                alert("Must have a Valid VIN of 17 characters in length");
            }
        });
    });
            function updateVehicleData(vehicleData, physcialDamageData, liabilityData) {
            if (!vehicleData) {
                $("#btnAddVehicle").attr("disabled", "disabled");
                $("#btnAddVehicle").addClass("disabled");
                $("#vinErrorMsg").addClass("error");
                $("#vinErrorMsg").html("This vehicle's VIN is not in our records, cannot add this vehicle.");
                return;
            }

            $("#btnAddVehicle").attr("disabled", null);
            $("#btnAddVehicle").removeClass("disabled");
            $("#vinErrorMsg").removeClass("error");
            $("#vinErrorMsg").html("");
            $("#Make").attr('disabled', null);
            $("#VehModel").attr('disabled', null);
            $("#Style").attr('disabled', null);
            $("#Year").val(vehicleData.ModelYear);
            $("#Make").html('<option>' + vehicleData.Make + '</option>');
            $("#VehModel").html('<option>' + vehicleData.FullModelName + '</option>');
            $("#Style").html('<option>' + vehicleData.BodyStyle + '</option>');
            if (physcialDamageData.RiskAnalyzerCollisionRatingSymbol2010Prior) {
                $("#CollSymbol").val(physcialDamageData.RiskAnalyzerCollisionRatingSymbol2010Prior);
                $("#HasPhyDam").attr("checked", true);
                $('#ComprehensiveDeductible').prop('disabled', false);
                $('#CollisionDeductible').prop('disabled', false);
                $('#ComprehensiveDeductible').val('@ViewBag.CompDed');
                $('#CollisionDeductible').val('@ViewBag.CollDed');
            } else if(physcialDamageData.RiskAnalyzerCollisionRatingSymbol2011Subsequent) {
                $("#CollSymbol").val(physcialDamageData.RiskAnalyzerCollisionRatingSymbol2011Subsequent);
                $("#HasPhyDam").attr("checked", true);
                $('#ComprehensiveDeductible').prop('disabled', false);
                $('#CollisionDeductible').prop('disabled', false);
                $('#ComprehensiveDeductible').val('@ViewBag.CompDed');
                $('#CollisionDeductible').val('@ViewBag.CollDed');
            }
            if (physcialDamageData.RiskAnalyzerComprehensiveRatingSymbol2010Prior) {
                $("#CompSymbol").val(physcialDamageData.RiskAnalyzerComprehensiveRatingSymbol2010Prior);
                $("#HasPhyDam").attr("checked", true);
                $('#ComprehensiveDeductible').prop('disabled', false);
                $('#CollisionDeductible').prop('disabled', false);
                $('#ComprehensiveDeductible').val('@ViewBag.CompDed');
                $('#CollisionDeductible').val('@ViewBag.CollDed');
            } else if(physcialDamageData.RiskAnalyzerComprehensiveRatingSymbol2011Subsequent) {
                $("#CompSymbol").val(physcialDamageData.RiskAnalyzerComprehensiveRatingSymbol2011Subsequent);
                $("#HasPhyDam").attr("checked", true);
                $('#ComprehensiveDeductible').prop('disabled', false);
                $('#CollisionDeductible').prop('disabled', false);
                $('#ComprehensiveDeductible').val('@ViewBag.CompDed');
                $('#CollisionDeductible').val('@ViewBag.CollDed');
            }

            if (physcialDamageData.MSRPUpperBound) {
                $("#CostNew").val(physcialDamageData.MSRPUpperBound);
            }

            if (vehicleData.AntiLockBrakes.toUpperCase() === "S") {
                $("#HasAntiLockBrakes").attr("checked", true);
            }
            if (vehicleData.Restraint) {
                $("#HasAirbag").attr("checked", true);
                if (vehicleData.Restraint.toUpperCase() === "X" ||
                    vehicleData.Restraint.toUpperCase() === "N" ||
                    vehicleData.Restraint.toUpperCase() === "D" ||
                    vehicleData.Restraint === "7" ||
                    vehicleData.Restraint.toUpperCase() === "P") {
                    $("#ARB").val("1");
                } else {
                    $("#ARB").val("2");
                }
            } else {
                $("#ARB").val("0");
            }

            if(vehicleData.EngineType == "E" || vehicleData.EngineType == "H")
            {
                $("#EngineType").val(vehicleData.EngineType);
            }

            if(vehicleData.GrossVehicleWeight)
            {
                $("#GrossVehicleWeight").val(vehicleData.GrossVehicleWeight);
            }
              if(vehicleData.GrossVehicleWeight)
            {
                $("#ClassCode").val(vehicleData.ClassCode);
            }


            if (physcialDamageData && physcialDamageData.AntiTheftIndicator) {
                if (physcialDamageData.AntiTheftIndicator.toUpperCase() === "N") {
                    $("#HasAntiTheftDevice").attr("checked", false);
                    $("#ATD").val("0");
                } else if (physcialDamageData.AntiTheftIndicator.toUpperCase() === "P") {
                    $("#HasAntiTheftDevice").attr("checked", true);
                    $("#ATD").val("2");
                } else {
                    $("#HasAntiTheftDevice").attr("checked", true);
                    $("#ATD").val("1");
                }
            } else {
                $("#HasAntiTheftDevice").attr("checked", false);
                $("#ATD").val("0");
            }

            if (liabilityData && liabilityData.RiskAnalyzerBodilyInjuryRatingSymbol) {

                $("#BISymbol").val(liabilityData.RiskAnalyzerBodilyInjuryRatingSymbol);
            }
            if (liabilityData && liabilityData.RiskAnalyzerPropertyDamageRatingSymbol) {

                $("#PDSymbol").val(liabilityData.RiskAnalyzerPropertyDamageRatingSymbol);
            }
            if (liabilityData && liabilityData.RiskAnalyzerMedicalPaymentsRatingSymbol) {

                $("#MPSymbol").val(liabilityData.RiskAnalyzerMedicalPaymentsRatingSymbol);
            }
            if (liabilityData && liabilityData.RiskAnalyzerPersonalInjuryProtectionRatingSymbol) {

                $("#PIPSymbol").val(liabilityData.RiskAnalyzerPersonalInjuryProtectionRatingSymbol);
            }
        }

        function handleVinUpdate() {
            $.getJSON("@Url.Action("GetVehicleInfoByVin", "AjaxHelpers")", {
                vin: $('#VIN').val(),
            }, function (data) {
                updateVehicleData(data.Vehicle, data.PhysicalDamage, data.Liability);
            });
        }
    var onLienHolderAddSuccess = function () {
        $("#addLienHolderForm").dialog('close');
        $("#addLienHolderForm").children('form')[0].reset();
    };
    var onLienHolderAddFailure = function () {
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    };
    $(function () {

    	$('#addLienHolderForm').dialog({ modal: true, width: 400, autoOpen: false });

    	var realId = $('#mainQuoteId').val();
    	$('input[name=QuoteId][type=hidden]').val(realId);


    	SaveAsOriginal('LienHoldersTable');

    });
    $(document).ready(function () {
        if ($("#VIN").val() != "") {
            if ($("#VIN").val().length != 17) {
                $("#VIN").trigger("blur");
            }
            else {
                $("#Make").attr('disabled', null);
                $("#VehModel").attr('disabled', null);
                $("#Style").attr('disabled', null);
            }
        }
        var phydam = '@Model.HasPhyDam';
        if (phydam == "False") {
            $("#ComprehensiveDeductible").val("NONE");
            $("#CollisionDeductible").val("NONE");
            $("#ComprehensiveDeductible").prop("disabled", true);
            $("#CollisionDeductible").prop("disabled", true);
        }
    });
</script>