﻿@using AgentPortal.Support
@using AgentPortal.Support.Utilities
@using PalmInsure
@using Newtonsoft.Json;

@model AgentPortal.Models.DisallowedEndorsementModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";
    var garageAddress = string.Empty;
    if (Model != null && Model.DisallowedEndorseQuote != null)
    {
        garageAddress = string.IsNullOrEmpty(Model.DisallowedEndorseQuote.GarageStreet) ? string.Empty : Model.DisallowedEndorseQuote.GarageStreet;
        if (!string.IsNullOrEmpty(garageAddress))
        {
            garageAddress += ", " + Model.DisallowedEndorseQuote.GarageCity + ", " + Model.DisallowedEndorseQuote.GarageState
            + " - " + Model.DisallowedEndorseQuote.GarageZip;
        }
    }
}

@using (Html.BeginForm("DisallowedEndorsement", "Agent", new AjaxOptions()
{
    OnSuccess = "onDriverAddSuccess",
    OnFailure = "onDriverAddFailure",
    UpdateTargetId = "DriversTable"
}))
{
    if (Model != null && Model.ValidationErrors != null)
    {
        foreach (ModelState modelState in Model.ValidationErrors.Values)
        {
            foreach (ModelError error in modelState.Errors.Where(e => !e.ErrorMessage.Contains("Invalid model state")))
            {
                <p class="error">
                    @error.ErrorMessage
                </p>
            }
        }
    }

    if (Model != null && Model.DisallowedEndorseQuote != null)
    {
        <div id="driverErrMsg"></div>
        <div>@Html.HiddenFor(x => x.DisallowedEndorsementQuoteId)</div>
        <div>@Html.HiddenFor(x => x.IsFromIssuance)</div>

        <table class="tbl100">
            <tr><th colspan="6">Endorsement Request</th></tr>
            <tr>
                @*<td>@Html.LabelFor(m => m.PolicyNumber)</td>*@
                <td>@Html.Label("Policy Number")</td>
                <td>@Html.Label(Model.PolicyNumber)</td>
                @*<td>@Html.LabelFor(m => m.TodaysDate)</td>*@
                <td>@Html.Label("Today's Date")</td>
                <td>@Html.Label(Model.TodaysDate.ToShortDateString())</td>
                @*<td>@Html.LabelFor(m => m.EffectiveTime)</td>*@
                <td>@Html.Label("Effective Time")</td>
                <td>@Html.Label(Model.TodaysDate.ToShortDateString() + ' ' + Model.TodaysDate.ToShortTimeString())</td>
            </tr>
            <tr>
                <td>Policy Inception Date</td>
                <td>@Model.PolicyInceptionDate.ToShortDateString()</td>
                <td>Policy Expiration Date</td>
                <td>@Model.PolicyExpirationDate.ToShortDateString()</td>
                <td>Endorsement Effective Date</td>
                <td>@Model.EndorsementEffectiveDate.ToShortDateString()</td>
            </tr>
        </table>
        <table class="tbl100">
            <tr>
                <th colspan="6">Agent Information</th>
            </tr>
            <tr>
                <td>@Html.Label("Agency Code")</td>
                <td>@Html.Label(Model.AgencyCode)</td>
                <td>@Html.Label("Agency Name")</td>
                <td colspan="2">@Html.Label(Model.AgencyName)</td>
            </tr>
            <tr>
                <td rowspan="2">@Html.Label("Agency Address")</td>
                <td colspan="4" style="border-bottom:none;">@Model.AgentInfo.MailAddress,</td>
            </tr>
            <tr>
                <td colspan="4" style="border-top:none;"> @Model.AgentInfo.MailCity, @Model.AgentInfo.MailState - @Model.AgentInfo.MailZIP </td>
            </tr>
        </table>
        <table class="tbl100">
            <tr>
                <th colspan="6">Personal Information</th>
            </tr>
            <tr>
                <td>@Html.Label("1st Insured Name")</td>
                <td>
                    @Model.InsuredFirstName @Model.InsuredMI @Model.InsuredLastName
                </td>
                <td>@Html.Label("2nd Insured Name")</td>
                <td colspan="3">
                    @Model.Insured2FullName
                </td>
            </tr>

            <tr>
                <td rowspan="2">@Html.Label("Insured Address")</td>
                <td style="border-bottom:none;">
                    @Html.Label(Model.InsuredAddress)
                </td>
                <td rowspan="2">Email Address</td>
                <td rowspan="2" colspan="2">@Model.DisallowedEndorseQuote.MainEmail</td>
            </tr>
            <tr>
                <td style="border-top:none;">
                    @Html.CheckBoxFor(m => m.IsNewAddress, new { @tabindex = "3", @id = "IsNewAddress", @class = "UnCheckableChkBox", @checkedData = Model.IsNewAddress })
                    <label disabled="disabled" for="IsNewAddress">New Address</label>
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Garage Address")</td>
                <td colspan="5">@garageAddress</td>
            </tr>
        </table>
        <table class="tbl100">
            <tr>
                <th colspan="10">Type Of Endorsement</th>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(x => x.IsAddressChange, new { @tabindex = "3", @id = "IsAddressChange", @class = "UnCheckableChkBox", @checkedData = Model.IsAddressChange }) Address Change</td>
                <td>@Html.CheckBoxFor(x => x.IsVehiclesChange, new { @tabindex = "3", @id = "IsVehiclesChange", @class = "UnCheckableChkBox", @checkedData = Model.IsVehiclesChange }) Vehicles Change</td>
                <td colspan="2">@Html.CheckBoxFor(x => x.IsCoverageChange, new { @tabindex = "3", @id = "IsCoverageChange", @class = "UnCheckableChkBox", @checkedData = Model.IsCoverageChange }) Coverage</td>
                <td colspan="2">@Html.CheckBoxFor(x => x.IsLossPayeeChange, new { @tabindex = "3", @id = "IsLossPayeeChange", @class = "UnCheckableChkBox", @checkedData = Model.IsLossPayeeChange }) Loss Payee</td>
                <td colspan="2">@Html.CheckBoxFor(x => x.IsDriversChange, new { @tabindex = "3", @id = "IsDriversChange", @class = "UnCheckableChkBox", @checkedData = Model.IsDriversChange }) Drivers</td>
                @{bool isEmailChange = string.Compare(Model.DisallowedEndorseQuote.MainEmail, Model.DisallowedEndorseQuote.MainEmailOld, true) != 0;}
                <td colspan="2">@Html.CheckBox("EmailChange", isEmailChange, new { @tabindex = "3", @id = "IsEmailChange", @class = "UnCheckableChkBox", @checkedData = isEmailChange }) Email Address</td>
            </tr>
            <tr>
                <td colspan="10">All policy changes are calculated pro-rata.  All requests that would result in additional premium must be accompanied by a net check.</td>
            </tr>
            <tr>
                <td colspan="3">Amount of Additional Premium collected $</td>
                <td colspan="7">@Html.TextBoxFor(x => x.AdditionalPremiumCollected, new { @class = "textEdit", @tabindex = "5", @id = "InsuredLastName" })</td>
            </tr>
            <tr>
                <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;"><h3>Drivers</h3></th>
            </tr>
            <tr>
                <th>No.</th>
                <th style="min-width: 111px;">Type Of Change</th>
                <th>Driver's Name</th>
                <th style="width:60px;">DOB</th>
                <th>Gender</th>
                <th>Married</th>
                <th>Relation</th>
                <th>Occupation</th>
                <th>License No</th>
                <th style="min-width: 80px;">Total Points</th>
            </tr>
            @{int driverIndex = 0;}
            @foreach (var driver in Model.Drivers.Where(x=>x.TypeOfChange!= "Modify Violations"))
            {
                <tr>
                    <td>@(++driverIndex)</td>
                    <td>@driver.TypeOfChange </td>
                    <td>@driver.FirstName @driver.MI @driver.LastName</td>
                    <td>@driver.DOB.ToShortDateString()</td>
                    <td>@driver.Gender</td>
                    <td>@(driver.Married ? "Yes" : "No")</td>
                    <td>@driver.RelationToInsured</td>
                    <td>@driver.Occupation</td>
                    <td>@driver.LicenseNo</td>
                    <td>@driver.Points</td>
                </tr>
            }
            @if (driverIndex == 0)
            {
                <tr>
                    <td colspan="10">No Driver changes</td>
                </tr>
            }
        </table>
        <table class="tbl100">
            <tr>
                <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;">DRIVING RECORD (MVRS ARE REQUIRED FOR ALL ADDITIONAL DRIVERS)</th>
            </tr>
            <tr>
                <th>Driver Name.</th>
                <th>Accident Violations or Suspensions </th>
                <th>Date</th>
                <th>Points</th>
                <th>Type Of Change</th>
            </tr>
            @if (Model.DriverViolations != null && Model.DriverViolations.Any())
            {
                foreach (var violation in Model.DriverViolations)
                {
                    var driver = Model.Drivers.First(x => x.OID == violation.DisallowedAgentEndorseDriverId);
            <tr>
                <td>@driver.FirstName @driver.MI @driver.LastName</td>
                <td>@violation.ViolationDesc</td>
                <td>@violation.ViolationDate</td>
                <td>@violation.ViolationPoints</td>
                <td>@violation.TypeOfChange</td>
            </tr>
                }
            }
            else
            {
                <tr> <td colspan="4">No Violation Changes</td></tr>
            }
        </table>
        <br />
        <table class="tbl100">
            <tr>
                <th colspan="6" style="background-color: white; text-align: left; padding-top: 15px;">Liability Coverages</th>
            </tr>
            <tr>
                <th>Type Of Coverage</th>
                <th>Type Of Change</th>
                <th>Deductible and/or Work Loss Exclusion Changes</th>
                <th>NIO/NIRR Changes</th>
                <th>Has PPO</th>
            </tr>
            <tr>
                <td>Personal Injury Protections</td>
                <td>@(Model.PIPChangeType ?? (Model.DisallowedEndorseQuote.NIO == true || Model.DisallowedEndorseQuote.NIRR == true || Model.DisallowedEndorseQuote.HasPPO.HasValue ? "Modify" : string.Empty))</td>
                @if (!string.IsNullOrEmpty(Model.PIPChangeType))
                {
                    <td>@Model.DisallowedEndorseQuote.PIPDed /  @(Model.DisallowedEndorseQuote.WorkLoss.GetValueOrDefault() == 1 ? "Yes" : "No")</td>
                }
                else
                {
                    <td></td>
                }
                <td>@(Model.DisallowedEndorseQuote.NIO == true ? "Named Insured Only" : Model.DisallowedEndorseQuote.NIRR == true ? "Named Insured Res Relatives" : string.Empty) </td>
                <td>@(Model.DisallowedEndorseQuote.HasPPO.HasValue && Model.DisallowedEndorseQuote.HasPPO == true ? "Yes" : Model.DisallowedEndorseQuote.HasPPO.HasValue ? "No" : string.Empty)</td>
            </tr>
            <tr>
                <td>Property Damage Liability</td>
                <td>@(Model.PDChangeType ?? string.Empty)</td>
                <td rowspan="3" colspan="3" style="text-align:center;vertical-align:middle;background-color: lightgrey;font-size:16px;">NOT APPLICABLE</td>
            </tr>
            <tr>
                <td>Bodily Injury Liability</td>
                <td></td>
            </tr>
            <tr>
                <td>Uninsured Motorist</td>
                <td></td>


            </tr>
        </table>

        <table class="tbl100">
            <tr>
                <th colspan="6" style="background-color: white; text-align: left; padding-top: 15px;">Vehicles</th>
            </tr>
            <tr>
                <th>No.</th>
                <th>Type Of Change</th>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Complete/VIN</th>
                <th>Comp/Coll?</th>
                <th style="width:150px;">Comp/Coll Deductible</th>
                <th>Mile To Work</th>
            </tr>
            @{ int carIndex = 0;}

            @if (Model.Cars != null && Model.Cars.Any())
            {
                foreach (var vehicle in Model.Cars)
                {
                    <tr>
                        <td>@(++carIndex)</td>
                        <td>@vehicle.TypeOfChange</td>
                        <td>@vehicle.VehYear</td>
                        <td>@vehicle.VehMake</td>
                        <td>@vehicle.VehModel1</td>
                        <td>@vehicle.VIN</td>
                        <td>@(vehicle.HasPhyDam && !string.IsNullOrEmpty(vehicle.CompDed) && !string.IsNullOrEmpty(vehicle.CollDed) ? "Yes" : "No")</td>
                        <td>@(vehicle.HasPhyDam && !string.IsNullOrEmpty(vehicle.CompDed) && !string.IsNullOrEmpty(vehicle.CollDed) ? vehicle.CompDed : string.Empty)</td>
                        <td>@(vehicle.MilesToWork.HasValue ? vehicle.MilesToWork.Value.ToString() : string.Empty)</td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="8">No Vehcile Changes Found</td></tr>
            }
        </table>
        <br />
        if (Model.Cars.Any())
        {
            <table>
                <tr>
                    <th colspan="2">Select the response regarding above Vehicles</th>
                    @{carIndex = 0;}
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td colspan="2" style="background-color: #4db8ff;border-color: darkgray;">Car @(++carIndex) (@vehicle.VIN)</td>
                    }
                </tr>
                <tr>
                    <th colspan="2"></th>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td style="background-color: #4db8ff;border-color: darkgray;">Yes</td>
                        <td style="background-color: #4db8ff;border-color: darkgray;">Remarks</td>
                    }
                </tr>
                <tr>
                    <td colspan="2">1.Vehicle is equipped with an Anti-Theft or Homing Device</td>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td>@Html.CheckBox("IsATorHD" + vehicle.OID)</td>
                        <td>@Html.TextBox("ATorHDRemarks" + vehicle.OID, null, new { placeholder = "Remarks", @class = "Remarks" })</td>
                    }
                </tr>
                <tr>
                    <td colspan="2">2.Vehicle is equipped with anti-lock brakes </td>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td>@Html.CheckBox("IsAntiLockBreaks" + vehicle.OID, vehicle.IsAntiLockBrake)</td>
                        <td>@Html.TextBox("AntiLockBreaksRemarks" + vehicle.OID, null, new { placeholder = "Remarks", @class = "Remarks" })</td>
                    }
                </tr>
                <tr>
                    <td colspan="2">3.Vehicle has a driver side airbag</td>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td>@Html.CheckBox("HasDriverSideAirBag" + vehicle.OID)</td>
                        <td>@Html.TextBox("DriverSideAirBagRemarks" + vehicle.OID, null, new { placeholder = "Remarks", @class = "Remarks" })</td>
                    }
                </tr>
                <tr>
                    <td colspan="2">4. Vehicle has passenger side airbag </td>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td>@Html.CheckBox("HasPassengerSideAirBag" + vehicle.OID)</td>
                        <td>@Html.TextBox("PassengerSideAirBagRemarks" + vehicle.OID, null, new { placeholder = "Remarks", @class = "Remarks" })</td>
                    }
                </tr>
                <tr>
                    <td colspan="2">5. Vehicle as T-Tops or is a convertible (soft top or hard top)</td>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td>@Html.CheckBox("IsTConvertible" + vehicle.OID, vehicle.IsTConvertible)</td>
                        <td>@Html.TextBox("TConvertibleRemarks" + vehicle.OID, null, new { placeholder = "Remarks", @class = "Remarks" })</td>
                    }
                </tr>
                <tr>
                    <td colspan="2">6. Vehicle is garaged at the insured’s residence</td>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td>@Html.CheckBox("IsGaragedAtInsRes" + vehicle.OID)</td>
                        <td>@Html.TextBox("GaragedAtInsResRemarks" + vehicle.OID, null, new { placeholder = "Remarks", @class = "Remarks" })</td>
                    }
                </tr>
                <tr>
                    <td colspan="2">7. Vehicle has damage </td>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td>@Html.CheckBox("HasDamage" + vehicle.OID)</td>
                        <td>@Html.TextBox("DamageRemarksRemarks" + vehicle.OID, null, new { placeholder = "Remarks", @class = "Remarks" })</td>
                    }
                </tr>
                <tr>
                    <td colspan="2">8. Vehicle is customized</td>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td>@Html.CheckBox("isCustomized" + vehicle.OID)</td>
                        <td>@Html.TextBox("CustomizedRemarks" + vehicle.OID, null, new { placeholder = "Remarks", @class = "Remarks" })</td>
                    }
                </tr>
                <tr>
                    <td colspan="2">9. Vehicle is co-owned</td>
                    @foreach (var vehicle in Model.Cars)
                    {
                        <td>@Html.CheckBox("IsCoOwoned" + vehicle.OID)</td>
                        <td>@Html.TextBox("CoOwnedRemarks" + vehicle.OID, null, new { placeholder = "Remarks", @class = "Remarks" })</td>
                    }
                </tr>
            </table>
        }

        if (Model.LossPayee.Any())
        {
            <table class="tbl100">
                <tr>
                    <th colspan="6" style="background-color: white; text-align: left; padding-top: 15px;">Loss Payee</th>
                </tr>
                <tr>
                    <th>Type Of Change</th>
                    <th>Last 6 of VIN</th>
                    <th>Name of Loss Payee</th>
                    <th>Address of Loss Payee</th>
                </tr>
                @foreach (var lossPayee in Model.LossPayee)
                {
                    <tr>
                        <td>@lossPayee.TypeOfChange</td>
                        <td>@(lossPayee.LastSixOfVin != null && lossPayee.LastSixOfVin.Length >= 6 ? lossPayee.LastSixOfVin.Substring(lossPayee.LastSixOfVin.Length - 6) : lossPayee.LastSixOfVin)</td>
                        <td>@lossPayee.NameOfLossPayee</td>
                        <td>@lossPayee.AddressOfLossPayee</td>
                    </tr>
                }
            </table>
        }

        <table class="tbl100" style="">
            <tbody>
                <tr><th colspan="3">Discounts</th></tr>
                @if (Model.Paperless.HasValue)
                {
                    <tr>
                        <td style="">
                            <span style="">Paperless</span>
                        </td>
                        <td>
                            @(Model.Paperless.Value ? "Yes" : "No")
                        </td>
                    </tr>
                }
                @if (Model.HomeOwner.HasValue)
                {
                    <tr>
                        <td style="">
                            <span style="">Homeowners</span>
                        </td>
                        <td>
                            @(Model.HomeOwner.Value ? "Yes" : "No")
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="tbl100" style="">
            <tbody>
                <tr><th colspan="3">Alternate E-Sign Endorsement Email Address (*optional)</th></tr>
                <tr>
                    <td style="">
                        <span style="">Agent E-Sign Endorsement Email Address</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.AgentAltESignEndorseEmailAddr, new { @style = "width:80%" })
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="tbl100" style="">
            <tbody>
                <tr><th colspan="3">Agent Endorsement Remarks (*optional)</th></tr>
                <tr>
                    <td style="vertical-align:middle">

                        <span style="text-align:center">Agent Endorsement Remarks</span>
                    </td>
                    <td>
                        @Html.TextAreaFor(x => x.AgentEndorsementRemarks, new { @class = "form-control", maxlength = "1000", @style = "resize: none;width:645px;height:35px;" })
                    </td>
                </tr>
            </tbody>
        </table>

        if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="error">
                Only specific endorsements are allowed to be issued in the portal; Name Change, Address Change, Phone Numbers, Add Driver, and Add Vehicle without comp/coll.
                <br />
                Please Review the changes above and Send an Endorsement Request by clicking on <b>Send Endorsement Request</b> button below.
            </p>
        }

        @Html.ActionLink("Back To Edit Endorsement", "BackToEndorsment", "Agent", new { policyNo = Model.PolicyNumber, EndorsementEffDate = Model.EndorsementEffectiveDate },
                                    new { @id = "btnPrintIDCards", @class = "btnSubmit", @target = "_self", @style = "float:right;" })

        <input class="btnSubmit" onclick="return validateAltEmailAddress();" type="submit" tabindex="20" value="@(Model != null && Model.IsFromIssuance ? "Issue Endorsement" : "Send Endorsement Request")" style="float:right;margin-right:10px;" id="btnAddDriver" />
        @*<input class="btnSubmit" type="button" tabindex="20" value="Go Back" id="btnGoBack" />*@
    }
    else
    {
        <h3> No changes Found in Endorsement for the Policy : @(Model != null ? Model.PolicyNumber : string.Empty)</h3>
        @Html.ActionLink("Back To Edit Endorsement", "BackToEndorsment", "Agent", new { policyNo = Model.PolicyNumber, EndorsementEffDate = Model.EndorsementEffectiveDate },
                                    new { @id = "btnPrintIDCards", @class = "btnSubmit", @target = "_self", @style = "float:right;" })

    }
}
<style type="text/css">
    td {
        line-height: 13px !important;
    }
</style>

<script type="text/javascript">
    function validateAltEmailAddress() {
        var altEmail = $("#AgentAltESignEndorseEmailAddr").val();
        altEmail = altEmail.trim();
        if ((altEmail || "") != "") {
            var re = /^([\w\.\-]+)@@([\w\-]+)((\.(\w){2,3})+)$/;
            var isValid = re.test(altEmail);
            if (!isValid)
                alert("Entered agent E-Sign endorsement email address is invalid.");
            return isValid;
        }
        return true;
    }
    jQuery.fn.extend({
        scrollToMe: function () {
            var x = jQuery(this).offset().top - 100;
            jQuery('html,body').animate({ scrollTop: x }, 500);
        }
    });
    @*var Cars = JSON.parse('@JsonConvert.SerializeObject(Model.Cars, Formatting.Indented,
new JsonSerializerSettings
{
        ReferenceLoopHandling = ReferenceLoopHandling.Ignore
});)');*@


    $(".UnCheckableChkBox").change(function () {
        $(this).prop('checked', $(this).attr('checkedData') == 'True');
    });

    var carChecks = ['IsATorHD', 'IsAntiLockBreaks', 'HasDriverSideAirBag', 'HasPassengerSideAirBag', 'IsTConvertible', 'IsGaragedAtInsRes', 'HasDamage', 'isCustomized', 'IsCoOwoned'];
            var carCheckRemarks = ['ATorHDRemarks', 'AntiLockBreaksRemarks', 'DriverSideAirBagRemarks', 'PassengerSideAirBagRemarks', 'TConvertibleRemarks', 'GaragedAtInsResRemarks', 'DamageRemarksRemarks', 'CustomizedRemarks', 'CoOwnedRemarks'];

    $('.Remarks').on('input propertychange paste', function (ele) {
        if (($(this).val() || "") != "") {
            $(this).css('border-color', '').css('border-width','');
        }
    });

    $(document).on('submit', 'form', function () {
        //if ($("#InsuredFirstName").val().trim() == "" || $("#InsuredLastName").val().trim() == "") {
        //    alert("Please Enter Insured First Name and Last Name!")
        //}
       var invalid = false;
        for (var i = 0; i < carChecks.length; i++) {
            var carCheck = carChecks[i];
            var carCheckRemark = carCheckRemarks[i];
            var carCheckElements = $("input[type='checkbox'][name^='" + carCheck + "']");
            if (carCheckElements != undefined && carCheckElements.length > 0) {
                for (var j = 0; j < carCheckElements.length; j++) {
                    var carCheckEle = $(carCheckElements[j]);
                    var carId = carCheckEle.attr('name').replace(carCheck, '');
                    if (carCheckEle.prop('checked')) {

                        var carCheckRemarkEle = $("input[type='text'][name^='" + carCheckRemark +carId + "']");
                        if (carCheckRemarkEle != undefined && (carCheckRemarkEle.val() || '') == '') {
                            invalid = true;
                            $(this).css('border-color', 'red').css('border-width', '1px');
                        }
                    }
                }
            }
        }
        if (invalid) {
            alert("Please enter Remarks for car's response selected as 'Yes'")
            return false;
        }
        var button = $(this).find('input[type="submit"]');
        setTimeout(function () {
            button.attr('disabled', 'disabled');
            button.addClass('disabled');
        }, 0);
    });

    function IsValidDate(txtDate) {
        var currVal = txtDate;
        if (currVal == '')
            return false;
        var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
        var dtArray = currVal.match(rxDatePattern);

        if (dtArray == null)
            return false;

        dtMonth = dtArray[1];
        dtDay = dtArray[3];
        dtYear = dtArray[5];

        if (dtMonth < 1 || dtMonth > 12 || dtDay < 1 || dtDay > 31)
            return false;
        else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)
            return false;
        else if (dtMonth == 2) {
            var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
            if (dtDay > 29 || (dtDay == 29 && !isleap))
                return false;
        }
        return true;
    }
</script>
