﻿@using AgentPortal.Support.Utilities
@model AgentPortal.Models.EftAccountUpdateModel
@{
    ViewBag.Title = "Update EFT for Policy Number - " + Sessions.Instance.PolicyNo;
    Html.EnableClientValidation(true);
    SelectListItem checking = new SelectListItem();
    checking.Selected = true;
    checking.Text = "Checking";
    checking.Value = "Checking";
    SelectListItem savings = new SelectListItem();
    savings.Text = "Savings";
    savings.Value = "Savings";
    IList<SelectListItem> achAccountTypeSelectList = new List<SelectListItem>()
    {
        checking, savings
    };
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    function showCreditCardView() {
        $("#CreditCardView").show();
        $("#AchView").hide();
        $("#achSweepEFTMessage").hide();
        $("#saveEft").removeAttr('disabled');
        $("#isCreditCardRadio").prop("checked", true);
        $("#isAchRadio").prop("checked", false);
        $("#creditCardFeeRow").show();
    }
    function showAchView() {
        $("#CreditCardView").hide();
        $("#AchView").show();
        $("#achSweepEFTMessage").hide();
        $("#saveEft").removeAttr('disabled');
        $("#isCreditCardRadio").prop("checked", false);
        $("#isAchRadio").prop("checked", true);
        $("#creditCardFeeRow").hide();
    }

    $(function () {
        $("#cardConnectPaymentForm").submit(function (e) {
            $("#saveEft").attr("disabled", true);
            return true;

        });
        var isCreditChecked = $("#isCreditCardRadio").prop('checked');
        var isAchChecked = $("#isAchRadio").prop('checked');
        if (!isCreditChecked && !isAchChecked) {
            $("#saveEft").prop("disabled", true);
        }
        if (isCreditChecked) {
            showCreditCardView();
        }
        if (isAchChecked) {
            showAchView();
        }
        $("#isCreditCardRadio").prop("checked", true); // default to CC payment
        showCreditCardView();
        window.addEventListener('message',
            function (event) {
                var token = JSON.parse(event.data);
                var mytoken = document.getElementById('account');
                mytoken.value = token.message;
            },
            false);
        $("#isCreditCardRadio").click(function () {
            var isChecked = $(this).prop('checked');
            if (isChecked) {
                showCreditCardView();
            }
        });
        $("#isAchRadio").click(function () {
            var isChecked = $(this).prop('checked');
            if (isChecked) {
                showAchView();
            }
        });
        $("#achFutureEFTPayType").click(function () {
            $("#CreditCardView").hide();
            $("#AchView").show();
        });
        $("#creditCardFutureEFTPayType").click(function () {
            $("#CreditCardView").show();
            $("#AchView").hide();
        });


    });
</script>

<div>
    <div class="col_29" style="min-height: 450px;">
        <h3>Update EFT Details for Policy - @Model.PolicyNo</h3>
        <div style="float: left; color: red;">
            @Html.ValidationSummary()
        </div>
        @using (@Html.BeginForm("UpdateEftForPolicy", "Agent", FormMethod.Post, new { id = "cardConnectPaymentForm" }))
        {
            @Html.HiddenFor(m => m.Account, new { id = "account" })
            @Html.HiddenFor(m => m.PolicyNo);
            <div>
                <table class="tbl100">
                    <thead>
                        <tr>
                            <th colspan="12">
                                EFT Details
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Full Name</td>
                        <td>
                            @Html.EditorFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name)

                        </td>
                    </tr>
                    <tr>
                        <td>Street</td>
                        <td>
                            @Html.EditorFor(m => m.Address)
                            @Html.ValidationMessageFor(m => m.Address)
                        </td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>
                            @Html.EditorFor(m => m.City)
                            @Html.ValidationMessageFor(m => m.City)
                        </td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>
                            @Html.EditorFor(m => m.State)
                            @Html.ValidationMessageFor(m => m.State)
                        </td>
                    </tr>
                    <tr>
                        <td>ZIP Code</td>
                        <td>
                            @Html.EditorFor(m => m.Postal)
                            @Html.ValidationMessageFor(m => m.Postal)
                        </td>
                    </tr>
                    <tr>
                        <td>Payment Type</td>
                        <td>
                            @Html.Label("Credit Card", new { Style = "font-weight:bold;" })
                            @Html.CheckBoxFor(m => m.IsCreditCard, new { Group = "PaymentTypes", id = "isCreditCardRadio" })
                            <br />
                            <br />
                            @Html.Label("ACH / E-Check", new { Style = "font-weight:bold;" })
                            @Html.CheckBoxFor(m => m.IsAch, new { Group = "PaymentTypes", id = "isAchRadio" })
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <br />
            <div id="CreditCardView" style="display: none;">
                <table class="tbl100">
                    <thead>
                        <tr>
                            <th colspan="12">
                                Credit Card
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Card number</td>
                        <td>
                            @{
                                string ccSource = "https://fts.cardconnect.com:" + @Model.IFramePort + "/itoke/ajax-tokenizer.html?css=%2Eerror" + Url.Encode("{color:%20red;}");
                            }
                            <iframe id="ccToken" name="tokenframe" src="@ccSource" frameborder="0" scrolling="no" width="200" height="30"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td>Enter Expiration (Enter in format: 0122)</td>
                        <td>
                            <div style="margin-left: 8px;">@Html.EditorFor(m => m.ExpirationDate)</div>
                            @Html.ValidationMessageFor(m => m.ExpirationDate)
                        </td>
                    </tr>
                    <tr>
                        <td>CVV Code</td>
                        <td>
                            <div style="margin-left: 8px;"> @Html.EditorFor(m => m.Cvv)</div>
                            @Html.ValidationMessageFor(m => m.Cvv)
                        </td>
                    </tr>
                </table>
            </div>
            <div id="AchView" style="display: none;">
                <table class="tbl100">
                    <thead>
                        <tr>
                            <th colspan="12">
                                ACH
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>Routing Number / Account Number</div>
                                <br />
                                <div>
                                    <span style="font-weight: bold;">(Must be in format:  </span>123456789/1234123412341234)
                                </div>
                            </td>
                            <td>
                                @{
                                    string achSource = "https://fts.cardconnect.com:" + @Model.IFramePort + "/itoke/ajax-tokenizer.html?css=%2Eerror" + Url.Encode("{color:%20red;}");
                                }
                                <iframe id="routingAccountToken" name="routingAccountToken" src="@achSource" frameborder="0" scrolling="no" width="200" height="30"></iframe>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    Account Type
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>
                                        @Html.DropDownListFor(m => m.AchAcocuntType, achAccountTypeSelectList, new { @style = "margin-left:8px;" })
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div style="float: right;" class="button">
                @Html.ActionLink("Cancel", "Policy", "Agent", new {id = @Model.PolicyNo}, new {@class = "btnSubmit"})
                <input id="saveEft" class="btnSubmit" name="saveEft" type="submit" value="Save EFT"/>
            </div>
        }
    </div>
</div>

