﻿@using System
@using System.Linq
@using PalmInsure;
@using PalmInsure.Palms.Utilities;
@using DevExpress.Xpo;
@using DevExpress.Xpo.DB;
@using DevExpress.Data.Filtering;
@using System.Web.Mvc;
@using AgentPortal.Support
@using AgentPortal.Support.Utilities
@using AgentPortal.Models;
@model AgentPortal.Models.EndorsementPolicyModel


@{
    ViewBag.Title = "Policy Endorsement - " + Sessions.Instance.PolicyNo;

    var allReasons = new AllAgentEndorseReasons();
    var unselectedReasons = new List<AgentEndorseReasons>();
    if (ViewBag.AgentEndorsementAllReasons != null)
    {
        allReasons = ViewBag.AgentEndorsementAllReasons as AllAgentEndorseReasons;
    }

    ViewBag.HighlightAddDriver = Model.HighlightField("AddDriv");
    ViewBag.HighlightAddVehicle = Model.HighlightField(null, null,"AddVehWithoutPhyDam", "AddVehWithPhyDam");
    ViewBag.EndorsementModel = Model;
    var missingEndorseReasons = allReasons.Missing;//ViewBag.MissingReasonList as List<AgentEndorseReasons>;

    ViewBag.AddVehWithoutPhyDamMsg = AgentUtils.ValidateEndorseField(allReasons.Missing, allReasons.UnSelected, "Add Vehicle without PhyDam", "AddVehWithoutPhyDam");
    ViewBag.AddVehWithPhyDamMsg = AgentUtils.ValidateEndorseField(allReasons.Missing, allReasons.UnSelected, "Add Vehicle with PhyDam", "AddVehPhyDam");
    ViewBag.AddDriverMsg = AgentUtils.ValidateEndorseField(missingEndorseReasons, allReasons.UnSelected, "Add Driver", "AddDriv");

    unselectedReasons = allReasons.UnSelected != null ? allReasons.UnSelected : unselectedReasons;
    
}

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";

    bool nonPremBearingChangesOnly = ViewBag.NonPremBearingChanges??false;
    bool premBearingChanges = ViewBag.PremBearingChanges??false;
    nonPremBearingChangesOnly = nonPremBearingChangesOnly && !premBearingChanges;

    SelectListItem[] states = StaticData.USAStates.Select(m => new SelectListItem()
    {
        Text = m.Value,
        Value = m.Key,
        Selected = m.Key == "FL"
    }).ToArray();

    // Limit to just Florida for now
    states = new[] {
new SelectListItem() {
Selected = true,
Text = "Florida",
Value = "FL"
}
};

    SelectListItem[] languages = new[]
    {
        new SelectListItem() { Text = "ENGLISH", Selected = true},
        new SelectListItem() { Text = "SPANISH"},
        new SelectListItem() { Text = "OTHER"},
    };

    SelectListItem[] PipDeductibles = new[] {
//new SelectListItem() { Text= "NONE" },
new SelectListItem() { Text = "0"},
new SelectListItem() { Text = "250"},
new SelectListItem() { Text = "500"},
new SelectListItem() { Text = "1000", Selected = true},
};

    SelectListItem[] BiLimits = new[] {
new SelectListItem() { Text = "None" },
new SelectListItem() { Text="10/20" }
};

    SelectListItem[] PriorBiLimits = new[] {
new SelectListItem() { Text = "None" },
new SelectListItem() { Text="10/20" },
new SelectListItem() { Text="12.5/25" },
new SelectListItem() { Text="15/30" },
new SelectListItem() { Text="20/40" },
new SelectListItem() { Text="25/50" },
new SelectListItem() { Text="30/60" },
new SelectListItem() { Text="50/100" },
new SelectListItem() { Text="100/300" },
new SelectListItem() { Text="500/500" }
};

    SelectListItem[] UmLimits = new[] {
new SelectListItem() { Text = "None" },
new SelectListItem() { Text="10/20" }
};

    SelectListItem[] MedPayLimits = new[] {
new SelectListItem() { Text = "NONE", Value = "0" },
new SelectListItem() { Text = "500" },
new SelectListItem() { Text = "1000" },
new SelectListItem() { Text = "2000" }
};

    SelectListItem[] PhydamDeductibles = new[] {
new SelectListItem() { Text = "NONE", Value = "0" },
new SelectListItem() { Text = "250" },
new SelectListItem() { Text = "500" },
new SelectListItem() { Text = "1000" }
};

    SelectListItem[] TransferDiscountOptions = new[] {
        new SelectListItem() { Text = "None", Value = "0" },
        new SelectListItem() { Text = "Not all drivers > 3 years experience", Value = "1" },
        new SelectListItem() { Text = "All drivers > 3 years experience", Value = "2" },
    };

    SelectListItem[] AdndLimits = new[] {
new SelectListItem() { Text = "0" },
new SelectListItem() { Text = "1000" },
new SelectListItem() { Text = "2000" },
new SelectListItem() { Text = "3000" },
new SelectListItem() { Text = "4000" },
new SelectListItem() { Text = "5000" },
new SelectListItem() { Text = "6000" },
new SelectListItem() { Text = "7000" },
new SelectListItem() { Text = "8000" },
new SelectListItem() { Text = "9000" },
new SelectListItem() { Text = "10000" },
};

    SelectListItem[] PdLimits = new[] {
//new SelectListItem() { Text = "None" },
new SelectListItem() { Text="10000" }
};
}

<script type="text/javascript">
    changeofAddress = false;
    changeOfPolicyConverages = false;
    changeOfMiscPolicyInfo = false;
    carAdded = false;
    driverAdded = false;
    carChanged = false;
    driverChanged = false;
    $(document).ready(function () {
        @***************************************************************@
        $("#btnGetQuote").live("click", function () {
            $(this).after("<div class='palms-processingmsg'><img src='/Content/images/update.gif' /> Calculating Rates</div>");
            UpdateCreditScore();
            $.ajax({
                type: "POST",
                url: "@Url.Action("RateQuote", "AjaxHelpers")",
                dataType: 'json',
                data: { quoteno: "@Sessions.Instance.PolicyNo" },
                success: function (result) {
                    $("#palms-getquote-wrapper").html(result.returnHtml);
                    $(".palms-processingmsg").remove();
                }
            });
        });

         $("#btnEmailPaymentSchedule").live("click", function () {
                  $("#send-endorsement-payment-schedule").html("Sending Email...").css('color','green');
            
            $.ajax({
                type: "POST",
                url: "@Url.Action("SendEndorsementPaymentSchedule", "AjaxHelpers")",
                dataType: 'json',
                data: { policyNo: "@Sessions.Instance.PolicyNo" },
                success: function (result) {
                    if (result != undefined && result.isSuccess == true) {
                        $("#send-endorsement-payment-schedule").html("Endorsement payment schedule email sent.").css('color','green');
                    }
                    else {
                        $("#send-endorsement-payment-schedule").html("Failed to send endorsement payment schedule email.").css('color','red');
                    }
                    $(".SendEndorsementPaymentSchedule-processing").remove();
                }
            });
         });

         $('#endorsementForm').submit(function () {
             //$("#issueEndorsementSubmit").attr('disabled', 'disabled');
             //$("#issueEndorsementSubmit").addClass('disabled');
             //$("#issueEndorsementSubmit").html('Processing...');
        })

        function UpdateRates(elementId) {
            $(elementId).prop('disabled', true).css('opacity', 0.5);
            $(elementId).text('Processing...');
            if (elementId == "#btnUpdateRates") {
                $(elementId).after("<div class='palms-processingmsg' style='float:left;'><img src='/Content/images/update.gif' /> Calculating Rates</div>");
            }
            var insFirstName = $('input:text[name=FirstName1]').val();
            var insLastName = $('input:text[name=LastName1]').val();
            var ins2FirstName = $('input:text[name=FirstName2]').val();
            var ins2LastName = $('input:text[name=LastName2]').val();
            var garageStreet = $('input:text[name=GarageStreetAddress]').val();
            var garageCity = $('select[name="GarageCity"]').val();
            var garageState = $('input:text[name=GarageState]').val();
            var garageZip = $('input:text[name=GarageZIPCode]').val();
            var mailingStreet = $('input:text[name=MailingStreetAddress]').val();
            var mailingCity = $('select[name="MailingCity"]').val();
            var mailingState = $('input:text[name=MailingState]').val();
            var mailingZip = $('input:text[name=MailingZIPCode]').val();
            var pipDed = $('select[name="PipDeductible"]').val();
            var compDed = '@Model.CompDed';
            var collDed = '@Model.CollDed';
            var wlgSelected = $('input:radio[name=WorkLossGroup]:checked').val(); @* LF 11/17/18 added here to end of vars, changed in data: below accordingly *@
            var nio = wlgSelected == 1;
            var nirr = wlgSelected == 2;
            var isWorkLoss = false;
            if ($("#workLossYes").is(":checked")) {
                isWorkLoss = true;
            }
            var bilimit = $('select[name="BiLimit"]').val();
            var pdlimit = $('select[name="PdLimit"]').val();
            var medpaylimit = 0; @* $('select[name="MedPayLimit"]').val(); *@
            var umlimit = $('select[name="UmLimit"]').val();
            var adndlimit = 0; @* $('select[name="AdndLimit"]').val(); *@
            var umstacked = $("#UMstacked").is(':checked');
            var haslou = false; @* $("#HasLou").is(':checked'); *@
            var transDisc = $("#transDisc").val();
            var preferredLanguage = $("#InsuredPreferredLanguage").val();
            var hashomeownersdisc = $("#homeOwnersDiscountCheckBox").is(':checked');
            var hasPPO = $("#hasPPO").is(':checked');
            var hasAdvancedQuotesDiscount = $("#advancedQuoteDiscountCheckBox").is(':checked');
            var hasPaperlessDiscount = $("#paperlessDiscountCheckBox").is(':checked');
            var hasdirectrepairdiscount = false;
            var homePhone = $("#HomePhone").val();
            var workPhone = $("#WorkPhone").val();
            var email = $("#EmailAddress").val();
            var fromRating = true;
            $.ajax({
                type: "POST",
                url: "@Url.Action("RatePolicyEndorsementQuote", "AjaxHelpers")",
                dataType: 'json',
                data: {
                    policyNo: "@Model.PolicyNo", garageStreetAddress: garageStreet, garageCity:garageCity, garageState: garageState, garageZIPCode: garageZip,
                    mailingStreetAddress: mailingStreet, mailingCity: mailingCity, mailingState: mailingState, mailingZIPCode: mailingZip,
                    pipDeductible: pipDed, biLimit:bilimit, compDed: compDed, workLoss: isWorkLoss, pdLimit: pdlimit, collDed: collDed,
                    nio: nio, medPayLimit: medpaylimit, nirr: nirr, umLimit: umlimit, umStacked: umstacked, adndLimit: adndlimit,
                    transDisc,
                    hasHomeownersDisc: hashomeownersdisc,
                    hasDirectRepairDisc: hasdirectrepairdiscount,
                    hasLou: haslou,
                    endorsementEffDate: $("#EndorsementEffDate").val(),
                    insFirstName: insFirstName,
                    insuredLastName: insLastName,
                    ins2FirstName: ins2FirstName,
                    ins2LastName: ins2LastName,
                    hasPPO,
                    hasPaperlessDiscount,
                    hasAdvancedQuotesDiscount,
                    homePhone,
                    workPhone,
                    email,
                    fromRating,
                    preferredLanguage
                },
                success: function (result) {
                    if (elementId == "#btnUpdateRates") {
                        location.reload();
                    }
                    else if (elementId == "#issueEndorsementSubmit") {
                        if (confirm("Are you sure you want to Issue the Endorsement.")) {
                            //$("#issueEndorsementSubmit").css('pointer-events', 'none').prop('disabled', true).text('Processing...').addClass('disabled');
                            $('#endorsementForm').submit();
                        }
                        else {
                            $("#issueEndorsementSubmit").css('pointer-events', 'auto')
                                .removeProp('disabled').text('Issue Endorsement')
                                .removeClass('disabled').removeAttr('disabled')
                                .css('opacity',1);
                        }
                    }
                    else{
                        location.reload();
                    }
                }
            });
        }
        $("#btnUpdateRates").live("click", function () {
            UpdateRates("#btnUpdateRates");
        });
        $("#btnNonPremBearing").live("click", function () {
            var validation = $('#endorsementForm').validate();
            if ($('#endorsementForm').valid() == false) {
                $('#endorsementForm').submit();
                return false;
            }

            if (confirm("You have made Non-premium Changes Only. Are you sure you want to Issue the Endorsement.")) {
                $("#btnNonPremBearing").css('pointer-events', 'none').prop('disabled', true).text('Processing...').addClass('disabled');
                $('#endorsementForm').submit();
            }
        });

        
        $("#issueEndorsementSubmit").live("click", function () {
            var validation = $('#endorsementForm').validate();
            if ($('#endorsementForm').valid() == false) {
                $('#endorsementForm').submit();
                return false;
            }
            UpdateRates("#issueEndorsementSubmit");
        }); 
        @*
        $("#btnUpdateRates").live("click", function () {
            $(this).after("<div class='palms-processingmsg'><img src='/Content/images/update.gif' /> Calculating Rates</div>");
            var garageStreet = $('input:text[name=GarageStreetAddress]').val();
            var garageCity = $('select[name="GarageCity"]').val();
            var garageState = $('input:text[name=GarageState]').val();
            var garageZip = $('input:text[name=GarageZIPCode]').val();
            var mailingStreet = $('input:text[name=MailingStreetAddress]').val();
            var mailingCity = $('select[name="MailingCity"]').val();
            var mailingState = $('input:text[name=MailingState]').val();
            var mailingZip = $('input:text[name=MailingZIPCode]').val();
            var pipDed = $('select[name="PipDeductible"]').val();
            var compDed = $('select[name="CompDed"]').val();
            var collDed = $('select[name="CollDed"]').val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("RatePolicyEndorsementQuote", "AjaxHelpers")",
                dataType: 'json',
                data: {
                    policyNo: "@Model.PolicyNo", garageStreetAddress: garageStreet, garageCity:garageCity, garageState: garageState, garageZIPCode: garageZip,
                    mailingStreetAddress: mailingStreet, mailingCity: mailingCity, mailingState: mailingState, mailingZIPCode: mailingZip,
                    pipDeductible: pipDed, biLimit: "@Model.BiLimit", compDed: compDed, workLoss: "@Model.Workloss", pdLimit: "@Model.PdLimit", collDed: collDed,
                    nio: "@Model.NIO", medPayLimit: "@Model.MedPayLimit", nirr: "@Model.NIRR", umLimit: "@Model.UmLimit", umStacked: "@Model.UMstacked", adndLimit: "@Model.AdndLimit",
                    hasTransDisc: "@Model.HasTransDisc", hasHomeownersDisc: "@Model.HasHomeownersDisc", directRepairDisc: "@Model.DirectRepairDiscount", hasLou: "@Model.HasLou", endorsementEffDate: $("#EndorsementEffDate").val() },
                success: function (result) {
                    $(".palms-processingmsg").remove();
                    //$("#ChangeInPrem").html('$' + result.diff);
                    location.reload();
                }
            });
        });
        *@
        @***************************************************************@
        $('#GarageStreetAddress').change(function () {
            @*@Model.AddressChanged = true;
            Model.AddressChanged = true;*@
            if ($("#SameAsGarage").is("input:checked")) {
                $("#MailingStreetAddress").val($("#GarageStreetAddress").val());
                $("#MailingCity option:selected").text($("#GarageCity option:selected").text());
                $("#MailingState").val($("#GarageState").val());
                $("#MailingZIPCode").val($("#GarageZIPCode").val());
            }
        });
        $("#btnShowRelativities").live("click", function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetRelativities", "AjaxHelpers")",
                dataType: 'json',
                data: { policyno: "@Sessions.Instance.PolicyNo" },
                success: function (result) {
                    $("#palms-relativities-wrapper").html(result.returnData + "<br/>");



                    $("#btnShowRelativities").colorbox({ inline: true, width: "70%", height: "50%" });
                }
            });
        });
        @***************************************************************@
        $(".textEdit").live("focus", function () {
            UpdateCreditScore();
        });
        @***************************************************************@
        @if (PortalUtils.EnableCreditScore())
        {
            if(Model != null)
            {
                <text>$(".noUiSlider").val(@Model.EstimatedCreditScore);</text>
                if (Model.CreditScore != 0)
                {
                    <text>$(".noUiSlider").noUiSlider("disabled", true);</text>
                }
            }
        }
        @***************************************************************@

        @***************************************************************@
    });

    function UpdateCreditScore() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateCs", "AjaxHelpers")",
            dataType: 'json',
            data: { policyno: "@Sessions.Instance.PolicyNo", creditscore: $(".noUiSlider").val() },
            success: function (result) {

            }
        });
    }
    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }
</script>
@Html.ValidationSummary(true, "There were errors in the provided information.", new { @class = "error" })

<h2>
    Policy Endorsement - @Sessions.Instance.PolicyNo
</h2>

<style>
    .input-validation-error {
        border: 1px solid red;
    }

    .field-validation-error {
        display: block;
    }

    .validation-summary-valid {
        display: none;
    }

    .termwrap {
        padding-top: 0px;
    }

    abbr {
        border-bottom: 1px dotted #000;
    }

    .insuredValidationRow {
        padding: 0 !important;
    }

    div#endorse-action-buttons-div a.disabled {
        pointer-events: none;
    }
</style>
@using (Html.BeginForm("IssueEndorsementDetails", "Agent", new { policyNo = Sessions.Instance.PolicyNo, effDate = @ViewBag.EndorsementDate}, FormMethod.Post, new { id = "endorsementForm" }))
{

    @*@Html.HiddenFor(m => m.EndorsementID, new { id = "mainQuoteId" })*@
    <input type="text" hidden="hidden" id="EndorsementEffDate" value="@ViewBag.EndorsementDate" />
    <div class="col_29">
        <div id="msg"></div>
        <table id="GeneralPolicyInfo" class="tbl100">
            <thead>
                <tr>
                    <th colspan="8">
                        Policy Information
                    </th>
                </tr>
                <tr class="tblHeaderRec">
                    <td colspan="2">General Policy Information</td>
                    <td></td>
                    <td colspan="5">Prior Coverage</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(m => m.RatingState)</td>
                    <td>@Html.DropDownListFor(m => m.RatingState, states, new { @class = "textEdit", disabled = "disabled" })</td>
                    <td>
                        <div class="textAlignRight">
                            @Html.LabelFor(m => m.PriorCoverage)
                            @Html.CheckBoxFor(m => m.PriorCoverage, new { disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.PriorCoverage)
                        </div>
                    </td>
                    <td>
                        @Html.LabelFor(m => m.PriorCompany)
                    </td>
                    <td colspan="3">
                        @Html.TextBoxFor(m => m.PriorCompany, new { @class = "textEdit", disabled = "disabled" })
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.EffectiveDate)</td>
                    <td>@Html.TextBoxFor(m => m.EffectiveDate, new { @class = "textEdit", disabled = "disabled" })</td>
                    <td>
                        <div class="textAlignRight">
                            @Html.LabelFor(m => m.PreviousBI)
                            @Html.CheckBoxFor(m => m.PreviousBI, new { disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.PreviousBI)
                        </div>
                    </td>
                    <td>
                        @Html.LabelFor(m => m.PriorPolicyNo)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.PriorPolicyNo, new { @class = "textEdit", disabled = "disabled" })
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="termwrap">
                            @Html.RadioButtonFor(m => m.PolicyTermMonths,
                            6,
                            new { @class = "termradio", id = "PolicyTermMonths_" + 6.ToString(), disabled = "disabled" }
                            )
                            @Html.Label("PolicyTermMonths_" + 6.ToString(), 6.ToString() + " Months")

                            @Html.RadioButtonFor(m => m.PolicyTermMonths,
                            12,
                            new { @class = "termradio", id = "PolicyTermMonths_" + 12.ToString(), disabled = "disabled" }
                            )
                            @Html.Label("PolicyTermMonths_" + 12.ToString(), 12.ToString() + " Months")
                        </div>
                    </td>
                    <td>
                        <div style="text-align: right;">
                            @Html.LabelFor(m => m.IsCurrentCustomer)
                            @Html.CheckBoxFor(m => m.IsCurrentCustomer, new { disabled = "disabled", id = "isCurrentCustomer" })
                        </div>
                    </td>
                    <td>@Html.LabelFor(m => m.PreviousExpDate)</td>
                    <td>@Html.TextBoxFor(m => m.PreviousExpDate, new { @class = "textEdit", disabled = "disabled", @value = Model.PreviousExpDate.ToString() == "1/1/0001" ? DateTime.Now : Model.PreviousExpDate })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ExpirationDate)</td>
                    <td>@Html.TextBoxFor(m => m.ExpirationDate, new { @class = "textEdit" })</td>
                    <td></td>
                    <td>
                        @if (PortalUtils.EnableCreditScore())
                        {
                            @*                             @Html.LabelFor(m => m.PriorBiLimit) *@
                        }
                    </td>
                    <td>
                        @if (PortalUtils.EnableCreditScore())
                        {
                            @*                             @Html.DropDownListFor(m => m.PriorBiLimit, PriorBiLimits, new { @class = "textEdit", disabled = "disabled" }) *@
                            @Html.HiddenFor(m => m.PriorBiLimit)
                        }
                    </td>

                </tr>
                @if (PortalUtils.EnableCreditScore())
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <p>
                                <label for="amount">Credit Score:</label>
                                <input type="text" id="amount" readonly style="border:0; background-color:transparent; color:black; font-weight:bold;">
                            </p>
                        </td>
                        <td>
                            <div id="slider-range-max"></div>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="6" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.EffectiveDate)
                        @Html.ValidationMessageFor(m => m.ExpirationDate)
                        @Html.ValidationMessageFor(m => m.PreviousExpDate)
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="InsuredInfo" class="tbl49" style="float:left; padding: 0px 10px 0px 0px;">
            <thead>
                <tr>
                    <th colspan="5">Insured Information</th>
                </tr>
                <tr class="tblHeaderRec">
                    <td>&nbsp;</td>
                    <td>First</td>
                    <td>MI</td>
                    <td>Last</td>
                    <td>Suffix</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="@Model.HighlightField("InsName")"><abbr title="First insured">1st</abbr></td>
                    <td>@Html.TextBoxFor(m => m.FirstName1, new { size = "5", @class = "textEdit" })</td>
                    <td>@Html.TextBoxFor(m => m.MiddleInitial1, new { size = "1", @class = "txtEdit65" })</td>
                    <td>@Html.TextBoxFor(m => m.LastName1, new { @class = "textEdit" })</td>
                    <td>@Html.TextBoxFor(m => m.Suffix1, new { size = "6", @class = "txtEdit80" })</td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.FirstName1)
                        @Html.ValidationMessageFor(m => m.LastName1)
                        @Html.ValidationMessageFor(m => m.MiddleInitial1)
                        @Html.ValidationMessageFor(m => m.Suffix1)
                        @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons,unselectedReasons, "1st Insured Name", "InsName"))
                    </td>
                </tr>
                <tr>
                    <td style="@Model.HighlightField(null,null,"AddIns2","DelIns2Name","Ins2Name")"><abbr title="Second insured">2nd</abbr></td>
                    <td>@Html.TextBoxFor(m => m.FirstName2, new { size = "5", @class = "textEdit" })</td>
                    <td>@Html.TextBoxFor(m => m.MiddleInitial2, new { size = "1", @class = "txtEdit65" })</td>
                    <td>@Html.TextBoxFor(m => m.LastName2, new { @class = "textEdit" })</td>
                    <td>@Html.TextBoxFor(m => m.Suffix2, new { size = "6", @class = "txtEdit80" })</td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.FirstName2)
                        @Html.ValidationMessageFor(m => m.LastName2)
                        @Html.ValidationMessageFor(m => m.MiddleInitial2)
                        @Html.ValidationMessageFor(m => m.Suffix2)
                        @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons ,"2nd Insured Name", "Ins2Name", "AddIns2", "DelIns2Name"))
                    </td>
                </tr>
                <tr>
                    <td style="@Model.HighlightField("Phone")">@Html.LabelFor(m => m.HomePhone)</td>
                    <td>@Html.TextBoxFor(m => m.HomePhone, new { @class = "textEdit" })</td>
                    <td style="@Model.HighlightField("Phone")">@Html.LabelFor(m => m.WorkPhone)</td>
                    <td colspan="2">@Html.TextBoxFor(m => m.WorkPhone, new { @class = "textEdit" })</td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.WorkPhone)
                        @Html.ValidationMessageFor(m => m.HomePhone)
                        @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "Phone", "Phone"))
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;@Model.HighlightField("Email")">
                        @Html.LabelFor(m => m.EmailAddress)
                    </td>
                    <td colspan="3">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "textEditLowerCase" })
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="insuredValidationRow">
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                        @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "Email", "Email"))
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        Preferred Contact Language
                    </td>
                    <td colspan="3">
                        @Html.DropDownListFor(m => m.InsuredPreferredLanguage, languages, new { @class = "textEdit" })
                    </td>
                </tr>

            </tbody>
        </table>

        <table id="MailGarageAddr" class="tbl49" style="float:right;">
            <thead>
                <tr>
                    <th colspan="2">Address</th>
                </tr>
                <tr class="tblHeaderRec">
                    <td colspan="2">Garage Address</td>
                </tr>
            </thead>
            <tr>
                <td style="@Model.HighlightField("GAStreet")">Street</td>
                <td>
                    @Html.TextBoxFor(m => m.GarageStreetAddress, new { @class = "textEdit", @id = "GarageStreetAddress" })
                    @Html.ValidationMessageFor(m => m.GarageStreetAddress)
                    @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "Garage Street", "GAStreet"))
                </td>
            </tr>
            <tr>
                <td style="@Model.HighlightField("GAZip")">City/State/ZIP</td>
                <td>
                    @Html.DropDownListFor(m => m.GarageCity, new[] {
                    new SelectListItem() { Text = "Find by Zip" }
                    }, new { @readonly = "readonly", @class = "textEdit" })
                    @*@Html.TextBoxFor(m => m.City, new { @class = "txtEdit27", disabled = "disabled" })*@
                    @Html.TextBoxFor(m => m.GarageState, new { size = 2, @class = "txtEdit27", @readonly = "" })
                    @Html.TextBoxFor(m => m.GarageZIPCode, new { size = 6, @class = "txtEdit27 SameAsGarage garageZipCode" })
                    @Html.ValidationMessageFor(m => m.GarageCity)
                    @Html.ValidationMessageFor(m => m.GarageState)
                    @Html.ValidationMessageFor(m => m.GarageZIPCode)
                    <br/>
                    @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "Garage Zip", "GAZip"))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.GarageCounty)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.GarageCounty, new[] {
                    new SelectListItem() { Text = "Find by Zip" }
                    }, new { @class = "textEdit" })
                </td>
            </tr>

            <tr class="tblHeaderRec">
                <td colspan="2">
                    <label style="color:black;font-weight:normal;padding-top:5px;">Mailing Address</label>
                    <div style='float:right; color:black;font-weight:normal;'>
                        @Html.CheckBoxFor(m => m.SameAsGarage, new { @id = "SameAsGarage", name = "SameAsGarage" })
                        @Html.LabelFor(m => m.SameAsGarage)
                    </div>
                </td>
            </tr>

            @*<tr>
            <th colspan="2">
            <label>Mailing Address</label>
            <div style='float:right'>
            @Html.CheckBoxFor(m => m.SameAsGarage)
            @Html.LabelFor(m => m.SameAsGarage)
            </div>
            </th>
            </tr>*@

            <tr>
                <td style="@Model.HighlightField("MAStreet")">Street</td>
                <td>
                    @Html.TextBoxFor(m => m.MailingStreetAddress, new { @class = "textEdit" })
                    @Html.ValidationMessageFor(m => m.MailingStreetAddress)
                    @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons , "Mailing Street", "MAStreet"))
                </td>
            </tr>
            <tr>
                <td style="@Model.HighlightField("MAZip")">City/State/ZIP</td>
                <td>
                    @Html.DropDownListFor(m => m.MailingCity, new[] {
                    new SelectListItem() { Text = "Find by Zip" }
                    }, new { @readonly = "readonly", @class = "textEdit" })
                    @*@Html.TextBoxFor(m => m.City, new { @class = "txtEdit27", disabled = "disabled" })*@
                    @Html.TextBoxFor(m => m.MailingState, new { size = 2, @class = "txtEdit27" })
                    @Html.TextBoxFor(m => m.MailingZIPCode, new { size = 6, @class = "txtEdit27 garageZipCode SameAsGarage" })
                    @Html.ValidationMessageFor(m => m.MailingCity)
                    @Html.ValidationMessageFor(m => m.MailingState)
                    @Html.ValidationMessageFor(m => m.MailingZIPCode)
                    <br/>
                    @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "Mailing ZIP", "MAZip"))
                </td>
            </tr>
        </table>

        <div class="clear"></div>


        @Html.DisplayFor(m => m.Drivers)
        @Html.DisplayFor(m => m.Vehicles)

        <table id="CoveragesDiscs" class="tbl100">
            <thead>
                <tr>
                    <th colspan="8">
                        Coverages
                    </th>
                </tr>
                <tr class="tblHeaderRec">
                    <td colspan="2">
                        PIP
                    </td>
                    <td colspan="3">
                        Liability
                    </td>
                    @*<td colspan="2">
                        Physical Damage
                    </td>
                    <td colspan="2"></td>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="@Model.HighlightField("ChangePIP")">
                        @Html.LabelFor(m => m.PipDeductible)
                    </td>
                    <td colspan="2">
                        @Html.DropDownListFor(m => m.PipDeductible, PipDeductibles, new { @class = "textEdit" })
                    </td>
                    @* <td> *@
                    @*     $1$ @Html.LabelFor(model => model.BiLimit) #1# *@
                    @* </td> *@
                    @* <td> *@
                    @*     $1$ @Html.DropDownListFor(m => m.BiLimit, BiLimits, new { @class = "textEdit" }) #1# *@
                    @*     @Html.HiddenFor(m => m.BiLimit) *@
                    @* </td> *@
                    <td  style="@Model.HighlightField("PD")">
                        @Html.LabelFor(model => model.PdLimit)
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.PdLimit, PdLimits, new { @class = "textEdit" })
                        @Html.HiddenFor(m => m.BiLimit)
                    </td>

                    @*<td>
                        @Html.LabelFor(m => m.CompDed)
                    </td>
                    <td>*@
                        @*@Html.DropDownListFor(m => m.CompDed, PhydamDeductibles, new { @class = "textEdit" })
                        @Html.ValidationMessageFor(m => m.CompDed) *@
                        @*@Model.CompDed
                    </td>
                    <td colspan="2">
                        <div class="textAlignRight" style="width: 100px;">*@
                            @* @Html.DropDownListFor(m => m.TransDisc, TransferDiscountOptions, new { @class = "textEdit" }) *@
                            @* @Html.ValidationMessageFor(m => m.TransDisc) *@
                        @*</div>
                    </td>*@
                </tr>
                <tr>
                    <td colspan="3">@Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "PIP Deductible", "ChangePIP"))</td>
                    <td colspan="2">@Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "PD Coverage", "PD"))</td>
                </tr>
                <tr>
                    <td  style="@Model.HighlightField("WLoss")">
                        @Html.LabelFor(m => m.Workloss)
                    </td>
                    <td>
                        Yes
                        @if (Model.Workloss.GetValueOrDefault())
                        {
                            @Html.RadioButtonFor(m => m.Workloss, true, new { @class = "worklossradio", @id = "workLossYes", @checked = "checked" })
                            @Html.RadioButtonFor(m => m.Workloss, false, new { @class = "worklossradio", @id = "workLossNo" })

                        }
                        else
                        {
                            @Html.RadioButtonFor(m => m.Workloss, false, new { @class = "worklossradio", @id = "workLossYes" })
                            @Html.RadioButtonFor(m => m.Workloss, true, new { @class = "worklossradio", @id = "workLossNo", @checked = "checked" })
                        }
                        No

                        
                    </td>
                    <td colspan="3">
                        @Html.ValidationMessageFor(m => m.Workloss)
                        @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "Workloss", "WLoss"))
                    </td>
                    

                    @* <td> *@
                    @*     @Html.LabelFor(model => model.PdLimit) *@
                    @* </td> *@
                    @* <td> *@
                    @*     @Html.DropDownListFor(m => m.PdLimit, PdLimits, new { @class = "textEdit" }) *@
                    @* </td> *@
                    @*<td>*@
                        @*@Html.LabelFor(m => m.CollDed)*@
                    @*</td>
                    <td>*@
                        @*  @Html.DropDownListFor(m => m.CollDed, PhydamDeductibles, new { @class = "textEdit" })
                        @Html.ValidationMessageFor(m => m.CollDed) *@
                        @*@Model.CollDed*@
                    @*</td>

                    <td>*@
                        @* <div class="textAlignCenter"> *@
                        @*     @Html.CheckBoxFor(model => model.HasHomeownersDisc, new { @class = "checkbox", disabled = "disabled" }) *@
                        @* </div> *@
                    @*</td>*@
                </tr>
                <tr>
                    <td  style="@Model.HighlightField(null, null, "NIO","NIRR")">
                        @Html.LabelFor(model => model.NIO)
                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.WorkLossGroup, 1, new { @id = "NIO", @class = "workloss" })
                    </td>
                    @* <td> *@
                    @*     @Html.LabelFor(model => model.UmLimit) *@
                    @* </td> *@
                    @* <td> *@
                    @*     @Html.DropDownListFor(m => m.UmLimit, UmLimits, new { @class = "textEdit" }) *@
                    @* </td> *@
                    @*<td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td colspan="2">*@
                        @* <div class="textAlignCenter"> *@
                        @*     @Html.CheckBoxFor(m => m.HasPPO) *@
                        @*     @Html.ValidationMessageFor(m => m.HasPPO) *@
                        @* </div> *@
                    @*</td>*@
                </tr>
                <tr>
                    <td style="@Model.HighlightField(null,null,"NIO","NIRR")">
                        @Html.LabelFor(model => model.NIRR)
                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.WorkLossGroup, 2, new { @class = "workloss" })
                    </td>
                    <td colspan="6">@Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "NIO/NIRR", "NIO"))</td>
                </tr>

                <tr>
                    <td style="@Model.HighlightField("PPO")">
                        @Html.Label("No Cost Optional PPO Endorsement")
                    </td>
                    <td>
                        <div style="text-align: left;">
                            @Html.CheckBoxFor(m => m.HasPPO, new { @id = "hasPPO" })
                            </div>
                    </td>
                    <td  colspan="6">
                        @Html.ValidationMessageFor(m => m.HasPPO)
                        @Html.Raw(AgentUtils.ValidateEndorseField(missingEndorseReasons, unselectedReasons, "PPO", "PPO"))
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="discounts" class="tbl100" style="visibility:collapse;">
            <thead>
                <tr>
                    <th colspan="8">
                        Discounts
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="visibility:collapse;">
                    <td>
                        Experience Driver Credit
                    </td>
                    <td>
                        <div style="text-align: left; width: 350px;">
                            @Html.DropDownListFor(m => m.TransDisc, TransferDiscountOptions, new { @id = "transDisc" })
                            @Html.ValidationMessageFor(m => m.TransDisc)
                        </div>
                    </td>
                </tr>
                <tr  style="visibility:collapse;">
                    <td>
                        @Html.LabelFor(model => model.HasHomeownersDisc)
                    </td>
                    <td>
                        <div style="text-align: left;">
                            @Html.CheckBoxFor(model => model.HasHomeownersDisc, new { @class = "checkbox", @id = "homeOwnersDiscountCheckBox" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Paperless)
                    </td>
                    <td>
                        <div style="text-align: left;">
                            @Html.CheckBoxFor(model => model.Paperless, new { @class = "checkbox", @id = "paperlessDiscountCheckBox" })
                        </div>
                    </td>
                </tr>
                <tr style="visibility:collapse;">
                    <td>
                        @Html.Label("Advanced Quote")
                    </td>
                    <td>
                        <div style="text-align: left;">
                            @Html.CheckBoxFor(model => model.AdvancedQuote, new { @class = "checkbox", @id = "advancedQuoteDiscountCheckBox" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <h3>Coverage Information</h3>
        <table class="viewPolicyTable" id="tblCoverageInfo">
            <tr>
                <th>
                    Coverages
                </th>
                <th>
                    Limits and Deductibles
                </th>
                <th colspan="11" align="center">
                    Premiums
                </th>
            </tr>
            <tr>
                <td align="center" id="premiumsShown" colspan="13">
                    <strong>@{ string annlMsg = Model.SixMonth ? "*All Premiums Shown Semi-Annualized" : "*All Premiums Shown Annualized"; @annlMsg}</strong>
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="2">
                    Vehicle 1
                </td>
                <td colspan="2">
                    Vehicle 2
                </td>
                <td colspan="2">
                    Vehicle 3
                </td>
                <td colspan="2">
                    Vehicle 4
                </td>
                <td colspan="2">
                    Vehicle  5
                </td>
            </tr>
            @{

                foreach (SelectStatementResultRow row in Model.GetCoverageInfo.ResultSet[0].Rows)
                {
                    <tr>
                        <td id="covInfoCol1" colspan6="1">@row.Values[1]</td>
                        <td id="covInfoCol2" colspan="2">@row.Values[2]</td>
                        <td id="covInfoCol3" colspan="2">@Convert.ToDecimal(row.Values[3]).ToString("n2")</td>
                        <td id="covInfoCol4" colspan="2">@Convert.ToDecimal(row.Values[4]).ToString("n2")</td>
                        <td id="covInfoCol5" colspan="2">@Convert.ToDecimal(row.Values[5]).ToString("n2")</td>
                        <td id="covInfoCol6" colspan="2">@Convert.ToDecimal(row.Values[6]).ToString("n2")</td>
                        <td id="covInfoCol7" colspan="2">@Convert.ToDecimal(row.Values[7]).ToString("n2")</td>
                    </tr>
                }
            }
            <tr>
                <td colspan="3"></td>
                <td colspan="3">
                    <b>SR 22 FEE</b>
                </td>
                <td id="ciSR22Fee" colspan="1">
                    $@Convert.ToDecimal(Model.SR22Fee).ToString("n2")
                </td>
                <td colspan="4" align="right">
                    <b>Installment Set-up Fee</b>
                </td>
                <td id="ciMaintenanceFee" colspan="2">
                    $@Convert.ToDecimal(Model.MaintenanceFee).ToString("n2")
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="3">
                    <b>MVR FEE</b>
                </td>
                <td id="ciMVRFee">
                    $@Convert.ToDecimal(Model.MVRFee).ToString("n2")
                </td>
                <td colspan="2"></td>
                <td colspan="3">
                    <b>Policy Fee</b>
                </td>
                <td id="ciPolicyFee" colspan="1">
                    $@Convert.ToDecimal(Model.PolicyFee).ToString("n2")
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="3">
                    <b>PIP/PD Only Fee</b>
                </td>
                <td id="ciPIPPDOnlyFee">
                    $@Convert.ToDecimal(Model.PIPPDOnlyFee).ToString("n2")
                </td>
                <td colspan="2"></td>
                <td colspan="3">
                    <b>Total Policy:</b>
                </td>
                <td id="ciPolicyWritten" colspan="1">
                    $@Convert.ToDecimal(Model.PolicyWritten).ToString("n2")
                </td>
            </tr>
            <tr>
                <td colspan="6" align="right"></td>
                <td align="right" colspan="5"><b>Old Premium: </b></td>
                <td align="left" colspan="7"  style="font-weight: bolder">$@Convert.ToDecimal(Model.OldPolicyWritten).ToString("n2")</td>
            </tr>
            <tr>
                <td colspan="6" align="right"></td>
                <td align="right" colspan="5"><b>Change In Premium: </b></td>
                <td id="ChangeInPrem" align="left" colspan="7" style="color: red;background: yellow;font-weight: bolder">$@TempData["PolicyEndorseDiffAmt"]</td>

            </tr>
            <tr>
                <td align="right" colspan="11">
                    <span><b>Min Due</b></span><br><span style="font-style: italic;font-size: 11px;">(Min payment to complete Endorsement)</span>
                </td>
                <td align="left" colspan="2" style="color: red;background: yellow;font-weight: bolder">$@ViewBag.EndorsementMinDue</td>
            </tr>
            <tr>
                <td align="center" colspan="13"><strong>This policy does not provide any coverage for which a specific premium charge is not shown.</strong></td>
            </tr>
        </table>

        <br />
        @if (Model.EndorsementInstallments.Count > 0)
        {
            Html.RenderPartial("EndorsementpaymentSchedule", Model.EndorsementInstallments);
        }

        <div id="palms-getquote-wrapper"></div>
        <div style='display: none'>
            <div id="palms-relativities-wrapper"></div>
        </div>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div id="errorMessage" class="error">
                <p style="font-weight: bold; text-align: justify;">@Html.Raw(Model.ErrorMessage)</p>
            </div>
        }
       
            <div id="endorse-action-buttons-div">
                @Html.ActionLink("Back To Policy", "Policy", "Agent", new { id = Model.PolicyNo }, new { @class = "btnSubmit", style = "float: left;margin-right:10px;margin-left:10px;" })

                @if (nonPremBearingChangesOnly)
                {
                    <a class="btnSubmit" style="float: right;margin-right:10px;margin-left:10px;" id="btnNonPremBearing">Issue Endorsement</a>
                }
                else
                {
                    <a class="btnSubmit" style="float: right;margin-right:10px;margin-left:10px; display:none;" id="btnNonPremBearing">Issue Endorsement</a>
                }
                @if (!nonPremBearingChangesOnly && Model.PolicyRated && (string.IsNullOrEmpty(Model.ErrorMessage)))
                {
                    <a class="btnSubmit" style="float: right;" id="issueEndorsementSubmit">Issue Endorsement</a>
                    @*<button type="submit" style="float: right;" class="btnSubmit" id="issueEndorsementSubmit">Issue Endorsement</button>*@
                    if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        Model.ErrorMessage = string.Empty;
                    }
                }
                else if (nonPremBearingChangesOnly)
                {
                    <button type="submit" style="float: right;display:none;" class="btnSubmit disabled" disabled="disabled" id="issueEndorsementSubmit">Issue Endorsement</button>
                }
                else //1-premium and rated and error message ; 2-premium but not rated
                {
                    <button type="submit" style="float: right;" class="btnSubmit disabled" disabled="disabled" id="issueEndorsementSubmit">Issue Endorsement</button>
                }
                @*<button type="submit" style="float: right;" class="btnSubmit" id="issueEndorsementSubmit">Issue Endorsement</button>*@

                @if (nonPremBearingChangesOnly || !premBearingChanges)
                {
                    <a class="btnSubmit disabled" style="float: right;margin-right:10px;margin-left:10px;" disabled="disabled" id="btnUpdateRates">Update Rates Based on These Values</a>
                }
                else
                {
                    <a class="btnSubmit" style="float: right;margin-right:10px;margin-left:10px;" id="btnUpdateRates">Update Rates Based on These Values</a>
                }
            </div>
    </div>
}

<script type="text/javascript">
    
    $(function () {
        $("#slider-range-max").slider({
            range: "max",
            min: 499,
            max: 1000,
            disabled: true,
            value: @Model.CreditScore,
            change: UpdateSliderBGColor,
            slide: function (event, ui) {
                $("#amount").val(ui.value);
            }
        });
        UpdateSliderBGColor();
        $("#amount").val($("#slider-range-max").slider("value"));
    });
    function UpdateSliderBGColor() {
        var currentVal = $("#slider-range-max").slider("value");
        if (currentVal < 600) {
            $("#slider-range-max").css("background", "#ff0000");
        }
        else if (currentVal <= 700) {
            $("#slider-range-max").css("background", "#ffff00");
        }
        else {
            $("#slider-range-max").css("background", "#008000");
        }
    };
    jQuery.fn.extend({
        scrollToMe: function () {
            var x = jQuery(this).offset().top - 100;
            jQuery('html,body').animate({scrollTop: x}, 500);
        }});

    function ValidateDriverDl(dlNum)
    {
        $.getJSON("@Url.Action("ValidateDriversLicense", "AjaxHelpers")", {
            value: dlNum
        }, function (data) {
            if(data.returnMsg == "TRUE" || data.returnMsg == "UNLICENSED")
            {
                $("#addDriverForm .btnSubmit").attr("disabled", null);
                $("#addDriverForm .btnSubmit").removeClass("disabled");
                $("#driverErrMsg").removeClass("error");
                $("#driverErrMsg").html("");
            }

            if(data.returnMsg == "AUTO-GENERATED")
            {
                $("#addDriverForm .btnSubmit").attr("disabled", "disabled");
                $("#addDriverForm .btnSubmit").addClass("disabled");
                $("#driverErrMsg").addClass("error");
                $("#driverErrMsg").html("The drivers license number has been generated for you. Please add the last dash and digit to the drivers license number");
            }

            if(data.returnMsg =="NOT VALID")
            {
                $("#addDriverForm .btnSubmit").attr("disabled", "disabled");
                $("#addDriverForm .btnSubmit").addClass("disabled");
                $("#driverErrMsg").addClass("error");
                $("#driverErrMsg").html("The license entered is not valid");
            }
        });
    }

    
    $(document).ready(function() {
        function UpdatePolicyEndorsementType(type, fieldName, fieldValue) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdatePolicyEndorsementType", "AjaxHelpers")",
                dataType: 'json',
                data: { policyNo: "@Sessions.Instance.PolicyNo", endorsementType: type },
                success: function(result) {
                }
            });

            $("#endorse-action-buttons-div").css('pointer-events', 'none').attr('title',' Please Wait... Verifying the changes...');
            $("#btnUpdateRates").after("<div class='endorse-fields-update-processing' style='float:right;'><img src='/Content/images/update.gif' /> Please Wait...Verifying the Changes...</div>");
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdatePolicyEndorsementField", "AjaxHelpers")",
                dataType: 'json',
                data: { policyNo: "@Sessions.Instance.PolicyNo", fieldName, fieldValue },
                success: function (result) {

                    if (result != undefined && result.isSucess == true) {

                        if (result.onlyNonPremBearingChanges || result.premBearingChanges != true) {
                            $('#btnUpdateRates')
                                .attr('disabled', 'disabled')
                                .addClass('disabled');
                            $('#issueEndorsementSubmit')
                                .attr('disabled', 'disabled')
                                .addClass('disabled')
                                .css('display', 'block');
                        }
                        if (result.onlyNonPremBearingChanges) {
                            $("#btnNonPremBearing").css('display', 'block');
                            $('#issueEndorsementSubmit')
                                .attr('disabled', 'disabled')
                                .addClass('disabled')
                                .css('display', 'none');
                        }
                        else if (result.premBearingChanges) {
                            $("#btnNonPremBearing").css('display', 'none');
                            $('#btnUpdateRates')
                                .removeAttr('disabled')
                                .removeClass('disabled');
                            $('#issueEndorsementSubmit')
                                .css('display', 'block');
                        }
                    }

                    $(".endorse-fields-update-processing").remove();
                    $("#endorse-action-buttons-div").css('pointer-events', 'auto').attr('title', '');
                },
                error: function () {
                    $(".endorse-fields-update-processing").remove();
                    $("#endorse-action-buttons-div").css('pointer-events', 'auto').attr('title', '');
                }
            });
        }
        @if(Model != null)
        {
            if (Model.CreditScore != 0)
            {
                <text>$("#slider-range-max").val(@Model.CreditScore);</text>
            }
        }
        $("#ExpirationDate").attr("disabled", "disabled");


        $("#FirstName1").live("change",
            function() {
                UpdatePolicyEndorsementType("NAME", "FirstName1", $("#FirstName1").val())
            });
        $("#MiddleInitial1").live("change",
            function() {
                UpdatePolicyEndorsementType("NAME", "MiddleInitial1", $("#MiddleInitial1").val())
            });
        $("#LastName1").live("change",
            function() {
                UpdatePolicyEndorsementType("NAME", "LastName1", $("#LastName1").val())
            });
        $("#Suffix1").live("change",
            function() {
                UpdatePolicyEndorsementType("NAME", "Suffix1", $("#Suffix1").val())
            });
        $("#FirstName2").live("change",
            function() {
                UpdatePolicyEndorsementType("NAME", "FirstName2", $("#FirstName2").val())
            });
        $("#MiddleInitial2").live("change",
            function() {
                UpdatePolicyEndorsementType("NAME", "MiddleInitial2", $("#MiddleInitial2").val())
            });
        $("#LastName2").live("change",
            function() {
                UpdatePolicyEndorsementType("NAME", "LastName2", $("#LastName2").val())
            });
        $("#Suffix2").live("change",
            function() {
                UpdatePolicyEndorsementType("NAME", "Suffix2", $("#Suffix2").val())
            });

        $("#HomePhone").live("change",
            function() {
                UpdatePolicyEndorsementType("HOME_PHONE", "HomePhone", $("#HomePhone").val());
            });
        $("#WorkPhone").live("change",
            function() {
                UpdatePolicyEndorsementType("WORK_PHONE", "WorkPhone", $("#WorkPhone").val());
            });

        $("#GarageStreetAddress").live("change",
            function() {
                UpdatePolicyEndorsementType("ADDRESS", "GarageStreetAddress", $("#GarageStreetAddress").val());
            });
        $("#GarageCity").live("change",
            function() {
                UpdatePolicyEndorsementType("ADDRESS", "GarageCity", $("#GarageCity").val());
            });
        $("#GarageState").live("change",
            function() {
                UpdatePolicyEndorsementType("ADDRESS", "GarageState", $("#GarageState").val());
            });
        $("#GarageZIPCode").live("change",
            function() {
                UpdatePolicyEndorsementType("ADDRESS", "GarageZIPCode", $("#GarageZIPCode").val())
            });

        $("#MailingStreetAddress").live("change",
            function() {
                UpdatePolicyEndorsementType("ADDRESS", "MailingStreetAddress", $("#MailingStreetAddress").val())
            });
        $("#MailingCity").live("change",
            function() {
                UpdatePolicyEndorsementType("ADDRESS", "MailingCity", $("#MailingCity").val())
            });
        $("#MailingState").live("change",
            function() {
                UpdatePolicyEndorsementType("ADDRESS", "MailingState", $("#MailingState").val())
            });
        $("#MailingZIPCode").live("change",
            function () {
                UpdatePolicyEndorsementType("ADDRESS", "MailingZIPCode", $("#MailingZIPCode").val())
                $("#MailingCity").trigger("change");
            });

        $("#PipDeductible").live("change",
            function() {
                UpdatePolicyEndorsementType("PIP_DEDUCTIBLE", "PipDeductible", $("#PipDeductible").val())
            });

        $("#EmailAddress").live("change",
            function() {
                UpdatePolicyEndorsementType("EMAIL", "EmailAddress", $("#EmailAddress").val())
            });

        $('input:radio[name=Workloss]').live("change",
            function() {
                var isWorkLossYes = false;
                if ($("#workLossYes").is(":checked")) {
                    isWorkLossYes = true;
                }
                UpdatePolicyEndorsementType("WORKLOSS", "WorkLoss", isWorkLossYes)
            });

        $('input:radio[name=WorkLossGroup]').live("change",
            function() {
                var wlgSelected = $('input:radio[name=WorkLossGroup]:checked').val();
                var nio = wlgSelected == 1;
                UpdatePolicyEndorsementType("WORKLOSS_GROUP", "WorkLossGroup", nio)
            });

        $("#transDisc").live("change",
            function() {
                UpdatePolicyEndorsementType("TRANSFER_DISCOUNT", "Transfer_Discount", $("#transDisc").val())
            });
        $("#homeOwnersDiscountCheckBox").live("change",
            function() {
                UpdatePolicyEndorsementType("HOMEOWNERS_DISCOUNT",
                    "Homeowners_Discount",
                    $("#homeOwnersDiscountCheckBox").is(':checked'))
            });

        $("#paperlessDiscountCheckBox").live("change",
            function() {
                UpdatePolicyEndorsementType("PAPERLESS_DISCOUNT",
                    "Paperless_Discount",
                    $("#paperlessDiscountCheckBox").is(':checked'))
            });

        $("#hasPPO").live("change",
            function () {
                UpdatePolicyEndorsementType("HAS_PPO","Has_PPO", $("#hasPPO").is(':checked'))
            });
        

        $("#SameAsGarage").live("change",
            function() {
                UpdatePolicyEndorsementType("MAIL_SAME_AS_GARAGE",
                    "Mail_Same_As_Garage",
                    $("#SameAsGarage").is(':checked'))
            });


        $("#advancedQuoteDiscountCheckBox").live("change", function(){
            UpdatePolicyEndorsementType("ADVANCED_QUOTE_DISCOUNT", "Advanced_Quote_Discount", $("#advancedQuoteDiscountCheckBox").is(':checked'))
        });

        @*////////////////////////////////////////////////////////////////////////////////////////////////////////*@
        $("#DriversLicense").live("blur", function(){
            ValidateDriverDl($("#DriversLicense").val());

            if($("#DriversLicense").val().toLowerCase() == "unlicensed" || $("#DriversLicense").val().toLowerCase() == "permit")
            {
                $('#DateLicensed').attr('disabled', 'disabled');
            }
            else
            {
                $('#DateLicensed').attr('disabled', null);
            }
        });

        //Generate DL Number For Driver
        //			$('#Gender').live('blur', function () {
        //				if (!$(this).valid()) {
        //					return;
        //				}

        //                if($("#DriversLicense").val() == "")
        //                {
        //				    $.getJSON("@Url.Action("GenerateDriversLicense", "AjaxHelpers")", {
        //					    fname: $('#FirstName').val(),
        //					    lname: $('#LastName').val(),
        //					    mInitial: $('#MiddleInitial').val(),
        //					    gender: $('#Gender').val(),
        //					    dob: $('#DateOfBirth').val()
        //				    }, function (data) {
        //
        //				        $("#DriversLicense").val(data.dlnumber);
        //                        ValidateDriverDl(data.dlnumber);
        //				    });
        //                }
        //			});//END DL Number Generator
        @*////////////////////////////////////////////////////////////////////////////////////////////////////////*@
        //------------------------------------------------------------
        // [VEHICLE] Vehicle Related javascript

        //Year Of Vehicle Drop Down.
        $('#addVehicleForm #Year').live('change', function () {
            $('#addVehicleForm #Make').attr('disabled', 'disabled');
            $('#addVehicleForm #VehModel').attr('disabled', 'disabled');
            $('#addVehicleForm #Style').attr('disabled', 'disabled');

            if (!$(this).valid()) {
                return;
            }

            $.getJSON("@Url.Action("VinMakes", "AjaxHelpers")", {
                year: $(this).val()
            }, function (data) {
                var html = "";
                $.each(data, function (i, e) {
                    html += "<option>" + e + "</option>"
                });

                $('#addVehicleForm #Make')
                    .html(html)
                    .attr('disabled', null);
            });
        });//END Year Of Vehicle Drop Down.
        //######################################################################

        //Vehicle Make Drop Down
        $('#addVehicleForm #Make').live('change', function () {
            $('#addVehicleForm #VehModel').attr('disabled', 'disabled');
            $('#addVehicleForm #Style').attr('disabled', 'disabled');

            if (!$(this).valid()) {
                return;
            }

            $.getJSON("@Url.Action("VinModels", "AjaxHelpers")", {
                year: $('#addVehicleForm #Year').val(),
                make: $(this).val()
            }, function (data) {
                var html = "";
                $.each(data, function (i, e) {
                    html += "<option>" + e + "</option>"
                });

                $('#addVehicleForm #VehModel')
                    .html(html)
                    .attr('disabled', null);
            });
        });
        //######################################################################

        //Vehicle Model Drop Down
        $('#addVehicleForm #VehModel').live('change', function () {
            $('#addVehicleForm #Style').attr('disabled', 'disabled');

            if (!$(this).valid()) {
                return;
            }

            $.getJSON("@Url.Action("VinBodyStyles", "AjaxHelpers")", {
                year: $('#addVehicleForm #Year').val(),
                make: $('#addVehicleForm #Make').val(),
                model: $(this).val()
            }, function (data) {
                var html = "<option>Pick</option>";
                $.each(data, function (i, e) {
                    html += "<option>" + e + "</option>"
                });

                $('#addVehicleForm #Style')
                    .html(html)
                    .attr('disabled', null);
            });
        });
        //######################################################################

        //Vehicle Style Drop Down
        $('#addVehicleForm #Style').live('change', function () {
            if (!$(this).valid())
                return;

            $.getJSON("@Url.Action("VinPartials", "AjaxHelpers")", {
                year: $('#addVehicleForm #Year').val(),
                make: $('#addVehicleForm #Make').val(),
                model: $('#addVehicleForm #VehModel').val(),
                bodyStyle: $(this).val()
            }, function (data) {
                var html = "";
                $.each(data, function (i, e) {
                    html = e;
                });
                $('#addVehicleForm #VIN').val(html);
            });
        });
        //######################################################################

        $("#MilesToWork").live("blur", function(){
            var hasExistingErr;

            if($('#vinErrorMsg').hasClass('error'))
            {
                hasExistingErr = true;
            }

            if($(this).val() != ""){
                if(parseFloat($(this).val()) > 50){
                    $("#addVehicleForm .btnSubmit").attr("disabled", "disabled");
                    $("#addVehicleForm .btnSubmit").addClass("disabled");
                    $("#vinErrorMsg").addClass("error");
                    $("#vinErrorMsg").html("Miles to Work Exceed 50 Miles Per Day.");
                }
                else{

                    if(hasExistingErr){
                        $("#VIN").trigger("blur");
                    }
                    else{
                        $("#addVehicleForm .btnSubmit").attr("disabled", null);
                        $("#addVehicleForm .btnSubmit").removeClass("disabled");
                        $("#vinErrorMsg").removeClass("error");
                        $("#vinErrorMsg").html("");
                    }
                }
            }
        });

        // Get VIN Data on blur
        $("#VIN").live("blur", function(){
            if (!$(this).valid()) {
                return;
            }

            $.getJSON("@Url.Action("GetVehicleInfoByVin", "AjaxHelpers")", {
                vin: $('#VIN').val()
            }, function (data) {
                if(data.returnVal == "Vin Not In Our Records" || data.returnVal == "VIN Not valid")
                {
                    $("#addVehicleForm .btnSubmit").attr("disabled", "disabled");
                    $("#addVehicleForm .btnSubmit").addClass("disabled");
                    $("#vinErrorMsg").addClass("error");
                    $("#vinErrorMsg").html("This vehicle's VIN is not in our records, cannot add this vehicle.");
                    return;
                }

                $("#addVehicleForm .btnSubmit").attr("disabled", null);
                $("#addVehicleForm .btnSubmit").removeClass("disabled");
                $("#vinErrorMsg").removeClass("error");
                $("#vinErrorMsg").html("");
                $("#Make").attr('disabled', null);
                $("#VehModel").attr('disabled', null);
                $("#Style").attr('disabled', null);

                $("#Year").val(data.year);
                $("#Make").html('<option>'+data.make+'</option>');
                $("#VehModel").html('<option>'+data.model+'</option>');
                $("#Style").html('<option>'+data.bodystyle+'</option>');
                $("#CompSymbol").val(data.compsymb);
                if(data.abs == "S" || data.abs == "s")
                {
                    $("#HasAntiLockBrakes").attr("checked", true);
                }

                if(data.ars == "True")
                {
                    $("#HasAirbag").attr("checked", true);
                }

                if(data.atd == "True")
                {
                    $("#HasAntiTheftDevice").attr("checked", true);
                }
            });

        });//END VIN Lookup
        //######################################################################

        // COMP and COLL must match. If one changes, update the other.
        $('#CompDed').change(function () {
            $('#CollDed').val($(this).val());
        });
        //######################################################################

        // COMP and COLL must match. If one changes, update the other.
        $('#CollDed').change(function () {
            $('#CompDed').val($(this).val());
        });
        //######################################################################

        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        //------------------------------------------------------------
        // [DRIVERS] Driver Related Javascript

        //Refresh Drivers Table when deleting a driver
        $("deleteDriver").live("click", function () {
            $(this).parent().parent().remove();
        });
        //######################################################################

        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        //------------------------------------------------------------
        // [LIENHOLDERS] Lienholder Javascript
        $("deleteDriver").live("click", function () {
            $(this).parent().parent().remove();
        });
    });


    $(function () {

        $('#addDriverForm').dialog({ modal: true, width: 800, autoOpen: false });
        $('#addVehicleForm').dialog({ modal: true, width: 850, autoOpen: false });
        $('#addViolationForm').dialog({ modal: true, width: 700, autoOpen: false });
        $('#addLienHolderForm').dialog({ modal: true, width: 400, autoOpen: false });

        var realId = $('#mainQuoteId').val();
        $('input[name=QuoteId][type=hidden]').val(realId);

        SaveAsOriginal('DriversTable');
        SaveAsOriginal('ViolationsTable');
        SaveAsOriginal('VehiclesTable');
        SaveAsOriginal('LienHoldersTable');

        SaveAsOriginal('addDriverForm');
        SaveAsOriginal('addVehicleForm');

    });

    // ####################### Openers #########################

    @*$('#addDriver').live('click', function (e) {
        e.preventDefault();
        LoadOriginal('addDriverForm');
        var guid = GenerateGuid();

        $('#addDriverForm input[name=DriverId][type=hidden]').val(guid);
        $('#addViolationForm input[name=DriverId][type=hidden]').val(guid);
        $('#addDriverForm').dialog('open');

        var driverIndex;

        data = $.getJSON("@Url.Action("GetQuoteDriversCount", "AjaxHelpers")", {
                    id: "@Sessions.Instance.PolicyNo"
                }, function (data) {
                driverIndex = data.driverCount;
                $('#addDriverForm input[name=DriverIndex][type=hidden]').val(parseInt(driverIndex) + 1);

                if(driverIndex == "0")
                {
                    $('#addDriverForm input[name=FirstName]').val($("#InsuredInfo input[name=FirstName1]").val());
                    $('#addDriverForm input[name=MiddleInitial]').val($("#InsuredInfo input[name=MiddleInitial1]").val());
                    $('#addDriverForm input[name=LastName]').val($("#InsuredInfo input[name=LastName1]").val());
                    $('#addDriverForm input[name=Suffix]').val($("#InsuredInfo input[name=Suffix1]").val());
                    $('#DateOfBirth').focus();
                }
        });
    });*@

    @*$('#addVehicle').live('click', function (e) {
        e.preventDefault();
        LoadOriginal('addVehicleForm');
        var guid = GenerateGuid();
        $('#addVehicleForm input[name=VehicleId][type=hidden]').val(guid);
        $('#addLienHolderForm input[name=LienHolderModel.VehicleId][type=hidden]').val(guid);

        $('#addVehicleForm').dialog('open');
        $('#VIN').focus();
    });

    $('#addViolation').live('click', function (e) {
        e.preventDefault();

//        $('#addViolationForm input[name=Description]').autocomplete({
//            source: "@Url.Action("ViolationAutocomplete", "AjaxHelpers")",
//            minLength: 2
//        });

        var driverIndex;

        data = $.getJSON("@Url.Action("GetQuoteDriversCount", "AjaxHelpers")", {
                    id: "@Sessions.Instance.PolicyNo"
                }, function (data) {
                driverIndex = data.driverCount;
                if($('#addDriverForm input[name=DriverIndex][type=hidden]').val() == "")
                {
                    $('#addViolationForm input[name=DriverIndex][type=hidden]').val(parseInt(driverIndex) + 1);


                }
                else
                {
                    $('#addViolationForm input[name=DriverIndex][type=hidden]').val($('#addDriverForm input[name=DriverIndex][type=hidden]').val());
                }
        });
        $('#addViolationForm').dialog('open');
    });

    $('#addLienHolder').live('click', function (e) {

    var vin =  $('#VIN').val();
    if (vin.length == 17){
        e.preventDefault();

        var carIndex;

        data = $.getJSON("@Url.Action("GetQuoteCarsCount", "AjaxHelpers")", {
                    id: "@Sessions.Instance.PolicyNo"
                }, function (data) {
                carIndex = data.carCount;

                if($('#addVehicleForm input[name=CarIndex][type=hidden]').val() == "")
                {
                    $('#addLienHolderForm input[id=CarIndex][type=hidden]').val(parseInt(carIndex) + 1);

                }
                else
                {
                    $('#addLienHolderForm input[id=CarIndex][type=hidden]').val($('#addVehicleForm input[name=CarIndex][type=hidden]').val());
                }
        });


        $('#addLienHolderForm').dialog('open');
        }
        else{
        alert("Must have a Valid VIN of 17 characters in length");
        }
    });*@

    // ##################### Add Success Handlers #######################

    var onDriverAddSuccess = function(){
        $("#addDriverForm").dialog('close');
        $("#addDriverForm").children('form')[0].reset();
    }


    var onVehicleAddSuccess = function(){
        $("#addVehicleForm").dialog('close');
        $("#addVehicleForm").children('form')[0].reset();
    }


    var onViolationAddSuccess = function(){
        $("#addViolationForm").dialog('close');
        $("#addViolationForm").children('form')[0].reset();
    }

    var onLienHolderAddSuccess = function(){
        $("#addLienHolderForm").dialog('close');
        $("#addLienHolderForm").children('form')[0].reset();
    };

    // ##################### Add Error Handlers #######################


    var onVehicleAddFailure = function(){
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    }


    var onDriverAddFailure  = function(){
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    }
    var onViolationAddFailure  = function(){
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    }
    var onLienHolderAddFailure = function() {
        if (xhr.status != 400)
            return false;

        var response = jQuery.parseJSON(xhr.responseText);

        if (!response || !response.errors)
            return false;

        var errobj = {};
        for (var i in response.errors) {
            errobj[response.errors[i].Key] = response.errors[i].Message;
        }
        var validator = $(form + ' form').validate({
            errorClass: "whatnot"
        });
        validator.showErrors(errobj);
    };



    //    var onVehicleAddFailure = AjaxErrorHandler.bind(null, '#addVehicleForm');
    //    var onDriverAddFailure = AjaxErrorHandler.bind(null, '#addDriverForm');
    //    var onViolationAddFailure = AjaxErrorHandler.bind(null, '#addViolationForm');
    //    var onLienHolderAddFailure = AjaxErrorHandler.bind(null, '#addLienHolderForm');

    // ##################### Load Success Handlers #######################

    var onVehicleLoadSuccess = function () {
        $('#addViolationForm input[name=DriverIndex][type=hidden]').val(
            $('#addDriverForm input[name=DriverIndex]').val());

        $('#addVehicleForm').dialog('open');
    };
    var onDriverLoadSuccess = function () {
        $('#addViolationForm input[name=DriverIndex][type=hidden]').val(
            $('#addDriverForm input[name=DriverIndex]').val());

        $('#addDriverForm').dialog('open');
    };

</script>

<script type="text/javascript">
    $(document).ready(function () {
        @*//Load/Run zip code logic on page load if not NULL*@
        if($("#GarageZIPCode").length > 0)
        {
            if($("#GarageZIPCode").val() > "")
            {
                var gcity      = $('#GarageCity');
                var gcounty    = $('#GarageCounty');
                var gstate     = $('#GarageState');
                var gzip       = $("#GarageZIPCode");
                var gzipval    = $("#GarageZIPCode").val();

                data = $.getJSON("@Url.Action("GarageZipLookup", "AjaxHelpers")", {
                    id: gzipval
                }, function (data) {
                    if (data == null) {

                        return;
                    }
                    var html = "";
                    $.each(data.cities, function (i, e) {
                        html += "<option value='" + e + "'>" + e + "</option>";
                    });
                    gcity.html(html);
                    gcity.attr('readonly', null);
                    @{
                            if (Model != null)
                            {
                                <text>
                    var savedCity = '@Model.GarageCity';
                    $("#GarageCity option").filter(function() {
                        return $(this).text() == savedCity;
                    }).attr('selected', true);
                    </text>
                            }
                        }
                    var garageHtml = "";
                    $.each(data.counties, function (i, e) {
                        garageHtml += "<option value='"+e+"'>" + e + "</option>";
                    });
                    gcounty.html(garageHtml);
                    gcounty.attr('readonly', null);
                    gstate.val(data.state);
                    if ($("#SameAsGarage").is("input:checked"))
                    {
                        $("#MailingCity option:selected").text($("#GarageCity option:selected").text());
                        $("#MailingState").val($("#GarageState").val());
                    }
                });
            }
        }@*//END Check for if garage zip exists*@
        ////////////////////////////////

        if($("#MailingZIPCode").length > 0)
        {
            if(!$("#SameAsGarage").attr("checked"))
            {
                var mcity = $('#MailingCity');
                var mstate = $('#MailingState');
                var mzipval    = $("#MailingZIPCode").val();

                data = $.getJSON("@Url.Action("ZipLookup", "AjaxHelpers")", {
                    id: mzipval
                }, function (data) {

                    var html = "";
                    $.each(data.cities, function (i, e) {
                        html += "<option>" + e + "</option>";
                    });
                    mcity.html(html);
                    mcity.attr('readonly', null);
                    @{
                            if (Model != null)
                            {
                                <text>
                    var savedMailCity = '@Model.MailingCity';
                    $("#MailingCity option").filter(function() {
                        return $(this).text() == savedMailCity;
                    }).attr('selected', true);
                    </text>
                            }
                        }
                    mstate.val(data.state);
                });
            }
        }//end check for if ZipCode Exists
        ////////////////////////////////

    });

</script>
<script type="text/javascript">
    function stopBack() { window.history.forward(); }
    setTimeout("stopBack()", 0);
    window.onunload = function () { null };
</script>

