﻿<style>
#infosheet 
{
    font-size: 125%;
    line-height: 125%;
    border:1px solid black;
    padding:1em;
}
#infosheet h3 
{
    padding: 0;
    margin: 1em 0em .25em 0em;
}
</style>
<div id="infosheet">
<h2>Agent Info Sheet</h2>

<h3>Underwriting</h3>
<i>Chief Underwriting Officer: Melissa DeAngelo</i><br />
Phone: (866) 436-7256 <i>Press 2</i><br />
Fax: (941) 866-9087<br />
<a href="mailto:underwriting@palminsure.com">underwriting@palminsure.com</a>

<h3>Billing</h3>
Phone: (866) 436-7256 <i>Press 4</i><br />

<h3>Claims</h3>
PO Box 25187, Sarasota, FL 34277-2187<br />
Phone: (866) 436-7256 <i>Press 3</i><br />

<h3>Marketing</h3>
Phone: (866) 436-7256 <i>Press 5</i><br />
<br />
<center>We appreciate your business!</center>

</div>