﻿@using AgentPortal.Support.Utilities
@using PalmInsure;
@using PalmInsure.Palms.Utilities;
@using DevExpress.Xpo;
@using DevExpress.Xpo.DB;
@using DevExpress.Data.Filtering;
@model AgentPortal.Models.IssueEndorsementDetailsModel

@{
    ViewBag.Title = "Issue Endorsement Details - " + Sessions.Instance.PolicyNo;
}
<script type="text/javascript">
	$(function() {
		@*************************************************@
		if ($("#radiosweep:checked").attr("checked")) {
			$("#paybySweep").show();
			$("#paybyCCard").hide();
		} else {
			$("#paybySweep").hide();
			$("#paybyCCard").show();
		}
		@*************************************************@
		$("#cmbMethodOfPayment").change(function() {
			if ($(this).val() == "CHECK") {
				$("#chkPayment").show();
				$("#ccPayment").hide();
			} else {
				$("#chkPayment").hide();
				$("#ccPayment").show();
			}
		});
		@*************************************************@
		$("#ccPymntsMsg").hide();

		if($("#radiocust").attr("checked"))
		{
			$("#ccPymntsMsg").show();
			if($("#cmbMethodOfPayment").val() == "CARD")
			{
				$("#btnPymntVendor").attr("disabled", "disabled");
				$("#btnPymntVendor").addClass("disabled");
				ValidateCreditCardPymnt();
			}
			else
			{
				$("#btnPymntVendor").attr("disabled", "disabled");
				$("#btnPymntVendor").addClass("disabled");
				ValidateCheckPymnt();
			}
		}
		@*/////////////////////////////////////////*@
        //$("#btnPrintAllDocs").live("click", function () {
        //    var docsPrintPolicyNo = $(this).attr('policyNo');
        //    var paymentReceiptLink = $(this).attr('paymentReceiptLink');
        //    var printPaymentSchedule = $(this).attr('printPaymentSchedule');
        //    if (printPaymentSchedule == 'True') {
        //        if (($("#btnPrintPolicyPaymentSchedule") || []).length > 0) {
        //            $("#btnPrintPolicyPaymentSchedule")[0].click();
        //        }
        //        if (($("#btnPrintPolicyInvoice") || []).length > 0) {
        //            $("#btnPrintPolicyInvoice")[0].click();
        //        }
        //    }
            
        //    if (($("#btnPrintPolicyDec") || []).length > 0) {
        //        $("#btnPrintPolicyDec")[0].click();
        //    }
        //    if (($("#btnPrintIDCards") || []).length > 0) {
        //        $("#btnPrintIDCards")[0].click();
        //    }
        //    if ((paymentReceiptLink || '') != '') {
        //        if (($("#btnPrintPaymentReceipt") || []).length > 0) {
        //            $("#btnPrintPaymentReceipt")[0].click();
        //        }
        //    }
        //});


		$("#radiocust").live("click", function(){
			if($("#radiocust").attr("checked"))
			{
				$("#ccPymntsMsg").show();
				if($("#cmbMethodOfPayment").val() == "CARD")
				{
					$("#btnPymntVendor").attr("disabled", "disabled");
					$("#btnPymntVendor").addClass("disabled");
					ValidateCreditCardPymnt();
				}
				else
				{
					$("#btnPymntVendor").attr("disabled", "disabled");
					$("#btnPymntVendor").addClass("disabled");
					ValidateCheckPymnt();
				}
			}
		});
		$("#btnTakePayment").live("click", function () {
			$.ajax({
				type: "POST",
				url: "@Url.Action("Payment", "Agent")",
				dataType: 'json',
			data: {
				agentcode: "@Sessions.Instance.AgentCode",
			},
			beforeSend: function() {

			},
			success: function (result) {
				if (result.returnMsg == "FAILED") {

				} else {

				}
			}
		});
		});
		@*/////////////////////////////////////////*@
		$("#cmbMethodOfPayment").change(function(){
			if($("#radiocust").attr("checked"))
			{
				if($("#cmbMethodOfPayment").val() == "CARD")
				{
					$("#btnPymntVendor").attr("disabled", "disabled");
					$("#btnPymntVendor").addClass("disabled");
					ValidateCreditCardPymnt();
				}
				else
				{
					$("#btnPymntVendor").attr("disabled", "disabled");
					$("#btnPymntVendor").addClass("disabled");
					ValidateCheckPymnt();
				}
			}
		});
		@*/////////////////////////////////////////*@
		$(".csRequired").live("blur", function(){
			if($("#radiocust").attr("checked"))
			{
				if($("#cmbMethodOfPayment").val() == "CARD")
				{
					ValidateCreditCardPymnt();
				}
				else
				{
					ValidateCheckPymnt();
				}
			}
		});
		@*************************************************@
		$("#btnSweep").on("click", function() {
			$.ajax({
				type: "POST",
				url: "@Url.Action("PostSweep", "AjaxHelpers")",
				dataType: 'json',
				data: {
					agentcode: "@Sessions.Instance.AgentCode",
					amount: "@Model.PaymentAmt",
					ckAcctType: "",
					chkAcctNo: "",
					chkNo: "",
					chkRoutingNo: "",
					dlState: "",
					dlNo: "",
					payorName: "",
					saveBankInfo: "False",
					isCheck: "False"
				},
				beforeSend: function() {
					$("#btnSweep").hide();
					$("#sweep-warningmsg").hide();
					$("#palms-sweep-continuemsg").html("<div class='info'><img src='/Content/images/update.gif' /> PLEASE BE PATIENT. THIS MAY TAKE UP TO 3 MINUTES TO PROCESS. PLEASE CONTACT UNDERWRITING IF THIS MESSAGE DOES NOT DISAPPEAR.</div>");
				},
				success: function (result) {
					if (result.returnMsg == "FAILED") {
						$("#btnSweep").show();
						$("#sweep-warningmsg").show();
						$("#palms-returnmsg").html(result.errorMsg);
						$("#palms-returnmsg").addClass(result.errMsgLevel);
					} else {
						@*@if (Model.PolicyType != "QUOTE" && Model.PolicyType != "RENEWAL")
						{
							<text>$("#palms-returnmsg").html("<div class='success'>" + result.succesMsg + "</div>");</text>
						}*@
						$("#radiocust").remove();
						$("#radiosweep").remove();
						$("#palms-sweep-continuemsg").html(result.continueMsg);
					}
				}
			});
		});
		@*************************************************@
		$("#btnPymntVendor").on("click", function() {

			$.ajax({
				type: "POST",
				url: "@Url.Action("PostToPaymentVendor", "AjaxHelpers")",
				dataType: 'json',
				data: {
					agentcode: "@Sessions.Instance.AgentCode",
					modelAmount: "@Model.PaymentAmt",
					paymentMethod: $("#cmbMethodOfPayment").val(),
					phoneNo: $("#txtPhoneNumber").val(),
					firstname: $("#txtFirstName").val(),
					lastname: $("#txtLastName").val(),
					address: $("#txtAddress").val(),
					city:$("#txtCity").val(),
					state: $("#txtState").val(),
					zipcode: $("#txtZipCode").val(),
					chkAcctType: $("#cmbChkAcctType").val(),
					chkAcctNo: $("#txtCheckAcctNo").val(),
					chkNo: $("#txtCheckNo").val(),
					chkRoutingNo: $("#txtCheckRoutingNo").val(),
					dlState: $("#txtDriverLicenseState").val(),
					dlNo: $("#txtDriverLicenseNo").val(),
					cardType: $("#cmbCardType").val(),
					cardNo: $("#txtCardNumber").val(),
					cardCvvNo: $("#txtCvvNo").val(),
					cardExpMonth: $("#cmbExpMonth").val(),
					cardExpYear: $("#cmbExpYear").val()
				},
				beforeSend: function() {
					$("#btnPymntVendor").hide();
					$("#vendor-source-warningmsg").hide();
					$("#palms-vendor-continuemsg").html("<div class='info'><img src='/Content/images/update.gif' /> PLEASE BE PATIENT. THIS MAY TAKE UP TO 3 MINUTES TO PROCESS. PLEASE CONTACT UNDERWRITING IF THIS MESSAGE DOES NOT DISAPPEAR.</div>");
				},
				success: function (result) {
					if (result.returnMsg == "FAILED") {
						$("#btnPymntVendor").show();
						$("#vendor-source-warningmsg").show();
						$("#palms-returnmsg").html(result.errorMsg);
						$("#palms-returnmsg").addClass(result.errMsgLevel);

						$("#palms-returnmsg").scrollToMe();

						$("#palms-vendor-continuemsg").html("");
					} else {
						$("#palms-vendor-continuemsg").html(result.continueMsg);
						$("#radiocust").remove();
						$("#radiosweep").remove();
						$("#btnPymntVendor").hide();
						$("#palms-returnmsg").html("<div class='success'>" + result.succesMsg + "</div>");
					}
				}
			});
		});
		@*************************************************@
		$("#txtBankName").focus(function(){
			$(this).trigger('keydown.autocomplete');
		});
		@*Get Bank Info AutoComplete *@
		@if (PortalUtils.GetSysVars("LYONSABA") == "true")
		{
		<text>
			$("#txtCheckRoutingNo").live("blur", function(){
				$.ajax({
					type: "POST",
					url: "@Url.Action("GetBankName", "AjaxHelpers")",
					dataType: 'json',
					data: { aba: $('#txtCheckRoutingNo').val() },
					cache: false,
					success: function(jsondata){
						$("#txtBankName").autocomplete(jsondata, {
							minChars: 0,
							formatItem: function(data, i, n) {
								return data[0];
							}
						});
					}
				});
				@*********************@
				$.ajax({
					type: "POST",
					url: "@Url.Action("VerifyAba", "AjaxHelpers")",
					dataType: 'json',
					data: { aba: $('#txtCheckRoutingNo').val() },
					cache: false,
					success: function(jsondata){
						if(jsondata.returnMsg == "yes"){
							$("#btnPymntVendor").show();
							$("#BankInfoMsg").html("Please complete the eft information to proceed ");
							$("#BankInfoMsg").removeClass("errMsg");
							$("#BankInfoMsg").addClass("infoMsg");
						}
						else{
							$("#btnPymntVendor").hide();
							$("#BankInfoMsg").html("INVALID ABA/ROUTING NUMBER");
							$("#BankInfoMsg").removeClass("infoMsg");
							$("#BankInfoMsg").addClass("errMsg");
						}
					}
				});
				@*********************@

		});
		</text>
		}
	@***********************************************************@
		@if (PortalUtils.GetSysVars("LYONSATM") == "true")
	{<text>
		$("#txtCheckAcctNo").live("blur", function(){
			$.ajax({
				type: "POST",
				url: "@Url.Action("CheckAcctNum", "AjaxHelpers")",
				dataType: 'json',
				data: { aba: $('#txtCheckRoutingNo').val(), acctno: $("#txtCheckAcctNo").val() },
				cache: false,
				success: function(jsondata){
					if(jsondata.actionType == "PASS"){
						$("#btnPymntVendor").show();
						$("#BankInfoMsg").html("Please complete the eft information to proceed ");
						$("#BankInfoMsg").removeClass("errMsg");
						$("#BankInfoMsg").addClass("infoMsg");
					}
					else{
						$("#btnPymntVendor").hide();
						$("#BankInfoMsg").html(jsondata.reasondesc);
						$("#BankInfoMsg").removeClass("infoMsg");
						$("#BankInfoMsg").addClass("errMsg");
					}
				}
			});
		});
		@***********************************************************@
		$.getJSON("@Url.Action("GetEftInfo", "AjaxHelpers")", {
					policyNo: "@Sessions.Instance.PolicyNo"
		}, function(data){
			if(data.returnMsg == "GOOD")
			{
				$("#txtBankName").attr("disabled", null);
				$("#txtCheckRoutingNo").attr("disabled", null);
				$("#txtCheckAcctNo").attr("disabled", null);

				$("#txtBankName").val(data.acctBankName);
				$("#txtCheckRoutingNo").val(data.acctAba);
				$("#txtCheckAcctNo").val(data.acctNumber);

				if($("#txtBankName").val() != "" && $("#txtCheckRoutingNo").val() != "" && $("#txtCheckRoutingNo").val().length > 8 && $("#txtCheckAcctNo").val() != "")
				{
					$("#btnPymntVendor").removeAttr("disabled");
					$("#btnPymntVendor").removeClass("disabled");
				}
			}
		});
		@***********************************************************@
	</text>
	}
	@*************************************************@

	});//END On Load
	@*///////////////////////////////////////////////////////////////////////////////////////////////*@
	jQuery.fn.extend({
		scrollToMe: function () {
			var x = jQuery(this).offset().top - 100;
			jQuery('html,body').animate({scrollTop: x}, 500);
		}});
	@*///////////////////////////////////////////////////////////////////////////////////////////////*@
	function ValidateCheckPymnt()
	{
		$("#txtFirstName").css("border", "1px solid red");
		$("#txtLastName").css("border", "1px solid red");
		$("#txtAddress").css("border", "1px solid red");
		$("#txtCity").css("border", "1px solid red");
		$("#txtState").css("border", "1px solid red");
		$("#txtZipCode").css("border", "1px solid red");
		$("#cmbChkAcctType").css("border", "1px solid red");
		$("#txtCheckAcctNo").css("border", "1px solid red");
		$("#txtCheckNo").css("border", "1px solid red");
		$("#txtCheckRoutingNo").css("border", "1px solid red");
		$("#txtDriverLicenseState").css("border", "1px solid red");
		$("#txtDriverLicenseNo").css("border", "1px solid red");

		if($("#txtPhoneNumber").val() != "")
		{
			$("#txtPhoneNumber").css("border", "1px solid #CECECE");
		}

		if($("#cmbChkAcctType").val() != "")
		{
			$("#cmbChkAcctType").css("border", "1px solid #CECECE");
		}

		if($("#txtCheckAcctNo").val() != "")
		{
			$("#txtCheckAcctNo").css("border", "1px solid #CECECE");
		}

		if($("#txtCheckNo").val() != "")
		{
			$("#txtCheckNo").css("border", "1px solid #CECECE");
		}

		if($("#txtCheckRoutingNo").val() != "")
		{
			$("#txtCheckRoutingNo").css("border", "1px solid #CECECE");
		}

		if($("#txtFirstName").val() != "")
		{
			$("#txtFirstName").css("border", "1px solid #CECECE");
		}

		if($("#txtLastName").val() != "")
		{
			$("#txtLastName").css("border", "1px solid #CECECE");
		}

		if($("#txtAddress").val() != "")
		{
			$("#txtAddress").css("border", "1px solid #CECECE");
		}

		if($("#txtCity").val() != "")
		{
			$("#txtCity").css("border", "1px solid #CECECE");
		}

		if($("#txtState").val() != "")
		{
			$("#txtState").css("border", "1px solid #CECECE");
		}

		if($("#txtZipCode").val() != "")
		{
			$("#txtZipCode").css("border", "1px solid #CECECE");
		}

		if($("#txtDriverLicenseNo").val() != "")
		{
			$("#txtDriverLicenseNo").css("border", "1px solid #CECECE");
		}

		if($("#txtDriverLicenseState").val() != "")
		{
			$("#txtDriverLicenseState").css("border", "1px solid #CECECE");
		}

		if($("#cmbChkAcctType").val() != ""
			&& $("#txtCheckAcctNo").val() != ""
			&& $("#txtCheckNo").val() != ""
			&& $("#txtCheckRoutingNo").val() != ""
			&& $("#txtFirstName").val() != ""
			&& $("#txtLastName").val() != ""
			&& $("#txtAddress").val() != ""
			&& $("#txtCity").val() != ""
			&& $("#txtState").val() != ""
			&& $("#txtZipCode").val() != ""
			&& $("#txtDriverLicenseNo").val() != ""
			&& $("#txtDriverLicenseState").val() != ""
			&& $("#txtPhoneNumber").val() != "" )
		{
			$("#btnPymntVendor").removeAttr("disabled", "disabled");
			$("#btnPymntVendor").removeClass("disabled");
		}
		else
		{
			$("#btnPymntVendor").attr("disabled", "disabled");
			$("#btnPymntVendor").addClass("disabled");
		}
	}//END ValidateCheckPymnt
	@*//-------------------------------------------------------------------------------------------*@

	function ValidateCreditCardPymnt()
	{
		//1px solid #CECECE
		$("#txtFirstName").css("border", "1px solid red");
		$("#txtLastName").css("border", "1px solid red");
		$("#txtAddress").css("border", "1px solid red");
		$("#txtCity").css("border", "1px solid red");
		$("#txtState").css("border", "1px solid red");
		$("#txtZipCode").css("border", "1px solid red");
		$("#txtPhoneNumber").css("border", "1px solid red");
		$("#cmbCardType").css("border", "1px solid red");
		$("#txtCardNumber").css("border", "1px solid red");
		$("#txtCvvNo").css("border", "1px solid red");
		$("#cmbExpMonth").css("border", "1px solid red");
		$("#cmbExpYear").css("border", "1px solid red");

		if($("#txtFirstName").val() != "")
		{
			$("#txtFirstName").css("border", "1px solid #CECECE");
		}

		if($("#txtLastName").val() != "")
		{
			$("#txtLastName").css("border", "1px solid #CECECE");
		}

		if($("#txtAddress").val() != "")
		{
			$("#txtAddress").css("border", "1px solid #CECECE");
		}

		if($("#txtCity").val() != "")
		{
			$("#txtCity").css("border", "1px solid #CECECE");
		}

		if($("#txtState").val() != "")
		{
			$("#txtState").css("border", "1px solid #CECECE");
		}

		if($("#txtZipCode").val() != "")
		{
			$("#txtZipCode").css("border", "1px solid #CECECE");
		}

		if($("#cmbCardType").val() != "")
		{
			$("#cmbCardType").css("border", "1px solid #CECECE");
		}

		if($("#txtCardNumber").val() != "")
		{
			$("#txtCardNumber").css("border", "1px solid #CECECE");
		}

		if($("#txtCvvNo").val() != "")
		{
			$("#txtCvvNo").css("border", "1px solid #CECECE");
		}

		if($("#cmbExpMonth").val() != "")
		{
			$("#cmbExpMonth").css("border", "1px solid #CECECE");
		}

		if($("#cmbExpYear").val() != "")
		{
			$("#cmbExpYear").css("border", "1px solid #CECECE");
		}

		if(	$("#txtFirstName").val() != ""
			&& $("#txtLastName").val() != ""
			&& $("#txtAddress").val() != ""
			&& $("#txtCity").val() != ""
			&& $("#txtState").val() != ""
			&& $("#txtZipCode").val() != ""
			&& $("#cmbCardType").val() != ""
			&& $("#txtCardNumber").val() != ""
			&& $("#txtCvvNo").val() != ""
			&& $("#cmbExpMonth").val() != ""
			&& $("#cmbExpYear").val() != "")
		{
			$("#btnPymntVendor").removeAttr("disabled", "disabled");
			$("#btnPymntVendor").removeClass("disabled");
		}
		else
		{
			$("#btnPymntVendor").attr("disabled", "disabled");
			$("#btnPymntVendor").addClass("disabled");
		}
	}//ValidateCreditCardPymnt
	@*//-------------------------------------------------------------------------------------------*@
</script>
@if (Sessions.Instance.IsAgent)
{
    <div class="lblAgencyName left">
        <h3><a>@Sessions.Instance.AgencyName</a></h3>
    </div>
    <div class="lblAgentName right">Welcome <a>@Sessions.Instance.AgentName</a></div>
}
@using (Html.BeginForm("Search", "Agent", FormMethod.Get))
{
    <div>


        <table class="tbl100" id="EndorsementReasonsTable">
            <thead>
                <tr>
                    <th colspan="12">Endorsement Details</th>
                </tr>
                <tr class="tblHeaderRec">
                    <td width="100%">Reasons</td>

                </tr>
            </thead>
            <tbody>
                @foreach (string reason in Model.EndorsementReasons)
                {
                    <tr>
                        <td>@reason</td>

                    </tr>
                }
            </tbody>
        </table>
        <table class="tbl100" style="margin-top: 30px" id="RequiredDocumentsTable">
            <thead>
                <tr class="tblHeaderRec">
                    <th width="100%" colspan="2">Required Documents</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        ID Card
                    </td>
                    <td>
                        @* <a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"policydocs/" + @Model.PolicyNo + "_IDCard.pdf")">PDF</a>*@
                        @Html.ActionLink("Print", "DownloadPolicyIDCards", "Agent", null, new { @id = "btnPrintIDCards", @class = "greenFontColor", @target = "_blank" })
                    </td>
                </tr>
                @* } *@


                <tr>
                    <td>
                        Dec Page
                    </td>
                    <td>
                        @*<a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"policydocs/" + @Model.PolicyNo + "_DecPage.pdf")">PDF</a>*@
                        @Html.ActionLink("Print", "DownloadPolicyDec", "Agent", new { type = "ENDORSE" }, new { @id = "btnPrintPolicyDec", @class = "greenFontColor", @target = "_blank" })

                    </td>
                </tr>

             @if (ViewBag.isNonPremBearingsOnly != true)
             {
                <tr>
                    <td>
                        Invoice
                    </td>
                    <td>
                        @Html.ActionLink("Print", "DownloadPolicyInvoice", "Agent", null, new { @id = "btnPrintPolicyInvoice", @class = "greenFontColor", @target = "_blank" })


                    </td>
                </tr>



                <tr>
                    <td>
                        Payment Schedule
                    </td>
                    <td>
                        @Html.ActionLink("Print", "DownloadPolicyPaymentSchedule", "Agent", null, new { @id = "btnPrintPolicyPaymentSchedule", @class = "greenFontColor", @target = "_blank" })

                    </td>
                </tr>
             }
                @if (!string.IsNullOrEmpty(Model.ReceiptDownloadLink))
                {
                    <tr>
                        <td>
                            Payment Receipt
                        </td>
                        <td>
                            <a href="@Model.ReceiptDownloadLink" target="_blank" id="btnPrintPaymentReceipt">Print</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td>
                        @Html.ActionLink("Print All Documents", "PrintAllDocuments", "Agent",
                       new
                       {
                           policyno = Sessions.Instance.PolicyNo,
                           paymentReceiptLink = !string.IsNullOrEmpty(Model.ReceiptDownloadLink),
                           paySchedule = (ViewBag.isNonPremBearingsOnly != true),
                           idCards = true,
                           policyDec = true
                       },
                       new { @class = "btnSubmit", style = "float: left;margin-right:10px;margin-right:10px;",
                           id = "btnPrintAllDocs",target="_blank"
                       })
                        @*<br><br><br><br>
                        <span style="color: #bf2626;"><b>Please unblock the Pop-ups for this site in the browser to print all documents</b></span>*@
                    </td>
                </tr>
            </tbody>
        </table>

        @Html.ActionLink("Go To Policy", "Policy", "Agent", new { id = Sessions.Instance.PolicyNo }, new { @class = "btnSubmit", style = "float: right;margin-right:10px;margin-left:10px;margin-top:35px" })

        <button type="submit" style="float: right; margin-top:35px" class="btnSubmit" id="btnIssueEndorsement">Go To Home Page</button>

    </div>
}
<div>
    @*<span style="color:black; margin-left:10px; font-weight:bold; font-size:12px ">Please Pay Deposit Amount: $<label>@Model.PaymentAmt</label></span>

        <button style="margin-left:10px" id="btnTakePayment" disabled="disabled" type="button">Take Payment</button>*@
</div>
