﻿@using System
@using AgentPortal.Support.Utilities
@model AgentPortal.Models.AgentLoginModel
@{
    ViewBag.Title = " - Agent Login";
}

@if (!String.IsNullOrEmpty(Sessions.Instance.Username)) 
{ 
    <text>Username : @Sessions.Instance.Username</text>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <div class="slogan">
        <h3>Welcome to Palm Insure, Inc. A full-service Managing General Agency for Auto Insurance</h3>				
    </div>
    <div class="spacer" style="height:30px;"></div>

    @Html.ValidationSummary(true, "Login was unsuccessful.", new { @class ="error"}) 

    <div class="col_50">
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.RedirectUrl)
    <table class="login-table tbl100">
        <tr>
            <th colspan="2">
                Agent Login
            </th>
        </tr>
        <tr>
            <td width="100">
                <b>@Html.LabelFor(m => m.UserName)</b> 
            </td>
            <td width="150">
                @Html.TextBoxFor(m => m.UserName, new { @class = "textEdit" })
                @Html.ValidationMessageFor(m => m.UserName)
            </td>
        </tr>
        
        <tr>
            <td>
                <b>@Html.LabelFor(m => m.Password)</b> 
            </td>
            <td>
                @Html.PasswordFor(m => m.Password, new { @class = "textEdit" })
                @Html.ValidationMessageFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                 <input type="submit" value="Log On" class="btnSubmit right" />
            </td>
        </tr>
    </table>
    <a id="agent-forgot-pass" href="#">Forgot Password?</a>
    <br />
    <br />
    <div id="agent-forgot-container">
    Please call our Underwriting Department at (866)436-7256 
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <a id="new-agent-link" href="#">New Agent?</a>
    <br /><br />
    <img src="@Url.Content("~/Content/images/pdf_button.png")" />  <a target="_blank" href="@Url.Content("~/Content/files/Agent_Application_And_Checklist_Updated.pdf")">Download New Agency Application</a>
}
</div>

@Html.Partial("_MGANews")