﻿@using AgentPortal.Support.Utilities
@using PalmInsure;
@using PalmInsure.Palms.Utilities;
@{
    ViewBag.Title = "Order Supplies";
}
@*
    <script type="text/javascript">
        $(document).ready(function () {
            @********************************************************** @
            $("#btnClose").live("click", function(){
                $.fn.colorbox.close();
                return false;
            });
            @********************************************************** @
            $("#btnPlaceOrder").live("click", function(){ *@
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.js"></script>
<script type="text/javascript">
   jQuery(document).ready(function($){
       @*		********************************************************

        $('#btnClose').on('click', function () {
            alert('clicked');

            $.fn.colorbox.close();
			return false;
		});
       @*		*********************************************************
        $(document).ready(function () {
            $("#btnClose").live("click", function () {
                $.fn.colorbox.close();
                return false;
            });*@
            @*********************************************************@
		$("#btnPlaceOrder").on("click", function(){
			var numOfJackets = $("#PolicyJackets").val();
			if(numOfJackets == "")
			{
				Error("Please enter a number");
				return;
			}

			if(!$.isNumeric(numOfJackets))
			{
				Error("Please enter a number");
				return;
			}

			$("#orderJackets").html("<img src='/Content/images/update.gif' /> Sending Order");

			$.getJSON("@Url.Action("OrderSupplies", "AjaxHelpers")", {
					agentCode: "@Sessions.Instance.AgentCode",
					jacketsNo: numOfJackets
				}, function (data){
					$("#orderJackets").html(data.returnHtml);
					$("#PolicyJackets").val("");
				});
		});
		@**********************************************************@
	});

	function Error(errmsg){
		$("#orderJackets").html(errmsg);
	}
</script>
<table class="tbl100" id="OrderPolicies">
    <thead>
        <tr>
            <th colspan="8">
                Order Supplies
            </th>
        </tr>
        <tr class="tblHeaderRec">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td><b><label for="PolicyJackets">Order Policy Jackets</label></b></td>
            <td>
                <select class="textEdit" id="PolicyJackets" name="PolicyJackets">
                    <option value="">Select</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </td>
            <td><span id='orderJackets'></span></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a class='btnSubmit' href="javascript:history.back()" id='btnClose' style="float: right;">Back</a> <a id='btnPlaceOrder' class='btnSubmit' href='javascript:void(0);' style="float: right; margin: 0px 10px 0px 0px;">Place Order</a></td>
        </tr>
    </tbody>
</table>