﻿@{
    ViewBag.Title = "PleaseCall";
    Layout = "~/Views/Shared/_LimitedAccessLayout.cshtml";
}


<div class="warning">
    There is an issue with your account. Please contact our Underwriting department at (941) 256-8994 in order to continue. 
    <br/><br/>
    Thank you.
    <br/><br/>
    Palm Insure, Inc.
    <br/><br/>
    @*Office Number:(813) 579-6355*@ 
</div>
