﻿@using System.Globalization
@using AgentPortal.Support.DataObjects;
@using AgentPortal.Support.Utilities;
@using AgentPortal.Support;
@using DevExpress.Xpo;
@using DevExpress.Data.Filtering;
@using Blowfish = AgentPortal.Support.Utilities.Blowfish
@model AgentPortal.Models.AgentSearchPolicyModel


<script type="text/javascript">
        $(function () {
            $("#lnkAgentStatusRpt").live("mouseup", function () {
                $.getJSON("@Url.Action("LogMsg", "AjaxHelpers")", {
                    username: "@Sessions.Instance.Username",
                    dbgmsg: "[AGENT STATUS REPORT] Agent @Sessions.Instance.AgentCode viewed their status report",
                    dbglvl: "INFO"
                }, function (data) {
                    if (data.returnMsg == "SUCCESS") {
                        $("#StatusReportMsg").hide();
                    }
                });
            });
            @************************************@
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "@Url.Action("GetAgentPaperless","AjaxHelpers")",
                data: { agentcode: "@Sessions.Instance.AgentCode" },
                success: function (data) {
                    if (data.returnMsg == "SUCCESS") {
                        if (data.returnData == "True") {
                            $("#IsPaperless").attr("checked", "checked");
                        } else {
                            $("#IsPaperless").attr("checked", null);
                        }
                    }
                }
            }).error(function (data) {

            });
            @************************************@
            $("#IsPaperless").live("click", function () {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "@Url.Action("UpdateAgentPaperless","AjaxHelpers")",
                    data: { agentcode: "@Sessions.Instance.AgentCode", ispaperless: $("#IsPaperless").attr("checked") == "checked" ? "true" : "false" },
                    success: function (data) {

                    }
                }).error(function (data) {

                });
            });
            @************************************@
        });
</script>

@if (Sessions.Instance.IsAgent)
{
    using (UnitOfWork uow = XpoHelper.GetNewUnitOfWork())
    {
        XPCollection<PortalMessages> getMessages = new XPCollection<PortalMessages>(uow, CriteriaOperator.Parse("MsgType = 'TIP'"));
        int msgCount = getMessages.Count;
        List<PortalMessages> listMessages = new List<PortalMessages>();
        listMessages = getMessages.ToList();

        if (msgCount > 0)
        {
            Random random = new Random();
            int seedNum = random.Next(0, listMessages.Count - 1);

            <div id="Msg" class="info">
                <span><b>Tip Of The Day:</b></span>
                @if (ConfigSettings.ReadSetting("CompanyID") == "1")
                {
                    <span>Please make sure to visit <a href="https://www.alertauto.com/" target="_blank">www.alertauto.com</a> to see screen shots of the in-house system and to learn more about our solution. Thank you for visiting.</span>
                }
                else
                {
                    <p>@listMessages[seedNum].Message.ToString()</p>
                }
            </div>
        }
        if (!string.IsNullOrEmpty(Sessions.Instance.RatingErrMsg))
        {
            @(new HtmlString(Sessions.Instance.RatingErrMsg))
            Sessions.Instance.RatingErrMsg = "";
        }

    }

    @*         <div id="alertMsg" class="info"> *@
    @*             To our valued agents: *@
    @*             <br /><br /> *@
    @*             AGIC is about to offer a more competitive product and rebrand itself as Alert Auto. *@
    @*             We are working diligently on revamping the agent portal for the new program and obtaining the final approvals on the new rates. *@
    @*             Under this new and exciting program, Palm Insure will be able to offer online endorsements, better customer service, and greatly improve your user experience. *@
    @*             AGIC together with Palm Insure has decided to only offer renewals to existing insured’s *@
    @*             until the new rates and upgraded portal is released. *@
    @*             We understand that many agencies will want to still bind new policies under the existing program and this was not a business decision we made lightly. *@
    @*             We appreciate your understanding and know you will be excited once the new Alert Auto program is released. *@
    @*             <br /><br /> *@
    @*             Thank you for your patience. *@
    @*         </div> *@


    @*var getStatusRptActivity = new XPQuery<ActivityLog>(parentUow)
                                            .Where(m => m.ActivityDesc.Contains("[AGENT STATUS REPORT]"))
                                            .OrderByDescending(m => m.IndexID)
                                            .Select(m => m.ActivityDate).FirstOrDefault();
        if (getStatusRptActivity != null)
        {
            TimeSpan span = DateTime.Now - getStatusRptActivity;
            double days = Math.Round(span.TotalDays, 0, MidpointRounding.AwayFromZero);

            if (days > 2 && days < 100000)
            {
                <div id="StatusReportMsg" class="warning">
                    <span><b>Agent Status Report:</b></span>
                    <br />
                    <br />
                    It has been @days days since you last viewed your status report, please click Status Report below
                </div>
            }
            else
            {
                <div id="StatusReportMsg" class="warning">

                    You have not viewed your Status Report. Please click Status Report below to view.
                </div>
            }
        }*@
}
<div class="lblAgencyName left"><h3><a>@Sessions.Instance.AgencyName</a><img src="/Content/images/help.png" id="agntInfo"></h3></div>

<div class="lblAgentName right">Welcome <a>@Sessions.Instance.AgentName</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go Paperless? <input type="checkbox" name="IsPaperless" id="IsPaperless" /></div>

<div class="clear"></div>
@{
    ViewBag.Title = " - Search Client";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Blowfish Blowfish = new Blowfish("4g!c!n5ur4nc3>");
}

@{
    decimal bindingPercentage = 0m;
    string fullMonthName = DateTime.Now.ToString("MMMM", CultureInfo.CreateSpecificCulture("en-US"));
    string rangeString = string.Format("{0} 1 - Today", fullMonthName);
    if (!string.IsNullOrEmpty(Sessions.Instance.AgentCode))
    {
        using (UnitOfWork uow = XpoHelper.GetNewUnitOfWork())
        {
            var result = uow.ExecuteQuery(string.Format(
                @"SELECT dbo.fn_AgentBindingPercentage ('{0}') AS BindPercAsOfThe15",
                Sessions.Instance.AgentCode));
            if (result != null && result.ResultSet.Any())
            {
                if (result.ResultSet[0].Rows.Any())
                {
                    if (result.ResultSet[0].Rows[0].Values.Any())
                    {
                        decimal value;
                        bool isValidValue = decimal.TryParse(result.ResultSet[0].Rows[0].Values[0].ToString(), out value);
                        if (isValidValue)
                        {
                            bindingPercentage = Convert.ToDecimal(result.ResultSet[0].Rows[0].Values[0].ToString());
                            bindingPercentage = bindingPercentage * 100;
                            bindingPercentage = Math.Ceiling(bindingPercentage);
                        }
                        else
                        {
                            bindingPercentage = 0m;
                        }
                    }
                }
            }
        }
    }
}

<div style="margin-left: 6px;"> <h6>Binding Percentage: @bindingPercentage% @rangeString</h6></div>


<!--begin new table (kc)-->
<table width="100%">
    <tr>
        <th>Links</th>
        <th>Agent Reports</th>
        <th>Company News</th>
        <th>Forms</th>
    </tr>
    <tr>
        <td>

            @{

                if (PortalRightsUtils.HasRights("QUOTE EDIT", Sessions.Instance.AgentCode, true))
                {
                    <p><a id="RequestQuote" href="@Url.Action("Create", "Quote")"><span class="highlight-blue">Request A Quote</span></a></p>
                }

                @Html.ActionLink("Order Supplies", "Order", null, new { @id = "ordersupplieslink" })
            }
            <p></p>
            <p>
                <a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"Agent_Application_And_Checklist_Updated.pdf")">Agent Application</a>
            </p>
            <p>
                <a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"ACH_Form.pdf")">EFT/ACH Form</a>
            </p>
            <p>
                <a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"AlertAuto_Spartan_Program_Rules_202104.pdf")">Underwriting Manual</a>
            </p>
            <p>
                <a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"Vehicle_Inspection_Form.pdf")">Vehicle Inspection Form</a>
            </p>
            <p>
                <a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"Alert_Auto_Quick_Reference_Guide.pdf")">Quick Reference Guide</a>
            </p>
            <p>
                <a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"Platform_Browser_Issue_Guide.pdf")">Browser Help Guide</a>
            </p>
            <p>
                <a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"UW_Reports_Guide.pdf")">Underwriting Reports Guide</a>
            </p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"PLRater-AddCarrierDoc.pdf")">PL Rater Add Carrier Guide</a></p>
            <p><a target="_blank" href="https://www.screencast.com/t/sicyRxWH">Quote Rush Add Carrier Guide</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"EzLynxAddCarrierGuide.pdf")">EZ Lynx Add Carrier Guide</a></p>
            <p><a target="_blank" href="https://vimeo.com/73952577">ITC / Turbo Rater Add Carrier Guide</a></p>
        </td>
        <td>
            <p></p><a target="_blank" href="@Url.Action("DownloadAgentStatusReport", "Agent")">Status Report</a>
            <p></p><a target="_blank" href="@Url.Action("DownloadAgentLossRatioReport", "Agent")">Loss Ratio Report</a>
            <p></p><a target="_blank" href="@Url.Action("DownloadAgentSuspenseReport", "Agent")">Suspense Report</a>
            <p></p><a target="_blank" href="@Url.Action("DownloadAgentInforceReport", "Agent")">Inforce Report</a>
        </td>
        <td></td>
        <td>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"AA_Policy_Jacket.pdf")">Policy Jacket</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"Personal_Auto_Policy_Outline.pdf")">Policy Outline</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"AAICFL-BI_(1018)_BI_Rejection.pdf")">BI Rejection Blank Form</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"UMRejectionBlankForm.pdf")">UM Rejection Blank Form</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"Statement_of_Non-Business_Use.pdf")">Statement of Non-Business Use Letter</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"AAICFL_13_Driver_Exclusion.pdf")">Driver Exclusion Form</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"Driver_And_Household_Resident_Disclosure.pdf")">Driver And Resident Disclosure</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"sr22.pdf")">SR22 Form</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"EFT_AuthorizationForm_0719_2.pdf")">EFT Authorization Form</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"AAICFL_02_(10-18).pdf")">Auto Endorsement Form</a></p>
            <p><a target="_blank" href="@Url.Content(ConfigSettings.ReadSetting("ContentFilesPath") + @"AAICFL-08.pdf")">Cancellation Request Policy Release</a></p>
        </td>
    </tr>
</table>
<br />

<div style="text-align: center;">
    <h4>Agent Portal Walkthrough </h4>
</div>
<div id='wrapper' style='text-align: center;'>
    <div style='display: inline-block; vertical-align: top; margin: 10px; margin-right: 40px;'>
        <h5>English</h5>
        <video width="320" height="240" controls>
            <source src="~/Content/Webex_Agent_Portal_English.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div style='display: inline-block; vertical-align: top; margin: 10px; margin-left: 40px;'>
        <h5>Spanish</h5>
        <video width="320" height="240" controls>
            <source src="~/Content/Webex_Agent_Portal_Spanish.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<br />
<br />

<h4>Search For Client</h4>
<form method="post" action="/Agent/Search">
    <table class="tblSearchPolicy">
        <tbody>
            <tr>
                <td>
                    <b>Search Within</b>
                </td>
                <td><input type="radio" value="10" checked="@Model.TenDaysSelected.GetValueOrDefault()" name="NumDaysSearch" id="10Days"><label for="10Days">10 Days</label></td>
                <td><input type="radio" value="30" checked="@Model.ThirtyDaysSelected" name="NumDaysSearch" id="30Days"><label for="30Days">30 Days</label></td>
                <td><input type="radio" value="90" checked="@Model.NinetyDaysSelected.GetValueOrDefault()" name="NumDaysSearch" id="90Days"><label for="90Days">90 Days</label></td>
                <td><input type="radio" value="36524" checked="@Model.AllSelected.GetValueOrDefault()" name="NumDaysSearch" id="AllDays"><label for="AllDays">All</label></td>
                <td>
                    <input type="checkbox" value="true" checked="@Model.HideCancelledPolicies.GetValueOrDefault()" name="HideCancelledPolicies" id="HideCancelledPolicies"><label for="HideCancelledPolicies">Hide Cancelled Policies</label>
                    <span data-valmsg-replace="true" data-valmsg-for="IncludeCancelledPolicys" class="field-validation-valid"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td width="100">
                    <label for="InsuredName"><b>Insured Name</b></label>
                </td>
                <td width="150">
                    <input type="text" value="" name="InsuredName" id="InsuredName" class="textEdit">
                    <span data-valmsg-replace="true" data-valmsg-for="InsuredName" class="field-validation-valid"></span>
                </td>
                <td style="text-align: center;">
                    or
                </td>
                <td>
                    <label for="PolicyNo"><b>Policy Number</b></label>
                </td>
                <td>
                    <input type="text" value="" name="PolicyNo" id="PolicyNo" class="textEdit">
                    <span data-valmsg-replace="true" data-valmsg-for="PolicyNo" class="field-validation-valid"></span>
                </td>
                <td>
                    <input type="submit" class="btnSubmit width100" value="Search For Clients">
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="col_29">
    @if (Model != null && !string.IsNullOrEmpty(Model.SearchMessage))
    {
        <div id="StatusReportMsg" class="warning">
            <p>@Model.SearchMessage</p>
        </div>
    }
<p>
    <table class="tblSearchQuoteResult" style="width:100%;">


        @if (Model != null && Model.FoundQuotes.Any())
        {
            <tr>
                <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;">
                    <h3>Quotes</h3>
                </th>
            </tr>
            <tr id=header>
                <th>
                    Quote Number
                </th>
                <th>
                    Insured Name
                </th>
                <th>
                    Effective Date
                </th>
                <th></th>
            </tr>
            foreach (var item in Model.FoundQuotes)
            {
                <tr>
                    <td>
                        <a href="@string.Format(@"/Quote/Edit/{0}", Blowfish.Encrypt_CBC(item.PolicyNo))">@item.PolicyNo</a>

                    </td>
                    <td>
                        @item.Insuredname
                    </td>
                    <td>
                        @item.Effdate.ToShortDateString()
                    </td>
                    <td></td>
                </tr>
            }
        }
        else if (Model != null && Model.Last10Quotes.Any())
        {
            <tr>
                <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;">
                    <span style="font-size: x-large">Quotes</span><span style="font-size: small">  (Previous 10 Defaulted Below)</span>
                </th>
            </tr>
            <tr id=header>
                <th>
                    Quote Number
                </th>
                <th>
                    Insured Name
                </th>
                <th>
                    Effective Date
                </th>
                <th></th>
            </tr>
            foreach (var item in Model.Last10Quotes)
            {
                <tr>
                    <td>
                        <a href="@string.Format(@"/Quote/Edit/{0}", Blowfish.Encrypt_CBC(item.PolicyNo))">@item.PolicyNo</a>

                    </td>
                    <td>
                        @item.Insuredname
                    </td>
                    <td>
                        @item.Effdate.ToShortDateString()
                    </td>
                    <td></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;">
                    <h3>Quotes</h3>
                </th>
            </tr>
            <tr id=header>
                <th>
                    Quote Number
                </th>
                <th>
                    Insured Name
                </th>
                <th>
                    Effective Date
                </th>
                <th></th>
            </tr>
            <tr>
                <td colspan="4" style="text-align: center;">
                    Search For Clients
                </td>
            </tr>
        }
    </table>
</p>

    <p>
        <table class="tblSearchPolResult">

            @if (Model != null && Model.FoundPolicys.Any())
            {
                <tr>
                    <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;">
                        <h3>Policies</h3>
                    </th>
                </tr>
                <tr id=header>
                    <th>
                        Policy Number
                    </th>
                    <th>
                        Insured Name
                    </th>
                    <th>
                        Effective Date
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                foreach (var item in Model.FoundPolicys)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@item.PolicyNo, "Policy/" + @item.PolicyNo, "Agent")
                        </td>
                        <td>
                            @item.Insuredname
                        </td>
                        <td>
                            @item.Effdate.ToShortDateString()
                        </td>
                        <td>
                            @item.Status
                        </td>
                    </tr>
                }
            }
            else if (Model != null && Model.Last10Policies.Any())
            {
                <tr>
                    <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;">
                    <span style="font-size: x-large">Policies</span><span style="font-size: small">  (Previous 10 Defaulted Below)</span>
                    </th>
                </tr>
                <tr id=header>
                    <th>
                        Policy Number
                    </th>
                    <th>
                        Insured Name
                    </th>
                    <th>
                        Effective Date
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                foreach (var item in Model.Last10Policies)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@item.PolicyNo, "Policy/" + @item.PolicyNo, "Agent")
                        </td>
                        <td>
                            @item.Insuredname
                        </td>
                        <td>
                            @item.Effdate.ToShortDateString()
                        </td>
                        <td>
                            @item.Status
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="8" style="background-color: white; text-align: left; padding-top: 15px;">
                        <h3>Policies</h3>
                    </th>
                </tr>
                <tr id=header>
                    <th>
                        Policy Number
                    </th>
                    <th>
                        Insured Name
                    </th>
                    <th>
                        Effective Date
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: center;">
                        Search For Clients
                    </td>
                </tr>
            }
        </table>
        <a href="#top" style="float:right;">Back to top</a>
        @Html.ActionLink("Agent Information Sheet", "InfoSheet", null, new { style = "float:left", id = "infosheetlink" })
        @*<script type="text/javascript">
                $("a#infosheetlink").colorbox({ opacity: 0.5 });
                $("a#ordersupplieslink").colorbox({ opacity: 0.5 });
            </script>*@

    </p>
</div>
