﻿@model AgentPortal.Models.PaymentResponseModel
@using AgentPortal.Support
@using PalmInsure.Palms.Utilities;
@using Blowfish = AgentPortal.Support.Utilities.Blowfish

@{
    Blowfish Blowfish = new Blowfish(Constants.blowfishKey);
}
<div class="@Model.DisplayCssClass">
    <span><b>@Model.DisplayResponseMsg</b></span>
    <br />
    <br />
    @Model.BuiltResponseMsg
    @{
        if (Model.IsSuccessful)
        {
            if (Model.policyType == "RENEWAL")
            {
                <div class='success'>@Html.ActionLink("Payment Receipt", "PaymentReceipt", "Agent", new { id = Model.pymntPolicyNumber.GenNextPolicyNo(), pymnttype = "CYBERSOURCE" }, null);</div>
            }
            else
            {
                <div class='success'>@Html.ActionLink("Payment Receipt", "PaymentReceipt", "Agent", new { id = Model.pymntPolicyNumber, pymnttype = "CYBERSOURCE" }, null);</div>
            }

        }
    }
</div>

@{
    if (Model.IsSuccessful)
    {
        switch (Model.policyType.Upper())
        {
            case "QUOTE":
                @Html.ActionLink("Get Policy Documents", "GeneratePolicyDocs", Model.portalController.Substring(0, Model.portalController.Length - 1), new { id = Blowfish.Encrypt_CBC(Model.pymntPolicyNumber) }, new { @id = "GenerateDocs" });
                                                                                                                                                                                                                                                break;
            case "POLICY":
                @Html.ActionLink("Back To Search", "Search", Model.portalController.Substring(0, Model.portalController.Length - 1));
                                                                                                                                    break;
            case "RENEWAL":
                @Html.ActionLink("Get Policy Documents", "GeneratePolicyDocs", "Renewal", new { id = Blowfish.Encrypt_CBC(Model.pymntPolicyNumber) }, new { @id = "GenerateDocs" })
                ;
                                                                                                                                                                                   break;
        }
    }
    else
    {
        switch (Model.policyType.Upper())
        {
            case "QUOTE":
                @Html.ActionLink("Back To Quote?", "Edit", Model.portalController.Substring(0, Model.portalController.Length - 1), new { id = Blowfish.Encrypt_CBC(Model.pymntPolicyNumber) }, null);
                                                                                                                                                                                                    break;
            case "POLICY":
                @Html.ActionLink("Back To Policy?", "Policy", Model.portalController.Substring(0, Model.portalController.Length - 1), new { id = Model.pymntPolicyNumber }, null); 
                break;
            case "RENEWAL":
                break;
        }
    }
}