﻿@using AgentPortal.Support.Utilities
@{
	ViewBag.Title = " - About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="clear"></div>    
					<div class="clear"></div> 
					<br/>
					<br/>
					<div class="page-heading">
						<img src="@Url.Content("~/Content/images/mydemobanneraboutus.png")" alt="">
						<div class="pageheading-text">
							<h3><cufon class="cufon cufon-canvas" alt="About" style="width: 64px; height: 24px;">
							<canvas width="81" height="29" style="width: 81px; height: 29px; top: -5px; left: -1px; "></canvas><cufontext>About Us</cufontext></cufon></h3>
							@*<p>DIC is a full service Managing General Agency specializing in non-standard automobile insurance.</p>*@
                            <p style="color: white;">@Sessions.Instance.AboutUs</p>
						</div>
					  <div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div id="content">
	  
	  <!-- Main Content -->
	<div id="maincontent" class="col_35">
		<h4>
			Welcome to @Sessions.Instance.CompanyName
		</h4>
		<p style="text-align:justify;">
			@*DIC is a full service Managing General Agency (MGA) specializing in non-standard automobile insurance in Florida. 
		Founded in 2011, DIC is based on the philosophy of providing excellent customer service to our agents and our insureds. 
		The non-standard insurance market in Florida is met with many challenges and the staff at DIC is uniquely qualified to 
		best handle the industry.*@
            @Sessions.Instance.Welcome
		</p>

		<h4>Our Staff</h4>
		<p style="text-align:justify;">@*DIC has assembled an experienced staff that is professional and has expertise on all facades of the automobile insurance 
		industry. From underwriting to claims to reporting to information technology, all of our staff members are dedicated insurance 
		professionals who take pride in their vast experience and who dedicate themselves to continuing their education and understanding 
		of the industry.*@ 
        @Sessions.Instance.OurStaff
		</p>

		<div class="col_13" style="position: relative; left: 110px; top: 30px; height: 250px; width: 300px;  text-align:justify;">
			<h4>
				<a href="#">
				Underwriting and Accounting
				</a>
			</h4>
			<p>
				@*DIC has staff members with more than 30 years of experience in underwriting Florida insurance. These managers bring experience from 
				top companies like State Farm and Mercury. Experienced in state rate filings, insurance accounting,  and complex insurance reporting the staff 
				at DIC has a complete understanding of how to analyze and comprehend the business trends and is able to react to market requirements 
				quickly and accurately.*@
                @Sessions.Instance.UnderwritingAndAccounting
			</p>
		</div>
		
		<div class="col_13" style="position: relative; left: 190px; top: 30px; height: 250px; width: 300px; text-align:justify;">
			<h4>
				<a href="#">
				Claims Management
				</a>
			</h4>
			<p>
			@*DIC has assembled an impressive staff to oversee claims. The claims management team has experts in Personal Injury Protection, 
			Liability, and Property Damage. These three managers work together to oversee all claims including adjusting, fraud detection, and timely 
			processing. With more than 50 years of claims experience our claims staff is more than prepared to handle claims effectively and with 
			an eye on performance.*@
                @Sessions.Instance.ClaimsManagement
			</p>
		</div>
      
        <div class="col_13" style="position: relative; left: 110px; top: 30px; height: 250px; width: 300px; text-align:justify;">
            <h4>
                <a href="#">
                    Special Investigation Unit
                </a>
            </h4>
            <p style="text-align:justify;">
                @*Palm Insure has teamed with SIU Support Services to aggressively fight fraud and to increase the speed of which claims
                are processed. SIU Support Services brings more than 25 years investigative experience to the team at Palm Insure.*@
                @Sessions.Instance.SpecialUnit
            </p>
        </div>
            
        
		
		@*<div class="col_13" style="position: relative; left: 110px; top: 30px; height: 250px; width: 300px; text-align:justify;">
            @{
                if (ConfigSettings.ReadSetting("CompanyID") == "1")
                {
                    <h4>
                        <a href="#">
                            Commerical Lines Solutions
                        </a>
                    </h4>
                    
                }
                else
                {
                    <h4>
                        <a href="#">
                            Information Technology
                        </a>
                    </h4>

                }                
            }        
            @Sessions.Instance.InformationTechnology  			
		</div>*@
		

		
		<div class="col_13" style="position: relative; left: 190px; top: 30px; height: 250px; width: 300px; text-align:justify;">   
                    <h4>
                        <a href="#">
                            Customer Service
                        </a>
                    </h4>
                    <p>
                        @*DIC is dedicated to providing the best customer service in the industry. In the insurance business retention is
                        vital and achieved only through superior service. commitment to understanding and meeting the needs of our business partners and the customers we serve. That clear commitment is carried out through thoughtful use of modern technology balanced with old fashioned person-to-person service.*@
                            @Sessions.Instance.CustomerService
                    </p>
        	</div>



	    </div>
	  <!-- Main Content End -->
		  
    </div>
	