﻿@using AgentPortal
@using AgentPortal.Support.Utilities
@using DevExpress.Xpo;
@using DevExpress.Data.Filtering;
@using FLAUTO;

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
	<title>Palm Insure @ViewBag.Title</title>
	<meta name="robots" content="follow, all" />

	<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />

	<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery-ui-1.8.22.custom.min.js")" type="text/javascript"></script>

	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/additional-methods.min.js"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/commentReply.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/prettyPhoto.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/nivoSlider.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/smoothMenu.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/kwiks.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/bxSlider.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/plugins.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/roundabout.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/easing.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/toolstabs.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/twitter.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/filterable.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/functions.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/makemodel.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/jquery.validationEngine-en.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/jquery.validationEngine.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/jquery.qtip-1.0.0-rc3.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/tabs.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/Highcharts-2.1.9/js/highcharts.src.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/palm/PalmsScripts.js")" type="text/javascript"></script>
	
	<script src="@Url.Content("~/Scripts/js/jquery.autocomplete.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/js/jquery.mask.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/palm/FlyOutMenu.js")" type="text/javascript"></script>



    <script type="text/javascript">

		function GenerateGuid() {
			return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
				var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
				return v.toString(16);
			});
		}

		jQuery.fn.OnlyAlphaNumeric = function()
		{
			return this.each(function()
			{
				$(this).keydown(function(e)
				{
					 if (this.value.match(/[^a-zA-Z0-9 ]/g)) {
					this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');
					}
				});
			});
		};

		$.fn.replaceWith = function (value) {
			return this.each(function () {
				var e = $(this);
				var sibling = e.next();
				var parent = e.parent();
				e.remove();
				if (sibling.size())
					sibling.before(value);
				else
					parent.append(value);
			});
		}

		var originals = {};
		function SaveAsOriginal(id) {
			originals[id] = $('#' + id).html();
		}
		function LoadOriginal(id) {
			if (typeof originals[id] == undefined)
				return false;

			$("#" + id).html(originals[id]);

			// A bunch of stuff breaks once the html is replaced in this way,
			// these fixes are a consequence
			$.validator.unobtrusive.parse('#' + id);
			$('#' + id + ' .datepicker').removeClass('hasDatepicker').datepicker();

			return true;
		}

		function AjaxSuccessHandler(selector) {
//            $(selector).dialog('close');
//            $(selector).children('form')[0].reset();
//                $(selector).dialog('close');
		}

		function AjaxErrorHandler(form, xhr) {
			@*if (xhr.status != 400)
				return false;

			var response = jQuery.parseJSON(xhr.responseText);

			if (!response || !response.errors)
				return false;

			var errobj = {};
			for (var i in response.errors) {
				errobj[response.errors[i].Key] = response.errors[i].Message;
			}
			var validator = $(form + ' form').validate({
				errorClass: "whatnot"
			});
			validator.showErrors(errobj);

			return false;*@
		}

		$(document).ready(function () {


			$('#FakePayment').dcSlick({
				location: 'left',
				align: 'top',
				offset: '100px',
				speed: 'slow',
				tabText: 'DEBUG - I.T. USE ONLY',
				autoClose: false
			});

			$('#DebugBar').dcSlick({
				location: 'left',
				align: 'top',
				offset: '100px',
				speed: 'slow',
				tabText: 'DEBUG - I.T. USE ONLY',
				autoClose: false
			});
			$("#BankName").attr("disabled", "disabled");
			$("#AccountNum").attr("disabled", "disabled");
			$("#AccountType").attr("disabled", "disabled");
			$("#BankAcctType").attr("disabled", "disabled");
			$('.datepicker').datepicker();
			$('.scroll').jScrollPane();
			$("#chkPayment").hide();
			$("#agent-forgot-container").hide();
			$("#billTo_driversLicenseNumber").OnlyAlphaNumeric();
			@*//-------------------------------------------------------------------------------------------*@
			@*//Go Back Button*@
			$("#QuoteGoBack").live("click", function(){
				@{
				string urlReload = string.Format(@"https://{0}/Quote/Edit/{1}",
														Request.Url.Authority,
														Request.Url.Segments[Request.Url.Segments.Length - 1]);
				}
				window.location.replace("@urlReload");
		   });
			@*//-------------------------------------------------------------------------------------------*@
			@*Check/Show EFT Bank Info If Pay Plan Is EFT*@
			if($("#main_PayPlan").length > 0)
			{
				if ($("#main_PayPlan option:selected").html().toLowerCase().indexOf("eft") >= 0) {
					$("#eft-info").show();
					$("#btnAcceptPolicy").attr("disabled", "disabled");
					$("#btnAcceptPolicy").addClass("disabled");
					$("#BankName").val("");
					$("#ABA").val("");
					$("#AccountNum").val("");
				}
				else {
					$("#eft-info").hide();
				}
			}//END If Pay Plan Exists
			@*//-------------------------------------------------------------------------------------------*@
			if($("#main_PayPlan").length > 0)
			{
				if ($("#main_PayPlan option:selected").html().toLowerCase().indexOf("eft") >= 0) {

				}

				if ($("#main_PayPlan option:selected").html().toLowerCase().indexOf("eft") >= 0) {

					$("#ABA").on("keyup", function(){
						if($("#ABA").val() != "")
						{
							$("#AccountType").attr("disabled", null);
							$("#BankAcctType").attr("disabled", null);
                            $("#AccountNum").attr("disabled", null);
						}
					});//end Bank name Validation
					@*///////////////////////////////////////////////////////////////*@

					$("#AccountNum").on("keyup", function(){
						if($("#AccountNum").val() != "")
						{
							$("#BankName").attr("disabled", null);
						}
					});//END ABA Validation
					@*///////////////////////////////////////////////////////////////*@
					$("#BankName").on("keyup", function(){
						if($("#BankName").val() != "")
						{
							$("#btnAcceptPolicy").attr("disabled", null);
							$("#btnAcceptPolicy").removeClass("disabled");
						}
					});//END Account Number Validation
					@*///////////////////////////////////////////////////////////////*@
					$("#BankName").on("blur", function(){
                        if($("#BankName").val() != "")
						{
							$("#btnAcceptPolicy").attr("disabled", null);
							$("#btnAcceptPolicy").removeClass("disabled");
						}
						$.getJSON("@Url.Action("SaveInsuredEftInfo", "AjaxHelpers")", {
							bankName: $("#BankName").val(),
							acctType: $("#AccountType option:selected").val(),
							bankAcctType: $("#BankAcctType option:selected").val(),
							aba: $("#ABA").val(),
							acctNum: $("#AccountNum").val(),
							policyNo: "@Sessions.Instance.PolicyNo"
						}, function (data) {


						});
					});//END Account Number Validation
					@*///////////////////////////////////////////////////////////////*@
                    $("#AccountType").on("blur", function(){
						$.getJSON("@Url.Action("SaveInsuredEftInfo", "AjaxHelpers")", {
							bankName: $("#BankName").val(),
							acctType: $("#AccountType option:selected").val(),
							bankAcctType: $("#BankAcctType option:selected").val(),
							aba: $("#ABA").val(),
							acctNum: $("#AccountNum").val(),
							policyNo: "@Sessions.Instance.PolicyNo"
						}, function (data) {


						});
					});//END Account Number Validation
					@*///////////////////////////////////////////////////////////////*@
				}//END If Contains EFT in Selected Option

			}//END If Pay Plan Exists
			@*//-------------------------------------------------------------------------------------------*@
			//Place/Order MVR For Policy
			$("#btnOrderMvr").on("click", function(){
				//$("#mvrMsg").html('<img src="/Content/images/103.gif">');
				$("#mvrMsg").html('Currently Processing Mvr Request...');
			});
			@*//-------------------------------------------------------------------------------------------
                LF commented out 4/1/19
            $(".worklossradio").on("click", function () {
                var wl = $(".worklossradio:checked").val();
                if (wl == "True") {
                    if ($('#None').is(':checked')) {
                        $("#NIO").prop("checked", true);
                    }
                }
                if (wl == "False") {
                    $("#None").prop("checked", true);
                }
            });
            $(".workloss").on("click", function () {
                var wl = $(".workloss:checked").val();
                if (wl == "1") {
                    if ($(".worklossradio:checked").val() == "False")  //WorkLoss No
                    {
                        $("#NIO").prop("checked", false);
                        $("#None").prop("checked", true);
                    }
                }
                if (wl == "2") {
                    if ($(".worklossradio:checked").val() == "False")  //WorkLoss No
                    {
                        $("#NIRR").prop("checked", false);
                        $("#None").prop("checked", true);
                    }
                }
                if (wl == "3") {
                    if ($(".worklossradio:checked").val() == "True")  //WorkLoss Yes
                    {
                        $("#None").prop("checked", false);
                        $("#NIO").prop("checked", true);
                    }
                }
            });
*@
            @*//-------------------------------------------------------------------------------------------*@
			@*//Calculate Effective Date For Policy/Calc Eff Date On Policy Load As Well*@
			$(".termradio").on("click", function(){

				var effDate = $("#EffectiveDate").val();
				var termMonths = $(".termradio:checked").val();

				$.getJSON("@Url.Action("CalcPolicyTermDate", "AjaxHelpers")", {
							effDate: effDate,
							termMonths: termMonths
				}, function (data) {

					$("#ExpirationDate").val(data.expirationDate);
				});
			});
			@*//Calculate Effective Date For Policy/Calc Eff Date On Policy Load As Well*@
			$("#EffectiveDate").on("blur", function(){
				var effDate = $("#EffectiveDate").val();
				var termMonths = $(".termradio:checked").val();

				$.getJSON("@Url.Action("CalcPolicyTermDate", "AjaxHelpers")", {
							effDate: effDate,
							termMonths: termMonths
				}, function (data) {

					$("#ExpirationDate").val(data.expirationDate);
				});
			});
			@*//-------------------------------------------------------------------------------------------*@
			if($("#EffectiveDate").length > 0)
			{
				var effDate = $("#EffectiveDate").val();
				var termMonths = $(".termradio:checked").val();

				$.getJSON("@Url.Action("CalcPolicyTermDate", "AjaxHelpers")", {
							effDate: effDate,
							termMonths: termMonths
				}, function (data) {

					$("#ExpirationDate").val(data.expirationDate);
				});
			}
			@*//-------------------------------------------------------------------------------------------*@
			$('.garageZipCode').live('keyup', function () {
				var baseId = this.id.substr(0, this.id.length - 7),
					lookupUrl = "@Url.Action("GarageZipLookup", "AjaxHelpers", new { id = "__Zip__" })";
				//LienHolderModel_City
				var city = $('#' + baseId + 'City');
				var county = $('#' + baseId + 'County');
				//LienHolderModel_State
				var state = $('#' + baseId + 'State');
				var zip = $(this);
				//Hold onto zip length if we need to say "after 5 chars do lookup"
				var zipLength = $(this).val().length;

				var invalidZip = function () {
					state.val("");
					city.html("<option>Invalid Zip</option>")
					city.attr('readonly', 'readonly');
				};

				if (!$(this).valid()) {
					// Not valid? Disable element and clear fields.
					invalidZip();
					if ($("#SameAsGarage").is("input:checked"))
					{
						$("#MailingCity option:selected").text($("#GarageCity option:selected").text());
						$("#MailingState").val($("#GarageState").val());
					}
					return;
				}

				data = $.getJSON(lookupUrl.replace("__Zip__", zip.val()), function (data) {
					if (data == null) {
						invalidZip();
						return;
					}
					var html = "";
					$.each(data.cities, function (i, e) {
						html += "<option>" + e + "</option>";
					});
					city.html(html);
					city.attr('readonly', null);

					var garageHtml = "";
					$.each(data.counties, function (i, e) {
						garageHtml += "<option>" + e + "</option>";
					});
					county.html(garageHtml);
					county.attr('readonly', null);
					state.val(data.state);
					if ($("#SameAsGarage").is("input:checked"))
					{
						$("#MailingCity option:selected").text($("#GarageCity option:selected").text());
						$("#MailingState").val($("#GarageState").val());
					}
				});
			});
			@*//-------------------------------------------------------------------------------------------*@
			if($("#MailingZIPCode").length > 0)
			{
				if(!$("#SameAsGarage").attr("checked"))
				{
					var mcity = $('#MailingCity');
					var mstate = $('#MailingState');
					var mzipval    = $("#MailingZIPCode").val();

					data = $.getJSON("@Url.Action("ZipLookup", "AjaxHelpers")", {
								id: mzipval
							}, function (data) {

						var html = "";
						$.each(data.cities, function (i, e) {
							html += "<option>" + e + "</option>";
						});
						mcity.html(html);
						mcity.attr('readonly', null);
						mstate.val(data.state);
					});
				}
			}//end check for if ZipCode Exists
			////////////////////////////////
			$('.zipcode').live('keyup', function () {
				var baseId = this.id.substr(0, this.id.length - 7),
					lookupUrl = "@Url.Action("ZipLookup", "AjaxHelpers", new { id = "__Zip__" })";
				//LienHolderModel_City
				var city = $('#' + baseId + 'City');
				//LienHolderModel_State
				var state = $('#' + baseId + 'State');
				var zip = $(this);
				//Hold onto zip length if we need to say "after 5 chars do lookup"
				var zipLength = $(this).val().length;

				var invalidZip = function () {
					state.val("");
					city.html("<option>Invalid Zip</option>")
					city.attr('readonly', 'readonly');
				};

				if (!$(this).valid()) {
					// Not valid? Disable element and clear fields.
					invalidZip();
					return;
				}

				data = $.getJSON(lookupUrl.replace("__Zip__", zip.val()), function (data) {
					if (data == null) {
						invalidZip();
						return;
					}
					var html = "";
					$.each(data.cities, function (i, e) {
						html += "<option>" + e + "</option>";
					});
					city.html(html);
					city.attr('readonly', null);
					state.val(data.state);
				});
			});
			@*//-------------------------------------------------------------------------------------------*@
			// Save Policy Form On Click/Blur
			var currAction = "@ViewContext.Controller.ValueProvider.GetValue("action").RawValue";
			if(currAction == "Edit")
			{
				$("#GeneralPolicyInfo input[type='text']").on("blur", function(){
					$.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: $(this).val()
					}, function (data) {

					});
				});

				$("#GeneralPolicyInfo input[type='checkbox']").on("click", function(){

					var value = $(this).attr("checked") ? "true" : "false";
					 $.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: value
						}, function (data) {

						});
				});

				$("#GeneralPolicyInfo input[type='radio']").on("click", function(){

					 $.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: $(this).val()
						}, function (data) {

						});
				});

				$("#GeneralPolicyInfo select").on("blur", function(){
					$.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: $(this).val()
					}, function (data) {

					});
				});

				$("#InsuredInfo input").on("blur", function(){
					$.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: $(this).val()
					}, function (data) {

					});
				});

				$("#MailGarageAddr input[type='checkbox']").on("click", function(){

					var value = $(this).attr("checked") ? "true" : "false";
					 $.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: value
						}, function (data) {

						});
				});

				$("#MailGarageAddr input[type='text']").on("blur", function(){
					$.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: $(this).val()
					}, function (data) {

					});
				});

				$("#MailGarageAddr select").on("blur", function(){
					$.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: $(this).val()
					}, function (data) {

					});
				});

				$("#CoveragesDiscs select").on("blur", function(){
					$.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: $(this).val()
					}, function (data) {

					});
				});

				$("#CoveragesDiscs input[type='checkbox']").on("click", function(){

					var value = $(this).attr("checked") ? "true" : "false";
					 $.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: value
						}, function (data) {

						});
				});

				$("#CoveragesDiscs input[type='radio']").on("click", function(){

					 $.getJSON("@Url.Action("UpdateQuoteEdit", "AjaxHelpers")", {
							quoteNo: "@Sessions.Instance.PolicyNo",
							fieldName: $(this).attr("name"),
							fieldValue: $(this).val()
						}, function (data) {

						});
				});
			}
			@*//-------------------------------------------------------------------------------------------*@
			// Run logic to run same as garage code on load
			if($("#SameAsGarage").length > 0)
			{
				if ($("#SameAsGarage").is("input:checked"))
				{
					//show
					$("#MailingStreetAddress").val($("#GarageStreetAddress").val());
					$("#MailingCity option:selected").text($("#GarageCity option:selected").text());
					$("#MailingState").val($("#GarageState").val());
					$("#MailingZIPCode").val($("#GarageZIPCode").val());
					//To Disable
					$("#MailingStreetAddress").attr("readonly", "readonly");
					//$("#MailingCity").attr("disabled", "disabled");
					//$("#MailingState").attr("disabled", "disabled");
					$("#MailingZIPCode").attr("readonly", "readonly");
				}
				else
				{
					//clear
					//$("#MailingStreetAddress").val("");
					$("#MailingCity option:selected").text("");
					$("#MailingState").val("");
					//$("#MailingZIPCode").val("");
					//To enable
					$("#MailingStreetAddress").attr("readonly", null);
					$("#MailingCity").attr("readonly", null);
					//$("#MailingState").attr("disabled", null);
					$("#MailingZIPCode").attr("readonly", null);
				}
			}//END Checking for same as garage checkbox
			@*//-------------------------------------------------------------------------------------------*@
			// Prior Company Auto Complete
			if($("#PriorCompany").length > 0)
			{
				$.ajax({
				  url: "@Url.Action("PriorCompaniesAutoComplete", "AjaxHelpers")",
				  cache: false,
				  success: function(jsondata){
					  $("#PriorCompany").autocomplete(jsondata, {
						formatItem: function(data, i, n) {
						  return data[0];
						}
					  });
				  }
				});
			}
			@*//-------------------------------------------------------------------------------------------*@
			//HasSr22
			$("#HasSR22").live("click", function(){
				if($("#SR22CaseNo").attr("disabled"))
				{
					$("#SR22CaseNo").attr("disabled", null);
				}
				else
				{
					$("#SR22CaseNo").attr("disabled", "disabled");
				}
			});
			@*//-------------------------------------------------------------------------------------------*@
			//Has Senior Driving Course
			$("#HasSeniorDefDrvDisc").live("click", function(){
				if($("#SeniorDefDrvDate").attr("disabled"))
				{
					$("#SeniorDefDrvDate").attr("disabled", null);
				}
				else
				{
					$("#SeniorDefDrvDate").attr("disabled", "disabled");
				}

			});
			@*//-------------------------------------------------------------------------------------------*@
			if($("#radiosweep:checked").attr("checked"))
			{
				$("#paybySweep").show();
				$("#paybyCCard").hide();
			}
			else
			{
				$("#paybySweep").hide();
				$("#paybyCCard").show();
			}
			$("#paymentOption").change(function () {
				if ($(this).val() == "check") {
					$("#chkPayment").show();
					$("#ccPayment").hide();
				} else {
					$("#chkPayment").hide();
					$("#ccPayment").show();
				}
			});
			@*//-------------------------------------------------------------------------------------------*@
			//Lein Holder
			$('.leinHolderZipLookup').live('keyup', function () {
				var baseId = this.id.substr(0, this.id.length - 7),
					lookupUrl = "@Url.Action("ZipLookup", "AjaxHelpers", new { id = "__Zip__" })";
				//LienHolderModel_City
				var city = $('#addLienHolderForm #City');
				//LienHolderModel_State
				var state = $('#addLienHolderForm  #State');
				var zip = $(this);
				//Hold onto zip length if we need to say "after 5 chars do lookup"
				var zipLength = $(this).val().length;

				var invalidZip = function () {
					state.val("");
					city.html("<option>Invalid Zip</option>")
					city.attr('readonly', 'readonly');
				};

				if (!$(this).valid()) {
					// Not valid? Disable element and clear fields.
					invalidZip();
					return;
				}

				data = $.getJSON(lookupUrl.replace("__Zip__", zip.val()), function (data) {
					if (data == null) {
						invalidZip();
						return;
					}
					var html = "";
					$.each(data.cities, function (i, e) {
						html += "<option>" + e + "</option>";
					});
					city.html(html);
					city.attr('readonly', null);
					state.attr('readonly', null);
					state.val(data.state);
				});
			});
			@*//-------------------------------------------------------------------------------------------*@
			$("#SameAsGarage").on("click", function(){
					if ($("#SameAsGarage").is("input:checked"))
					{
						//show
						$("#MailingStreetAddress").val($("#GarageStreetAddress").val());
						$("#MailingCity option:selected").text($("#GarageCity option:selected").text());
						$("#MailingState").val($("#GarageState").val());
						$("#MailingZIPCode").val($("#GarageZIPCode").val());
						//To Disable
						$("#MailingStreetAddress").attr("readonly", "readonly");
						//$("#MailingCity").attr("disabled", "disabled");
						//$("#MailingState").attr("disabled", "disabled");
						$("#MailingZIPCode").attr("readonly", "readonly");
					}
					else
					{
						//clear
						$("#MailingStreetAddress").val("");
						$("#MailingCity option:selected").text("");
						$("#MailingState").val("");
						$("#MailingZIPCode").val("");
						//To enable
						$("#MailingStreetAddress").attr("readonly", null);
						$("#MailingCity").attr("readonly", null);
						//$("#MailingState").attr("disabled", null);
						$("#MailingZIPCode").attr("readonly", null);
					}
				});
			@*//-------------------------------------------------------------------------------------------*@
			$(".SameAsGarage").on('keyup', function()
			{
				if ($("#SameAsGarage").is("input:checked"))
				{
					$("#MailingStreetAddress").val($("#GarageStreetAddress").val());
					$("#MailingCity option:selected").text($("#GarageCity option:selected").text());
					$("#MailingState").val($("#GarageState").val());
					$("#MailingZIPCode").val($("#GarageZIPCode").val());
				}
			});
			@*//-------------------------------------------------------------------------------------------*@
			$("#GarageCity").on('change', function()
			{
				//if($("#SameAsGarage").attr("checked")
				if ($("#SameAsGarage").is("input:checked"))
				{
					$("#MailingCity option:selected").text($("#GarageCity option:selected").text());
				}
			});

			@*//-------------------------------------------------------------------------------------------*@
			$(".editDriver").live("click", function(){
				var baseId = this.id.substr(0, this.id.length - 7);
				var lookupUrl = "@Url.Action("ViolationAutocomplete", "AjaxHelpers", new { id = "__Zip__" })";

				data = $.getJSON(lookupUrl, function (data) {

					if (data == null) {
						return;
					}
					var html = "";
					$.each(data, function (i, e) {
						html += "<option>" + e + "</option>";
					});
					$("#Description").html(html);
				});
			});
			@*//-------------------------------------------------------------------------------------------*@
			$("#addDriver").live("click", function(){
				var baseId = this.id.substr(0, this.id.length - 7);
				var lookupUrl = "@Url.Action("ViolationAutocomplete", "AjaxHelpers", new { id = "__Zip__" })";

				data = $.getJSON(lookupUrl, function (data) {

					if (data == null) {
						return;
					}
					var html = "";
					$.each(data, function (i, e) {
						html += "<option>" + e + "</option>";
					});
					$("#Description").html(html);
				});

			});
			@*//-------------------------------------------------------------------------------------------*@
			$("#main_PayPlan").live("change", function(){
				$("#btnAcceptPolicy").attr("disable", true);
			});
			@*//-------------------------------------------------------------------------------------------*@
			$("#btnUpdatePayPlan").on("click", function(){
				$.ajax({
					type: "POST",
					url: "@Url.Action("UpdatePayPlan", "AjaxHelpers")",
					dataType: 'json',
					data: { payplan: $('#main_PayPlan option:selected').val(), quoteNo: "@Sessions.Instance.PolicyNo" },
					success: function (result) {
								location.reload();
					}
				});
			});
			@*//-------------------------------------------------------------------------------------------*@
			$('#paymentradios input').change(function () {
				$('#paybyCCard').hide();
				$('#paybySweep').hide();
				$('#' + $('#paymentradios input:checked').val()).show();
			});
			@*//-------------------------------------------------------------------------------------------*@
			$('#pymntCV').qtip({
				content: '<img class="creditcard-help" src="@Url.Content("~/Content/images/ccv-location.gif")" alt="CCV Help" />'
				,
				style: {
					border: {
						width: 2,
						radius: 10
					},
					width: 230,
					padding: 5,
					textAlign: 'center',
					tip: true,
					name: 'green'
				}
			});
			@*//-------------------------------------------------------------------------------------------*@
			$('#pymntCheckNum').qtip({
				content: '<img class="check-help" src="@Url.Content("~/Content/images/check-info.jpg")" alt="CCV Help" />',
				style: {
					border: {
						width: 3,
						radius: 10
					},
					width: 375,
					padding: 10,
					textAlign: 'center',
					tip: true,
					name: 'green'
				}
			});
			@*//-------------------------------------------------------------------------------------------*@
			$('#pymntAccount').qtip({
				content: '<img class="check-help" src="@Url.Content("~/Content/images/check-info.jpg")" alt="CCV Help" />',
				style: {
					border: {
						width: 3,
						radius: 10
					},
					width: 375,
					padding: 10,
					textAlign: 'center',
					tip: true,
					name: 'green'
				}
			});
			@*//-------------------------------------------------------------------------------------------*@
			$('#pymntRouting').qtip({
				content: '<img class="check-help" src="@Url.Content("~/Content/images/check-info.jpg")" alt="CCV Help" />',
				style: {
					border: {
						width: 3,
						radius: 10
					},
					width: 375,
					padding: 10,
					textAlign: 'center',
					tip: true,
					name: 'green'
				}
			});
			@*//-------------------------------------------------------------------------------------------*@
			$('#agntInfo').qtip({
				content: '@(new HtmlString(PortalUtils.GetAgentInfo(Sessions.Instance.AgentCode)))',
				style: {
					border: {
						width: 3,
						radius: 10
					},
					width: 500,
					padding: 10,
					textAlign: 'center',
					tip: true,
					name: 'green'
				}
			});
			@*//-------------------------------------------------------------------------------------------*@
			$("#agent-forgot-pass").click(function () {
				$("#agent-forgot-container").toggle();
			});
			@*//-------------------------------------------------------------------------------------------*@
			$(".hidefield").hide();
			$(".showclick").click(function () {
				$('.hidefield').toggle(400);
			});
			@*//-------------------------------------------------------------------------------------------*@
			$("#ccPymntsMsg").hide();
			if($(".csRequired").length > 0)
			{
				if($("#radiocust").attr("checked"))
				{
					$("#ccPymntsMsg").show();
					if($("#paymentOption").val() == "card")
					{
						$("#btnCyberSourcePymnt").attr("disabled", "disabled");
						$("#btnCyberSourcePymnt").addClass("disabled");
						ValidateCreditCardPymnt();
					}
					else
					{
						$("#btnCyberSourcePymnt").attr("disabled", "disabled");
						$("#btnCyberSourcePymnt").addClass("disabled");
						ValidateCheckPymnt();
					}
				}
				@*/////////////////////////////////////////*@
				$("#radiocust").live("click", function(){
					if($("#radiocust").attr("checked"))
					{
						$("#ccPymntsMsg").show();
						if($("#paymentOption").val() == "card")
						{
							$("#btnCyberSourcePymnt").attr("disabled", "disabled");
							$("#btnCyberSourcePymnt").addClass("disabled");
							ValidateCreditCardPymnt();
						}
						else
						{
							$("#btnCyberSourcePymnt").attr("disabled", "disabled");
							$("#btnCyberSourcePymnt").addClass("disabled");
							ValidateCheckPymnt();
						}
					}
				});
				@*/////////////////////////////////////////*@
				$("#paymentOption").change(function(){
					if($("#radiocust").attr("checked"))
					{
						if($("#paymentOption").val() == "card")
						{
							$("#btnCyberSourcePymnt").attr("disabled", "disabled");
							$("#btnCyberSourcePymnt").addClass("disabled");
							ValidateCreditCardPymnt();
						}
						else
						{
							$("#btnCyberSourcePymnt").attr("disabled", "disabled");
							$("#btnCyberSourcePymnt").addClass("disabled");
							ValidateCheckPymnt();
						}
					}
				});
				@*/////////////////////////////////////////*@
				$(".csRequired").live("blur", function(){
					if($("#radiocust").attr("checked"))
					{
						if($("#paymentOption").val() == "card")
						{
							ValidateCreditCardPymnt();
						}
						else
						{
							ValidateCheckPymnt();
						}
					}
				});
				@*/////////////////////////////////////////*@
			}//end check for ccpymntRequired
			@*//-------------------------------------------------------------------------------------------*@
			$("#GenerateDocs").live("click", function(){
				$(this).replaceWith('<img src="/Content/images/103.gif">');
			});
			@*//-------------------------------------------------------------------------------------------*@
			$("#btnSweep").live("click", function(){
			});
			@*//-------------------------------------------------------------------------------------------*@
			$("#btnCyberSourcePymnt").live("click", function(){
				$("#p-cybersource-progress").show();
				$("#p-cybersource-progress").append('<img src="/Content/images/103.gif">');
			});
		});
		@*//-------------------------------------------------------------------------------------------*@

		function ValidateCheckPymnt()
		{
			$("#check_accountType").css("border", "1px solid red");
			$("#check_accountNumber").css("border", "1px solid red");
			$("#check_checkNumber").css("border", "1px solid red");
			$("#check_bankTransitNumber").css("border", "1px solid red");
			$("#billing-name").css("border", "1px solid red");
			$("#billTo_lastName").css("border", "1px solid red");
			$("#billing-address").css("border", "1px solid red");
			$("#billing-city").css("border", "1px solid red");
			$("#billing-state").css("border", "1px solid red");
			$("#billing-zip").css("border", "1px solid red");
			$("#billTo_phoneNumber").css("border", "1px solid red");
			$("#billTo_driversLicenseState").css("border", "1px solid red");
			$("#billTo_driversLicenseNumber").css("border", "1px solid red");

			if($("#billTo_phoneNumber").val() != "")
			{
				$("#billTo_phoneNumber").css("border", "1px solid #CECECE");
			}

			if($("#check_accountType").val() != "")
			{
				$("#check_accountType").css("border", "1px solid #CECECE");
			}

			if($("#check_accountNumber").val() != "")
			{
				$("#check_accountNumber").css("border", "1px solid #CECECE");
			}

			if($("#check_checkNumber").val() != "")
			{
				$("#check_checkNumber").css("border", "1px solid #CECECE");
			}

			if($("#check_bankTransitNumber").val() != "")
			{
				$("#check_bankTransitNumber").css("border", "1px solid #CECECE");
			}

			if($("#billing-name").val() != "")
			{
				$("#billing-name").css("border", "1px solid #CECECE");
			}

			if($("#billTo_lastName").val() != "")
			{
				$("#billTo_lastName").css("border", "1px solid #CECECE");
			}

			if($("#billing-address").val() != "")
			{
				$("#billing-address").css("border", "1px solid #CECECE");
			}

			if($("#billing-city").val() != "")
			{
				$("#billing-city").css("border", "1px solid #CECECE");
			}

			if($("#billing-state").val() != "")
			{
				$("#billing-state").css("border", "1px solid #CECECE");
			}

			if($("#billing-zip").val() != "")
			{
				$("#billing-zip").css("border", "1px solid #CECECE");
			}

			if($("#billTo_driversLicenseNumber").val() != "")
			{
				$("#billTo_driversLicenseNumber").css("border", "1px solid #CECECE");
			}

			if($("#billTo_driversLicenseState").val() != "")
			{
				$("#billTo_driversLicenseState").css("border", "1px solid #CECECE");
			}

			if($("#check_accountType").val() != ""
				&& $("#check_accountNumber").val() != ""
				&& $("#check_checkNumber").val() != ""
				&& $("#check_bankTransitNumber").val() != ""
				&& $("#billing-name").val() != ""
				&& $("#billTo_lastName").val() != ""
				&& $("#billing-address").val() != ""
				&& $("#billing-city").val() != ""
				&& $("#billing-address").val() != ""
				&& $("#billing-city").val() != ""
				&& $("#billing-state").val() != ""
				&& $("#billing-zip").val() != ""
				&& $("#billTo_driversLicenseNumber").val() != ""
				&& $("#billTo_driversLicenseState").val() != ""
				&& $("#billTo_phoneNumber").val() != "" )
			{
				$("#btnCyberSourcePymnt").removeAttr("disabled", "disabled");
				$("#btnCyberSourcePymnt").removeClass("disabled");
			}
			else
			{
				$("#btnCyberSourcePymnt").attr("disabled", "disabled");
				$("#btnCyberSourcePymnt").addClass("disabled");
			}
		}//END ValidateCheckPymnt
		@*//-------------------------------------------------------------------------------------------*@

		function ValidateCreditCardPymnt()
		{
			//1px solid #CECECE
			$("#billing-name").css("border", "1px solid red");
			$("#billTo_lastName").css("border", "1px solid red");
			$("#billing-address").css("border", "1px solid red");
			$("#billing-city").css("border", "1px solid red");
			$("#billing-state").css("border", "1px solid red");
			$("#billing-zip").css("border", "1px solid red");
			$("#card_cardType").css("border", "1px solid red");
			$("#card-number").css("border", "1px solid red");
			$("#cvc").css("border", "1px solid red");
			$("#card_expirationMonth").css("border", "1px solid red");
			$("#card_expirationYear").css("border", "1px solid red");

			if($("#billing-name").val() != "")
			{
				$("#billing-name").css("border", "1px solid #CECECE");
			}

			if($("#billTo_lastName").val() != "")
			{
				$("#billTo_lastName").css("border", "1px solid #CECECE");
			}

			if($("#billing-address").val() != "")
			{
				$("#billing-address").css("border", "1px solid #CECECE");
			}

			if($("#billing-city").val() != "")
			{
				$("#billing-city").css("border", "1px solid #CECECE");
			}

			if($("#billing-state").val() != "")
			{
				$("#billing-state").css("border", "1px solid #CECECE");
			}

			if($("#billing-zip").val() != "")
			{
				$("#billing-zip").css("border", "1px solid #CECECE");
			}

			if($("#card_cardType").val() != "")
			{
				$("#card_cardType").css("border", "1px solid #CECECE");
			}

			if($("#card-number").val() != "")
			{
				$("#card-number").css("border", "1px solid #CECECE");
			}

			if($("#cvc").val() != "")
			{
				$("#cvc").css("border", "1px solid #CECECE");
			}

			if($("#card_expirationMonth").val() != "")
			{
				$("#card_expirationMonth").css("border", "1px solid #CECECE");
			}

			if($("#card_expirationYear").val() != "")
			{
				$("#card_expirationYear").css("border", "1px solid #CECECE");
			}

			if(	$("#billing-name").val() != ""
				&& $("#billTo_lastName").val() != ""
				&& $("#billing-address").val() != ""
				&& $("#billing-city").val() != ""
				&& $("#billing-address").val() != ""
				&& $("#billing-city").val() != ""
				&& $("#billing-state").val() != ""
				&& $("#billing-zip").val() != ""
				&& $("#card_cardType").val() != ""
				&& $("#card-number").val() != ""
				&& $("#cvc").val() != ""
				&& $("#card_expirationMonth").val() != ""
				&& $("#card_expirationYear").val() != "")
			{
				$("#btnCyberSourcePymnt").removeAttr("disabled", "disabled");
				$("#btnCyberSourcePymnt").removeClass("disabled");
			}
			else
			{
				$("#btnCyberSourcePymnt").attr("disabled", "disabled");
				$("#btnCyberSourcePymnt").addClass("disabled");
			}
		}//ValidateCreditCardPymnt
		@*//-------------------------------------------------------------------------------------------*@
    </script>

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-58515583-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>

</head>

<body>
	<div class="outerwrap">
		<div class="container">
			<div id="topbar"></div>
			<div class="wrapper" id="top">
				<div id="header">
					<div id="logo">
						<a href="/"><img src="@Url.Content("~/Content/images/LogoSmall.png")" width="257" height="65" alt="" /></a>
					</div><!-- Logo End  -->
					
					<div id="menu">
						<div id="smoothmenu1" class="ddsmoothmenu">
							<ul id="menu-main-menu" class="">
								<li id="menu-item-1289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1289">@Html.ActionLink("Home", "Index", "Home")</li>
								<li id="menu-item-1290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1289">@Html.ActionLink("About", "Index", "About")</li>
								@if (!Sessions.Instance.IsAuth)
								{
									<li id="menu-item-1291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1289">@Html.ActionLink("Agent Login", "Login", "Agent")</li>
									<li id="menu-item-1291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1289">@Html.ActionLink("Client Login", "Login", "Client")</li>
									<li id="menu-item-1291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1289">
									    @Html.ActionLink("Company Login", "Login", "Company")
									    <ul style="top: 84px; visibility: visible; left: 0px; width: 193px; display: none;">
											<li><a href="http://www.palminsure.com:8080/Claims/Account/Login.aspx">Claims Portal</a></li>
										</ul>
									</li>
								}
								@if (Sessions.Instance.IsAgent)
								{
									<li id="menu-item-1291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1289">@Html.ActionLink("Logout", "LogOut", "Agent")</li>
								}
					
							</ul>
						</div>
					</div>
				</div><!-- Main Navigation End -->
				<div class="clear"></div>
				@{
                    @(new HtmlString(PortalUtils.AlertDevEnvironment()))
				}
				@RenderBody()
				<div class="clear"></div>
			</div><!-- Footer -->
			<div id="footer-wrapper">
				<div class="wrapper">
					<div class="footerbox col_14">
						<div id="officeadress_widget-2" class="widget_officeadress_widget">
							<div class="heading-block-footer">
								<span>Contact Information</span>
							</div>
							<ul class="addresslist">
								<li><strong>Phone </strong>: (866) 436-7256</li>
								<li><strong>Email </strong>: <a href="mailto:info@palminsure.com">info@palminsure.com</a></li>
							</ul>
							<!-- Begin DigiCert/ClickID site seal HTML and JavaScript -->
							<div style="margin: 15px 0px 0px 0px; width: 100px;" id="DigiCertClickID_KJABzJfY">
								<a href="http://www.digicert.com/ssl.htm"></a>
							</div>
							<script type="text/javascript">
								var __dcid = __dcid || []; __dcid.push(["DigiCertClickID_KJABzJfY", "12", "m", "black", "KJABzJfY"]); (function () { var cid = document.createElement("script"); cid.type = "text/javascript"; cid.async = true; cid.src = ("https:" === document.location.protocol ? "https://" : "http://") + "seal.digicert.com/seals/cascade/seal.min.js"; var s = document.getElementsByTagName("script"); var ls = s[(s.length - 1)]; ls.parentNode.insertBefore(cid, ls.nextSibling); } ());
							</script><!-- End DigiCert/ClickID site seal HTML and JavaScript -->
						</div>
					</div><!-- Footer Box End -->
						
					<div class="footerbox col_20">
						<div id="rss-3" class="widget_rss">
							<div class="heading-block-footer">
								<span>
									Latest News
								</span>
							</div>
							<div class="textwidget">
								<p style="text-align: justify;">
                                    DIC is proud to announce that it now represents Palm Insure, INC. Palm Insure has an innovative
									approach to saving their insureds money both before and after a loss. DIC is now a full service
									Managing General Agency for Palm Insure and will provide Palm Insure's customer with industry leading customer service.
								</p>
							</div>
						</div>
					</div><!-- Footer Box End -->
						
					<div class="footerbox col_14 last">
						<div id="text-2" class="widget_text">
							<div class="heading-block-footer">
								<span><a href="about.aspx">About Us</a></span>
							</div>
							<div class="textwidget">
								<p style="text-align: justify;">
									<img class="alignleft " src="@Url.Content("~/Content/images/team1.jpg")" alt="" />
                                    DIC is a Managing General Agency serving auto insurance customers. We offer unique
									programs designed to save our insureds money while providing the best customer service in the
									industry.
								</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					</div><!-- Footer Box End -->
					
				<div class="clear"></div>
					
				<div class="footer-bottom">
				    <div class="wrapper">
				        <div class="left">
				            <p>Version @typeof(MvcApplication).Assembly.GetName().Version</p>
				        </div>
				        <div class="copyright col_12 last">
				            <p>&copy; @DateTime.Now.Year - Palm Insure, Inc.</p>
				        </div><!-- Site Copyright End -->
				    </div><!-- Footer Bottom End -->
				</div><!-- Footer -->
			</div><!-- Wrapper End -->
				
			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-58515583-1']);
				_gaq.push(['_trackPageview']);

				(function () {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
		</div>
	</div><!--outerwrap -->
</body>
</html>