﻿<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0; font-family: helvetica neue,tahoma,arial,sans-serif;}
      #map_canvas { height: 100% }

    </style>
     @* <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={AIzaSyCgOEaFoG8QGYcr9MWYTna06Y2WMNMdRco‏}"></script>*@
    </head>


    @RenderBody()

    </html>