﻿@using AgentPortal.Support.Utilities
<div class="col_13 last" style="text-align:justify">
                    <!--<img src="@Url.Content("~/Content/images/MyDemoInsCo_Logo.png")" alt="" style="align-content:center; padding:40px" />-->
                        @{
                            string companyID = ConfigSettings.ReadSetting("CompanyID");
                            if (companyID == "1")
                            {
                                <h4>Mission Statement</h4>
                                <p>Here at DIC we provide an extensive range of insurance products nationwide and pledge to honor our commitments to our producers and clients by holding ourselves to the highest ethical standards. We encourage personal growth and life planning through exceptional service and competitive product offerings.  We will maintain a professional and efficient work environment which helps each person to achieve his or her personal goals.</p>
                            }
                            else
                            {
                                <p>
                                    <h5>Proud to represent Palm Insure, INC</h5>
                                    <img width="294" height="93" src="@Url.Content("~/Content/images/AlertAutoLogo.png")" />
                                    <ul class="agicList">
                                        <li><span class="agicListCheck"><img src="@Url.Content("~/Content/images/check.gif")"></span> &nbsp;&nbsp;Low Rates</li>
                                        <li><span class="agicListCheck"><img src="@Url.Content("~/Content/images/check.gif")"></span> &nbsp;&nbsp;Great Service</li>
                                        <li><span class="agicListCheck"><img src="@Url.Content("~/Content/images/check.gif")"></span> &nbsp;&nbsp;Low deductible plans</li>
                                        <li><span class="agicListCheck"><img src="@Url.Content("~/Content/images/check.gif")"></span> &nbsp;&nbsp;Easy Billing</li>
                                        <li><span class="agicListCheck"><img src="@Url.Content("~/Content/images/check.gif")"></span> &nbsp;&nbsp;Low Down Payments</li>
                                        <li><span class="agicListCheck"><img src="@Url.Content("~/Content/images/check.gif")"></span> &nbsp;&nbsp;Preferred Provider Network</li>
                                        <li><span class="agicListCheck"><img src="@Url.Content("~/Content/images/check.gif")"></span> &nbsp;&nbsp;Simple Claims Service</li>
                                        <li><span class="agicListCheck"><img src="@Url.Content("~/Content/images/check.gif")"></span> &nbsp;&nbsp;Low Payments</li>
                                        <li><span class="agicListCheck"><img src="@Url.Content("~/Content/images/check.gif")"></span> &nbsp;&nbsp;Friendly Customer Service</li>
                                    </ul>
                                </p>
                            }
                         }               
</div>