﻿@using AgentPortal.Support.Utilities
@model AgentPortal.Models.CardConnectPaymentModel
@{
    ViewBag.Title = "Policy Quote - " + Sessions.Instance.PolicyNo;
    Html.EnableClientValidation(true);
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    function showCreditCardView() {
        $("#CreditCardView").show();
        $("#AchView").hide();
        $("#achSweepEFTMessage").hide();
        $("#processPayment").removeAttr('disabled');
        $("#isCreditCardRadio").prop("checked", true);
        $("#isAchRadio").prop("checked", false);
        $("#isAgentSweepRadio").prop("checked", false);
        $("#creditCardFeeRow").show();
    }
    function showAchView() {
        $("#CreditCardView").hide();
        $("#AchView").show();
        $("#achSweepEFTMessage").hide();
        $("#processPayment").removeAttr('disabled');
        $("#isCreditCardRadio").prop("checked", false);
        $("#isAgentSweepRadio").prop("checked", false);
        $("#isAchRadio").prop("checked", true);
        $("#creditCardFeeRow").hide();
    }

    function showSweepAgentView() {
        $("#CreditCardView").hide();
        $("#AchView").hide();
        $("#creditCardFeeRow").hide();
        $("#achSweepEFTMessage").show();
        $("#isCreditCardRadio").prop("checked", false);
        $("#isAchRadio").prop("checked", false);
        $("#isAgentSweepRadio").prop("checked", true);
        var creditCardEFTPayTypeChecked = $("#creditCardFutureEFTPayType").prop('checked');
        var achFutureEFTPayTypeChecked = $("#achFutureEFTPayType").prop('checked');
        if (creditCardEFTPayTypeChecked) {
            $("#CreditCardView").show();
            $("#AchView").hide();
        } else if (achFutureEFTPayTypeChecked) {
            $("#CreditCardView").hide();
            $("#AchView").show();
        }
    }

    $(function () {
        $("#cardConnectPaymentForm").submit(function (e) {
            $("#processPayment").attr("disabled", true);
            return true;

        });
        var isCreditChecked = $("#isCreditCardRadio").prop('checked');
        var isAchChecked = $("#isAchRadio").prop('checked');
        var isAgentSweepChecked = $("#isAgentSweepRadio").prop('checked');
        if (!isCreditChecked && !isAchChecked && !isAgentSweepChecked) {
            $("#processPayment").prop("disabled", true);
        }
        if (isCreditChecked) {
            showCreditCardView();
        }
        if (isAchChecked) {
            showAchView();
        }
        if (isAgentSweepChecked) {
            showSweepAgentView();
        }
        $("#isCreditCardRadio").prop("checked", true); // default to CC payment
        showCreditCardView();
        window.addEventListener('message',
            function (event) {
                var token = JSON.parse(event.data);
                var mytoken = document.getElementById('account');
                mytoken.value = token.message;
            },
            false);
        $("#isCreditCardRadio").click(function () {
            var isChecked = $(this).prop('checked');
            if (isChecked) {
                showCreditCardView();
            }
        });
        $("#isAchRadio").click(function () {
            var isChecked = $(this).prop('checked');
            if (isChecked) {
                showAchView();
            }
        });
        $("#isAgentSweepRadio").click(function () {
            var isChecked = $(this).prop('checked');
            if (isChecked) {
                showSweepAgentView();
            }
        });
        $("#achFutureEFTPayType").click(function () {
            $("#CreditCardView").hide();
            $("#AchView").show();
        });
        $("#creditCardFutureEFTPayType").click(function () {
            $("#CreditCardView").show();
            $("#AchView").hide();
        });

      
    });
</script>

@{
    SelectListItem checking = new SelectListItem();
    checking.Selected = true;
    checking.Text = "Checking";
    checking.Value = "Checking";
    SelectListItem savings = new SelectListItem();
    savings.Text = "Savings";
    savings.Value = "Savings";
    IList<SelectListItem> achAccountTypeSelectList = new List<SelectListItem>()
{
        checking, savings
    };
}
<div class="col_29" style="min-height: 450px;">
    <h3>Payments</h3>
    <div style="float: left; color: red;">
        @Html.ValidationSummary()
    </div>
    @using (@Html.BeginForm("CardConnectPayment", "Quote", FormMethod.Post, new { id = "cardConnectPaymentForm" }))
    {
        @Html.HiddenFor(m => m.Account, new { id = "account" })
        @Html.HiddenFor(m => m.Amount, new { id = "amount" })
        @Html.HiddenFor(m => m.CreditCardFee, new { id = "creditCardFee" })
        @Html.HiddenFor(m => m.IsEft, new { id = "creditCardFee" })
        @Html.HiddenFor(m => m.IsInitialDepostPayment)
        @Html.HiddenFor(m => m.IsEndorsementPayment)
        @Html.HiddenFor(m => m.IsTitanEndorsementPayment)
        @Html.HiddenFor(m => m.IsRenewalPayment)
        @Html.HiddenFor(m => m.IsClientPayment)
        @Html.HiddenFor(m => m.EndorsementEffectiveDate)
        @Html.HiddenFor(m => m.PolicyNo)
		@Html.HiddenFor(m => m.IsPayForReinstatement)
        <div>
            <table class="tbl100">
                <thead>
                    <tr>
                        <th colspan="12">
                            Billing Details
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>Full Name</td>
                    <td>
                        @Html.EditorFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)

                    </td>
                </tr>
                <tr>
                    <td>Street</td>
                    <td>
                        @Html.EditorFor(m => m.Address)
                        @Html.ValidationMessageFor(m => m.Address)
                    </td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>
                        @Html.EditorFor(m => m.City)
                        @Html.ValidationMessageFor(m => m.City)
                    </td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>
                        @Html.EditorFor(m => m.State)
                        @Html.ValidationMessageFor(m => m.State)
                    </td>
                </tr>
                <tr>
                    <td>ZIP Code</td>
                    <td>
                        @Html.EditorFor(m => m.Postal)
                        @Html.ValidationMessageFor(m => m.Postal)
                    </td>
                </tr>
                <tr>
                    <td>Payment Type</td>
                    <td>
                        @Html.Label("Credit Card", new { Style = "font-weight:bold;" })
                        @Html.CheckBoxFor(m => m.IsCreditCard, new { Group = "PaymentTypes", id = "isCreditCardRadio" })
                        <br />
                        <br />
                        @Html.Label("ACH / E-Check", new { Style = "font-weight:bold;" })
                        @Html.CheckBoxFor(m => m.IsAch, new { Group = "PaymentTypes", id = "isAchRadio" })
                        <br />
                        <br />
                        
                        @if (!Model.IsClientPayment)
                        {
                            @Html.Label("Sweep Agent Account", new {Style = "font-weight:bold;"})
                            @Html.CheckBoxFor(m => m.IsAgentAccountSweep, new {Group = "PaymentTypes", id = "isAgentSweepRadio"})
                        }
                    </td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td style="color: red;background: yellow;font-weight:bold;">
                        @Html.DisplayFor(m => m.Amount)
                        @if (Model.IsEndorsementPayment)
                        {
                            <span style="color: red;">***</span>
                        }
                    </td>
                </tr>
                <tr id="creditCardFeeRow" style="display: none;">
                    <td>Credit Card Processing Fee <span style="color:red">(2% of payment amount)</span></td>
                    <td  style="color: red;background: yellow;font-weight:bold;">
                        $@Html.DisplayFor(m => m.CreditCardFee)
                    </td>
                </tr>
                @if (Model.IsEndorsementPayment)
                {
                    <tr>
                        <td colspan="2">
                            <span style="color:red">*** The minimum amount due for this endorsement is payable prior to coverage being in effect.</span>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <br />
        <br />
        if (Model.IsEft && Model.IsInitialDepostPayment)
        {
            <div id="achSweepEFTMessage" style="display: none;">
                <p style="color: red">You have elected to make your downpayment via your agent. However, you selected an EFT payment plan for your future installments and in order to receive your discount and ensure timely processing of your future installments we require you to enter either a credit card or bank account at this time. Note: Your selected account will not be charged today.</p>
                <div>
                    <label style="font-weight: bold;">Please select how you would like to pay the future EFT payments</label>
                    <div>
                        <p>
                            <label>ACH</label>
                            @Html.RadioButtonFor(m => m.FutureEFTPayType, "ACH", new { id = "achFutureEFTPayType" })
                        </p>
                        <p>
                            <label>Credit Card</label>
                            @Html.RadioButtonFor(m => m.FutureEFTPayType, "Credit Card", new { id = "creditCardFutureEFTPayType" })
                        </p>
                    </div>
                </div>
            </div>
        }
        <div id="CreditCardView" style="display: none;">
            <table class="tbl100">
                <thead>
                    <tr>
                        <th colspan="12">
                            Credit Card Payment
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>Card number</td>
                    <td>
                        @{
                            string ccSource = "https://fts.cardconnect.com:" + @Model.IFramePort + "/itoke/ajax-tokenizer.html?css=%2Eerror" + Url.Encode("{color:%20red;}");
                        }
                        <iframe id="ccToken" name="tokenframe" src="@ccSource" frameborder="0" scrolling="no" width="200" height="30"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>Enter Expiration (Enter in format: 0122)</td>
                    <td>
                        <div style="margin-left: 8px;">@Html.EditorFor(m => m.ExpirationDate)</div>
                        @Html.ValidationMessageFor(m => m.ExpirationDate)
                    </td>
                </tr>
                <tr>
                    <td>CVV Code</td>
                    <td>
                        <div style="margin-left: 8px;"> @Html.EditorFor(m => m.Cvv)</div>
                        @Html.ValidationMessageFor(m => m.Cvv)
                    </td>
                </tr>
            </table>
        </div>
        <div id="AchView" style="display: none;">
            <table class="tbl100">
                <thead>
                    <tr>
                        <th colspan="12">
                            ACH
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>Routing Number / Account Number</div>
                            <br />
                            <div>
                                <span style="font-weight: bold;">(Must be in format:  </span>123456789/1234123412341234)
                            </div>
                        </td>
                        <td>
                            @{
                                string achSource = "https://fts.cardconnect.com:" + @Model.IFramePort + "/itoke/ajax-tokenizer.html?css=%2Eerror" + Url.Encode("{color:%20red;}");
                            }
                            <iframe id="routingAccountToken" name="routingAccountToken" src="@achSource" frameborder="0" scrolling="no" width="200" height="30"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                Account Type
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>
                                    @Html.DropDownListFor(m => m.AchAcocuntType, achAccountTypeSelectList, new { @style = "margin-left:8px;" })
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div style="float: right;" class="button">
            <input id="processPayment" name="processPayment" type="submit" value="Process Payment" />
        </div>
        if (Model.IsEndorsementPayment && !Model.IsTitanEndorsementPayment && !Model.IsClientPayment)
        {
            ViewData["HideEmailPaymentScheduleButton"] = true;
            var installments = PortalPaymentUtils.GetEndorsementInstallments(Sessions.Instance.PolicyNo, true);
            Html.RenderPartial("EndorsementpaymentSchedule", installments);
        }
    }
</div>