﻿@model IEnumerable<AgentPortal.Models.EndorsementInsallmentsModel>
@{ 
    bool hideEmailPaymentSchedule = ViewData.ContainsKey("HideEmailPaymentScheduleButton") ? Convert.ToBoolean(ViewData["HideEmailPaymentScheduleButton"]) : false;
    int thTitleColSpan = hideEmailPaymentSchedule ==false && Model != null && Model.Count() > 0 ? 6 : 7;
    int thErrorMsgColSpan = hideEmailPaymentSchedule == false && Model != null && Model.Count() > 0 ? 5 : 6;
    string policyNum = hideEmailPaymentSchedule ==true? "- " + Model.FirstOrDefault().PolicyNo:string.Empty;    
}
<table class="tbl100">
    <tr>
        <th colspan="@thTitleColSpan" style="background-color: white; text-align: left; padding-top: 15px;">
            <h4>Endorsement Payment Schedule @policyNum </h4>
        </th>
        @if (Model != null && Model.Count() > 0 && !hideEmailPaymentSchedule)
        {
            <th style="background-color:white;" colspan="4">
                <a class="btnSubmit" style="float: right;margin-bottom: -10px;" id="btnEmailPaymentSchedule">Email Payment Schedule</a>
            </th>
        }
    </tr>
    <tr><td colspan="10"><p style="float: right;margin-bottom:-10px;margin-top:-9px;margin-right:30px;font-weight:bold;" id="send-endorsement-payment-schedule"></p></td></tr>
    <tr>
        <th>Install No.</th>
        <th  style="min-width:70px;">Due Date</th>
        <th style="min-width:120px;text-align:center">Description</th>
        <th style="max-width:120px;text-align:center">Old Premium</th>
        <th style="max-width:120px;text-align:center">Premium Change</th>
        <th style="max-width:120px;text-align:center">New Premium</th>
        <th style="max-width:120px;text-align:center">Fee</th>
        <th style="max-width:120px;text-align:center">Total Due</th>
        <th style="max-width:120px;text-align:center">Amount Paid</th>
        <th style="max-width:140px;text-align:center">Change Amount</th>
    </tr>
    @if (Model != null)
    {
        foreach (var install in Model)
        {
            <tr>
                <td>@install.InstallNo</td>
                <td>@(install.DueDate != null ? install.DueDate.Value.ToShortDateString() : string.Empty)</td>
                <td style="text-align: center;">@install.Descr</td>
                <td style="text-align: center;">@Math.Round(install.OldPremiumeAmount, 2).ToString()</td>
                <td style="text-align: center;">@Math.Round(install.PremiumeChangeAmount, 2).ToString()</td>
                <td style="text-align: center;color: red;background: yellow;font-weight:bold">@Math.Round(install.PremiumeAmount, 2).ToString()</td>
                <td style="text-align: center;">@Math.Round(install.Fees, 2).ToString()</td>
                <td style="text-align: center;">@Math.Round(install.TotalDue, 2).ToString()</td>
                <td style="text-align: center;">@Math.Round(install.PymtApplied, 2).ToString()</td>
                <td style="text-align: center;">@Math.Round(install.EndorseChangeAmount, 2).ToString()</td>
            </tr>
        }
        <tr>
            <td colspan="3"><b>Total</b></td>
            <td style="text-align: center;"><b>$@(Math.Round(Model.Sum(x => x.OldPremiumeAmount), 2).ToString("n2"))</b></td>
            <td style="text-align: center;"><b>$@(Math.Round(Model.Sum(x => x.PremiumeChangeAmount), 2).ToString("n2"))</b></td>
            <td style="text-align: center;color: red;background: yellow;font-weight:bold"><b>$@(Math.Round(Model.Sum(x => x.PremiumeAmount), 2).ToString("n2"))</b></td>
            <td style="text-align: center;"><b>$@(Math.Round(Model.Sum(x => x.Fees), 2).ToString("n2"))</b></td>
            <td style="text-align: center;"><b>$@(Math.Round(Model.Sum(x => x.TotalDue), 2).ToString("n2"))</b></td>
            <td style="text-align: center;"><b>$@(Math.Round(Model.Sum(x => x.PymtApplied), 2).ToString("n2"))</b></td>
            <td style="text-align: center;"><b>$@(Math.Round(Model.Sum(x => x.EndorseChangeAmount), 2).ToString("n2"))</b></td>
        </tr>
    }

</table>
<br>