﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Oops, it appears there has been a problem, please click @Html.ActionLink("here", "Search", "Agent")
</h2>

<h3>
    The below error has been logged and sent to technical support. 
</h3>

    @if (Model != null && Model.Exception != null)
    {
        string message = Model.Exception.Message;

        <h4>
            @message
        </h4>
    }