﻿@using AgentPortal.Support.Utilities
@model AgentPortal.Models.MakePaymentModel

@{
	ViewBag.Title = " - " + Model.PolicyNo;

	//Cyber Source DEBUG URL https://orderpage.ic3.com/hop/CheckOrderData.do
	//Cyber Source Test Live URL https://orderpagetest.ic3.com/hop/ProcessOrder.do
	/////////////////////////////////////////////////////////////////////////////////////////////
	//Cyber Source >>>LIVE<<< https://orderpage.ic3.com/hop/ProcessOrder.do
	//Cyber Source >>>CHECK ORDER<<<< https://orderpage.ic3.com/hop/CheckOrderData.do
}

<script type="text/javascript">
    $(function() {
        @*************************************************@
        if ($("#radiosweep:checked").attr("checked")) {
            $("#paybySweep").show();
            $("#paybyCCard").hide();
        } else {
            $("#paybySweep").hide();
            $("#paybyCCard").show();
        }
        @*************************************************@
        $("#cmbMethodOfPayment").change(function() {
            if ($(this).val() == "CHECK") {
                $("#chkPayment").show();
                $("#ccPayment").hide();
            } else {
                $("#chkPayment").hide();
                $("#ccPayment").show();
            }
        });
        @*************************************************@
        $("#ccPymntsMsg").hide();
			
		if($("#radiocust").attr("checked"))
		{
			$("#ccPymntsMsg").show();
			if($("#cmbMethodOfPayment").val() == "CARD")
			{
				$("#btnPymntVendor").attr("disabled", "disabled");
				$("#btnPymntVendor").addClass("disabled");
				ValidateCreditCardPymnt();
			}
			else
			{
				$("#btnPymntVendor").attr("disabled", "disabled");
				$("#btnPymntVendor").addClass("disabled");
				ValidateCheckPymnt();
			}
		}
		@*/////////////////////////////////////////*@
		$("#radiocust").live("click", function(){
			if($("#radiocust").attr("checked"))
			{
				$("#ccPymntsMsg").show();
				if($("#cmbMethodOfPayment").val() == "CARD")
				{
					$("#btnPymntVendor").attr("disabled", "disabled");
					$("#btnPymntVendor").addClass("disabled");
					ValidateCreditCardPymnt();
				}
				else
				{
					$("#btnPymntVendor").attr("disabled", "disabled");
					$("#btnPymntVendor").addClass("disabled");
					ValidateCheckPymnt();
				}
			}
		});
		@*/////////////////////////////////////////*@
		$("#cmbMethodOfPayment").change(function(){
			if($("#radiocust").attr("checked"))
			{
				if($("#cmbMethodOfPayment").val() == "CARD")
				{
					$("#btnPymntVendor").attr("disabled", "disabled");
					$("#btnPymntVendor").addClass("disabled");
					ValidateCreditCardPymnt();
				}
				else
				{
					$("#btnPymntVendor").attr("disabled", "disabled");
					$("#btnPymntVendor").addClass("disabled");
					ValidateCheckPymnt();
				}
			}
		});
		@*/////////////////////////////////////////*@
		$(".csRequired").live("blur", function(){
			if($("#radiocust").attr("checked"))
			{
				if($("#cmbMethodOfPayment").val() == "CARD")
				{
					ValidateCreditCardPymnt();
				}
				else
				{
					ValidateCheckPymnt();
				}
			}
		});
        @*************************************************@
        $("#btnSweep").on("click", function() {
            $.ajax({
				type: "POST",
				url: "@Url.Action("PostSweep", "AjaxHelpers")",
				dataType: 'json',
				data: {
                    policytype: "@Model.PolicyType",
                    policyno: "@Model.PolicyNo", 
                    agentcode: "@Sessions.Instance.AgentCode", 
                    amount: "@Model.PaymentAmt",
                    ckAcctType: "", 
                    chkAcctNo: "",
                    chkNo: "", 
                    chkRoutingNo: "",
                    dlState: "",
                    dlNo: "",
                    payorName: "",
                    saveBankInfo: "False",
                    isCheck: "False"
				},
				beforeSend: function() {
				    $("#btnSweep").hide();
				    $("#sweep-warningmsg").hide();
				    $("#palms-sweep-continuemsg").html("<div class='info'><img src='/Content/images/update.gif' /> Processing your payment now</div>");
				},
				success: function (result) { 
				    if (result.returnMsg == "FAILED") {
                        $("#btnSweep").show();		
				        $("#sweep-warningmsg").show();
				        $("#palms-returnmsg").html(result.errorMsg);
				        $("#palms-returnmsg").addClass(result.errMsgLevel);
				    } else {
				        @if (Model.PolicyType != "QUOTE" && Model.PolicyType != "RENEWAL")
				        {
				            <text>$("#palms-returnmsg").html("<div class='success'>" + result.succesMsg + "</div>");</text>
				        }
				        $("#radiocust").remove();
				        $("#radiosweep").remove();
				        $("#palms-sweep-continuemsg").html(result.continueMsg);
				    }
				}
			});
        });
        @*************************************************@
        $("#btnPymntVendor").on("click", function() {
            
            $.ajax({
				type: "POST",
				url: "@Url.Action("PostToPaymentVendor", "AjaxHelpers")",
				dataType: 'json',
                data: {
                    policytype: "@Model.PolicyType",
                    policyno: "@Model.PolicyNo", 
                    agentcode: "@Sessions.Instance.AgentCode", 
                    modelAmount: "@Model.PaymentAmt",
                    paymentMethod: $("#cmbMethodOfPayment").val(),
                    phoneNo: $("#txtPhoneNumber").val(),
                    firstname: $("#txtFirstName").val(),
                    lastname: $("#txtLastName").val(),
                    address: $("#txtAddress").val(),
                    city:$("#txtCity").val(),
                    state: $("#txtState").val(),
                    zipcode: $("#txtZipCode").val(),
                    chkAcctType: $("#cmbChkAcctType").val(),
                    chkAcctNo: $("#txtCheckAcctNo").val(),
                    chkNo: $("#txtCheckNo").val(),
                    chkRoutingNo: $("#txtCheckRoutingNo").val(),
                    dlState: $("#txtDriverLicenseState").val(),
                    dlNo: $("#txtDriverLicenseNo").val(),
                    cardType: $("#cmbCardType").val(),
                    cardNo: $("#txtCardNumber").val(),
                    cardCvvNo: $("#txtCvvNo").val(),
                    cardExpMonth: $("#cmbExpMonth").val(),
                    cardExpYear: $("#cmbExpYear").val()
                },
				beforeSend: function() {
				    $("#btnPymntVendor").hide();
				    $("#vendor-source-warningmsg").hide();
				    $("#palms-vendor-continuemsg").html("<div class='info'><img src='/Content/images/update.gif' /> Processing your payment now</div>");
				},
				success: function (result) { 
				    if (result.returnMsg == "FAILED") {
				        $("#btnPymntVendor").show();		
				        $("#vendor-source-warningmsg").show();
				        $("#palms-returnmsg").html(result.errorMsg);
				        $("#palms-returnmsg").addClass(result.errMsgLevel);
				        
				        $("#palms-returnmsg").scrollToMe();

				        $("#palms-vendor-continuemsg").html("");
				    } else {
				        $("#palms-vendor-continuemsg").html(result.continueMsg);
				        $("#radiocust").remove();
				        $("#radiosweep").remove();
				        $("#btnPymntVendor").hide();
				        $("#palms-returnmsg").html("<div class='success'>" + result.succesMsg + "</div>");
				    }
				}
            });
        });
        @*************************************************@
        $("#txtBankName").focus(function(){            
		    $(this).trigger('keydown.autocomplete');
	    }); 
	    @*Get Bank Info AutoComplete *@
        @if (PortalUtils.GetSysVars("LYONSABA") == "true")
	    {
        <text>
	        $("#txtCheckRoutingNo").live("blur", function(){
		        $.ajax({
			        type: "POST",
			        url: "@Url.Action("GetBankName", "AjaxHelpers")",
			        dataType: 'json',
			        data: { aba: $('#txtCheckRoutingNo').val() },
			        cache: false,
			        success: function(jsondata){
				        $("#txtBankName").autocomplete(jsondata, {
				            minChars: 0,
				            formatItem: function(data, i, n) {
					            return data[0];
				            }
				        });
			        }
		        });
		        @*********************@
		        $.ajax({
			        type: "POST",
			        url: "@Url.Action("VerifyAba", "AjaxHelpers")",
			        dataType: 'json',
			        data: { aba: $('#txtCheckRoutingNo').val() },
			        cache: false,
			        success: function(jsondata){
				        if(jsondata.returnMsg == "yes"){
					        $("#btnPymntVendor").show();
					        $("#BankInfoMsg").html("Please complete the eft information to proceed ");
					        $("#BankInfoMsg").removeClass("errMsg");
					        $("#BankInfoMsg").addClass("infoMsg");
				        }
				        else{
					        $("#btnPymntVendor").hide();
					        $("#BankInfoMsg").html("INVALID ABA/ROUTING NUMBER");
					        $("#BankInfoMsg").removeClass("infoMsg");
					        $("#BankInfoMsg").addClass("errMsg");
				        }   
			        }
		        });
		        @*********************@
		
	    });
	    </text>
	    }
	@***********************************************************@
        @if (PortalUtils.GetSysVars("LYONSATM") == "true")
	{<text>
	    $("#txtCheckAcctNo").live("blur", function(){
		    $.ajax({
			    type: "POST",
			    url: "@Url.Action("CheckAcctNum", "AjaxHelpers")",
			    dataType: 'json',
			    data: { aba: $('#txtCheckRoutingNo').val(), acctno: $("#txtCheckAcctNo").val() },
			    cache: false,
			    success: function(jsondata){
				    if(jsondata.actionType == "PASS"){
					    $("#btnPymntVendor").show();
					    $("#BankInfoMsg").html("Please complete the eft information to proceed ");
					    $("#BankInfoMsg").removeClass("errMsg");
					    $("#BankInfoMsg").addClass("infoMsg");
				    }
				    else{
					    $("#btnPymntVendor").hide();
					    $("#BankInfoMsg").html(jsondata.reasondesc);
					    $("#BankInfoMsg").removeClass("infoMsg");
					    $("#BankInfoMsg").addClass("errMsg");
				    }
			    }
		    });
	    });
	    @***********************************************************@
	    $.getJSON("@Url.Action("GetEftInfo", "AjaxHelpers")", {
				    policyNo: "@Sessions.Instance.PolicyNo"
	    }, function(data){
		    if(data.returnMsg == "GOOD")
		    {
			    $("#txtBankName").attr("disabled", null);
			    $("#txtCheckRoutingNo").attr("disabled", null);
			    $("#txtCheckAcctNo").attr("disabled", null);

			    $("#txtBankName").val(data.acctBankName);
			    $("#txtCheckRoutingNo").val(data.acctAba);
			    $("#txtCheckAcctNo").val(data.acctNumber);

			    if($("#txtBankName").val() != "" && $("#txtCheckRoutingNo").val() != "" && $("#txtCheckRoutingNo").val().length > 8 && $("#txtCheckAcctNo").val() != "")
			    {
                    $("#btnPymntVendor").removeAttr("disabled");
				    $("#btnPymntVendor").removeClass("disabled");
			    }
		    }
	    });
	    @***********************************************************@
	</text>
	}
    @*************************************************@

    });//END On Load
    @*///////////////////////////////////////////////////////////////////////////////////////////////*@
    jQuery.fn.extend({
		scrollToMe: function () {
			var x = jQuery(this).offset().top - 100;
			jQuery('html,body').animate({scrollTop: x}, 500);
		}});
    @*///////////////////////////////////////////////////////////////////////////////////////////////*@
    function ValidateCheckPymnt()
	{
        $("#txtFirstName").css("border", "1px solid red");
        $("#txtLastName").css("border", "1px solid red");
        $("#txtAddress").css("border", "1px solid red");
		$("#txtCity").css("border", "1px solid red");
		$("#txtState").css("border", "1px solid red");
		$("#txtZipCode").css("border", "1px solid red");
		$("#cmbChkAcctType").css("border", "1px solid red");
		$("#txtCheckAcctNo").css("border", "1px solid red");
		$("#txtCheckNo").css("border", "1px solid red");
		$("#txtCheckRoutingNo").css("border", "1px solid red");
		$("#txtDriverLicenseState").css("border", "1px solid red");
		$("#txtDriverLicenseNo").css("border", "1px solid red");

		if($("#txtPhoneNumber").val() != "")
		{
			$("#txtPhoneNumber").css("border", "1px solid #CECECE");    
		}

		if($("#cmbChkAcctType").val() != "")
		{
			$("#cmbChkAcctType").css("border", "1px solid #CECECE");    
		}

		if($("#txtCheckAcctNo").val() != "")
		{
			$("#txtCheckAcctNo").css("border", "1px solid #CECECE");    
		}

		if($("#txtCheckNo").val() != "")
		{
			$("#txtCheckNo").css("border", "1px solid #CECECE");    
		}

		if($("#txtCheckRoutingNo").val() != "")
		{
			$("#txtCheckRoutingNo").css("border", "1px solid #CECECE");    
		}

		if($("#txtFirstName").val() != "")
		{
			$("#txtFirstName").css("border", "1px solid #CECECE");    
		}

		if($("#txtLastName").val() != "")
		{
			$("#txtLastName").css("border", "1px solid #CECECE");    
		}

		if($("#txtAddress").val() != "")
		{
			$("#txtAddress").css("border", "1px solid #CECECE");    
		}

		if($("#txtCity").val() != "")
		{
			$("#txtCity").css("border", "1px solid #CECECE");    
		}

		if($("#txtState").val() != "")
		{
			$("#txtState").css("border", "1px solid #CECECE");    
		}

		if($("#txtZipCode").val() != "")
		{
			$("#txtZipCode").css("border", "1px solid #CECECE");    
		}

		if($("#txtDriverLicenseNo").val() != "")
		{
			$("#txtDriverLicenseNo").css("border", "1px solid #CECECE");    
		}

		if($("#txtDriverLicenseState").val() != "")
		{
			$("#txtDriverLicenseState").css("border", "1px solid #CECECE");    
		}

		if($("#cmbChkAcctType").val() != ""
			&& $("#txtCheckAcctNo").val() != "" 
			&& $("#txtCheckNo").val() != "" 
			&& $("#txtCheckRoutingNo").val() != ""
			&& $("#txtFirstName").val() != "" 
			&& $("#txtLastName").val() != "" 
			&& $("#txtAddress").val() != "" 
			&& $("#txtCity").val() != "" 
			&& $("#txtState").val() != "" 
			&& $("#txtZipCode").val() != ""
			&& $("#txtDriverLicenseNo").val() != ""
			&& $("#txtDriverLicenseState").val() != ""
			&& $("#txtPhoneNumber").val() != "" )
		{
			$("#btnPymntVendor").removeAttr("disabled", "disabled");
			$("#btnPymntVendor").removeClass("disabled");
		}
		else
		{
			$("#btnPymntVendor").attr("disabled", "disabled");
			$("#btnPymntVendor").addClass("disabled");
		}
	}//END ValidateCheckPymnt
	@*//-------------------------------------------------------------------------------------------*@

	function ValidateCreditCardPymnt()
	{
		//1px solid #CECECE
	    $("#txtFirstName").css("border", "1px solid red");
        $("#txtLastName").css("border", "1px solid red");
        $("#txtAddress").css("border", "1px solid red");
		$("#txtCity").css("border", "1px solid red");
		$("#txtState").css("border", "1px solid red");
		$("#txtZipCode").css("border", "1px solid red");
		$("#txtPhoneNumber").css("border", "1px solid red");
		$("#cmbCardType").css("border", "1px solid red");
		$("#txtCardNumber").css("border", "1px solid red");
		$("#txtCvvNo").css("border", "1px solid red");
		$("#cmbExpMonth").css("border", "1px solid red");
		$("#cmbExpYear").css("border", "1px solid red");
	    
		if($("#txtFirstName").val() != "")
		{
			$("#txtFirstName").css("border", "1px solid #CECECE");    
		}

		if($("#txtLastName").val() != "")
		{
			$("#txtLastName").css("border", "1px solid #CECECE");    
		}

		if($("#txtAddress").val() != "")
		{
			$("#txtAddress").css("border", "1px solid #CECECE");    
		}

		if($("#txtCity").val() != "")
		{
			$("#txtCity").css("border", "1px solid #CECECE");    
		}

		if($("#txtState").val() != "")
		{
			$("#txtState").css("border", "1px solid #CECECE");    
		}

		if($("#txtZipCode").val() != "")
		{
			$("#txtZipCode").css("border", "1px solid #CECECE");    
		}

		if($("#cmbCardType").val() != "")
		{
			$("#cmbCardType").css("border", "1px solid #CECECE");    
		}

		if($("#txtCardNumber").val() != "")
		{
			$("#txtCardNumber").css("border", "1px solid #CECECE");    
		}

		if($("#txtCvvNo").val() != "")
		{
			$("#txtCvvNo").css("border", "1px solid #CECECE");    
		}

		if($("#cmbExpMonth").val() != "")
		{
			$("#cmbExpMonth").css("border", "1px solid #CECECE");    
		}

		if($("#cmbExpYear").val() != "")
		{
			$("#cmbExpYear").css("border", "1px solid #CECECE");    
		}

		if(	$("#txtFirstName").val() != "" 
			&& $("#txtLastName").val() != "" 
			&& $("#txtAddress").val() != "" 
			&& $("#txtCity").val() != "" 
			&& $("#txtState").val() != "" 
			&& $("#txtZipCode").val() != "" 
			&& $("#cmbCardType").val() != "" 
			&& $("#txtCardNumber").val() != "" 
			&& $("#txtCvvNo").val() != "" 
			&& $("#cmbExpMonth").val() != "" 
			&& $("#cmbExpYear").val() != "")
		{
			$("#btnPymntVendor").removeAttr("disabled", "disabled");
			$("#btnPymntVendor").removeClass("disabled");
		}
		else
		{
			$("#btnPymntVendor").attr("disabled", "disabled");
			$("#btnPymntVendor").addClass("disabled");
		}
	}//ValidateCreditCardPymnt
	@*//-------------------------------------------------------------------------------------------*@
</script>
@if (Sessions.Instance.IsAgent)
{ 
	<div class="lblAgencyName left">
		<h3><a>@Sessions.Instance.AgencyName</a></h3>
	</div>
	<div class="lblAgentName right">Welcome <a>@Sessions.Instance.AgentName</a></div>
}

<div class="clear"></div>
<div id="palms-returnmsg"></div>
<div class="col_29">
	<h3>Make a Payment - @Model.PolicyNo</h3>
	@*@Html.ValidationSummary(false, "Alert", new { @class = "error" })*@
	<table>
		<tr>
			<td>
				@{
					if (Model.PolicyType == "QUOTE")
					{
						<b>Down Payment Amount Due Now:</b>
					}
					else
					{ 
						<b>Amount To Pay:</b>    
					}
				}
			</td>
			<td>$@Model.PaymentAmt</td>
		</tr>
	</table>
</div>

@if (Sessions.Instance.IsAgent)
{
<h3>Payment Method</h3>
<table id="paymentradios">
	<tr>
		<td>
			<input id="radiocust" type="radio" name="paymentType" value="paybyCCard" />
			<label for="radiocust">Customer CreditCard/Check</label>
		</td>
		<td>
			<input id="radiosweep" type="radio" name="paymentType" value="paybySweep" checked="checked"/>
			<label for="radiosweep">Sweep agent Account</label>
		</td>
	</tr>
</table>

<div id="paybySweep" style="display:none">
	<h3>Pay by Sweep</h3>
	<p>Pay directly from your agent account. We will bill your account using information we have on file.</p>
    <div id="sweep-warningmsg" class="error">
			Warning: Please do not click the Sweep Account button more than once. 
			Clicking the Sweep Account button more than once may result in more than one charge to your account.
				This may take a few minutes to process.
		</div>
	@*@using (Html.BeginForm("Sweep", "Agent", FormMethod.Post))
    {*@
		<input id="btnSweep" type="submit" value="Sweep my Agent account" class="btnSubmit"/>
		<div id="palms-sweep-continuemsg"></div>
    @*}*@

</div>
}

<div id="paybyCCard">
	@*<form action="https://orderpage.ic3.com/hop/ProcessOrder.do" method="post">*@
		<h3>Customer Information</h3>
		<div id="ccPymntsMsg" class="info">
			All fields marked in red are required.
		</div>
		<table class="tbl10">
			<tr>
				<td><b>First Name:</b></td>
				<td>@Html.TextBox("txtFirstName", null, new { @class = "csRequired validate[required,maxSize[15]] textEdit" })</td>
	
				<td><b>Last Name:</b></td>
				<td>@Html.TextBox("txtLastName", null, new { @class = "csRequired validate[required,maxSize[15]] textEdit" })</td>
				
				<td><b>Phone: </b></td>
				<td colspan="3">@Html.TextBox("txtPhoneNumber", null, new { @class = "textEdit" })</td>    
			</tr>
			
			<tr>
				<td><b>Billing Address:</b></td>
				<td>@Html.TextBox("txtAddress", null, new { @class = "csRequired validate[required,maxSize[30]] textEdit" })</td>
				
				<td><b>City:</b></td>
				<td>@Html.TextBox("txtCity", null, new { @class = "csRequired validate[required,maxSize[25]] textEdit" })</td>
				
				<td><b>State:</b></td>
				<td>@Html.TextBox("txtState", null, new { @class = "csRequired validate[required,maxSize[2]] textEdit", @maxlength = "2", @size = "2" })</td>
				
				<td><b>Zip:</b></td>
				<td>@Html.TextBox("txtZipCode", null, new { @class = "csRequired validate[required,custom[onlyNumberSp],maxSize[5]] textEdit", @maxlength = "5", @size = "5" })</td>
			</tr>
		</table>

		<h3>Payment Type</h3>
		<table class="tbl50">
			<tr>
				<td><b>Select Payment:</b></td>
				<td>
					<select id="cmbMethodOfPayment" name="cmbMethodOfPayment" class="csRequired textEdit">
					<option value="CARD">Credit Card</option>
					@{
						if (PortalRightsUtils.HasRights("PAY CHECK", Sessions.Instance.AgentCode, true))
						{ 
							<option value="CHECK">Checking Account</option>
						}
					}
					</select>
				</td>
			</tr>
		</table>
		
		<div id="ccPayment">
			<h3>Credit Card Information</h3>
			<table class="tbl100">
				<tr>
					<td><b>Card Type:</b></td>
					<td>
						<select id="cmbCardType" name="cmbCardType" class="csRequired textEdit">
							<option value="">Select</option>
							<option value="001">Visa</option>
							<option value="002">MasterCard</option>
							<option value="003">American Express</option>
						</select>
					</td>
					<td><b>CC Number:</b></td>
					<td>@Html.TextBox("txtCardNumber", null, new { @class = "csRequired field validate[required,creditCard] textEdit" })</td>
					<td><b>CVC: <a><img id="pymntCV" src="@Url.Content("~/Content/images/help.png")" /></a></b></td>
					<td>@Html.TextBox("txtCvvNo", null, new { @class = "csRequired validate[required,custom[onlyNumberSp],maxSize[5]] textEdit", @size = "5" })</td>
				</tr>
				<tr>
					<td colspan="6"><b>Expiration Date</b></td>
				</tr>
				<tr>
					<td><b>Exp Month:</b></td>
					<td>
						<select id="cmbExpMonth" name="cmbExpMonth" class="csRequired validate[required,custom[onlyNumberSp],maxSize[5]] textEdit">
						<option value="">Select</option>
						@foreach (var i in Enumerable.Range(1, 12).Select(s => s.ToString().PadLeft(2, '0')))
	                    {
							<option value="@i">@i</option>
	                    }
						</select>
					</td>
					<td><b>Exp Year:</b></td>
					<td>
						<select id="cmbExpYear" name="cmbExpYear" class="csRequired validate[required,custom[onlyNumberSp],maxSize[5]] textEdit">
						<option value="">Select</option>
						@foreach (int year in Enumerable.Range(DateTime.Now.Year, 50))
	                    {
							<option value="@year">@year</option>
	                    }
						</select>
					</td>
					<td colspan="2"></td>
				</tr>
			</table>
		</div>
		<div id="chkPayment">
			<h3>Checking Account Information</h3>
		    <table class="tbl100">
		        <tbody>
		            <tr>
		                <td><b>Account Type:</b></td>
		                <td>
		                    <select id="cmbChkAcctType" name="cmbChkAcctType" class="textEdit">
		                        <option value="CHECKING">Checking</option>
		                        <option value="SAVINGS">Savings</option>
		                    </select>
		                </td>
		                <td>
		                    <b>Check Number: <a><img class="help-tooltip" id="pymntCheckNum" src="@Url.Content("~/Content/images/help.png")" /></a></b>
		                </td>
		                <td>
		                    @Html.TextBox("txtCheckNo", null, new { @class = "csRequired textEdit" })
		                </td>
		            </tr>

		            <tr>
		                <td>
		                    <b>Drivers License:</b>
		                </td>
		                <td>
		                    @Html.TextBox("txtDriverLicenseNo", null, new { @class = "csRequired textEdit" })
		                </td>
		                <td>
		                    <b>Drivers License State:</b>
		                </td>
		                <td>
		                    @Html.TextBox("txtDriverLicenseState", null, new { @class = "csRequired textEdit", @maxlength = "2" })
		                </td>
		            </tr>

		            <tr>
		                <td>
		                    <b>Routing Number: <a><img class="help-tooltip" id="pymntRouting" src="@Url.Content("~/Content/images/help.png")" /></a></b>
		                </td>
		                <td>
		                    @Html.TextBox("txtCheckRoutingNo", null, new { @class = "csRequired textEdit"})
		                </td>
		                <td>
		                    <b>Account Number: <a><img class="help-tooltip" id="pymntAccount" src="@Url.Content("~/Content/images/help.png")" /></a></b>
		                </td>
		                <td>
		                    @Html.TextBox("txtCheckAcctNo", null, new { @class = "csRequired textEdit"})
		                </td>	
		            </tr>
		            <tr>
		                <td><b>Bank Name:</b></td>
		                <td>
		                    @Html.TextBox("txtBankName", null, new { @class = "csRequired textEdit"})
		                </td>	
		                <td colspan="2"></td>
		            </tr>
		        </tbody>
		        <tfoot>
		            <tr>
					<td id="BankInfoMsg" colspan="5" class="infoMsg"> 
						Please complete all fields for banking information
					</td>
				</tr>
		        </tfoot>
		    </table>
		</div>
		<div id="vendor-source-warningmsg" class="error">
			Warning: Please do not click the Submit Payment button more than once. 
			Clicking the Submit Payment button more than once may result in more than one charge to your credit card or checking account.
				This may take a few minutes to process.
		</div>
		<input id="btnPymntVendor" type="submit" value="Submit Payment" class="btnSubmit"/>
		<div id="palms-vendor-continuemsg"></div>
	@*</form>*@
</div>
