﻿@model IEnumerable<AgentPortal.Models.PaymentScheduleModel>
@{ 
    Layout = "";
}
<table class="tbl100">
    <tr>
        <th colspan="7" style="background-color: white; text-align: left; padding-top: 15px;">
            <h3>Payment Schedule</h3>
            <h4>Installments</h4>
        </th>
    </tr>
    <tr>
        <th>Install No.</th>
        <th>Description</th>
        <th>Due Date</th>
        <th style="text-align:center">Installment Amount</th>
        <th style="text-align:center">Payments Applied</th>
        <th style="text-align:center">Current Balance</th>
    </tr>
    @if (Model != null)
    {
        foreach (var install in Model)
        {
            <tr>
                <td>@install.InstallmentNo</td>
                <td>@install.Description</td>
                <td>@(install.DueDate != null ? install.DueDate.Value.ToShortDateString() : string.Empty)</td>
                <td style="text-align: center;"> @Math.Round(install.InstallmentAmount, 2).ToString()</td>
                <td style="text-align: center;"> @Math.Round(install.PaymentsApplied, 2).ToString()</td>
                <td style="text-align: center;"> @Math.Round(install.CurrentBalance, 2).ToString()</td>
            </tr>
        }
    }
</table>
<br>