﻿@model IEnumerable<AgentPortal.Models.PaymentsDataForPayScheduleModel>
@{ 
    Layout = "";
}
<table class="tbl100">
    <tr>
        <th colspan="7" style="background-color: white; text-align: left; padding-top: 15px;">
            <h4>Payments</h4>
        </th>
    </tr>
    <tr>
        <th>Confirmation</th>
		<th>Payment Type</th>
        <th style="text-align:center">Postmark Date</th>
        <th style="text-align:center">Total Amount</th>
        <th style="text-align:center">Fee Amount</th>
        <th>Posted By</th>
    </tr>
    @if (Model != null)
    {
        foreach (var payment in Model)
        {
            <tr>
                <td>@payment.Confirmation</td>
				<td>@payment.PaymentType</td>
                <td style="text-align: center;">@(payment.PostmarkDate != null ? payment.PostmarkDate.Value.ToString("MM-dd-yyyy") : string.Empty)</td>
                <td style="text-align: center;"> @Math.Round(payment.TotalAmt, 2).ToString()</td>
                <td style="text-align: center;"> @Math.Round(payment.FeeAmt, 2).ToString()</td>
				<td>@payment.PostedBy</td>
            </tr>
        }
    }
</table>
<p>Note:The marked (**) sweep payment(s) indicates the payment have been received and are currently being processed.</p>
<br>