﻿<span style="font-weight: bold;">Hello {% name %},<br><br></span>
Just click the following link and set your new password.<br><br>
<a style="text-decoration: none; color: #4db8ff; font-weight: bold;" href="{% link %}">{% link %}</a><br /><br />
<p style="color:red">If you did not initiate this request</p>
<p>If you did not ask for your password to be reset, simply ignore this email.</p>
<p>If you recieve frequent reset emails you did not initiate, email info@palminsure.com and let us know about it</p>