﻿<h3>{% title %}</h3>
<span style="font-weight: bold;">Hello {% name %},<br><br></span>
{% blurb %}<br>
Please click the folowing link to reset your password and activate your account.
<br><br>
<a style="text-decoration: none; color: #4db8ff; font-weight: bold;" href="{% link %}">{% link %}</a>
