﻿<span style="font-weight: bold;">Hello {% ClientName %},<br><br></span>
You've almost set up your account to access DIC via the web. Just click the following link and set your new password.<br><br>
<a style="text-decoration: none; color: #4db8ff; font-weight: bold;" href="{% link %}">{% link %}</a>
