﻿<!doctype html>
<html lang="en">
<head>
<title>Palm Insure, Inc. Registration Verification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Email Title -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
	<td height="75">
		<a style="font-family: Helvetica, arial, sans-serif; font-size: 18px; font-weight: bold; text-decoration: none; color: #484848" href="#"><img width="257" height="65" alt="" src="https://www.palminsure.com/Content/images/AlertAuto_Logo.jpg"></a>
	</td>
</tr>
</tbody></table>

<!-- Top Border -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
	<td height="3">
		<img width="650" height="3" style="display: block;" src="http://www.palminsure.com/Content/email/top.jpg">
	</td>
</tr>
</tbody></table>

<!-- Headline -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center" style="border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;">
<tbody><tr>
	<td bgcolor="#FFFFFF" align="center" height="100" style="font-family: Helvetica, arial, sans-serif; font-size: 22px; color: #191919; font-weight: bold; line-height: 29px;">
		{% title %}<br>
		<span style="font-weight: normal; font-size: 18px; color: #6c6c6c;">
			{% blurb %}
		</span>
	</td>
</tr>
</tbody></table>

<!-- Divider -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center" style="border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;">
<tbody><tr>
	<td bgcolor="#FFFFFF" height="20" valign="top">
		<img width="648" height="1" style="display: block;" src="http://www.palminsure.com/Content/email/divider.jpg">
	</td>
</tr>
</tbody></table>

<!-- Content -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center" style="border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;">
<tbody><tr>
	<td bgcolor="#FFFFFF" width="30">&nbsp;</td>
	<td bgcolor="#FFFFFF" align="left" style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #4f4f4f; line-height: 15px;">

@RenderBody()

	</td>
	<td bgcolor="#FFFFFF" width="30">&nbsp;</td>
</tr>
</tbody></table>

<!-- Empty Placeholder -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center" style="border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;">
<tbody><tr>
	<td bgcolor="#FFFFFF" height="20" valign="top">&nbsp;</td>
</tr>
</tbody></table>

<!-- Bottom Border -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center" style="border-bottom: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;">
<tbody><tr>
	
</tr>
</tbody></table>

<!-- Padding -->
<table width="650" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
	<td width="650" bgcolor="#ffffff" height="10">
	</td>
</tr>
</tbody></table>

</body>
</html>