﻿@using AgentPortal.Support.Utilities
<div class="clear"></div>
<div class="clear"></div> 
					<br/>
					<br/>
					<div class="col_13">
						<img class="alignleft " src="@Url.Content("~/Content/images/write.png")" alt="" style="margin-bottom:40px"/>
						<h4><a href="#">Who We Are</a></h4>
						<p>
                            @*DIC is a full service Managing General Agency specializing in non-standard automobile insurance.*@
                            @Sessions.Instance.WhoWeAre
						</p>
					</div>
					<div class="col_13">
						<img class="alignleft " src="@Url.Content("~/Content/images/gears.png")" alt="" style="margin-bottom:40px"/>
						<h4><a href="#">Full Service Company</a></h4>
						<p>							
                            @*DIC is there for you when you have a claim and provides unsurpassed claims handling to get you back on the road.*@ 
                            @Sessions.Instance.FullServiceCo
						</p>
					</div>
					<div class="col_13 last">
						<img class="alignleft " src="@Url.Content("~/Content/images/info.png")" alt="" style="margin-bottom:40px"/>
						<h4><a href="#">Who We Represent</a></h4>
						<p>
                            @*DIC services drivers from all over, and represents only the finest insurance companies.*@ 
                            @Sessions.Instance.WhoWeRepresent
						</p>
					</div>

					<div class="spacer"></div>

					<div id="custom_nivoslider" class="nivo_custom_238" style="width:940px;height:350px;">
				

						<a href="#">
							<img height="350px" width="940"  src="@Url.Content("~/Content/images/" + Sessions.Instance.SliderImageName1)"  />
						</a>

						<a href="#">
							<img height="350px" width="940"  src="@Url.Content("~/Content/images/" + Sessions.Instance.SliderImageName2)"  />
						</a>

						<a href="#">
							<img height="350px" width="940" src="@Url.Content("~/Content/images/" + Sessions.Instance.SliderImageName3)"  />
						</a>
	
					</div>

					
					<style type="text/css">.nivo-caption {width:900px};</style>
					
	
					<div class="slogan">
						<h3 style="font-size: 22px;">Welcome to @Sessions.Instance.CompanyName A full-service Managing General Agency for Auto Insurance</h3>				
					</div>
					<div class="spacer" style="height:30px;"></div>

					<div class="col_23" style="text-align:justify">
						<h4>Why @Sessions.Instance.CompanyName</h4>
						<p>
                            @Sessions.Instance.WhyThisCompany							
                            @*We at DIC know how difficult it can be to make the paycheck stretch to the end of each month.
                            We know how frustrating it can be making companies deliver on what was promised and paid for.
                            We know how devastating it can be to be face with an unexpected, huge deductible payment. Get a Florida Auto insurance quote now!.
                            <br />
                            <br />
                            The auto insurance program we have put together takes all these circumstances and more into account to
                            provide you with the best value and a complete package of needed services. The various installment payment plans allow
                            you to choose how much and when payments will be made.
                            <br />
                            <br />
                            And if you have misfortune of being in an accident, you can cut that unbudgeted deductible payment in half
                            by using one of the modern, accredited full service health care and diasnostic facilities in our Preferred Provider
                            Network. Similarly you will be able to realize savings in premiums by using one of our Approved Repair Centers. Most
                            importantly, we will pay claims fairly and quickly.*@

						</p>
					</div>
					@Html.Partial("_MGANews")
<script type="text/javascript">
    function LogIP()
    {
        $.ajax({
            type: "POST",
                url: "@Url.Action("LogIP", "AjaxHelpers")",
                dataType: 'json',
                data: { },
                success: function (result) {

            }
        });
    }
    $(document).ready(function () {
        $('.nivo_custom_238').nivoSlider({
            directionNavHide: true,
            controlNav: false,
            effect: 'random',
            animSpeed: 500,
            pauseTime: 6000
        });
    });

</script>

