﻿@model AgentPortal.Models.DiagnosticsModel
@{
    ViewBag.Title = "Diagnostics";
}

<h2>Palm Insure Portal - Server Diagnostics</h2>

<table id="DiagnosticInfo" class="tbl100">
		<thead>
			<tr>
				<th colspan="2">
					Diagnostic Information
				</th>
			</tr>
			<tr class="tblHeaderRec">
				<td>Name</td>
                <td>Value</td>
			</tr>
		</thead>
		<tbody>
            @if (Model != null)
            {
                <tr>
                    <td>
                        Server:
                    </td>
                    <td>
                        @Model.Servername
                    </td>
                </tr>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        @Model.Username
                    </td>
                </tr>
                <tr>
                    <td>
                        Client IP:
                    </td>
                    <td>
                        @Model.UserIP
                    </td>
                </tr>
                <tr>
                    <td>
                        Is Development Server
                    </td>
                    <td>
                        @Model.IsDevEnvironment
                    </td>
                </tr>
                <tr>
                    <td>
                        Version
                    </td>
                    <td>
                        @Model.Version
                    </td>
                </tr>
                <tr>
                    <td>
                        XPO Link
                    </td>
                    <td>
                        @Model.XpoWcfServerLink
                    </td>
                </tr>

            }
            else
            {
                <tr>
                    <td colspan="2">
                        Server Diagnostics is down at this time
                    </td>
                </tr>

            }
        </tbody>
</table>